{template "content","game_header"}
<!--Main Body-->
<div class="main_body">
    <div class="subpage_pic">
        <div class="subpage_pic_01">
            <div class="subpage_pic_list">
            	<div class="subpage_pic_bt"><h2 class="bt1">{getCatNameFromCatid($catid)}</h2>
						<h3 class="sub_nav">
						{loop subcat($catid,0,0,$siteid) $r}
						<a href="{$r[url]}">{$r[catname]}</a> 
						{/loop}
						</h3></div>
            	<ul >
				{pc:content  action="lists" catid="$catid" order="id DESC" num="20" page="$page"}
				{loop $data $r}
				<li>
					<a title="{$r['title']}" target="_blank" href="{$r['url']}"><img alt="{$r['title']}" src="{thumb($r[thumb],158,118)}" width="158" height="118">
					<span >{str_cut($r['title'],40,'')}</span></a>
				</li>
   				{/loop}
				{/pc}
   </ul>
                <div class="clear"></div>
                <div class="fanye pic_fanye">
        				<div id="fanye_01">
{$pages}
</div>
</div>
        	</div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{template "content","footer"}