{pc:content action="get_next_page" id="$id" catid="$catid"}
{if $data ==0}
<div class="pic_left_list_pic">
	<table>
		<tr>
			<td class="imgre" >没有找到下一个图集</td>
		</tr>
	</table>
</div>
{else}
{loop $data $r}
<div class="pic_left_list_pic">
	<table>
		<tr>
			<td class="imgre" ><a href="{$r[url]}"><img src="{thumb($r[thumb],100,74)}" width="100" height="74" /></a></td>
		</tr>
	</table>
</div>
<span class="pic_left_list_pic_text"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],24,'')}</a></span><br />
<span class="pic_left_list_pic_text_01"><a href="{$r[url]}">下一图集 ></a></span>
{/loop}
{/if}
{/pc}