<!-- Header Start -->
<div id="header" class='fn-clear'>
	<div class='title'>
		<a class='logo' href="{url_change($CATEGORYS[246][url])}" title="火秀游戏"><img src='/statics/images/game/logo.png' alt='火秀游戏' width='147' height='66' /></a>
		<h1><a href="{url_change($CATEGORYS[301][url])}" target='_blank'>Windows Phone</a></h1>
		<h2>{url_change(catpos($catid))}</h2>
	</div>

	<form id="search-form" class='search' name="search" method="get" action="{APP_PATH}index.php" target="_blank">
		<input type="hidden" value="search" name="app" />
		<input type="hidden" name="m" value="search" />
		<input type="hidden" name="c" value="index" />
		<input type="hidden" name="a" value="init" />
		<input type="hidden" name="typeid" value="1" id="typeid" /><!-- 搜索类型 -->
		<fieldset><input type='text' name='q' class='search-wd' value='搜索关键字' /><button type='submit' class='search-submit'>搜索</button></fieldset>
		{pc:content  action="position" posid="580" order="listorder DESC" num="3"}
		<fieldset class='search-hotspot'>热点：{loop $data $r}<a target='_blank' href="{url_change($r[url])}">{str_cut($r['title'],20,'')}</a> {/loop}</fieldset>
		{/pc}
	</form>

	<ul id="nav" class='nav fn-cb fn-clear'>
		<li class='nav-item {if $catid==301 || $catid==316} nav-item-cur{/if}'>
			<a class='nav-item-link' href="{url_change($CATEGORYS[301][url])}" target='_blank'>WP首页</a>
		</li>
		<li class='nav-item {if $catid==317} nav-item-cur{/if}'>
			<a class='nav-item-link' href="{url_change($CATEGORYS[317][url])}" target='_blank'>产业资讯</a>
		</li>
		<li class='nav-item {if $catid==318} nav-item-cur{/if}'>
			<a class='nav-item-link' href="{url_change($CATEGORYS[318][url])}" target='_blank'>硬件周边</a>
		</li>
		<li class='nav-item {if $catid==315} nav-item-cur{/if}'>
			<a class='nav-item-link' href="{url_change($CATEGORYS[315][url])}" target='_blank'>新手入门</a>
		</li>
		<li class='drop-down'>
			<h3><a href='#'>WP</a></h3>
			<ul>
				<li><a href="{url_change($CATEGORYS[299][url])}" target='_blank'>iPhone</a></li>
				<li><a href="{url_change($CATEGORYS[300][url])}" target='_blank'>Android</a></li>
				<li><a href="{url_change($CATEGORYS[301][url])}" target='_blank'>WP/Win8</a></li>
			</ul>
		</li>
	</ul>
</div>
<!-- Header End -->