<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if} 火秀网</title>
	<meta name="keywords" content="{$SEO['keyword']}">
	<meta name="description" content="{$SEO['description']}">
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-game-android.css' rel='stylesheet' />
	<link href='http://www.huoshow.com/favicon.ico' rel='icon' />
</head>

<body class='game-android'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'game_header_android'}

	<!-- 安卓游戏 -->
	<div id='content-android-game' class='ui-box ui-box-android-app fn-clear'>
		{pc:content action="position" posid="366" order="listorder DESC" num="20"}
		<ul class='ui-art-list ui-art-list-game fn-clear'>
			{loop $data $r}
				<li class='ui-art-item'>
				<h3 class='title'>{$r[title]}</h3>
				<div class="content"><p>{$r[description]}</p></div>
				</li>
			{/loop}
		</ul>
		{/pc}
	</div>


	<!-- 此脚本最好放底部，不然在 IE6 中可能会有兼容问题 -->
	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-game-main'></script>
	{template 'content', 'hs_footer'}
</body>
</html>