<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>游戏列表页 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-video-global.css' rel='stylesheet' />
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='library-list'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'video_header'}

	<div id='select' class='ui-layout ui-select'>
		<div class='ui-select-filter'>
			<div class='header fn-clear'>
				<h2 class='title'><span>筛选电影</span></h2>
				<ul class='selected'>
					<li><a href='javascript:;'>天朝</a></li>
					<li><a href='javascript:;'>2013</a></li>
					<li><a href='javascript:;'>筛选电影</a></li>
				</ul>
				<div class='action'>共找到 <em>1698</em> 个视频 <a class='reset' href='#'>重新筛选</a></div>
			</div>
			<ul class='filter-list'>
				<li class='filter-list-item fn-clear'>
					<a class='lable' href='#'>全部类型：</a>
					<p class='filters'>
						<a href='#'>全部</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<span class='cur'>天朝</span>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>其它</a>
					</p>
				</li>
				<li class='filter-list-item fn-clear'>
					<a class='lable' href='#'>全部地区：</a>
					<p class='filters'>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>其它</a>
					</p>
				</li>
				<li class='filter-list-item fn-clear'>
					<a class='lable' href='#'>全部年代：</a>
					<p class='filters'>
						<a href='#'>2001</a>
						<a href='#'>2006</a>
						<a href='#'>2006</a>
						<a href='#'>2004</a>
						<a href='#'>2004</a>
						<a href='#'>2004</a>
						<a href='#'>2004</a>
						<a href='#'>2004</a>
						<a href='#'>2004</a>
						<span class='cur'>2012</span>
						<a href='#'>2004</a>
						<a href='#'>2004</a>
						<a href='#'>更早</a>
					</p>
				</li>
				<li class='filter-list-item fn-clear'>
					<a class='lable' href='#'>全部明星：</a>
					<p class='filters'>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮</a>
						<a href='#'>格斗斗 2</a>
						<a href='#'>格斗2</a>
						<a href='#'>格斗</a>
						<a href='#'>更多</a>
					</p>
				</li>
			</ul>
		</div>
		<div class='ui-select-search'>
			<div class='header'>
				<h2 class='title'><span>查询</span></h2>
				<form class='search' name='' method='post' action=''>
					地域
					<select name=''>
						<option value='default'>不限</option>
						<option value=''>先项</option>
						<option value=''>先项</option>
						<option value=''>先项</option>
					</select>
					按类型
					<select name=''>
						<option value='default'>不限</option>
						<option value=''>先项</option>
						<option value=''>先项</option>
						<option value=''>先项</option>
					</select>
					<button type='submit' class='submit'>搜索</button>
					搜索
					<input type='text' name='q' class='search-wd' value='请输入关键字' /><button type='submit' class='search-submit'>搜索</button>
				</form>
			</div>
			<ul class='filter-list'>
				<li class='filter-list-item fn-clear'>
					<span class='lable'>热门电影：</span>
					<p class='filters'>
						<a href='#'>全部</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>射击击</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>[更多]</a>
					</p>
				</li>
			</ul>
		</div>
	</div>

	<div id='content' class='fn-clear'>
		<div class='ui-header ui-header-tab'>
			<div class='tab'>
				<a class='cur' href='#'>按热门</a>
				<a href='#'>按好评</a>
				<a href='#'>最新</a>
			</div>
			<div class='link'>符合此条件的电影共有 <strong class='highlight'>12498</strong> 部</div>
		</div>

		<ul class='ui-video-list fn-clear'>
			<li class='ui-video-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
				<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<div class='star star4'>8.1</div>
					<p class='cnt'>大话西战歌大话西战歌大话西战歌大话西战歌大话，西战歌大话西战歌大话西战歌大话西战歌小爱爱。大话西战歌天文强</p>
				<ul class='info-list'>
					<li class='info-list-item'>导演：<em>小爱爱 天文强</em></li>
					<li class='info-list-item'>演员：<em>成龙 周迅 梁朝伟</em></li>
					<li class='info-list-item'>年代：2132</li>
				</ul>
			</li>
			<li class='ui-video-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
				<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<div class='star star4'>8.1</div>
					<p class='cnt'>大话西战歌大话西战歌大话西战歌大话西战歌大话，西战歌大话西战歌大话西战歌大话西战歌小爱爱。大话西战歌天文强</p>
				<ul class='info-list'>
					<li class='info-list-item'>导演：<em>小爱爱 天文强</em></li>
					<li class='info-list-item'>演员：<em>成龙 周迅 梁朝伟</em></li>
					<li class='info-list-item'>年代：2132</li>
				</ul>
			</li>
			<li class='ui-video-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
				<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<div class='star star4'>8.1</div>
					<p class='cnt'>大话西战歌大话西战歌大话西战歌大话西战歌大话，西战歌大话西战歌大话西战歌大话西战歌小爱爱。大话西战歌天文强</p>
				<ul class='info-list'>
					<li class='info-list-item'>导演：<em>小爱爱 天文强</em></li>
					<li class='info-list-item'>演员：<em>成龙 周迅 梁朝伟</em></li>
					<li class='info-list-item'>年代：2132</li>
				</ul>
			</li>
			<li class='ui-video-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
				<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<div class='star star4'>8.1</div>
					<p class='cnt'>大话西战歌大话西战歌大话西战歌大话西战歌大话，西战歌大话西战歌大话西战歌大话西战歌小爱爱。大话西战歌天文强</p>
				<ul class='info-list'>
					<li class='info-list-item'>导演：<em>小爱爱 天文强</em></li>
					<li class='info-list-item'>演员：<em>成龙 周迅 梁朝伟</em></li>
					<li class='info-list-item'>年代：2132</li>
				</ul>
			</li>
			<li class='ui-video-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
				<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<div class='star star4'>8.1</div>
					<p class='cnt'>大话西战歌大话西战歌大话西战歌大话西战歌大话，西战歌大话西战歌大话西战歌大话西战歌小爱爱。大话西战歌天文强</p>
				<ul class='info-list'>
					<li class='info-list-item'>导演：<em>小爱爱 天文强</em></li>
					<li class='info-list-item'>演员：<em>成龙 周迅 梁朝伟</em></li>
					<li class='info-list-item'>年代：2132</li>
				</ul>
			</li>
			<li class='ui-video-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
				<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<div class='star star4'>8.1</div>
					<p class='cnt'>大话西战歌大话西战歌大话西战歌大话西战歌大话，西战歌大话西战歌大话西战歌大话西战歌小爱爱。大话西战歌天文强</p>
				<ul class='info-list'>
					<li class='info-list-item'>导演：<em>小爱爱 天文强</em></li>
					<li class='info-list-item'>演员：<em>成龙 周迅 梁朝伟</em></li>
					<li class='info-list-item'>年代：2132</li>
				</ul>
			</li>
			<li class='ui-video-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
				<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<div class='star star4'>8.1</div>
					<p class='cnt'>大话西战歌大话西战歌大话西战歌大话西战歌大话，西战歌大话西战歌大话西战歌大话西战歌小爱爱。大话西战歌天文强</p>
				<ul class='info-list'>
					<li class='info-list-item'>导演：<em>小爱爱 天文强</em></li>
					<li class='info-list-item'>演员：<em>成龙 周迅 梁朝伟</em></li>
					<li class='info-list-item'>年代：2132</li>
				</ul>
			</li>
			<li class='ui-video-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
				<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<div class='star star4'>8.1</div>
					<p class='cnt'>大话西战歌大话西战歌大话西战歌大话西战歌大话，西战歌大话西战歌大话西战歌大话西战歌小爱爱。大话西战歌天文强</p>
				<ul class='info-list'>
					<li class='info-list-item'>导演：<em>小爱爱 天文强</em></li>
					<li class='info-list-item'>演员：<em>成龙 周迅 梁朝伟</em></li>
					<li class='info-list-item'>年代：2132</li>
				</ul>
			</li>
			<li class='ui-video-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
				<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<div class='star star4'>8.1</div>
					<p class='cnt'>大话西战歌大话西战歌大话西战歌大话西战歌大话，西战歌大话西战歌大话西战歌大话西战歌小爱爱。大话西战歌天文强</p>
				<ul class='info-list'>
					<li class='info-list-item'>导演：<em>小爱爱 天文强</em></li>
					<li class='info-list-item'>演员：<em>成龙 周迅 梁朝伟</em></li>
					<li class='info-list-item'>年代：2132</li>
				</ul>
			</li>
			<li class='ui-video-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
				<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<div class='star star4'>8.1</div>
					<p class='cnt'>大话西战歌大话西战歌大话西战歌大话西战歌大话，西战歌大话西战歌大话西战歌大话西战歌小爱爱。大话西战歌天文强</p>
				<ul class='info-list'>
					<li class='info-list-item'>导演：<em>小爱爱 天文强</em></li>
					<li class='info-list-item'>演员：<em>成龙 周迅 梁朝伟</em></li>
					<li class='info-list-item'>年代：2132</li>
				</ul>
			</li>
		</ul>

		<div class='ui-pager'><span>1022条</span><span class='disabled'>首页</span><span class='disabled'>上一页</span><span class='num current'>1</span><a class='num' href='#'>2</a><a class='num' href='#'>3</a><a class='num' href='#'>4</a><span class='ellipsis'>...</span><a class='num' href='#'>199</a><a href='#'>下一页</a><a href='#'>末页</a></div>
	</div>

	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-video'></script>
	{template 'content', 'hs_footer'}
</body>
</html>