/* global */
.body_bg { background:#FFF;}
#head_01{ width:auto; height:43px; background:url(../images/help/bg.jpg) 0 160px; }
#headnr_01{ width:960px; height:36px; margin:0 auto;}
.headnyou_01 { width:960px; float:right; margin-right:10px; display:inline; }
#headnyousy_01{ width:200px;  float:left; margin-right:10px;  margin-top:8px; color:#CCC; display:inline;  height:24px; padding-top:5px; margin-left:6px;}
#headnyousy_01 a { padding-left:5px; padding-right:5px; vertical-align:middle;}
.login_01{ background: url(../images/help/hover_bj.jpg) left 348px; width:187px; height:36px; float:right; overflow:hidden;}
.login_01 a{ line-height:45px; font-size:13px; margin-left:48px; }
/* nav */
.nav_bg{margin:0 auto; width:960px; }
.nav_body  { width:auto; height:70px;}
/* 红色条 */
.hongse_tiao{height:28px;  background:#d60921;}
.hongse_tiao_text{width:960px; height:28px; margin:0 auto; border-left: 1px solid #FFF;border-right: 1px solid #FFF;}
.hongse_tiao_text a {color:#fff; line-height:28px;}
.hongse_tiao_Time{ float:left; color:#ffd7db; width:230px;border-right: 1px solid #FFF; line-height:28px;}
.hongse_tiao_Time_bt{ background:url(../images/help/index_bj.jpg) left 732px; width:20px; height:27px; display:inline-block; float:left; padding-left:10px; margin-left:10px;}
.Rolling_News{ width:411px;   float:left; margin-left:9px;border-right: 1px solid #FFF;}
.tanhong{ float:left;color:#ffd7db;line-height:28px; }
.Rolling_News_kuang{ width:335px; height:20px; background:#FFF; overflow:hidden; margin-top:4px;}
.Rolling_News_kuang_wenzi{ width:269px;color:#000; float:left;float:left; line-height:22px; margin-left:10px;}
.Rolling_News_Time{ color:#808080;float:left;line-height:22px;}
.Rolling_News_tu{ width:8px; height:14px; background:url(../images/help/index_bj.jpg) left 692px; display:inline-block; margin:3px 3px 0 0 ;float:right;}
.hongse_tiao_text_Rolling_News{ color:#ffd7db;float:right; line-height:28px; padding-right:49px;}
.hongse_tiao_text_Rolling_News a{ border-bottom:1px solid #FFF; color:#fff;}



/* footer */
#footer_bg {background-color:#1e1e1e; margin-top:20px;}
#footer {width:960px; height:100px;  margin:0 auto; background-color:#1e1e1e;}
.footer_txt {width:700px; color:#b6b6b6; line-height:16px; padding-top:26px;}
.footer_txt a {color:#b6b6b6; }
.footer_logo {background:url(../images/help/hover_bj.jpg) left 130px; width:90px; height:60px; float:left; margin-right:15px;}

