@charset "utf-8";
/* CSS Document */
body { font-family:"宋体", arial; margin:0; padding:0; font-size:12px; color:#414141; }
div, form, img, ul, ol, li, dl, dt, dd, p { margin: 0; padding: 0; border: 0; }
li, dl { list-style-type:none; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-size:12px; font-weight:normal; }
a { color:#414141; text-decoration:none; }
a:hover { color: #d60921; }

.input{border:1px solid #abadb3; width:140px; height:14px; color:#ccc; font-size:12px; padding-top:3px;}
.select{border:1px solid #abadb3; width:60px; height:20px; color:#ccc; font-size:12px;}

.clear { height:0px; line-height:0px; font-size:0px; overflow:hidden; clear:both; }
.kongge { height:10px; width:auto; }
.jju { height:10px; width:auto; }
#mian { width:auto; margin:0 auto; height:auto; }
#mian .box {}
.main_body { width:960px; height: auto; margin: 0 auto; padding-top:10px; }


/* 界面 */
.jiemian_left{ width:184px; height:347px;  float:left; margin-top:19px;_margin-left:-8px}
.jiemian_left_help{ width:184px; height:347px;  float:left; margin-top:19px;}
.jiemian_right{ width:752px;  float:right; margin-top:18px;display:inline;}
.jiemian_right_text{ margin-top:44px;}
.jiemian_right_text_01{ margin-top:45px;}
.jiemian_right_text_02{ margin-top:25px;}

.jiemian_right_text_bt{ height:25px; border-bottom:2px solid #e9e9e9;}
.banner_fuw{ background:url(../images/help/jiemian_bj.jpg) left 401px; padding-left:25px; font-size:16px; color:#d10000;font-family:"微软雅黑";}
.jiemian_fw_hong{ font-size:16px; color:#d10000;font-family:"微软雅黑"; margin-top:25px; margin-bottom:18px;}
.jiemian_fw_text{ font-size:14px; line-height:26px; margin-top:18px; color: #515151; font-family: "宋体", arial; }
.jiemian_fw_text img { margin-top:20px;}
.jiemian_fw_text_01{ font-size:16px; line-height:26px;margin-top:18px;font-family:"微软雅黑";}


.jiemian_Contact_text{ line-height:50px;}
.jiemian_Contact_text_hui{ color:#8a8a8a; margin-top:23px; line-height:26px; }
.jiemian_Contact_text_hui a{ color:#8a8a8a; margin-top:23px; line-height:26px;  margin-right:35px;}
.jiemian_right_lianjie{ margin-top:20px;}
.jiemian_right_lianjie_logo{width:210px; height:70px;border:1px solid #CCC; display:inline-block;text-align:center; margin-right:30px;}
.jiemian_right_lianjie_logo img{  width:164px;margin-top:5px;}
.ChengPin_chengse{ color:#f37f13;}
.ChengPin_hongse{ color:#d60921;}
.chengpin_dizhi{ margin-top:30px; font-size:14px; line-height:26px;}
.xing_hong{ color:#d60921; padding-right:5px;}


.jiemian_help_bt{ background:url(../images/help/help_bj.jpg) left 482px; width:183px; height:76px; margin-bottom:5px;}
.jiemian_left_help_nav{ width:184px; height:345px;}
.help_nav_01 { float:left; background:url(../images/help/help_bj.jpg) left 364px; width:183px; }
.help_nav_01 a{ background:url(../images/help/help_bz.jpg) no-repeat 15px 25px;font-size:14px; line-height:56px; height:56px; width:128px; display:block;padding-left:30px}
.help_nav_01 a:hover{ background: url(../images/help/help_hover.jpg) no-repeat;height:56px;width:174px}
.went{ float:left; background:url(../images/help/help_bj.jpg) left 307px; width:183px; height:60px;}
.went a{ background:url(../images/help/help_bz.jpg) no-repeat 15px 25px;font-size:14px; line-height:56px; height:60px; width:128px; display:block;padding-left:30px}
.went a:hover{ background: url(../images/help/help_hover.jpg) no-repeat;height:60px;width:174px}
.jianju{ margin-top:100px;}


.Subm_anniu{ border:1px solid #e5e5e5; height:24px; width:200px;}
.Subm_anniu_01{ border:1px solid #e5e5e5; width:400px; height:147px;}