/* global */
.body_bg { background-color: #f6f6f6; background-image: url(../images/movie_body_bg.png); background-repeat: repeat-x;}
/* nav */
.nav_body {margin:0 auto; width:960px; height:75px;}
.nav_bg {background:url(../images/movie_logo.jpg) no-repeat; position:relative; left:-192px; height:75px;}
.channel_logo a {width: 200px; height: 72px; display: block; text-indent: -999em; margin: 1px; float: left; position:relative; left:192px;}

#sub_channel { width:740px; height:35px; float:right; display:inline; position:relative; left:192px;}
#sub_channel ul { width:auto;height:35px; display:inline; overflow:hidden; margin-top:39px; float:right;}
#sub_channel ul li { float:left;}
#sub_channel ul li a {width:62px; height:35px; color:#FFF; font-size:16px; background:url(../images/hover_bj.jpg) left 299px;text-align:center;display:inline-block; line-height:35px; margin-left:1px;}
#sub_channel ul li a:hover{width:62px; height:35px;color:#f3dc5b; font-size:16px; background:url(../images/hover_bj.jpg) left 259px; text-align:center; display:inline-block;line-height:35px;}
/* footer */
#footer_bg {background-color:#1e1e1e; margin-top:20px;}
#footer {width:960px; height:100px; margin:0 auto; background-color:#1e1e1e;}
.footer_txt {width:700px; color:#b6b6b6; line-height:16px; padding-top:26px;}
.footer_txt a {color:#b6b6b6; }
.footer_logo {background:url(../images/hover_bj.jpg) left 130px; width:90px; height:60px; float:left; margin-right:15px;}
/* more */
.more {float:right; height:32px; line-height:32px; margin-right:10px;vertical-align:middle;}
.more a {padding-right:10px; color:#8a8a8a;height:32px;}
.more_bg {background:url(../images/more_gary.gif) no-repeat; background-position:95% 52%;}
/* banner */
.banner_250_250 {width:250px; height:250px; margin-top:8px; margin-bottom:8px; display:inline; float:left;}
/* global end */
/* index page */
/* title */
.title_blue {font-size:16px; font-family:"微软雅黑","黑体"; color:#365795; padding-left:10px; float:left; line-height:30px;}
.title_blue_big {font-size:16px; font-family:"微软雅黑","黑体"; color:#365795; padding-left:10px; float:left; line-height:35px;}
.title_black {font-size:16px; font-family:"微软雅黑","黑体"; color:#414141; padding-left:10px; float:left; line-height:30px;}
/* title background */
.left_title_bg {width:296px; height:31px; background:url(../images/bg.jpg) left 328px;}
.right_title_bg {width:390px; height:31px; background:url(../images/bg.jpg) left 328px;}
.cross_title_bg {width:698px; height:37px; background:url(../images/bg.jpg) left 42px; margin:0 auto;}
.full_title_bg {width:956px; height:37px; background:url(../images/bg.jpg) left 42px; margin:0 auto;}
/* text */
.text_gray {color:#8a8a8a; font-size:12px;font-weight:normal;}
/* main body */
/* body left */
.body_left { width:702px; height:auto; float:left;}

.slide {position:relative; width:702px; height:365px; overflow:hidden;}
#pbox3 .pagebox_pages_wrap{width:702px; height:365px; overflow:hidden;}
#pbox3 .pagebox_pages_wrap_body{width:9999em; height:365px;}
#pbox3 .pagebox_page{float:left; width:702px; height:365px; overflow:hidden;}
.slide .slide-page{height:365px; position:relative; overflow:hidden;}
.slide .slide-page-info{ position:absolute; color:#fff; width:100%; overflow:hidden; bottom:0; left:0; background-color:rgba(0, 0, 0, 0.5); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80000000, endcolorstr=#80000000, gradientType=1); }
.slide .slide-page-info-text{position:relative; padding:10px 10px 45px;}
.slide .slide-page-info-text h3{font-size:35px; font-family:"黑体"; width:315px; float:left;}
.slide .slide-page-info-text p{ width:315px; line-height:28px; float:right; margin-right:10px;}
.slide .slide-page-info-text a { color:#fff;}
.slide .slide-page-info-text a:hover{ color:#fff; text-decoration:underline;}
.slide .slide-links-wrap{width:100%;height:30px; position:absolute; bottom:8px; text-align:center; color:#fff;}
.slide .slide-links-wrap a{ background-image:url(../images/movie_slide_nav.png); vertical-align:middle; display:inline-block; overflow:hidden; margin-right:5px;}
.slide .slide-links a{ background-position:left -186px; width:15px; height:15px; }
.slide .slide-links .slide-current{ background-position:left -81px; }
.slide .slide-prev{ background-position:left top; width:20px; height:30px; }
.slide .prev-disabled{ background-position:left -105px;}
.slide .slide-next{ background-position:left -40px; width:20px; height:30px; }
.slide .next-disabled{ background-position:left -145px;}
.slide_shadow {background:url(../images/bg.jpg) left 363px; width:702px; height:17px;}


/* top news */
.top_news {width:702px; padding-bottom:8px; float: left;}
.top_news_left {width:298px; height:325px; border:1px solid #dedcdd; background:#f9f9f9; display:inline; float:left;}
.top_news_left_inner_bd {width:296px; height:323px; border:1px solid #fff; float:left;}
.top_news_right {width:392px; height:325px; border:1px solid #dedcdd; background:#f9f9f9; display:inline; float:right;}
.top_news_right_inner_bd {width:390px; height:323px; border:1px solid #fff; float:left;}
.list {clear:both; padding:10px 0 0 15px;line-height:26px; font-size:14px;}
.list li {overflow:hidden; padding-left:12px; background:url(../images/pic/news_dian.gif) no-repeat left 13px;}
.list li a { font-size:14px; }
.topic_first {height:134px; padding:10px 8px 0px 8px; overflow:hidden; width:280px;}
.topic_first dl dt {float:left; padding-left:8px; height:auto; }
.topic_first dl dt img {padding:2px; border:1px solid #dedcdd; display:block; margin-right:10px;}
.topic_first_title {font-size:14px; color:#414141; font-weight:bold; height:38px; overflow:hidden; line-height:18px; padding-right:8px;}
.topic_first_briefing {font-size:12px; color:#8a8a8a; line-height:18px; margin-top:10px; height:70px; overflow:hidden;}
.topic_first_briefing a {color:#ad8115;}
.top_news_list { width:360px; margin-left:15px; padding-top:14px; line-height:27px;}
.top_news_txt_hl {font-size:16px; font-family:"微软雅黑","黑体"; font-weight:bold;color:#ad8116;}
.top_news_briefing {margin-bottom:8px;}
.people_first {width:270px; height:115px; line-height:26px; font-size:14px; font-weight:bold; color:#414141; border-bottom:1px dashed #CCC; padding-bottom:10px; margin:10px 13px 0px 13px;}
.people_first img {width:264px; height:84px; padding:2px; border:1px solid #dedcdd; display:block; }

.review_first {width:370px; height:125px; padding:10px 10px 0 10px; }
.review_first dl { height:125px; border-bottom:1px solid #e1e1e1; overflow:hidden;}
.review_first dt {float:left; padding-left:8px; height:auto;}
.review_first dt a {font-size:12px; font-weight:bold; line-height:30px;}
.review_first dt img {padding:2px; border:1px solid #dedcdd; display:block; margin-right:10px;}

.review_first_title {font-size:14px; color:#414141; font-weight:bold; line-height:18px; padding-right:8px;}
.review_first_briefing {font-size:12px; color:#8a8a8a; line-height:18px; margin-top:10px;}
.review_first_briefing a {color:#ad8115;}
/* top video */
.top_video {width:700px; height:346px; border:1px solid #dedcdd; background:#f9f9f9; float:left; display:inline;}
.top_video_inner_bd {width:698px; height:344px; border:1px solid #fff;}
.top_video_list {padding:0 0 10px 25px; float:left;}
.top_video_list li {float:left; width:148px;text-align:center; margin-right:20px; display:inline;}
.top_video_pic_bg {width:148px; height:107px;background:url(../images/bg.jpg) left 287px; display:inline-block; padding-top:5px; margin-top:14px;}
.top_video_text{ width:138px;text-align:center; line-height:22px;}
.body_right { width:250px; height:auto; float:right; }
/* hot movie */
.hot_movie {width:250px; height:382px; overflow:hidden; background:url(../images/movie_hot_movie.jpg);}
.hot_movie_cate { padding-right:10px; text-align:right; }
.hot_movie_cate a { color:#f3dc5b; line-height:50px; width:41px; height:55px; display:inline-block; text-align:center;}
.movie_cate_def, .hot_movie_cate a:hover {background: url(../images/hover_bj.jpg) left 220px; color:#363447!important; position:relative; top:-2px;}

.hot-movie-body {padding:0 0 0 16px;width:226px; height:296px; overflow:hidden; position:relative;}
.hot_movie .pagebox_pages_wrap{ width:226px; height:296px; overflow:hidden;}
.hot_movie .pagebox_pages_wrap_body{width:9999em;}
.hot_movie_ul{overflow:hidden;width:230px;height:296px;}
.hot_movie_ul li { float:left; width:105px; height:142px; overflow:hidden; margin:0 6px 6px 0; position:relative;}
.hot_movie_ul li a { display:block;}
.hot_movie_ul li img{ width:105px; height:142px;}
.hot_movie_block { width:100%; position:absolute; background: #363636; filter:alpha(opacity=80); opacity:.80; overflow:hidden; bottom:0;}
.hot_movie_text { display:block; color:#fff; padding: 5px;}

/* charts */
.charts {width:248px; height:374px; border:1px solid #dedcdd; background:#f9f9f9; float:left; display:inline;}
.charts_inner_bd {width:246px; height:372px; border:1px solid #fff; overflow:hidden;}
.charts_title {background:url(../images/bg.jpg) left 636px; width:246px; height:32px; float:left;}
.charts_cate {float:right;padding-right:5px;}
.charts_cate a {width:48px; height:30px;font-weight:bold; text-align:center; color:#414141; line-height:30px;display:inline-block;}
.charts_cate a:hover {font-weight:bold; background:url(../images/bg.jpg) left 438px; width:48px; height:30px; display:inline-block; margin-top:2px; text-align:center;line-height:30px;}
.charts_cate_def {font-weight:bold; background:url(../images/bg.jpg) left 438px; width:48px; height:30px; display:inline-block; margin-top:2px; text-align:center;line-height:30px;}
.charts_block {width:246px; height:341px; overflow:hidden; background:url(../images/movie_charts.jpg);float:left;}
.charts_top {height:109px; width:198px; padding:9px 0 0 41px; overflow:hidden;}
.charts_top_pic {float:left; width:197px; height:70px;}
.charts_top_pic img{}
.charts_top_text { display: block; cursor: pointer; }
.charts_others {padding-left:41px;}
.charts_others li {float:left; width:197px; line-height:20px; height:20px; padding-bottom:4px;}
.charts_text {float:left; height:20px; width:100px; overflow:hidden;}
.charts_number {float:right;width:60px; height:20px; color:#b6b6b6;}
.rank_up{float:right; margin-top:8px; width:7px; height:7px; background:url(../images/bg.jpg); background-position:40px 346px;}
.rank_down{float:right; margin-top:8px; width:7px; height:7px; background:url(../images/bg.jpg); background-position:41px 323px;}
.rank_retain{float:right; margin-top:8px; width:7px; height:7px; background:url(../images/bg.jpg); background-position:40px 294px;}
/* other news */
.full_block {width:958px;border:1px solid #dedcdd; background:#f9f9f9; float:left; display:inline; margin-top:8px;}
.full_block_inner_bd {width:956px; border:1px solid #fff; float:left;}
.other_news_title {width:900px; height:23px;background:url(../images/bg.jpg) left 67px; text-align:center;}
.other_news_sub {width:313px; height:auto; float:left; overflow:hidden; margin-left:4px; padding-bottom:15px;}
.other_news_sub_title {width:313px; height:34px; background:url(../images/bg.jpg) left 108px; margin:10px 0 0 0;}
/* pic */
.pic_list{ width:900px; margin: 0 auto; margin-top:8px;}
.pic_list li{ float:left; margin-left:8px; height:194px; width:122px; display:inline;}
.pic_list .first{ width:232px; height:360px; text-align:center; margin-left:10px; display:inline;}
.pic_text_bg_first { height:24px; background: #a91b32; color:#FFF; text-align:center; display:block;}
.pic_text_bg_first a{color:#fff; font-weight:bold;}
.pic_list li span {height:24px; color:#FFF; text-align:center; display:block; overflow:hidden;}
.pic_list li span a{ color:#FFF; line-height:25px;}
.pic_txt_bg_red {background: #a91b32;}
.pic_txt_bg_purple {background: #b2119b;}
.pic_txt_bg_blue {background: #1b57a9;}
.pic_txt_bg_green {background: #74a91b;}
.pic_txt_bg_yellow {background: #fac628;}
.pic_txt_bg_cyan {background: #44c2e4;}

/* parners */
.partners {width:960px; margin-top:8px; background:#fafafa;}
.layer_one {float:left; width:70px; border:1px solid #e0dedf; height:30px; border-right: none; position: absolute; z-index:1;background:#fafafa;}
.layer_two {float:left; width:70px; margin-top:30px; position: absolute;}
.layer_one a,.layer_two a {font-size:14px; line-height:30px; padding-left:5px; color:#414141; font-family:"微软雅黑";}
.layer_content {float:right; width:888px; border:1px solid #e0dedf; height:80px; position:relative; z-index:0; left:0px;background:#fafafa}
.layer_content_txt {margin:10px 0 0 20px; line-height:22px; color:#8a8a8a;}
/* index page end */
/* list page */
/* 影视_内页 */
.Subpage_bj { background-color: #f6f6f6;}
.Search_01{ background: url(../images/pic/s_bj.gif) 0 600px; height:49px; }
.Search_weizi_01 { float:left; margin-left:10px; width:510px;}
.Search_weizi_01 a { line-height:36px; color:#1e1e1e; }
/* 影视图片 */
.Subpage_pic{float: left; height: auto; width: 960px; margin-top:10px;}
.Subpage_pic_01 { background: none repeat scroll 0 0 #F9F9F9; border: 1px solid #DEDCDD; display: inline; float: left; width: 958px;}
.Subpage_pic_list{ border: 1px solid #FFFFFF; float: left; width: 956px;}
.Subpage_pic_bt{ width:956px; height:37px; background:url(../images/bg.jpg) left 42px;}
.Subpage_pic ul { list-style: none outside none; overflow: hidden; padding: 10px 0 0 0; width: 930px; margin: 0 auto; }
.Subpage_pic ul li { background: url(../images/bg_border.png) repeat-x scroll 0 100% transparent; display: inline; float: left; height: 150px; margin: 0 0 5px; overflow: hidden; padding: 5px 12px 10px; width: 160px; }
.Subpage_pic ul li a { overflow: hidden; text-align: center;}
.Subpage_pic ul li img { border: 1px solid #D1D1D1; display: block; height: 118px; padding: 2px; width: 158px; }
.Subpage_pic ul li span { display: block; line-height: 30px; }
