.pagination{text-align:center;}
  .pagination a {border:1px solid #ddd; height:20px; line-height:20px; display:block; float:left; text-align:center; padding:0 6px; margin:0 6px 0 0;vertical-align:middle; background-color:#fff; color:#454545;}
  .pagination a,.pagination span{display:block; float:left;padding:0 6px 0 5px; height:20px; line-height:20px; margin:0 5px 5px 0;text-align:center;}
  .pagination a:hover{text-decoration:none; border-color:#244D8F;}
  .pagination .current{text-decoration:none;font-weight:bold; background:#244D8F; color:#fff;}
    .pagination .current.prev, .pagination .current.next{color:#999;border-color:#999;background:#fff;}
