<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$CONFIG[charset]}" />
<title>专栏_{$SYSTEM[sitename]}</title>
<meta name="keywords" content="{$SYSTEM[seokeywords]}" />
<meta name="description" content="{$SYSTEM[seodescription]}" />
<meta name="author" content="{$SYSTEM[sitename]}" />
<meta name="Copyright" content="{$SYSTEM[sitename]}版权所有" />

<script type="text/javascript" src="{IMG_URL}js/lib/jquery.js"></script>
<link href="{IMG_URL}templates/{TEMPLATE}/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/index.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/others.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<!--[if IE 6]> 
	<link href="{IMG_URL}templates/{TEMPLATE}/css/ie6.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<![endif]-->
</head>
<body>
<!--{template 'system/header_channel_php.html'}-->
<div class="hr-h10"></div>			
<div class="menu-cir nosubmenu">
	<div class="menu-cir-main">
		<div class="mode-menu">
			<ul id="common-menu">
			<li><a href="{WWW_URL}">首页</a></li>
			{loop channel(0) $catid $cha}
			<li><a href="{$cha[url]}">{$cha[name]}</a></li>
			{/loop}
			<li><a href="{WWW_URL}photo.php">图片</a></li>
			<li><a href="{WWW_URL}video.php">视频</a></li>
			<li><a href="{WWW_URL}roll.php">滚动</a></li>
			<li><a href="{WWW_URL}rank.php">排行</a></li>
			<li id="nav-cur"><a href="{WWW_URL}space/">专栏</a></li>
			<li><a href="{WWW_URL}tags.php">标签</a></li>
			<li><a href="{WWW_URL}digg.php">Digg</a></li>
			<li><a href="{WWW_URL}mood.php">心情</a></li>
			</ul>
		</div>
		<script src="{IMG_URL}/templates/{TEMPLATE}/js/tabs.js" type="text/javascript"></script>
	</div>
	<div class="menu-cir-l"></div>
	<div class="menu-cir-r"></div>
</div>
	
</div>

<div class="hr-h6"></div>
<div class="column">
	<div class="col-l-main w-720">
		<div class="col-l w-260">
			<!-- ******************* start 热门人物  20  *********************** -->
			<div class="hot-people" style="height:155px;">
					<div class="no1-head">热门人物</div>
					<div class="author-list mar-t-10">
						<ul>
							<!--{db sql="SELECT * FROM `#table_space` WHERE status>2 ORDER BY `pv` DESC" size="20"}-->
							<li><a href="{SPACE_URL}{$r['alias']}">{$r['author']}</a></li>
							<!--{/db}-->
						</ul>
					</div>
					<div class="clear"></div>
			</div>
			<!-- ******************* end 热门人物    *********************** -->
			<div class="hr-h10"></div>
			<!-- ******************* start 专栏推荐  4  *********************** -->
			<div class="interview bor-9fc">
				<div class="mode-head">
					<h2 class="cor-c00">专栏推荐</h2>
					<a class="more-e" href="{SPACE_URL}list/">更多</a>
				</div>
				<div class="m-picTxt padd-b-12">
					<div class="mode-imgtxtsummary mode-imgtxtsummary03">
						<ul>
						<!--{db sql="SELECT * FROM `#table_space` WHERE status=4 ORDER BY `sort` DESC" size="6"}-->
							<li>
							<div class="imgtxt"><a href="{SPACE_URL}{$r['alias']}"><img src="{thumb($r['photo'],74,74)}" height="74" width="74"></a></div>
								<h3 class="summary-h3"><a href="{SPACE_URL}{$r['alias']}" class="cor-06c bold">{$r['author']}</a></h3>
								<p class="summary-no2em">{str_cut($r['description'],50)}</p>
							</li>
						<!--{/db}-->
						</ul>
					</div>
				</div>
			</div>
			<!-- ******************* end 专栏推荐    *********************** -->
			<div class="hr-h10"></div>
		</div>
		<div class="col-r w-450">
        	<!-- ******************* start 推荐    *********************** -->
			<!--{db sql="SELECT * FROM #table_content f LEFT JOIN #table_space s ON f.spaceid=s.spaceid  WHERE f.spaceid>0 AND  f.weight>=80 AND f.modelid=1 AND f.status=6 ORDER BY published desc" size="3" page="1"}-->
				<div class="people-introduction">
					<div class="imgtxt">
						<a href="{space_url($r['spaceid'])}"><img src="{thumb($r['photo'],72,72)}" width="72" height="72"></a>
						<p><a href="{space_url($r['spaceid'])}">{$r['author']}</a></p>
					</div>
					<h3><a href="{$r['url']}" class="cor-06c">{$r['title']}</a></h3>
					<p class=" mar-t-10 cor-666 line-h18 mar-r-10">{str_cut(description($r['contentid'],1),100)}<a href="{$r['url']}" class="cor-06c">[详细]</a></p>
				</div>
			<!--{/db}-->
			<!-- ******************* end 推荐    *********************** -->
			<!-- ******************* start 推荐文章    *********************** -->
			<div class="mar-lr-10">
				<ul class="mode-txtlink fs-14 mar-t-10 cor-333">
				<!--{db sql="SELECT * FROM #table_content c LEFT JOIN #table_space s ON c.spaceid=s.spaceid WHERE c.spaceid is not null AND c.modelid=1 AND c.status=6 ORDER BY c.published desc" size="20"}-->
					<li><a class="cor-06c" href="{space_url($r['spaceid'])}">{$r[author]}</a>：<a href="{$r[url]}">{str_cut($r['title'],80)}</a></li>
					<!--{if $i>0 && $i%5 ==0 && $i!=20}-->
					</ul>
					<div class="hr-dotted hr-h10"></div>
					<ul class="mode-txtlink fs-14 mar-t-10 cor-333">
					<!--{/if}-->
				<!--{/db}-->
				</ul>
            </div>
            <!-- ******************* end 推荐文章    *********************** -->
        </div>
    </div>
	<div class="col-r-extra w-230">
        <!-- ******************* start 热门文章    *********************** -->
	    <div class="interview bor-9fc">
			<div class="mode-head">
                <h2 class="cor-c00">热门文章</h2>
            </div>
			<div class="m-picTxt padd-tb-8">
				<div class="mode-rank">
					<ol>
					<!--{db sql="SELECT * FROM #table_content WHERE spaceid is not null AND modelid=1 AND status=6 ORDER BY published desc" size="10" page="1"}-->
						<li>
						<!--{if $i <4}-->
						<em class="front">{$i}</em>
						<!--{else}-->
						<em>{$i}</em>
						<!--{/if}-->
						<a href="{$r['url']}">{str_cut($r['title'],28)}</a></li>
					<!--{/db}-->
					</ol>
	
				</div>
			</div>
		</div>
        <!-- ******************* end 热门文章    *********************** -->
		<div class="hr-h10"></div>
		<!-- ******************* start 最新评论  10  *********************** -->
		<div class="interview bor-9fc">
			<div class="mode-head">
					<h2 class="cor-c00">最新评论</h2>
				</div>
			<div class="mar-lr-10 padd-tb-8">
				<ul class="mode-txtlink">
				<!--{db sql="SELECT s.url,s.title FROM #table_content s LEFT JOIN #table_comment f ON f.contentid=s.contentid WHERE s.spaceid is not null AND s.modelid=1 AND s.status=6 ORDER BY s.published desc" size="10" page="1"}-->
					<li><a href="{$r[url]}">{$r[title]}</a></li>
				<!--{/db}-->
				</ul>
				
			</div>
		</div>
		<!-- ******************* end 最新评论    *********************** -->
	</div>
</div>
<div class="hr-h10"></div>
<!--{template 'system/footer.html'}-->

</body>
</html>