<div id="addjifen">
				<?php 
				if ($periodInfo){
					$bindList = getActBindInfoByPid($periodInfo['id']);
					$kk=1;
					$jifennameid='';
					foreach ($bindList as $k=>$v){?>
					<div id="jifen<?php echo $kk?>" style="width:100%">	
						<div id="jifens<?php echo $kk?>"style="height:100px;width:130px;float:left">
						<select name="jifens<?php echo $kk?>" id="bind<?php echo $kk?>" class="select" onchange="showselect('<?php echo $kk?>',this);">
						<option value='<?php echo $v['tag']?>'><?php echo $v['name']?></option>
						<?php 
						$integralList = getIntegral();		
						foreach ($integralList as $key=>$value){
						?>
						<option value="<?php echo $value['tag']?>"><?php echo $value['name']?></option>
						<?php }?>
						</select><br><br><br>标签：
						<span id="tag<?php echo $kk?>"><?php echo $v['tag']?></span>	
						</div>	
						<div style="height:100px;width:300px;float:left">
						<textarea name="script<?php echo $kk?>" id="script<?php echo $kk?>" rows="6" cols="5" class="tarea" style="width:260px;"><?php echo $v['integral_script'];?></textarea><br><br>
						</div>	
						<?php 
						if ($kk>=2){?>
							 <div style="height:100px;width:50px;float:left">
							<a style="width:22px;border-width:0px;font-family:webdings;" 
							href="###" onclick="cls('jifen<?php echo $kk;?>')">r</a></div>
						<?php }
						?>				
					</div>
				<?php 
					$jifennameid = $jifennameid.$kk.',';
					$kk++;}
				}else{
				?>
				<div id="jifen1" style="width:100%">	
					<div id="jifens1"style="height:100px;width:130px;float:left">
					<select name="jifens1" id="bind1" class="select" onchange="showselect('1',this);">
					<option value='0'>请选择</option>
					<?php 
					$integralList = getIntegral();		
					foreach ($integralList as $key=>$value){
					?>
					<option value="<?php echo $value['tag']?>"><?php echo $value['name']?></option>
					<?php }?>
					</select><br><br><br>标签：
					<span id="tag1"></span>	
					</div>	
					<div style="height:100px;width:300px;float:left">
					<textarea name="script1" id="script1" rows="6" cols="5" class="tarea" style="width:260px;">积分脚本</textarea><br><br>
					</div>					
				</div>
				<?php }?>
			</div>
			<?php if ($kk){?>
			<script type="text/javascript">
			jishu=<?php echo $kk;?>
			</script>
			<?php }?>