<div class="itemtitle"><h3>直播管理</h3>
<ul class="tab1">
<li><a href="admin.php?action=live"><span>火秀明星管理</span></a></li>
<li class="current"><a href="admin.php?action=live&op=addstar"><span>增加火秀明星</span></a></li>
<li><a href="admin.php?action=live&op=addagent"><span>增加火秀经纪人</span></a></li>
<li><a href="admin.php?action=live&op=agent"><span>火秀经纪人管理</span></a></li>
<li><a href="admin.php?action=live&op=yugao"><span>直播预告</span></a></li>
<li><a href="admin.php?action=live&op=audience"><span>观众统计</span></a></li>
<li><a href="admin.php?action=live&op=admin"><span>巡管</span></a></li>
</ul></div>
<div>
	<form name="cpform" id="cpform" autocomplete="off" action="admin.php?action=live&op=addstar" method="POST">
	<table class="tb tb2 ">
		<tr>
			<td><span class="td27">用户名：</span><input type="text" name="username" value=""/></td>
		</tr>
		<tr>
			<td><input class="btn" type="submit" name="submit" value="提交" /></td>
		</tr>
	</table>
	</form>
</div>