/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.baizi-12 {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 18px;
}

/*通用连接开始*/
a:link {
	color: #0000CC;
}
a:visited {
	color: #0000CC;
}
a:hover {
	color: #FF0000;
	text-decoration: none;	
}
body {
	line-height: 20px;
}
body,td,th {
	font-size: 12px;
}
/*通用连接结束*/

.style2 {color: #FFFFFF}
.style3 {color: #000000}
.style4 {color: #C400DB}
/*自定义连接开始*/
.lianjie_1:link {
	FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 16px; TEXT-DECORATION: none; font-weight;
}
.lianjie_1:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.lianjie_1:hover {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
/*自定义连接结束*/

/*自定义一像素向下连接开始*/
.lianjie_2:link {
	COLOR: #000000
}
.lianjie_2:visited {
	COLOR: #000000
}
.lianjie_2:active {
	COLOR: #000000
}
.lianjie_2:hover {
	LEFT: 1px; COLOR: #ff0000; POSITION: relative; TOP: 1px
}
/*自定义一像素向下连接结束*/

/*自定义一像素向上连接开始*/
.lianjie_3:link {
	COLOR: #ffffff
}
.lianjie_3:visited {
	COLOR: #ffffff
}
.lianjie_3:active {
	COLOR: #ffffff
}
.lianjie_3:hover {
	COLOR: #ffffff; POSITION: relative; text-decoration:underline
}
/*自定义一像素向上连接结束*/
.lianjie_hei:link {
	COLOR: #000000;
	text-decoration: none;
}
.lianjie_hei:visited {
	COLOR: #000000;
	text-decoration: none;
}
.lianjie_hei:active {
	COLOR: #000000;
	text-decoration: none;
}
.lianjie_hei:hover {
	COLOR: #000000; POSITION: relative; text-decoration:underline
}

.lianjie_hei_1:link {
	COLOR: #000000;
	font-weight: bold;
	text-decoration: none;
}
.lianjie_hei_1:visited {
	COLOR: #000000;
	font-weight: bold;
	text-decoration: none;
}
.lianjie_hei_1:hover {
	COLOR: #000000;font-weight: bold; text-decoration:underline}

.lianjie_huang:link {
	COLOR: #FF6600;font-weight: bold;
}
.lianjie_huang:visited {
	COLOR: #FF6600;font-weight: bold;
}
.lianjie_huang:active {
	COLOR: #FF6600;font-weight: bold;
}
.lianjie_huang:hover {
	COLOR: #FF6600;font-weight: bold; text-decoration:underline
}

.lianjie_bai:link {
	COLOR: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.lianjie_bai:visited {
	COLOR: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.lianjie_bai:active {
	COLOR: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.lianjie_bai:hover {
	FONT-SIZE: 12px;COLOR: #ffffff;font-weight: bold; text-decoration:underline
}

.lianjie_bai_14:link {
	FONT-SIZE: 14px;COLOR: #0000CC;font-weight: bold;
}
.lianjie_bai_14:visited {
	FONT-SIZE: 14px;COLOR: #0000CC;font-weight: bold;
}
.lianjie_bai_14:hover {
	COLOR: #ff0000;font-weight: bold; text-decoration:none}

.lianjie_zi:link {
	COLOR: #C400DB
}
.lianjie_zi:visited {
	COLOR: #C400DB
}
.lianjie_zi:active {
	COLOR: #C400DB
}
.lianjie_zi:hover {
	COLOR: #C400DB; POSITION: relative; text-decoration:underline
}
/*自定义提交按钮开始*/
.login_btn1 {
	BORDER-RIGHT: #666666 2px solid; BORDER-TOP: #fefefe 2px solid; FONT-SIZE: 12px; BACKGROUND: url(http://www.yilinweb.com/images/yilinweb_bbs_2.gif) #f0f0f0 repeat-x; BORDER-LEFT: #fefefe 2px solid; WIDTH: 68px; CURSOR: hand; PADDING-TOP: 4px; BORDER-BOTTOM: #666666 2px solid; HEIGHT: 26px;}
.login_btn2 {
	BORDER-RIGHT: #666666 2px solid; BORDER-TOP: #fefefe 2px solid; FONT-SIZE: 12px; BACKGROUND: url(http://www.yilinweb.com/images/netdriv_btn_1.gif) #f0f0f0 repeat-x; BORDER-LEFT: #fefefe 2px solid; WIDTH: 68px; CURSOR: hand; PADDING-TOP: 4px; BORDER-BOTTOM: #666666 2px solid; HEIGHT: 26px;}
/*自定义提交按钮结束*/

/*外发光样式开始*/
.light1 {
	FONT-SIZE: 14px; FILTER: Glow(Color=#ff0000, Strength=2); LETTER-SPACING: 0px /*Clolr代表外发光颜色 、Strength代表发光大小 、0代表字间距*/
}
.light2 {
	FONT-SIZE: 14px; FILTER: Glow(Color=#003399, Strength=2); LETTER-SPACING: 0px
}
.light3 {
	FONT-SIZE: 14px; FILTER: Glow(Color=#5C7B00, Strength=2); LETTER-SPACING: 0px
}
.light4 {
	FONT-SIZE: 14px; FILTER: Glow(Color=#B78000, Strength=2); LETTER-SPACING: 0px
}
.light5 {
	FONT-SIZE: 14px; FILTER: Glow(Color=#187687, Strength=2); LETTER-SPACING: 0px
}
.light6 {
	FONT-SIZE: 14px; FILTER: Glow(Color=#DB0084, Strength=2); LETTER-SPACING: 0px
}
/*外发光样式结束*/

/*投影样式结束*/
.touying {FILTER: DropShadow(Color=c0c0c0, OffX=1, OffY=1, Positive=1);}
/*投影样式结束*/

/*风样式结束*/
.feng {
FILTER: glow(color=ffffff,strength=0) shadow(color=aaaaaa,direction:135);
}
/*风样式结束*/
.denglu {
	height: 15px;
	width: 80px;
}

.sousuo {
	height: 15px;
	width: 185px;
}

.zhi {
	line-height: 20px;
}
.style_1 {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	line-height: 18px;
}
