<div class="blr" style="">
  <h3 id="layer_reginfo_t" class="flb">
    <em id="returnmessage4">设置背景</em>
    <span>
      <a href="javascript:;" class="flbc" onclick="hideWindow('register')" title="关闭">关闭</a></span>
  </h3>

  <div id="tangchuang2s">

    <div style="padding:10px;">
      <div id="upload" style="padding-right:30px;">
        <iframe id="uploadframe" name="uploadframe" width="0" height="0" marginwidth="0" frameborder="0" src="about:blank" ></iframe>
        <form method="post" autocomplete="off" name="uploadpic" id="uploadpic" action="show.php?operation=ajax&tab=setRoomBg" enctype="multipart/form-data" target="uploadframe" >
          <span><input type="file"   name="attach" size="20" style="height:23px;width:350px;">
            <input type="hidden" name="formhash" value="{FORMHASH}" />
            <input type="hidden" name="albumid" value="$albumid" />
            <button type="submit" name="uploadsubmit" id="btnupload"  value="true" ><span id="supbt">开始上传</span></button>
          </span><span id="uploadmsg"></span>
          <br>

        </form>
      </div>
      <a href="javascript:;" onclick="cancelBg();" style="padding:3px;">取消背景</a>
      <div id="imglist">			
        <!--{loop $list $key $value}-->
        <a href="javascript:;" ><img src="$value[tmppic]" id="$value[pic]" alt="" onclick="setBg(this);return false;" style="height:78px;"/></a>
        <!--{/loop}-->

      </div>

    </div>
    <div style="text-align:center;background:#eeeeee;padding-top:5px;height:31px;">
      <a href="javascript:;" onclick="saveBg()"><img src="/static2/images/yingyong.png" width="86" height="24" /></a>&nbsp;&nbsp;&nbsp;&nbsp;

    </div>
  </div>


  <script>
    (function($){
      var lastBg ='';
      window.upbgsuss=function(img,status){
        if(status=='1'){		
          $("#uploadmsg").html('<strong style="color:green">上传成功！</strong>');			
          document.getElementById("space_body").style.cssText='background: url("'+img+'")!important';
          html = '<a href="javascript:;" ><img src="'+img+'.thumb.jpg" id="'+img+'" alt="" onclick="setBg(this);return false;" style="height:78px;"/></a>&nbsp;'+$("#imglist").html();
          $("#imglist").html(html);
          lastBg =img;
          }else {			
          $("#uploadmsg").html('<strong style="color:red">上传失败！</strong>');			
        }
      }
      window.setBg = function(e){
        lastBg=e.id;
        document.getElementById("space_body").style.cssText='background: url("'+e.id+'")!important';
      }
      window.cancelBg = function(){
        lastBg='-1';
        document.getElementById("space_body").style.cssText='background: url("")!important';		
      }
      window.saveBg=function(){
        if(lastBg!=''){
          var url = 'show.php?operation=ajax&tab=setRoomBg&act=save&t=' + (new Date()).getTime() + '&bg=' + lastBg;
          $.getJSON(url,function(rs){
            if(rs.status==1){
              alert('设置成功！')
              hideWindow('register');
              }else{
              alert('设置失败！')
            }
          })
          }else{
          hideWindow('register');
        }
      }
    })(jQuery);
  </script>

</div>
