<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$CONFIG[charset]}" />
<title>专栏列表_{$SYSTEM[sitename]}</title>
<meta name="keywords" content="{$SYSTEM[seokeywords]}" />
<meta name="description" content="{$SYSTEM[seodescription]}" />
<meta name="author" content="{$SYSTEM[sitename]}" />
<meta name="Copyright" content="{$SYSTEM[sitename]}版权所有" />
<link href="{IMG_URL}templates/{TEMPLATE}/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/index.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<!--[if IE 6]> 
	<link href="{IMG_URL}templates/{TEMPLATE}/css/ie6.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<![endif]-->
<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.cookie.js"></script>
<script type="text/javascript">
$(function(){
	$('.letter-nav a').click(function(){
		$(this).siblings('a').attr('class', '');
		$(this).attr('class', 'on');
		$('#space_'+this.id).siblings('.space_list_wrapper').hide();
		$('#space_'+this.id).show();
	}).focus(function(){
		this.blur();
	});
});
</script>
</head>

<body>
    <!--{template 'system/header_channel_php.html'}-->
	<div class="hr-h10"></div>			
	<div class="menu-cir nosubmenu">
		<div class="menu-cir-main">
			<div class="mode-menu">
				<ul id="common-menu">
				<li><a href="{WWW_URL}">首页</a></li>
				{loop channel(0) $catid $cha}
				<li><a href="{$cha[url]}">{$cha[name]}</a></li>
				{/loop}
				<li><a href="{WWW_URL}photo.php">图片</a></li>
				<li><a href="{WWW_URL}video.php">视频</a></li>
				<li><a href="{WWW_URL}roll.php">滚动</a></li>
				<li><a href="{WWW_URL}rank.php">排行</a></li>
				<li id="nav-cur"><a href="{WWW_URL}space/">专栏</a></li>
				<li><a href="{WWW_URL}tags.php">标签</a></li>
				<li><a href="{WWW_URL}digg.php">Digg</a></li>
				<li><a href="{WWW_URL}mood.php">心情</a></li>
				</ul>
			</div>
			<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/tabs.js"></script>
		</div>
		<div class="menu-cir-l"></div>
		<div class="menu-cir-r"></div>
	</div>
	
</div>
<div class="hr-h6"></div>
	<div class="column">
		<div class="col-l-main w-720">
			<!--专栏列表-->
			<div class="bor-9fc tags-back">
				<div>
					<span class="first-letter f-l cor-06c">专栏列表</span>
					<div class="letter-nav cor-06c bold f-l">
						<?php $letters = array('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z');?>
						<a href="javascript:;" id="all" class="on">全部</a>
						<!--{loop $letters $letter}-->
						<a href="javascript:;" id="{$letter}">{strtoupper($letter)}</a>
						<!--{/loop}-->
					</div>
					<div class="clear"></div>
				</div>
					<div class="mar-t-10 space_list_wrapper" id="space_all">
						<div class="mode-imgtxtsummary mode-imgtxtsummary04 mar-lr-10">
						<ul>
						<!--{db sql="SELECT * FROM `#table_space` WHERE status>2 ORDER BY `sort` DESC,`spaceid` DESC" size="100"}-->
							<li>
								<div class="imgtxt"><a href="{SPACE_URL}{$r['alias']}"><img src="{thumb($r['photo'],72,72)}"/></a></div>
								<h2><a class="cor-06c bold" href="{SPACE_URL}{$r['alias']}">{$r['author']}</a></h2>
								<p>{str_cut($r['description'],100)}</p>
								<div class="clear"></div>
								<div class="hr-dotted hr-h10 mar-tb-10"></div>
							</li>
						<!--{/db}-->
						</ul>
						</div>
					</div>
					
					<!--{loop $letters $letter}-->
						<div class="mar-t-10 space_list_wrapper"  id="space_{$letter}" style="display:none;">
							<div class="mode-imgtxtsummary mode-imgtxtsummary04 mar-lr-10">
								<ul>
							<!--{db sql="SELECT * FROM `#table_space` WHERE status>2 AND `initial`='$letter'  ORDER BY `sort` DESC,`spaceid` DESC" size="100"}-->
								<li>
									<div class="imgtxt"><a href="{SPACE_URL}{$r['alias']}"><img src="{thumb($r['photo'],72,72)}"/></a></div>
									<h2><a class="cor-06c bold" href="{SPACE_URL}{$r['alias']}">{$r['author']}</a></h2>
									<p>{str_cut($r['description'],100)}</p>
									<div class="clear"></div>
									<div class="hr-dotted hr-h10 mar-tb-10"></div>
								</li>
							<!--{/db}-->
								</ul>
							</div>
						</div>
					<!--{/loop}-->
					
			</div>
			<!-- //专栏列表 -->
		</div>
		<div class="col-r-extra w-230">
			<!-- ******************* start 热门文章    *********************** -->
			<div class="interview bor-9fc">
				<div class="mode-head">
					<h2 class="cor-c00">热门文章</h2>
				</div>
				<div class="m-picTxt padd-tb-8">
					<div class="mode-rank">
						<ol>
					<!--{db sql="SELECT * FROM #table_content WHERE spaceid>0 AND modelid=1 AND status=6 ORDER BY published desc" size="10" page="1"}-->
					<li>
					<!--{if $i <4}-->
					<em class="front">{$i}</em>
					<!--{else}-->
					<em>{$i}</em>
					<!--{/if}-->
					<a href="{$r['url']}">{str_cut($r['title'],28)}</a></li>
					<!--{/db}-->
						</ol>
					</div>
				</div>
			</div>
			<!-- ******************* end 热门文章    *********************** -->
		</div>
	</div>
<div class="hr-h10"></div>
<!--{template 'system/footer.html'}-->
</body>
</html>