<div class="floattop">
<div class="itemtitle">
	<h3></h3>
	<ul class="tab1">
		<li><a href="admin.php?action=activity&operation=act&a=list"><span>活动</span></a></li>
		<li><a href="admin.php?action=activity&operation=jifen&a=list"><span>积分</span></a></li>
		<li class="current"><a href="admin.php?action=activity&operation=medal"><span>荣誉</span></a></li>
	</ul>
</div>
<div>
<form action="admin.php?action=activity&operation=medal" method="post">
	<span class="addtr">添加比赛</span>
	<select id="activity" name="activity">
		<option value="">活动</option>
	<!--{loop $activity $key $value}-->
		<option value="$value['id']">{$value['name']}</option>
	<!--{/loop}-->
	</select>
	<select id="year" name="year">
		<option value="0">年</option>
		<option value="2011">2011</option>
		<option value="2012">2012</option>
		<option value="2013">2013</option>
		<option value="2014">2014</option>
		<option value="2015">2015</option>
		<option value="2016">2016</option>
		<option value="2017">2017</option>
		<option value="2018">2018</option>
		<option value="2019">2019</option>
		<option value="2020">2020</option>
	</select>
	<select id="month" name="month">
		<option value="0">月份</option>
		<option value="1">1月</option>
		<option value="2">2月</option>
		<option value="3">3月</option>
		<option value="4">4月</option>
		<option value="5">5月</option>
		<option value="6">6月</option>
		<option value="7">7月</option>
		<option value="8">8月</option>
		<option value="9">9月</option>
		<option value="10">10月</option>
		<option value="11">11月</option>
		<option value="12">12月</option>
	</select>
	<input type="submit" name="submit_match" value="添加" />
</form>
</div>
<table class="tb tb2 ">
<tbody>
<tr class="header"><th>活动名称</th><th>月份</th><th>获奖人</th><th>操作</th></tr>
<!--{loop $match $key $value}-->
<tr class="hover">
	<td width="150">{$value['activity_name']}</td>
	<td width="50"><span><!--{if $value['month']!=''}-->{$value['month']}月<!--{/if}--> </span></td>
	<td>
		<span style="color: green;">{$value['medals_str']}</span>
	</td>
	<td width="150">
		<a href="admin.php?action=activity&operation=medal&act=addmember&id={$value['id']}">添加/更改获奖人</a>&nbsp;
		<a href="admin.php?action=activity&operation=medal&act=delete&id={$value['id']}" onclick="return confirm('确定要删除整个比赛吗？')">删除</a>
	</td>
</tr>
<!--{/loop}-->
</tbody>
</table>

</div>