{template "community","myshow_header"}
<div id="wrapper" class='invite-friends'>
	<div class='header'>
		<div class='wrapper'><span class='step left'>关注你可能感兴趣的人</span> <span class='step center'>查找&邀请好友</span> <span class='step right'>创建专辑</span></div>
	</div>
	<div class='next-step'>
		<div class='wrapper'>
			<p class='tips'>关注火秀好友<br />关注好友的火秀账号，或者邀请更多好友加入火秀</p>
			<button class='wbtn'>下一步</button>
		</div>
	</div>
	<dl id='bind-social' class='bind-social fn-clear'>
		<dt class='selected'>新浪微博</dt>
		<dd class='success selected'>
			<form class='send-invite' method='post' action=''>
				<h3 class='subtitle'>发送邀请</h3>
				<h4 class='slide-title'>选择你要推荐的好友@他们一下吧</h4>
				<div id='invite_friends_slide' class='slide'>
					<div class="slide_container">
						<ul class="slide_list">
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
							<li title='点击选择该好友' class="slide_list_item"><img height="50" width="50" alt="" src="/statics/images/myshow/avatar.jpg" /></li>
						</ul>
					</div>
					<div class="slide_nav">
						<a title="上一个" class="prev_btn" href='javascript:;'>Prev</a>
						<a title="下一个" class="next_btn" href='javascript:;'>Next</a>
					</div>
				</div>
				<div class="fancy">
					<textarea class='input'></textarea>
					<label class='label'>@火秀网 不错，推荐给你们http://www.huoshow.com/ @官方</label>
					<p class='text-count'>72</p>
				</div>
				<div class='submit'><span class='ebtn'><button type='submit' class='sbtn'>发送微博</button></span> <p>你邀请进来的人会自动成为你的粉丝哦</p></div>
				<p id='add-sucess' class='add-sucess'>已经成功发送微博，<a href='#' title=''>去看看</a></p>
			</form>
			<div class='follow'>
				<h3 class='subtitle'>新浪微博</h3>
				<div class="fans fn-clear">
					<a class="avatar" href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
					<div class='meta'>
						<h3 class='name' href='#'>奇数行</h3>
						<p class='id'>@xiaofen</p>
					</div>
					<div class='action'><a class='sbtn' href='javascript:;'>关注</a></div>
					<div class="hot-pins">
						<a href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
					</div>
				</div>
				<div class="fans fn-clear">
					<a class="avatar" href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
					<div class='meta'>
						<h3 class='name' href='#'>奇数行</h3>
						<p class='id'>@xiaofen</p>
					</div>
					<div class='action'><a class='sbtn' href='javascript:;'>关注</a></div>
					<div class="hot-pins">
						<a href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
						<a href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
					</div>
				</div>
				<div class="fans fn-clear">
					<a class="avatar" href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
					<div class='meta'>
						<h3 class='name' href='#'>奇数行</h3>
						<p class='id'>@xiaofen</p>
					</div>
					<div class='action'><a class='sbtn' href='javascript:;'>关注</a></div>
					<div class="hot-pins">
						<a href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
					</div>
				</div>
				<div class="fans fn-clear">
					<a class="avatar" href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
					<div class='meta'>
						<h3 class='name' href='#'>奇数行</h3>
						<p class='id'>@xiaofen</p>
					</div>
					<div class='action'><a class='sbtn' href='javascript:;'>关注</a></div>
					<div class="hot-pins">
						<a href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
						<a href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
						<a href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
						<a href='#'><img src='/statics/images/myshow/avatar.jpg' alt='' width='50' height='50' /></a>
					</div>
				</div>
			</div>
		</dd>
		<dd>
			<p class='tips'>你尚未设置新浪微博账号，绑定后你可以用该账号登陆火秀</p>
			<div class='btn-wrapper'><div class='ebtn'><button class='sbtn'>现在绑定新浪微博账号</button></div></div>
		</dd>
		<dd class='loading'>
			<p>新浪微博</p>
			<button>正在加载...</button>
		</dd>
		<dt>豆瓣</dt>
		<dd>
			<p class='tips'>你尚未设置豆瓣账号，绑定后你可以用该账号登陆火秀</p>
			<div class='btn-wrapper'><div class='ebtn'><button class='sbtn'>现在绑定豆瓣账号</button></div></div>
		</dd>
		<dd class='loading'>
			<p>豆瓣</p>
			<button>正在加载...</button>
		</dd>
		<dt>人人网</dt>
		<dd>
			<p class='tips'>你尚未设置人人账号，绑定后你可以用该账号登陆火秀</p>
			<div class='btn-wrapper'><div class='ebtn'><button class='sbtn'>现在绑定人人账号</button></div></div>
		</dd>
		<dd class='loading'>
			<p>人人网</p>
			<button>正在加载...</button>
		</dd>
		<dt>腾讯微博</dt>
		<dd>
			<p class='tips'>你尚未设置腾讯微博账号，绑定后你可以用该账号登陆火秀</p>
			<div class='btn-wrapper'><div class='ebtn'><button class='sbtn'>现在绑定腾讯微博账号</button></div></div>
		</dd>
		<dd class='loading'>
			<p>腾讯微博</p>
			<button>正在加载...</button>
		</dd>
	</dl>
</div>
</body>
</html>