{template "community","myshow_header"}
<div id="wrapper" class='pin-details fn-clear'>
	<div id="aside">
		<div class="album">
			<h5>出自专辑</h5>
			<h3>幸福憧憬</h3>
			<span class='pin-position'><em>1</em>/45</span>
			<a class="link"><img src='/statics/images/myshow/test2.jpg' width='61' height='61' /><img src='/statics/images/myshow/test1.jpg' width='61' height='61' /><img src='/statics/images/myshow/test2.jpg' width='61' height='61' /><img src='/statics/images/myshow/test3.jpg' width='61' height='61' /><img src='/statics/images/myshow/test3.jpg' width='61' height='61' /></a>
			<a class='btn' href='#'>取消关注</a>
		</div>
		<div class='domain-pins'>
			<h3>同出自</h3>
			<div class='album-bar'>
				<a href='#'><span class='text'>幸福憧憬</span><span class='stats'>1</span></a>
				<a href='#'><span class='text'>幸福憧憬</span><span class='stats'>1</span></a>
				<a href='#'><span class='text'>幸福憧憬</span><span class='stats'>1</span></a>
				<a href='#'><span class='text'>幸福憧憬</span><span class='stats'>1</span></a>
				<a href='#'><span class='text'>幸福憧憬</span><span class='stats'>1</span></a>
				<a href='#'><span class='text'>幸福憧憬</span><span class='stats'>1</span></a>
				<a href='#'><span class='text'>幸福憧憬</span><span class='stats'>1</span></a>
				<a href='#'><span class='text'>幸福憧憬</span><span class='stats'>1</span></a>
				<a href='#'><span class='text'>幸福憧憬</span><span class='stats'>1</span></a>
			</div>
		</div>
	</div>
	<div id="main" class='repin'>
		<div class='pin-show'>
			<div class='pinner fn-clear'>
				<a class="pinner-photo" href="/wangwen1220/"><img src="/statics/images/myshow/avatar.jpg" width='52' height='52' /></a>
				<p class="pinner-date">2012-02-32 10:18</p>
				<p class="pinner-name"><a href="/wangwen1220/">文王</a></p>
				<p class="pinner-from">首发自专辑：<a href="/wangwen1220/">幸福憧憬</a></p>
			</div>
			<div class='pin-actions'>
				<ul class='pin-buttons'>
					<li class="btn edit"><a href="#">编辑</a></li>
					<li class="btn delete"><a href="#">删除</a></li>
				</ul>
				<p class="pin-type">来源：weibo.com</p>
			</div>
			<div id='pin-img' class='pin-img'>
				<a class='img-link' href='#'><img src='/statics/images/myshow/test2.jpg' alt='' /></a>
				<a id='zoom-view' class='zoom-view' title='查看原图'></a>
			</div>
			<div class="tags"><span class='tag-title'>标签：</span><a class="tag-type" href='#'>图片</a> | <a class='tag' href='#'>#风景</a> <a class='tag' href='#'>#摄影</a> <a class='tag' href='#'>#美女</a> <a class='tag' href='#'>#尤物</a></div>
			<p class="desc">2月29日，国际女生表白日，姑娘们还在犹豫什么呢？！</p>
			<div class="stats"><span class='comment'><em>27</em> 评论</span> | <span class='like'><em>500</em> 喜欢</span> | <span class='repin'><em>4</em> 转藏</span></div>
		</div>
		<div class="pin-comments fn-clear">
			<div class="add-comment">
				<div class='pin-input'>
					<a class="img" title="文王" href="/wangwen1220/"><img src="/statics/images/myshow/avatar.jpg" width='50' height='50' /></a>
					<div class="input-container fancy"><textarea name="comment" id="pin-comment"></textarea><label>说点有营养的什么吧...</label></div>
				</div>
				<div id="add-comment-controls" class='add-comment-controls'>
					<a id='comment-face' class='comment-face' href='#'>表情</a>
					<a class="disabled sbtn" href="#" id="post-comment">评论</a>
					<span class='sync_to_weibo'><input type='checkbox' name='sync_to_weibo' id='sync_to_weibo' /><label>同步到微博</label></span>
				</div>
			</div>
			<ul class='comment-list'>
				<li class='comment-item fn-clear'>
					<a class="img fn-left" title="文王" href="/wangwen1220/"><img src="/statics/images/myshow/avatar.jpg" width='32' height='32' /></a>
					<p class='meta fn-left'>
						<a class="author" href="/wangwen1220/">丸子</a>
						<span class="text">2月29日，国际生表白日，姑娘们还在犹豫什么呢？！</span>
					</p>
					<p class="stats fn-right"><span class='time'>今天 14:18</span> <span class='floor'>#27楼</span></p>
					<div class="actions fn-right" id="comment-actions"><a class="report" href='javascript:;' title="举报" data-url="/pins/10002993/comments/189741/">举报</a> | <a class="reply" href='javascript:;' title="回复" data-name="文王">回复</a> | <a class="del" href='javascript:;' title="删除" data-url="/pins/10002993/comments/189741/">删除</a></div>
				</li>
				<li class='comment-item fn-clear'>
					<a class="img fn-left" title="文王" href="/wangwen1220/"><img src="/statics/images/myshow/avatar.jpg" width='32' height='32' /></a>
					<p class='meta fn-left'>
						<a class="author" href="/wangwen1220/">丸子</a>
						<span class="text">回复22楼 <a href='#'>@大牛</a>：2月29日，国际女生表际女生表际女生表白日，姑娘们还在犹豫什么呢？！</span>
					</p>
					<p class="stats fn-right"><span class='time'>今天 14:18</span> <span class='floor'>#27楼</span></p>
					<div class="actions fn-right" id="comment-actions"><a class="report" href='javascript:;' title="举报" data-url="/pins/10002993/comments/189741/">举报</a> | <a class="reply" href='javascript:;' title="回复" data-name="文王">回复</a> | <a class="del" href='javascript:;' title="删除" data-url="/pins/10002993/comments/189741/">删除</a></div>
				</li>
				<li class='comment-item fn-clear'>
					<a class="img fn-left" title="文王" href="/wangwen1220/"><img src="/statics/images/myshow/avatar.jpg" width='32' height='32' /></a>
					<p class='meta fn-left'>
						<a class="author" href="/wangwen1220/">丸子</a>
						<span class="text">2月29日，国际女生表际女生表际女生表白日，姑娘们还在犹豫什么呢？！</span>
					</p>
					<p class="stats fn-right"><span class='time'>今天 14:18</span> <span class='floor'>#27楼</span></p>
					<div class="actions fn-right" id="comment-actions"><a class="report" href='javascript:;' title="举报" data-url="/pins/10002993/comments/189741/">举报</a> | <a class="reply" href='javascript:;' title="回复" data-name="文王">回复</a> | <a class="del" href='javascript:;' title="删除" data-url="/pins/10002993/comments/189741/">删除</a></div>
				</li>
				<li class='comment-item fn-clear'>
					<a class="img fn-left" title="文王" href="/wangwen1220/"><img src="/statics/images/myshow/avatar.jpg" width='32' height='32' /></a>
					<p class='meta fn-left'>
						<a class="author" href="/wangwen1220/">丸子</a>
						<span class="text">2月29日，国际女生表际女生表际女生表白日，姑娘们还在犹豫什么呢？！</span>
					</p>
					<p class="stats fn-right"><span class='time'>今天 14:18</span> <span class='floor'>#27楼</span></p>
					<div class="actions fn-right" id="comment-actions"><a class="reply" href='javascript:;' title="回复" data-name="文王">回复</a> | <a class="del" href='javascript:;' title="删除" data-url="/pins/10002993/comments/189741/">删除</a></div>
				</li>
				<li class='comment-item fn-clear'>
					<a class="img fn-left" title="文王" href="/wangwen1220/"><img src="/statics/images/myshow/avatar.jpg" width='32' height='32' /></a>
					<p class='meta fn-left'>
						<a class="author" href="/wangwen1220/">丸子</a>
						<span class="text">2月29日，国际女生表际女生表际女生表白日，姑娘们还在犹豫什么呢？！</span>
					</p>
					<p class="stats fn-right"><span class='time'>今天 14:18</span> <span class='floor'>#27楼</span></p>
					<div class="actions fn-right" id="comment-actions"><a class="report" href='javascript:;' title="举报" data-url="/pins/10002993/comments/189741/">举报</a> | <a class="reply" href='javascript:;' title="回复" data-name="文王">回复</a></div>
				</li>
				<li class='comment-item fn-clear'>
					<a class="img fn-left" title="文王" href="/wangwen1220/"><img src="/statics/images/myshow/avatar.jpg" width='32' height='32' /></a>
					<p class='meta fn-left'>
						<a class="author" href="/wangwen1220/">丸子</a>
						<span class="text">2月29日，国际女生表际女生表际女生表白日，姑娘们还在犹豫什么呢？！</span>
					</p>
					<p class="stats fn-right"><span class='time'>今天 14:18</span> <span class='floor'>#27楼</span></p>
					<div class="actions fn-right" id="comment-actions"><a class="reply" href='javascript:;' title="回复" data-name="文王">回复</a> | <a class="del" href='javascript:;' title="删除" data-url="/pins/10002993/comments/189741/">删除</a></div>
				</li>
			</ul>
			<ul id='comment-pager' class='comment-pager'>
				<li class='prev disabled'><span>&lt;上一页</span></li>
				<li class='num current'><span>1</span></li>
				<li class='num'><a href='#'>2</a></li>
				<li class='num'><a href='#'>3</a></li>
				<li class='num'><a href='#'>4</a></li>
				<li class='num'><a href='#'>5</a></li>
				<li class='ellipsis'><span>...</span></li>
				<li class='num'><a href='#'>9</a></li>
				<li class='next'><a href='#'>下一页&gt;</a></li>
				<li class='all'><a href='#'>全部↓</a></li>
			</ul>
		</div>
		<div class='ta ta-like'>
			<a id='view-all-like' class='view-all' href='#'><strong>···</strong> 全部↓</a>
			<h3 class='title'>TA们喜欢 <span>(18人)</span></h3>
			<ul class='ta-list'>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
				<li class='ta-item'><a class='img' href='#'><img src='/statics/images/myshow/avatar.jpg' width='40' height='40' /></a></li>
			</ul>
		</div>
		<div class='ta ta-repin'>
			<a id='view-all-like' class='view-all' href='#'><strong>···</strong> 全部↓</a>
			<h3 class='title'>TA们转藏 <span>(18次)</span></h3>
			<ul class='repin-list'>
				<li>
					<a class="photo" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
					<div class='meta'>
						<p><a class='name' href='#'>莫桑</a> 采集到<a class='album' href='#'>《力宏》</a>专辑</p>
						<p class='text'>并给该分享添加了 <a href='#'>#love</a> <a href='#'>#you</a> 标签</p>
					</div>
					<div class='share'>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<span class="share-bbtn"><strong>134</strong><em>分享</em></span>
					</div>
				</li>
				<li>
					<a class="photo" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
					<div class='meta'>
						<p><a class='name' href='#'>莫桑</a> 采集到<a class='album' href='#'>《力宏》</a>专辑</p>
						<p class='text'>并给该分享添加了 <a href='#'>#love</a> <a href='#'>#you</a> 标签</p>
					</div>
					<div class='share'>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<span class="share-bbtn"><strong>134</strong><em>分享</em></span>
					</div>
				</li>
				<li>
					<a class="photo" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
					<div class='meta'>
						<p><a class='name' href='#'>莫桑</a> 采集到<a class='album' href='#'>《力宏》</a>专辑</p>
						<p class='text'>并给该分享添加了 <a href='#'>#love</a> <a href='#'>#you</a> 标签</p>
					</div>
					<div class='share'>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<span class="share-bbtn"><strong>134</strong><em>分享</em></span>
					</div>
				</li>
				<li>
					<a class="photo" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
					<div class='meta'>
						<p><a class='name' href='#'>莫桑</a> 采集到<a class='album' href='#'>《力宏》</a>专辑</p>
						<p class='text'>并给该分享添加了 <a href='#'>#love</a> <a href='#'>#you</a> 标签</p>
					</div>
					<div class='share'>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<span class="share-bbtn"><strong>134</strong><em>分享</em></span>
					</div>
				</li>
				<li>
					<a class="photo" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
					<div class='meta'>
						<p class='author'><a class='name' href='#'>莫桑</a> 采集到<a class='album' href='#'>《力宏》</a>专辑</p>
						<p class='text'>并给该分享添加了 <a href='#'>#love</a> <a href='#'>#you</a> 标签</p>
					</div>
					<div class='share'>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<a class="img" href='#'><img src='/statics/images/myshow/avatar.jpg' width='50' height='50' /></a>
						<span class="share-bbtn"><strong>134</strong><em>分享</em></span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div id="pin-toolbar">
		<div class="pin-nav"><a class="prev disabled" title="上一张" href="/pins/10006484/"></a> <a class="album" title="上一张" href="/pins/10006484/"></a> <a class="next" title="下一张" href="/pins/9960401/"></a></div>
		<div class='share'>
			<h3 class='title'>分享到</h3>
			<ul class='share-list'>
				<li class="weibo share-button"><span title="新浪微博">微博</span></li>
				<li class="douban share-button"><span title="腾讯微博">豆瓣</span></li>
				<li class="qzone share-button"><span title="QQ空间">空间</span></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>