<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
<head> 
<meta http-equiv="Expires" content="0"/> 
<meta http-equiv="Cache-Control" content="no-cache"/> 
<meta http-equiv="Pragma" content="no-cache"/> 
</head>
<card title="{$category[name]}_{$SETTING[webname]}">
	<p><a href="{WAP_URL}">首页</a> &gt; <!--{loop $pos $cat}--><a href="{WAP_URL}?action=category&amp;catid={$cat[catid]}">{$cat[name]}</a> &gt; <!--{/loop}--></p>
	<p>
	<!--{if $childids}-->
		<!--{loop $childids $catid $c}-->
		<p>【<a href="{WAP_URL}?action=category&amp;catid={$catid}">{$c[name]}</a>】</p>
		<!--{content modelid="$modelids" catid="$catid" weight="$list_weight," orderby="`published` DESC" size="$pagesize" page="$page"}-->
		<!--{if $r[modelid] == 2}-->[图]<!--{/if}--><a href="{WAP_URL}?action=show&amp;contentid={$r[contentid]}">{$r[title]}</a><br />
		<!--{/content}-->
		<!--{/loop}-->
	<!--{else}-->
		<!--{content modelid="$modelids" catid="$catid" weight="$list_weight," orderby="`published` DESC" size="$pagesize" page="$page"}-->
		<!--{if $r[modelid] == 2}-->[图]<!--{/if}--><a href="{WAP_URL}?action=show&amp;contentid={$r[contentid]}">{$r[title]}</a><br />
		<!--{/content}-->
	<!--{/if}-->
    </p>
    
	<!--{if !$childids}--><p><center><!--{str_replace('&','&amp;', strip_tags(pages($total, $page, $pagesize, 2, WAP_URL.'?action=category&catid='.$catid), '<a>'))}--></center></p><!--{/if}-->
	
	<!--{template 'wap/footer.html'}-->
</card>
</wml>