<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$CONFIG[charset]}" />
<meta name="keywords" content="{$tags}" />
<meta name="description" content="{$description}" />
<meta name="author" content="{$SYSTEM[sitename]}" />
<meta name="Copyright" content="{$SYSTEM[sitename]}版权所有" />
<title>{$title}_{$SYSTEM[sitename]}</title>
<link href="{IMG_URL}templates/{TEMPLATE}/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<!--[if IE 6]> 
	<link href="{IMG_URL}templates/{TEMPLATE}/css/ie6.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<![endif]-->
<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.cookie.js"></script>
<script type="text/javascript">
var contentid = {$contentid};
</script>
</head>
<body>
<!-- ******************* start box    *********************** -->
<!--{template 'system/header.html'}-->
<!-- *******************  end box   *********************** -->
<div class="hr-h10"></div>

<!-- *******************  start box   *********************** -->
<div class="column ad-area-1">
	<div class="col-l-main"><!--#include virtual="{ROOT}section/30.html"--><!--内容页顶部banner1 --></div>
	<div class="col-r-extra"><!--#include virtual="{ROOT}section/31.html"--><!--内容页顶部banner2 --></div>
</div>
<!-- *******************  end box   *********************** -->
<div class="hr-h10"></div>
<!-- *******************  start box   *********************** -->
<div class="column" style="height: 22px; overflow: hidden; zoom: 1;">
	<div class="mode-position f-l">
		<span>
			<a href="{WWW_URL}">首页</a>
			{loop $pos $cat}
			<a href="{$cat[url]}">{$cat[name]}</a>
			{/loop}
		</span>
		投票
	</div>
	<div class="f-r">
	   <form name="search" id="search" method="GET" action="{APP_URL}{url('search/index/search')}">
	    <input type="hidden" name="app" value="search"/>
	    <input type="hidden" name="controller" value="index"/>
	    <input type="hidden" name="action" value="search"/>
		<input type="hidden" name="type" value="all"/>
	   	<p class="mode-sear"><input type="input" onfocus="this.value=(this.value=='全文检索')?'':this.value" onblur="this.value=(this.value=='')?'全文检索':this.value" name="wd" value="全文检索" class="sear-box" /> <input type="submit" value="检索" class="sear-btn f-r" title="去搜索" /> </p>
    </form>
	</div>
</div>
<!-- *******************  end box   *********************** -->
<div class="hr-h6"></div>
<!-- *******************  start box   *********************** -->
<div class="column">
	<div class="col-l-main w-650">
		<div class="cont-wrap-top"></div>
		<!-- *******************  start 内容区   *********************** -->
		<div class="content-wrap bor-9fc padd-20 padd-b-0">
			<h1 style="margin-bottom: 0;">{$title}</h1>
			
			<div class="arti-atttibute">
				<span>{date('Y-m-d H:i',$starttime)}</span>
			<!--{if $endtime}-->截止时间：<span>{date('Y-m-d H:i',$endtime)}</span><!--{/if}-->
			</div>

            <!--{if $description}-->
			<p class="cont-summary fs-small" id="ctrlfssummary">
				{$description}
			</p>
            <!--{/if}-->
			
			<div class="cont-detail fs-big" id="ctrlfscont">
				<form id="vote_form" name="vote_form" method="POST" action="{APP_URL}?app=vote&controller=vote&action=vote">
				<input name="contentid" type="hidden" value="{$contentid}"/>
					<ul class="cont-vote-list">
  <!--{if $type=='radio'}-->
      <!--{loop $option $k $v}-->
	  <li><span><input type="{$type}" name="optionid" value="{$v[optionid]}"/></span><label>{$v[name]}</label></li>
      <!--{/loop}-->
  <!--{else}-->
      <!--{loop $option $k $v}-->
	  <li><span><input type="{$type}" name="optionid[]" value="{$v[optionid]}"/></span><label>{$v[name]}</label></li>
      <!--{/loop}-->
  <!--{/if}-->
  	  <li class="vote-btn-area"><input type="submit" name="" value="投票" class="post-btn fs-12" /><a href="{APP_URL}?app=vote&controller=vote&action=result&contentid={$contentid}" class="fs-12 cor-06c mar-l-10">查看结果</a></li>
					</ul>
				</form>
			</div>
			<div class="hr-h10"></div>
			<div class="arti-rel">
				<p class="tags-wrap"><strong class="fs-14">其他投票</strong></p>
				<div class="mode-txtlink fs-14 cor-06c">
					<ul>
					<!--{content modelid="8" orderby="published desc" weight="60" status="6" size="6"}-->
						<li><a href="{$r[url]}" >{$r[title]}</a> <em class="fs-12 cor-666">{date('Y-m-d', $r[published])}</em></li>
					<!--{/content}-->
					</ul>
				</div>
			</div>					
		</div>
		<!-- *******************  end 内容区   *********************** -->
		<div class="hr-h10"></div>
		<!--{if $allowcomment}-->
		<!-- *******************  start 评论   *********************** -->
		 <!--{template 'article/comment.html'}-->
			<!-- *******************  end 评论   *********************** -->
		<!--{/if}-->
	
	</div>
	<!-- *******************  start 右侧   *********************** -->
	 <!--{template 'system/right.html'}-->
	<!-- *******************  end 右侧   *********************** -->
</div>
<!-- *******************  end box   *********************** -->
<div class="hr-h10"></div>
<!--{template 'system/footer.html'}-->
<script type="text/javascript">
$.getJSON(APP_URL+'?app=system&controller=content&action=stat&jsoncallback=?&contentid='+contentid, function(data){
});
$('#vote_form').submit(function(){
	var checkeds = $('#vote_form input:checked').length;
	if(checkeds == 0){
		alert('请选择投票选项');
		return false;
	}
	<!--{if $type == 'checkbox'}-->
	if(checkeds > {$maxoptions}){
		alert('最多允许选{$maxoptions}项');
		return false;
	}
	<!--{/if}-->
});
</script>
<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/tabs.js"></script>
</body>
</html>