 .mode-head,.video-hot,.b-hr,.m-thumbTitleDescribe li,.header-top,.m-thumbList-img140 li,
 .person-clear ul,.hot-subject-wrap ul li,.ie6,.gall-comment-wrap,.mode-imgtxt,.gallery-head,
 .person-wrap,.data-head,.eventJoin .ejCont ul{ overflow: hidden;zoom: 1;}
 .m-thumbList-img140 li{ display: inline;  }
 .re-btn{ margin-top: 0; }
 .mode-flash-1{margin-left: 5px;}
 .mode-flash-1 .thumb{ width: 267px; overflow: hidden; zoom: 1;}
 .interviewGroup ul li{ display: inline;}
 .flashWrap{ background-repeat: no-repeat;}
 
.titleCol1 h2{margin-left:56px;}
.titleCol1 blockquote{top:22px;}
.guestList li {width:45%;}
.interactionInfo{zoom:1;}

 a.btn span{ height: 23px; line-height: 23px; }

/*
 * page01
 */
.interviewGroup{width:700px; overflow:hidden;zoom:1;}
.interviewGroup ul li{width:210px;}
.honourCommon{ width:236px;}
.honourCommon h2{ line-height:26px;}
.honourCommon ul li{width:64px;}
.honourCommon .person li{width:218px;}



/*
 * page02
 */
.titleCol1 h2{margin-left:56px;}
.titleCol1 blockquote{top:22px;}
.guestList li {width:45%;}
.interactionInfo{zoom:1;}


/*
 * page03
 */
.eventLeft{margin-left:25px;}
.eventJoin .ejCont ul{width:270px;}
.eventJoin .ejCont ul li{clear:both;}

