@charset "utf-8";

/* CSS Document */
.conM a,.conR a {
	text-decoration: none;
	color: #d60921
}

.clear {
	clear: both
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */
#fixed,#wbCon,#top,footer {
	width: 966px;
	margin: 0 auto;
}

.fr {
	float: right
}

.font18 {
	font: normal 18px/normal "微软雅黑", "黑体", "宋体";
	_font: bold 18px/normal "宋体";
	_line-height: 1.6em
}

.no {
	color: #eb0853;
	padding: 10px;
	height: 22px;
	_padding: 8px
}

.ddd {
	color: #ddd
}

.aaa {
	color: #aaa
}

#wbCon {
	margin-top: -15px;
	_margin-top: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #FFF;
	border: 1px solid #dbdbdb;
	padding: 1px;
	overflow: hidden
}

.conL {
	background: #f1f9ff;
	float: left;
	overflow: hidden;
	padding: 6px 10px;
	width: 117px;
}

.conM {
	float: left;
	width: 545px;
	margin: 0 18px;
	overflow: hidden
}

.conR {
	background: #f3f3f3;
	float: right;
	overflow: hidden;
	padding: 6px 10px;
	width: 220px;
}

.user {
	text-align: center;width: 100px;text-align: center;float: right;
	background: url("/huoshow/img/weibo/sprit.gif") no-repeat scroll center -214px transparent;
}

.conL,.conM,.conR {
	height: auto
}

.firText,.conR h3 {
	margin: 10px 0
}

.firText {
	display: block
}

.userPhoto span {
	margin: 0 auto
}

.userMenu {
	margin: 12px 0;
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat 0 -6px;
}

.userMenu li {
	padding-left: 20px;
	line-height: 18px;
	_line-height: 19px;
}

.userMenu li a {
	color: #336699;
	font-size: 14px
}

.noIcon {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat left -355px;
	position: relative;
	display: block;
	padding-left: 1px;
	_display: inherit;
}

.noIcon strong {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat right -398px;
	display: block;
	_display: inherit;
	text-align: center;
}

.wbNo li span {
	display: block;
	margin-top: 12px;
	padding-left: 20px;
	height: 20px;
	line-height: 20px;
	_margin-top: 20px
}

.ic1 {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat left -95px;
}

.ic2 {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat left -118px;
}

.ic3 {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat left -146px;
}

.wbNo li {
	float: left;
	margin: 8px 2px;
}

.clFrame li {
	float: left;
	width: 56px;
	margin: 0 8px;
	text-align: center;
	height: 110px;
}

.clFrame li .uname {
	padding: 0;
	display:block;
	height:16px;
	overflow:hidden;
	margin-top:5px;
	color:#000;
}

.clFrame li p a {
	font-size: 12px
}

.jsadd {
	color: #d60921;
	padding: 1px;
	border: 1px solid transparent;
	margin-top: 4px;
	_border: 1px solid #F3F3F3;
	display: inline-block
}

.jsadd:hover {
	background: #fff;
	padding: 1px;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.uname {
	color: #000
}

.wbNo,.wbfans,.wbInter {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc
}

.user_avata {
	float: left;
	padding: 2px;
}

.userBar {
	background: url(/huoshow/img/weibo/bar.jpg) no-repeat left top;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	padding-left: 16px;
	color: #ccc;
	font-weight: normal
}

.userBar .selectedFont {
	font-weight: bold
}

.userBar2 {
	width: 545px;
	border-bottom: 2px solid #ddd;
	height: 24px;
	line-height: 24px;
	margin: 10px 0 6px 0;
	display: block
}

.t_msg,.userShortInfo {
	line-height: 1.4em
}

.wbItem {
	padding: 10px 0;
	border-bottom: 1px dashed #bbb
}

.wbItem:hover {
	background: #fefdf4
}

.stwi{
	font-size: 12px;
	border-left: 1px solid #CCC;
	background: #F5F5F5;
	margin: 10px 0 10px 40px;
	padding: 6px 10px;
}

.t_img {
	margin: 6px 0
}

.t_img img {
	width: 90px
}

.suavt {
	float: left;
	margin-right: 8px;
}

.twice_con {
	line-height: 1.6em
}

.t_cont strong a {
	color: #d60921
}

footer {
	font-size: 12px;
	text-align: center;
	color: #ccc;
	margin-top: 16px;
	line-height: 1.6em;
}

footer a {
	color: #666
}

.itemAtt {
	padding: 12px 0;
	border-bottom: 1px dashed #ddd;
}

.attL {
	line-height: 1.2em;
	width: 280px;
	float: left
}

.attL .font14 {
	color: #0078B6
}

.attL img {
	float: left;
	margin-right: 12px;
	display: block
}

.gro {
	float: left;
	margin-left: 50px
}

.gro select {
	border: 1px solid #ccc
}

.attR {
	float: right;
	text-align: center;
	width: 60px;
	background: url("/huoshow/img/weibo/sprit.gif") no-repeat scroll 50% -456px transparent;
	padding-top: 20px;
}

.attR2 {
	float: right;
	text-align: center;
	width: 60px;
}

.aBlock {
	display: block
}

.attR_closed {
	float: right;
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat left -613px;
	padding-left: 18px;
	width: 42px;
	height: 28px;
	line-height: 28px;
	margin-top: 10px;
	position: relative;
}

.attR_closed:hover {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat left -655px;
}

.listPri,.listPri a {
	font-size: 14px
}

.search {
	float: right;
	border: 1px solid #D2D5D8;
	height: 22px;
	width: 173px;
}

.search .input_default {
	color: #B8B7B7;
	height: 22px;
	line-height: 22px;
	padding-left: 2px;
	float: left
}

.search .btn {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat right -539px;
	width: 20px;
	height: 22px;
	float: right;
}

.attFirst {
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc
}

.orderGroup a {
	color: #0078B6;
	padding: 4px;
	font-size: 12px
}

.divGroup {
	padding: 4px 0;
}

.orderGroup {
	background-color: #f4f4f4;
	padding:2px 4px;
	height: 18px
}

.selected {
	background-color: #ddd;
}

.divGwidth {
	line-height:2em;
	padding: 4px
}

.divGwidth a {
	color: #666;
	margin-right: 8px;
	padding: 4px;
}

.divGwidth a:hover,
.orderGroup a:hover {
	background-color: #ddd;
	padding: 4px
}

.divGroup .addAtt a{
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat left -216px;
	float: right;
	height: 26px;
	width: 56px;
	padding-left: 25px;
	line-height: 26px;
	font-size: 12px;
}

.divGroup .addAtt a:hover {
	background-color: transparent
}

#fans .addAtt {
	margin-top: 0;
	padding-left: 20px;
	width: 62px
}

.W_pages {
	float: right;
}

.W_pages a {
	font-size: 12px;
	background: #fff;
	padding: 2px 4px;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-top: 10px;
}

.W_pages a:hover {
	background: #eee;
}

.disNone {
	display: none;
	width: 58px;
	border: 1px solid #ddd;
	border-width: 0 1px 1px;
	position: absolute;
	left: 0;
	top: 24px;
	background-color: #fff;
	font-size: 12px;
}

.disNone a {
	padding: 6px 4px;
	display: block;
	line-height: 1;
	color: #aaa;
}

.disNone a:hover {
	color: #aaa;
	text-decoration: underline
}

.attR_closed:hover .disNone, .attR_closed.hover .disNone {
	display: block;
}

.wbInfoDate strong {
	font-weight: normal
}

.addFans {
	width:400px;
}

.addFans .closeSpan{float:right; right:4px; top:2px; position:absolute; }
.addFansInput {
	border: 1px solid #ccc;
	width: 323px;
	height: 26px;
	float: left
}

.addFansInput input {
	width: 300px;
	float: left;
	height: 22px;
	position: absolute;
}

.addFansSea {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat right -497px;
	display: block;
	height: 26px;
	width: 23px;
	float: right
}

.addButt {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat left -688px;
	color: #F00;
	width: 57px;
	height: 25px;
	margin-left: 10px;
	line-height: 26px
}

.showIt {
	padding: 8px;
	min-height: 80px;
	max-height: 250px;
	_height: 210px;
	overflow: auto;
}

.showIt li {
	color: #666;
	float: left;
	font-size: 12px;
	height: 60px;
	overflow: hidden;
	padding: 8px;
	width: 150px;
}

.showIt li label{
	display:block;
	width:100%;
	height:100%;
	overflow: hidden;
	background:#eee;
}

.showIt li label input{
	float: left;
	margin: 5px 0 0 5px;
	_margin: 2px 0 0 3px;
}

.showIt li a{
	display:block;
	margin: 5px 5px 5px 22px;
	overflow: hidden;
	/*zoom: 1;*/
}

.showIt li a .name { word-wrap: break-word; }

.showIt img {
	float: left;
	margin-right: 5px;
}

.group .flbc { margin-right: 18px; }

.addPLeft {
	float: left;
	font-size: 12px;
	line-height: 30px
}

.addPLeft input {
	margin-right: 4px
}

.addPage {
	background-color: #eee;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-align:center;
	cursor: move;
}

.addPage input { padding: 2px 4px; cursor: default; }

.addPage .W_pages {
	margin-top: 0;
	padding: 0;
}

.addSelect {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat right -734px;
	position: absolute;
	left: 6px;
	_left: -52px;
	top: 34px;
	height: 14px;
	width: 14px;
	z-index: 10000
}

.gratarv {
	width: 90px;
	height: 90px;
	float: left
}

.gratarv img {
	width: 90px;
	height: 90px;
}

.graRight {
	float: right;
	width: 445px;
}

.textWb {
	width: 443px;
	height: 60px;
	border: 1px solid #A0A0A4
}

.graRight ul li {
	float: left;
	margin: 8px 4px 0 0
}

.graRight ul li a {
	font-size: 12px;
	color: #A0A0A4;
	display: block;
	height: 20px;
	float: left;
}

.graRight em,.sico {
	width: 20px;
	height: 20px;
	display: block;
	float: left
}

.WbInfoInput { margin-top: 8px; }

.smi {
	background: url(/huoshow/img/weibo/icon.png) no-repeat left top;
}

.pct {
	background: url(/huoshow/img/weibo/icon.png) no-repeat -60px top;
}

.ved {
	background: url(/huoshow/img/weibo/icon.png) no-repeat -110px top;
}

.mis {
	background: url(/huoshow/img/weibo/icon.png) no-repeat -166px top;
}

.fabu {
	border: 1px solid #ccc;
	width: 48px;
	height: 20px;
	margin: 6px 0 0 10px;
	float: right
}

.inputBtn {
	border: 1px solid #ccc;
	width: 48px;
	height: 20px;
	line-height: 18px;
	margin: 0 0 0 10px;
}

.fabu:hover, .inputBtn:hover {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #D60921
}

.ico_face2 {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat left -758px;
	margin-right: 6px
}

.ico_at {
	background: url(/huoshow/img/weibo/sprit.gif) no-repeat -26px -758px;
}

#wbLiveShow .wbItem,#wbLiveShow .t_body {
	margin: 10px 0;
	border-bottom: 1px dashed #aaa;
	padding: 10px 0
}

#wbLiveShow .graRight {
	float: left;
	width: 482px;
}

.conLiveShow {
	width: 482px;
	padding: 10px
}

#wbLiveShow .textWb {
	width: 482px;
}

#wbLiveShow .t_body:hover {
	background: #fefdf4
}

.close {
	float: right
}

.frameIn {
	padding: 6px 0;
}

.frameIn textarea {
	width: 100%;
	_width: 454px;
	border: 1px solid #ddd;
}

.wb_info .frameIn textarea {
	_width: 515px;
}

.txtShadow {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: alpha(opacity = 0);
	opacity: 0;
	word-wrap: break-word;
	word-break: break-all;
}

.sendList {
	float: left;
	margin-right: 6px
}

.sendList a {
	text-indent: -30000px
}

.inputBtn {
	float: right
}

.countTxt {
	float: right
}

.more {
	padding: 6px 0;
	border-bottom: 1px dashed #ccc
}

.nobor {
	margin-top: 6px
}

.msgCnt {
	position: relative;
	padding: 0 6em 0 4px;
	line-height: 1.4em;
	border-bottom: 1px dashed #ddd;
	zoom: 1;
	padding-bottom: 4px
}

.nobor .msgCnt {
	border-bottom: none
}

.relayCite {
	position: absolute;
	right: 2.4em;
	bottom: 0;
	display: block
}

.replyCite {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block
}

#mes .t_cont {
	font-size: 12px
}

.absDiv {
	clear: both;
	display: inline-block
}

.repeat {
	float: right;
	width: 80%;
	background: #eee;
	border: 1px solid #ddd;
	margin: 10px 10px 10px 18%;
	padding: 8px 4px 8px 5%
}

.repeat textarea {
	width: 96%;
	margin-right: 4%
}

.action {
	margin: 4px
}

.repeat .jsadd {
	margin-top: 0;
	margin: 0;
	padding: 0
}

.comment-form-body{
	border:1px solid #ccc;
	background:#f5f5f5;
	padding:8px;
	border-radius:3px;
}

.stwi_reply .fr {
	font-size: 11px;
	font-weight: normal;
}

.stwi_reply .jsadd {
	margin: 0;
	padding: 0
}

.conMidAtt {
	float: left;
	width: 545px;
	overflow: hidden;
}

.hui-dialog {
	_width: 360px;
	_height: 132px;
	background: #fff;
	border: 5px solid #ccc;
	_border: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.hui-dialog h3 {
	cursor: move;
}

.hui-dialog .blr {
	margin: 0 !important;
}

.hui-dialog .c {
	padding: 0 10px 10px;
}

.hui-dialog .layer-message {
	width: 400px;
}

.hui-dialog .fsb {
	background: none repeat scroll 0 0 #F2F2F2;
	border-top: 1px solid #ccc;
}

.wb-mine-nums{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
	overflow:hidden;
	height:110px;
}

.wb-mine-nums h3{
	font-size:14px;
}

.wb-mine-nums li{
	padding-left:12px;
	float:left;
}

.wb-mine-nums a{
	display:block;
}

.wb-mine-nums a span{
	display:block;
}

.wb-mine-nums .num{
	text-align:center;
	font-size:18px;
	padding:8px 0;
	background:#fff;
	border:1px solid #ccc;
	border-radius:3px;
}

.wb-mine-nums .text{
	padding-top:5px;
}

.wb-mine-nums .text span{
	padding-left:20px;
}

.wb-item{
	padding:10px 0;
	border-bottom:1px dashed #ccc;
	zoom: 1;
	position: relative;
}

.wb-user-pic{
	float:left;
	padding-right:5px;
}

.wb-item-form{
	clear:both;
	position: relative;
	overflow: hidden;
	zoom: 1;
}

.sendbox {
	height: 35px;
	padding: 5px 10px 0 0;
}

.sendbox .uploadbox {
	float: left;
}

.sendbox .uploadbox a {
	float: left;
	display: inline;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	margin: 0 10px 0 0;
	padding-left: 23px;
	background: url(/huoshow/img/weibo/media.gif) no-repeat -310px 50%;
}

.sendbox .uploadbox .image a {
	background-position: 0 50%;
}

.sendbox .uploadbox .video a {
	background-position: -230px 50%;
}

.sendbox .fright .error {
	color: #da0000;
}

.more-messages {
	width:100%;
	padding:5px 0;
	text-align:center;
	background-color:#f3f3f3;
	border:1px solid #ddd;
	display:block;
	margin-top:8px;
	font-size:14px;
}

.more-messages:hover {
	background-color:#eee;
	border:1px solid #ccc;
	color:#000;
}

.upload-box {
	border:1px solid #ccc;
}

.upload-box .close {
	margin:5px 5px 0 0;
}

.upload-box .tab {
	border-bottom:1px solid #ccc;
	background:#eee;
}

.upload-box .tab li{
	float:left;
	width:80px;
	text-align:center;
	border-right:1px solid #ccc;
}

.upload-box .tab li span{
	padding:5px 0;
	display:block;
}

.upload-box .tab-body{
	padding:10px;
}

.upload-box .tab-selected{
	background:#fff;
	margin-bottom:-1px;
}

.upload-box{
	display:none;
	width:460px;
	position:absolute;
	z-index: 1;
	background:#fff;
	box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.2);
}

.upload-tool{
	text-align:center;
	padding:15px;
}

.upload-button{
	padding:5px 15px;
	border:1px solid #ccc;
	background:#eee;
	overflow:hidden;
}

.upload-button object{
	margin-left: 310px\9;
}

.uploading .upload-button object{
	width:1px;
	height:1px;
}

.uploading-tip{
	display:none;
}

.uploading .uploading-tip{
	display:inline-block!important;
}

.music-input{
	width:310px;
	padding:2px 5px;
}

.music-input-ok{
	padding:1px 10px;
}

.pic-preview-item{
	float:left;
	width:80px;
	padding:2px;
	border:1px solid #ccc;
	margin-right:5px;
	text-align:center;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.attachment{
	clear:both;
}

.attachment-preview{
	padding:8px 0;
}

.attachment-preview .img_wrapper {
	display: inline-block;
	margin-right: 10px;
	wfloat: left;
	min-width: 60px;
	max-width: 80px;
	background-color: #eee;
	vertical-align: top;
	cursor:url(/huoshow/img/weibo/cur_zoom.cur), pointer;
	_width: 60px;
	zoom: 1;
	*display: inline;
	position: relative;
}

.attachment-preview .img_wrapper img{
	display: block;
	margin: 0 auto;
	width: auto;
	height: auto;
	max-height: 80px;
	max-width: 80px;
	border:1px solid #ccc;
	padding: 2px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	cursor:url(/huoshow/img/weibo/cur_zoom.cur), pointer;
}

.attachment-view{
	background: #eee;
	display:none;
	zoom: 1;
}

.view-open .attachment-view{
	display: block!important;
}

.attachment-view-body{
	text-align: center;
	padding: 5px 10px 25px;
}

.attachment-view-body img{
	width: auto;
	max-width: 100%;
	vertical-align: middle;
}

.view-open .attachment-preview{
	display:none!important;
}

.attachment-view-tool {
	padding:5px;
}

.attachment-view-tool a {
	display: block;
	background: url(/huoshow/img/weibo/icon_close.png) no-repeat right top;
}

/*=live
------------------------------------------------------------------------------*/
#owner_info div.xunzhang { margin-bottom: -5px; }

#owner_info div.xunzhang span { font-weight: bold; }

#owner_info div.xunzhang img { margin-left: 3px; }

/*=bug
------------------------------------------------------------------------------*/
/* 修正出现水平滚动条和垂直空白问题 */
#notice_box iframe { height: auto !important; width: 970px !important; z-index: -1; }

.footer {width: 970px !important; padding: 5px 0 0; }

/*无微博内容提示图片样式*/
.more-button > img { display: block; width: 100%; height: auto; }

/* 修正 IE6 SELECT 遮住 DIV 问题 */
div.ie6select {
	_border: 5px solid #ccc;
	background-color: #fff;
}

iframe.ie6select {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}