<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="home.php">$_G[setting][navs][4][navname]</a> <em>&rsaquo;</em> 
		<a href="home.php?mod=space&do=live">直播管理</a> <em>&rsaquo;</em> 	
	</div>
</div>

<style id="diy_style" type="text/css"></style>
<script src="static/js/calendar.js" type="text/javascript"></script>
<div class="wp">
	
</div>
<link rel="stylesheet" type="text/css" href="/static2/gifts.css" />

<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		
		<div class="bm bw0">			
			<div id="congzhititle" style="background:url('/static2/images/gifts/zhibo_1.gif');">
		       <ul >
		       	<li><a class="congzhititleliahover2" href="/home.php?mod=space&do=live">直播管理</a></li>
		       </ul>
		    </div>
			<div id="congzhikuang">
		        <div class="jju"></div>
		        <div style="height:30px; line-height:30px; margin:05px 10px 5px 10px;">
		        	<span style="float:left;">火秀经纪人 - 收益明细</span>
		    		<span style="float:right;"><a style="color:red;" href="/home.php?mod=space&do=live"><<返回直播管理</a></span>
		    	</div>
		        <form name="form" action="/home.php?mod=space&do=live&act=earnings" method="post">
		        <div style="margin-left:10px; padding-left:10px; line-height:50px; border:1px solid #cccccc; background:#F0F0F0; width:755px; height:50px;">
		        	艺人:<input type="text" name="username" value="{$username}" />&nbsp;&nbsp;
		        	直播时段:<input type="text"  size=15 name="duidate1" onclick="showcalendar(event, this)" 
					value="<!--{if $startTime }-->{date('Y-m-d',$startTime)}<!--{/if}-->"/> 到 
		        	<input type="text" name="duidate2" size=15 onclick="showcalendar(event, this)"
					value="<!--{if $startTime1 }-->{date('Y-m-d',$startTime1)}<!--{/if}-->"/>&nbsp;&nbsp;
		        	排列:<select name="income" >
			        	<option value="1">收益由高到低排列</option>
			        	<option value="2">收益由低到高排列</option>
			        	<option value="6">时间由高到低排列</option>
			        	<option value="7">时间由低到高排列</option>
			        	<option value="8">人数由高到低排列</option>
			        	<option value="9">人数由低到高排列</option>
			        </select>&nbsp;&nbsp;
			        <input type="submit" name="submit" value="搜索" />
		        </div>  
		        </form>
		        <div style="height:10px;"></div>
		        <table style="margin-left:10px;" width="765px" border="1" cellspacing="0" cellpadding="0">
		        	<tr style="background:#C6C6C6; text-align:center; color:#000000; height:30px; line-height:28px;">
		        		<td width="180">直播时段</td>
		        		<td width="90">艺人</td>
		        		<td width="65">直播时长</td>
		        		<td width="55">最高人数</td>
		        		<td width="100">本次收益</td>
		        	</tr> 
		        	<!--{loop $earnings $k $v}--> 
		        	<tr style="text-align:center; height:30px; line-height:30px; font-size:12px;">
		        		<td>{$v['start_time']} - {$v['end_time']}</td>
		        		<td>
		        			<!--{if $v[nickname]}-->
			           			<a target="_blank" href="/home.php?mod=space&uid={$v['uid']}" >{$v['nickname']}</a>
			           		<!--{else}-->
			           			<a target="_blank" href="/home.php?mod=space&uid={$v['uid']}" >{$v['username']}</a>
			           		<!--{/if}-->
		        		</td>
		        		<td>{echo gmstrftime('%H:%M:%S',$v['totaltime'])}</td>
		        		<td>{$v['max_members']}</td>
		        		<td>{$v['income']}</td>
		        	</tr>
		        	<!--{/loop}-->
		        </table>
		        <div style="margin:5px 0px 5px 15px; width:725px; padding-left:15px; padding-right:15px;">
		        <span style=" font-size:14px; color:#990000; font-weight:bold">收益统计:{$mon['inc']}&nbsp;火币</span>
			    <!--{if $multi}-->$multi<!--{/if}-->		
			    </div>
		    </div>
		</div>
	</div>

	<div class="appl">
		<!--{subtemplate common/userabout}-->
	</div>
</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
