<div class="blr" style="width:430px;background:url(/static2/images/gifts/liwu05.jpg)">
<h3 id="layer_reginfo_t" class="flb">
	<em id="returnmessage4">确认出售 ?</em>
	<span><a href="javascript:;" class="flbc" onclick="hideWindow('register')" title="关闭">关闭</a></span>
</h3>
<div id="tangchuang2s">
	<div class="quedmc"><img width="280" height="50" src="/static2/images/gifts/liwu2.png"></div>
		<p class="quedwz">总计收入：<span class="text8">$sump</span></p>
		<p class="qiedingbg">
    	<a href="javascript:;" id="submitcom" onclick="allsell();" ><img width="86" height="24" alt="确定"  src="/static2/images/gifts/liwu4.png"></a>
    	<a href="javascript:;" onclick="hideWindow('register')"><img width="86" height="24" alt="取消" src="/static2/images/gifts/liwu5.png"></a>
    	</p>
    </div>
</div>
<script>
(function($){
	window.allsell = function(){
		$("#submitcom").attr({"onclick":""});
		var url = '/home.php?mod=space&do=giftcoupons&act=allsell&type={$type}&sumprice={$sump}&times=$time';
		$.post(url,function(data) {
			if(data=='1'){
				alert('出售成功。');
				window.location.reload();
				return;
			}else{
				alert('出售失败');
			}
		})
	}
})(jQuery);
</script>