<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="home.php">$_G[setting][navs][4][navname]</a> <em>&rsaquo;</em> 
		<a href="home.php?mod=space&do=withdraw">兑现</a> <em>&rsaquo;</em> 
		<a href="/home.php?mod=space&do=withdraw&act=record&opt=info&id={$info['id']}">兑现详情</a> <em>&rsaquo;</em> 		
	</div>
</div>

<style id="diy_style" type="text/css"></style>
<div class="wp">
	
</div>
<link rel="stylesheet" type="text/css" href="/static2/gifts.css" />

<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		
		<div class="bm bw0">			
			
			<div id="congzhititle" style="background:url('/static2/images/gifts/zhifu_08.gif');">
		       <ul >
		            <li><a  href="/home.php?mod=space&do=withdraw">兑现</a></li>
		             <li><a  href="/home.php?mod=space&do=withdraw&act=record">兑现记录</a></li>
		            <li><a class="congzhititleliahover2" href="/home.php?mod=space&do=withdraw&act=record&opt=info&id={$info['id']}">兑现详情</a></li>
		       </ul>
		    </div>
			<div id="congzhikuang">
		        <div class="jju"></div>
		           	
		       	
		       		<div id="congzhinr3">
		       			<div style="width:752px;">
		       			&nbsp;&nbsp;<a href="/home.php?mod=space&do=withdraw&act=record"  style="color:brown;font-weight: bold;"><<返回兑换列表</a>
		       			<table width="100%" border="0" cellspacing="0" cellpadding="0">
		       			
		       			<tr style="height:30px;">
		       			<td width="120">&nbsp;&nbsp;流水号：
		       			</td>
		       			<td>{$info['orderno']}
		       			</td>
		       			</tr>
		       			<tr style="height:30px;">
		       			<td width="120">&nbsp;&nbsp;创建时间：
		       			</td>
		       			<td>{$info['createtime']}
		       			</td>
		       			</tr>
		       			<tr style="height:30px;">
		       			<td width="120">&nbsp;&nbsp;使用秀币：
		       			</td>
		       			<td>{$info['huoshowcoin']}
		       			</td>
		       			</tr>
		       			<tr style="height:30px;">
		       			<td width="120">&nbsp;&nbsp;兑换金额：
		       			</td>
		       			<td>{$info['rmb']}
		       			</td>
		       			</tr>
		       			<tr style="height:30px;">
		       			<td width="120">&nbsp;&nbsp;开户人姓名：
		       			</td>
		       			<td>{$info['account_name']}
		       			</td>
		       			</tr>
		       			<tr style="height:30px;">
		       			<td width="120">&nbsp;&nbsp;银行开户城市：
		       			</td>
		       			<td>{$info['areaname']['level1']['name']} {$info['areaname']['level2']['name']}
		       			</td>
		       			</tr>
		       			<tr style="height:30px;">
		       			<td width="120">&nbsp;&nbsp;银行名称：
		       			</td>
		       			<td>{$info['bankname']}
		       			</td>
		       			</tr>
		       			
		       			<tr style="height:30px;">
		       			<td width="120">&nbsp;&nbsp;银行卡号：
		       			</td>
		       			<td>{$info['bankno']}
		       			</td>
		       			</tr>
		       			<tr style="height:30px;">
		       			<td width="120">&nbsp;&nbsp;提现状态：
		       			</td>
		       			<td>{$info['status_name']}
		       			</td>
		       			</tr>
		       			
		       			
		       			</table>
		       			</div>
		       		</div>
		       		<div class="clear"></div>
		       		<!--{if $tousu}-->
		       		<div id="congzhinr3">
		       			<div style="width:752px;">
		       			<h1 style="color:#000;">&nbsp;&nbsp;投诉记录</h1>
		       			<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #eeeeee;">
		       			<tr style="height:30px;background: #eeeeee;border-bottom: solid 1px #eeeeee;">
		       			<td>&nbsp;&nbsp;操作人</td>		       			
		       			<td width="350">详情</td>
		       			<td>状态</td>
		       			<td>时间</td>
		       			</tr>
		       			<!--{loop $tousu $k $value}-->
		       			<!--{if $value['type']==1}-->
		       			<tr style="background:#f9f9f9;height:30px;border-bottom: solid 1px #eeeeee;">
		       			<!--{else}-->
		       			<tr style="height:30px;border-bottom: solid 1px #eeeeee;">
		       			<!--{/if}-->
		       			<td>&nbsp;&nbsp;{$value['username']} ({$value['typename']})</td>		       			
		       			<td width="350"><span style="color:#000">原因:</span>{$value['info']}
		       			<!--{if $value['backinfo']}-->
		       			<br><span style="color:#000">补充:</span>{$value['backinfo']}
		       			<!--{/if}-->
		       			</td>
		       			<td>
		       			<!--{if $value['bef_status'] == $value['after_status']}-->
		       			{$value['bef_status_name']}
		       			<!--{else}-->
		       			由 {$value['bef_status_name']} 变更为  {$value['after_status_name']}
		       			<!--{/if}-->
		       			</td>
		       			<td>{$value['createtime']}</td>		       			
		       			</tr>
		       			<!--{/loop}-->
		       			</table>
		       			</div>
		       		</div>
		       		<div class="clear"></div>
		       		<!--{/if}-->
		       		<!--{if $errorInfo}-->
		       		<div id="congzhinr3">
		       			<div style="width:752px;line-height:30px;">
		       			
		       			<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #eeeeee;">
		       			<tr style="height:30px;background: #FFE8E8;">
		       			<td><h1 style="color:red;">&nbsp;&nbsp;错误详情：</h1></td></tr>
		       			<tr style="height:30px;background: #FFE8E8;">
		       			<td>&nbsp;&nbsp;{$errorInfo[0]['info']}</td>	       			
		       			</tr>
		       			<tr style="height:30px;background: #FFE8E8;">
		       			<td><h1 style="color:red;">&nbsp;&nbsp;解决方案：</h1></td></tr>
		       			<tr style="height:30px;background: #FFE8E8;">
		       			<td>&nbsp;&nbsp;{$errorInfo[0]['backinfo']}</td>	       			
		       			</tr>
		       			
		       			</table>
		       			</div>
		       		</div>
		       		<!--{/if}-->
		       <div class="clear"></div>
		    </div>


		</div>
		
	</div>

	<div class="appl">
		<!--{subtemplate common/userabout}-->


	</div>
</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
<script  type="text/javascript">  
(function($){
	window.deleteBankAcount = function(href)
	{
		if (!confirm("确认删除？"))
		{
		    return false;
		}
		$.get(href,function(data){
			if(data=='1'){
				alert('删除成功');
				window.location.reload();
			}else{
				alert('删除失败');
			}
		})
		return false;
	}
	window.duixian = function(){
		var withdraw = $("#withdraw").val();
		var account  = $('input[name="id"]:[checked]').val();
		if(withdraw==undefined || withdraw==0){
			alert('请选择兑换金额');
			$("#withdraw").focus();
			return false;
		}
		if(account==undefined || account==0){
			alert('请选择银行帐号，如果你还没有银行帐号请添加一个');
			return false;
		}
		if(withdraw>{$userHuoShowCoin}){
			alert('您的余额不足以兑换');
			return false;
		}
		var url = '/home.php?mod=space&do=withdraw&act=duixian';
		$.post(url,{'withdraw':withdraw,'account':account},function(data){
			if(data=='1'){
				alert('提交成功，我们会近快将现金打入您的卡号(尾数为{$value['bankno']})内');
				window.location.reload();
				return;
			}
			if(data=='-1'){
				alert('您的余额不足以兑换');
				window.location.reload();
				return;
			}else{
				alert('失败，系统错误');
				window.location.reload();
				return;
			}
			
		});
	}
})(jQuery);
</script>