<div class="person-data">
	<div style="clear:both;"></div>
	<div>
		<div class="data-head">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<thead><tr><th width="496">标题</th><th width="60">栏目</th><th width="60">点击</th><th width="60">评论</th><th width="130" style="border-right:none;">发布时间</th></tr>
				</thead>
			</table>
		</div>
		<table cellpadding="0" cellspacing="0" class="contr-list" border="0" width="100%"  id="item_list" >
			<thead><tr></tr></thead>
			<tbody id="list_body"></tbody>
		</table>
		<div class="hr-h10"></div>
		<div style="height:3px; border-top: 1px solid #ddd; background-color:#f0f0f0; overflow: hidden; zoom: 1;"></div>
		<div class="hr-h10"></div>
		<table cellspacing="0" cellpadding="0" class="pagination f-r">
		<tbody>
			<tr>
				<td>共有<em class="cor-c00" id="pagetotal">0</em>条记录</em> <input type="text" name="pagesize" id="pagesize" class="pageout" /> </td>
				<td><div class="page  f_r pagination" id="pagination"></div></td>
			</tr>
		</tbody>
		</table>
	<div class="hr-h10"></div>
	</div>
</div>
<script type="text/javascript">
var row_template  ='<tr id="row_{contentid}">';
	row_template +='	<td width="496" class="txt-l"><a href="{url}" target="_blank">{title}</a></td>';
	row_template +='	<td width="60"><a href="{caturl}" target="_blank">{catname}</a></td>';
	row_template +='	<td width="60" class="txt-r">{pv}</td>';
	row_template +='	<td width="60" class="txt-r">{comments}</td>';
	row_template +='	<td width="130">{published}</td>';
	row_template +='</tr>';
</script>