@charset "utf-8";
/* CSS Document */

/* global */
.body_bg { background-color: #fff; background-image:url(../images/star/star_body_bg.jpg); background-repeat: repeat-x;}
ul{list-style:none outside none}
h2{background:url(../images/star/rank.jpg) no-repeat -302px -238px; height:26px; line-height:30px; font:bold 16px "微软雅黑"; color:#FFF; padding-left:30px; padding-top:4px}
.toutiao{font:bold 22px "微软雅黑"; color:#FFF; padding:35px 0 0 8px}
h3 a {color:#FFF;}
h4{font:bold 16px "微软雅黑"; color:#ed0b5b; padding-left:12px}
.font_12{font: 12px "宋体"; line-height:18px}
.font_14{font:14px "微软雅黑"; color:#ed0b5b}
.input, .select{color:#000}
/* footer */
#footer_bg {background-color:#1e1e1e; margin-top:20px;}
#footer {width:960px; height:100px;  margin:0 auto; background-color:#1e1e1e;}
.footer_txt {width:700px; color:#b6b6b6; line-height:16px; padding-top:26px;}
.footer_txt a {color:#b6b6b6; }
.footer_logo {background:url(../images/star/hover_bj.jpg) left 130px; width:90px; height:60px; float:left; margin-right:15px;}
/* nav */
.nav_body {margin:0 auto; width:960px; height:76px;}
.nav_bg {background:url(../images/star/star_logo.jpg) no-repeat; margin: 0 auto; height:75px; position:relative; left:-192px;}
.channel_logo a {width: 200px; height: 72px; display: block; text-indent: -999em; margin: 2px; float: left; position:relative; left:192px;}
.select{width:80px}
#sub_channel { width:740px; height:35px; float:right; display:inline; position:relative; left:191px; z-index:1; }
#sub_channel ul { height:35px; display:inline;  margin-top:38px; float:right;}
#sub_channel ul li { float:left; position:relative}
#sub_channel ul li a {width:94px; height:37px;  color:#FFF; font-size:16px;  background:url(../images/star/ss_bg.jpg) right 719px;text-align:center;display:inline-block; line-height:35px; margin-left:1px;}
#sub_channel ul li a:hover{width:94px; height:37px;color:#ffd524;   font-size:16px; background:url(../images/star/ss_bg.jpg) right 673px; text-align:center; display:inline-block;line-height:35px;}
#sub_channel .dropdawn{display:none; position:absolute; top:-1px; left:0;  z-index:10; width:94px;}
#sub_channel .dropdawn li{height:37px; width:94px; position:relative; }
#sub_channel .menu-title{position:relative}
#sub_channel .menu-title:hover .dropdawn{display:block}
#sub_channel .menu-title.iehover .dropdawn{display:block}
/* search */
.search {width:960px; height:38px; margin:0 auto; line-height:38px; vertical-align:middle; margin-bottom:12px}
.search_text {float:left; margin-left:10px;width:510px;}
.search_text a {color:#1e1e1e;}
.search_input {float:left; margin:8px 0 0 130px; }
.search_dropdown {float:left; margin:8px 0 0 5px; height:20px; }
.search_button {float:left; margin:9px 0 0 5px; background:url(../images/star/bg.jpg) left 666px; width:58px; height:18px;}
.search_button a{width:58px; margin-left:15px; line-height:18px;}

.vote{ width:298px;  border:1px solid #d2d2d2; float:left; height:240px; _height:235px;}
.tp_events_W300_title{background:url(../images/star/ss_bg.jpg) left 360px; width:298px; height:32px; overflow:hidden;}

.Text_color{ line-height:26px;font-weight:bold; color:#000;}




.vote ul{ margin:10px 15px 0 15px; line-height:27px}
.vote input{_height:26px}
.submit_x{ margin:10px 8px 10px 40px;}
.submit_x  input{background: url("../images/star/rank.jpg")no-repeat scroll right -346px transparent;border: 0 none;height: 40px;width: 102px;}


.title_Black{width:100px;font-size:16px; font-family:"微软雅黑","黑体"; color:#414141; padding-left:5px; line-height:28px; float:left;}
.Text_color{ line-height:26px;font-weight:bold; color:#000;}


.p1{width:960px; margin:0 auto;}
.p2{width:960px; margin:0 auto; font:14px "宋体"; color:#414141; line-height:24px}
.ad{width:960px; margin:0 auto; font:14px "宋体"; color:#414141; line-height:24px}
.star_fans{width:960px; margin:0 auto; font:14px "宋体"; color:#414141; line-height:24px}
.star_pic{width:960px; margin:0 auto; font:14px "宋体"; color:#414141; line-height:24px}

.p1_l, .p1_m, .p1_r, .p2_l, .p2_m, .p2_r, .p2_l_r, .p2_l_l{float:left}
.p1_l > div{margin-bottom:8px}
.p1_r > div{margin-bottom:8px}
.p2_l > div{margin-bottom:8px}
.p2_r > div{margin-bottom:8px}


.p2_l{width:702px; margin-right:8px}
.p1_l{width:300px;}
.p2_l_r{  overflow:hidden; _width:400px}
.p1_m{width:392px; font:14px "宋体"; color:#414141; line-height:24px}
.p2_m{width:392px;  }
.p1_r{width:250px;  overflow:hidden;color:#414141; line-height:24px }
.p2_r{width:250px;  overflow:hidden; }

.trend1{background:url(../images/star/rank.jpg) no-repeat -582px -6px}
.trend2{background:url(../images/star/rank.jpg) no-repeat -582px -36px}
.trend3{background:url(../images/star/rank.jpg) no-repeat -582px -52px}

.fan1{width:206px; float:left; margin:8px; border:1px solid #ededed; padding:8px; _width:200px; _padding:5px; _width:208px }
.fan1 dl ul{background:url(../images/star/rank.jpg) no-repeat -584px -74px; padding-left:18px;  float:left}
.fan1 dl ul li{color:#a1a1a1;}
.fan1 dd{float:left; margin-right:10PX; _margin-right:6px}
.fan1_1 dt span{ font-weight:bold; color:#ef0053;}
.fan1 dd span{float:left; }
.pic_word{border:1px solid #d2d2d2; font-size:12px; height:280px;}

.pic_word li{ float:left; text-align:center; width:106px; position:relative; margin:10px 8px; _margin:8px 6px}
.pic_word li span{position:absolute; left:0; top:65px;  width:60px; line-height:22px; color:#ed0b5b; background: rgba(255, 255, 255,  0.8);  /* -moz-opacity:0.5;    opacity: 0.5; */ background:#fff\9; filter: Alpha(Opacity=80)\9;/* \9为仅IE识别的,区分IE与非IE*/  }
.pic_word li img{border:1px solid #d5d5d5; margin-bottom:8px}

.star_rank{font:12px "宋体"; color:#2d2d2d; line-height:22px; border:1px solid #e2e2e2; margin-bottom:8px; height:302px; _height:306px}

.star_rank th, .star_rank caption{text-align:left;}
.star_rank caption{text-align:left; width:100%}
.star_rank table{ background:url(../images/star/rank.jpg) no-repeat 8px 25px; margin-bottom:10px; width:100%; border-collapse: collapse; }

.ad_r, .ad3{border:1px solid #d71061}

.p1_m{border:1px solid #d2d2d2;  margin:0 8px; position:relative; padding-top:64px; height: 838px;}
.hl_bar{
	position:absolute;
	width:406px;
	height:81px;
	background:url(../images/star/bar_w.jpg) no-repeat left top;
	left:-8px;
	top:-8px;
	background-image: url(../images/star/bar_w.jpg);
}
.hl_p1{margin:12px; *margin:24px 12px; _margin:15px 12px}
.h1_p1_text{line-height:20px; margin-bottom:8px; font-size:12px}
.h1_p1_text p span{font:12px "宋体"; color:#414141}
.h1_p1_text p a{ font-weight:normal}
.hl_p1 h4{padding:8px 0}
.p1_m ul{padding:8px}
.p1_m ul li a{padding-left:22px; background:url(../images/star/rank.jpg) no-repeat left -290px}
.h1_p1_text2 p span{color:#ed0b5b}
.p1_r_3{border:1px solid #d2d2d2; height:324px; _height:322px; }
.p1_r_3 dl{background:#ed0b5b;  width:238px; padding:5px}
.p1_r_3 dt{float:left; margin-right:5px}
.p1_r_3 dd{float:left; width:120px; color:#d6d6d6}
.font_12 a{}
.p1_r_3 dd span{color:#ffafd0;  font-weight:bold}
.p1_r_3 ul{ margin:8px 0}
.p1_r_3 ul li span{ padding:0 3px}

.bar_text{ height:30px; margin:3px 4px;}
.bar_text h2{ background:url(../images/star/rank.jpg) no-repeat left -409px; float:left; color:#ed0b5b; width:80px; *top:2px}

.bar_text span{float:right; background:url(../images/star/rank.jpg) no-repeat right -276px; line-height:29px; width:77px; text-align:center; color:#ed0b5b}
.bar_text a{margin:0 3px; float:right; font-size:12px; line-height:30px; _line-height:32px}

.ad{margin-bottom:8px}
.p2_r .bar_text{border-bottom:2px solid #d4d4d4;  line-height:32px;  margin:4px 0;  _line-height:26px;}
.p2_r .bar_text h2{ background:url(../images/star/rank.jpg) no-repeat left -471px; float:left; color:#ed0b5b; width:80px; border-bottom:2px solid #ed0b5b;  _position:relative;}
.p2_r .bar_text a span{margin:1px 3px}
.p2_r_1{border:1px solid #d2d2d2; width:248px; padding-bottom:10px; height:328px;}
.p2_r_1  form{margin:16px 8px; _margin:10px 6px}
.p2_r_1 input{border:1px solid #e1e1e1; width:150px; height:20px;}
.p2_r_1 label{text-align:right}
.p2_r_1 .button_bg{background:url(../images/star/rank.jpg) no-repeat right -469px; width:65px; height:22px;  text-indent:-20000px; border:0}
.p2_r_1 ul{width:240px; margin:0 12px; _margin:3px}
.p2_r_1 ul li a{display:block; height:24px; width:56px; float:left; padding:0 1px ; _height:20px}

.pic_word2{border:1px solid #d2d2d2; width:390px; margin-left:8px;  height:338px; _width:390px }
.pic_word2 li{float:left; width:119px; margin:10px 5px;  _margin:10px 4px; overflow:hidden}
.pic_word2 img{ width:109px; height:83px; padding:5px 5px 22px 5px; background:url(../images/star/img_bg.jpg)}

.pic_word2 .bar_text{border-bottom:2px solid #d4d4d4;  line-height:32px; margin:4px 0;  _height:24px; _line-height:28px;}
.pic_word2 .bar_text h2{ background:url(../images/star/rank.jpg) no-repeat left -438px; float:left; color:#ed0b5b; width:80px; border-bottom:2px solid #ed0b5b;  _position:relative; }


.p2 h2{width:86px; border-bottom:2px solid #ed0b5b; _position:relative}

.p2 .bar_text{border-bottom:2px solid #d4d4d4; margin:0;}
.p2_l_l table{margin-left:10px}
.p2_l_l span {
    display: block;
}
.p2_l_l p{padding:0 6px}
.p2_l_l{border:1px solid #d2d2d2; width:298px; margin-bottom:0; height:338px}
#p2_l_id .p2_l_l{height:306px}

.p2_l_l dl{width:288px; padding: 7px 5px; _padding:9px 5px; height:70px}
.p2_l_l p{margin:10px 0; _margin:8px 0 0 0}
.p2_l_l dt{float:left; margin-right:8px; _margin-right:0}
.p2_l_l dt img{width:96px; height:72px}
.p2_l_l dd{float:left; width:130px; _width:120px;}
.p2_l_l dd span{ display:block;  float:left; width:160px; _width:140px; _display:inline-block}
.p2_l_l form{padding:0 10px; *padding:2px 10px !important; _padding:0 10px;}
.p2_l_l form input{margin:0 2px; *margin:0}

.star_but{background:url(../images/star/rank.jpg) no-repeat right -310px; width:126px; height:32px; display:block; text-align:center;
font:bold 12px "宋体"; color:#de004e; line-height:32px; margin:10px 0}

.TabContent_left{float:left; width:450px; _width:430px; }
.TabContent_left p{ color:#8a8a8a}
.TabContent_left p a{color:#ed0b5b}
.TabContent_left ul{margin:10px 0; line-height:32px}
.TabContent_left ul li{}
.TabContent_left ul li   span{float:right;}
.TabContent_right{float:left; width:200px; padding:0 10px;}
.TabContent_right .pic_word{width:220px; margin-left:8px; border:0}
.TabContent_right .pic_word li{float:left; width:90px; margin:2px 4px; overflow:hidden}
.TabContent_right .pic_word img{ width:90px; height:60px; margin-bottom:2px}

.star_fans{ border:1px solid #d2d2d2;}
.star_fans .bar_text{border-bottom: 2px solid #D4D4D4; margin:0}
.star_fans .bar_text h2{border-bottom: 2px solid #ED0B5B;  _position:relative; _top:2px;  width:100px}

.star_fans .fans_inputbg{background:url(../images/star/rank.jpg) no-repeat right -430px; width:92px; height:30px;   border:0; display:block }

.star_fans table{font:18px "微软雅黑";  line-height:30px;    height:30px; }
.star_fans table td{ height:30px; float:left; margin-right:2px }

.star_fans  table td span{color:#ed0b5b}
.fans_bg{background:#ed0b5b; line-height:22px; height:22px;  color:#FFF; margin:12px 0;}
.fansgroup dl{font-size:12px; line-height:14px; margin:10px 0}
.fansgroup dd{ float:left}
.fansgroup dt{margin:0 10px 5px 0}
.fansgroup dd img{border:1px solid #d5d5d5;}
.span_no{ background:url(../images/star/rank.jpg) no-repeat left -380px; padding-left:14px}
.fansgroup dd span{width:56px; color:#ed0b5b;}
.star_pic{height:408px; margin:8px auto;}
.star_pic table{float:left; border-bottom:1px solid #cacaca;}
.star_pic table td{ border-right:1px solid #cacaca; border-top:1px solid #cacaca}
.topic_w{font:bold 36px "微软雅黑"; color:#FFF; background:#ED0B5B; width:49px; text-align:center}
.flash {height: 341px; width:300px; overflow:hidden; _margin-bottom:8px}
.flash .pagebox_pages_wrap, .flash .pagebox_page{width:300px;overflow:hidden;}
 .star_rank, .p1_r_1, .ad_r, .p1_r_3, .p2_b, .p2_l_l, .ad2, .ad3, .p2_r_1, .p2_r{_margin-bottom:8px}


/*----------------- star_huoshow ---------------------------*/
.star_flash{float:left; margin:0 8px 8px 0}
.slide {position:relative; width:700px; height:324px; overflow:hidden; float: left;
    margin: 0 8px 8px 0;}
#pbox3 .pagebox_pages_wrap{width:700px; height:324px; overflow:hidden;}
#pbox3 .pagebox_pages_wrap_body{width:9999em; height:324px;}
#pbox3 .pagebox_page{float:left; width:702px; height:324px; overflow:hidden;}
.slide .slide-page{height:324px; position:relative; overflow:hidden;}
.slide .slide-page-info{ position:absolute; color:#fff; width:100%; overflow:hidden; bottom:0; left:0; background-color:rgba(0, 0, 0, 0.5); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80000000, endcolorstr=#80000000, gradientType=1); }
.slide .slide-page-info-text{position:relative; padding:10px 10px 45px;}
.slide .slide-page-info-text h3{font-size:28px; font-family:"黑体";  float:left;}
.slide .slide-page-info-text p{ width:315px; line-height:28px; float:right; margin-right:10px;}
.slide .slide-page-info-text a { color:#fff;}
.slide .slide-page-info-text a:hover{ color:#fff; text-decoration:underline;}
.slide .slide-links-wrap{width:100%;height:30px; position:absolute; bottom:8px; text-align:center; color:#fff;}
.slide .slide-links-wrap a{ background-image:url(../images/star/star_slide_nav.png); vertical-align:middle; display:inline-block; overflow:hidden; margin-right:5px;}
.slide .slide-links a{ background-position:left -186px; width:15px; height:15px; }
.slide .slide-links .slide-current{ background-position:left -81px; }
.slide .slide-prev{ background-position:left top; width:20px; height:30px; }
.slide .prev-disabled{ background-position:left -105px;}
.slide .slide-next{ background-position:left -40px; width:20px; height:30px; }
.slide .next-disabled{ background-position:left -145px;}
.slide_shadow {background:url(../images/star/bg.jpg) left 363px; width:702px; height:17px;}
#star_huoshow .hl_p1_pad ul li a, #star_ml .hl_p1_pad ul li a{padding-left:22px; background:url(../images/star/rank.jpg) no-repeat left -290px}
#star_huoshow .p2_l{width:700px; margin-bottom:8px; _margin-bottom:0;}
#star_huoshow .p2_l_l table{margin:0}
#star_huoshow .p2_l_l{border:0px;}
#star_huoshow .p2_l_l .vote ul li a{ font-size:12px}
#star_huoshow .p2_l_l h2{width:266px; _width:268px}
#star_huoshow .hl_p1, #star_huoshow .p1_r, #star_huoshow .p1_r_1{border:1px solid #d2d2d2}
#star_huoshow .hl_p1{margin:0 0 8px 8px; width:392px; height:302px; _height:306px; _width:390px}
#star_huoshow .p1_r_1{ _height:306px; }
#star_huoshow .pic_word2{width:392px; _width:390px}
.hl_p1_pad{padding-left:8px}
.sb dl{margin-top:5px}
.sb dd, .sb dt{ float:left; margin:0 8px; line-height:18px }
.sb dd form{*border:1px solid #FFF;}
.sb #button3{border:0; background:url(../images/star/rank.jpg) no-repeat right -557px; height:30px; width:96px; text-indent:-2200px;}
.sb dd span{width:100px; display:block; font-size:12px}
.sb dd span a{color:#ED0B5B}
.sb dd span:first-child{font-weight:bold}

#star_huoshow .p1_r, #star_ml .p1_r{height:322px; width:248px;}
#star_ml .p1_r{width:250px}
#star_huoshow .p2_r ul{background:url(../images/star/rank.jpg) no-repeat -139px -335px; line-height:26px; padding:5px 0 5px 22px; margin-left:5px; font-size:12px}
#star_huoshow .p2_r .bar_text h2{background:url("../images/star/rank.jpg") no-repeat scroll left -409px transparent;
}

#star_huoshow .p1_r .bar_text{border-bottom: 2px solid #d2d2d2; margin:0}
#star_huoshow .p1_r .bar_text h2{ border-bottom: 2px solid #ED0B5B;  _position:relative}

.star_rank caption a span{background: url("../images/star/rank.jpg") no-repeat scroll right -276px transparent;
    color: #ED0B5B;
    float: right;
	height: 24px;
    line-height: 28px;
	_line-height: 24px;
    text-align: center;
    width: 75px;
	margin-right:3px}


	/*----------------- star_ml ---------------------------*/
	#star_ml .pic_word {margin:0}
#star_ml .pic_word ul{width:240px; margin:2px 4px}
#star_ml .pic_word li{width:102px; margin:2px 8px; _margin:2px 5px}
#star_ml .pic_word li img{width:102px;  margin-bottom:0}
#star_ml .pic_word{height:auto; border:0}
#star_ml .p2{height:310px;}
*+html  #star_ml .p2{margin-bottom:8px}  /*---------IE7------------------*/
#star_ml .p2_l{ width:700px}
#star_ml .p2_l > div, #star_huoshow .p2_l > div{margin-bottom:0;}
#star_ml .p2_r{ height: 306px; _height:314px}
#star_ml .star_rank{border:0}
#star_ml .star_rank table{ margin:0; border-collapse: collapse;}
#star_ml .star_rank caption h2{width:268px;}

.star_rank caption h2{width:268px;}
#star_ml .hl_p1, #star_ml .p1_r, #star_ml .p1_r_1, #star_ml .p2_r, #star_ml .p3_r .p1_r_1{border:1px solid #d2d2d2;}
#star_ml .hl_p1{margin:0 0 8px 8px; width:390px; height:306px; _height:314px}
#star_ml  .bar_text{border-bottom: 2px solid #d2d2d2; margin:2px 0}
#star_ml .p1_r .bar_text h2{ border-bottom: 2px solid #ED0B5B; background:url(../images/star/rank.jpg) no-repeat left -500px; _position:relative}
#star_ml .p2_r .bar_text h2{ border-bottom: 2px solid #ED0B5B; background:url(../images/star/rank.jpg) no-repeat left -558px}
#star_ml .p1_r_1 .bar_text h2{ border-bottom: 2px solid #ED0B5B; background:url(../images/star/rank.jpg) no-repeat left -530px}
#star_ml .p3{width:960px; margin:0 auto}
#star_ml .p3_l, #star_ml .p3_m, #star_ml .p3_r{float:left}
#star_ml .p3_m{width:392px; margin-right:8px; _width:388px;}
#star_ml .p3_r{margin-left:8px; width:250px; _margin-left:0;}
#star_ml .p1_r_1{height:338px; border:0; width:250px}
#star_ml .p3_r h2{width:80px; border-bottom:2px solid #ed0b5b; _position:relative}
#star_ml .p3_r ul, #star_ml .p1_r .p1_r_1 ul, #star_ml .p2 .p1_r_1 ul{
    background: url("../images/star/rank.jpg") no-repeat scroll -139px -335px transparent;
    line-height: 26px;     margin-left: 5px;    padding: 5px 0 5px 22px; font-size:12px}
#star_ml #p2_r_id{_margin-left:0; overflow:hidden; width:250px}
#star_ml .p2 .p1_r_1{width:250px; float:left; border:1px solid #e2e2e2; height:306px; _height:314px}
#star_ml #p2_r_id .bar_text h2 {background: url("../images/star/rank.jpg") no-repeat scroll left -471px transparent;}
#star_ml #p2_r_id ul{padding:0; background:none; }
#star_ml .p3_r .p2_r_1 ul{padding:0 5px;}
#star_ml .sb dl{margin-top:5px; _height:70px}
#star_ml .sb dd{font-size:14px; width:140px}
#star_huoshow .vote ul{  line-height: 27px; }
.p2_r_1 .p3_r ul{padding:0 0 0 20px}
#star_ml .vote{height:338px; width:298px; _width:298px}
#star_huoshow .vote{width:296px;  _width:298px; height:338px; }
.meitu{width:960px; margin:0 auto; border:1px solid #e2e2e2; margin-top:8px}
.meitu .bar_text h2{width:106px;  border-bottom: 2px solid #ED0B5B; _position:relative}
.meitu .bar_text{border-bottom: 2px solid #D4D4D4; margin:0}
.meitu dt, .meitu dd, .meitu li{float:left}
.meitu dt{width:310px}
.meitu dt img{margin:12px}
.meitu ul{width:650px; margin:12px 0}
.meitu li{width:140px; height:170px; margin:0 8px; text-align:center; font-size:14px; overflow:hidden}
.meitu li img{width:140px; height:140px; margin-bottom:8px}

/* sl_selectmask 用于解决 IE6 下浮层被 select 穿透 BUG */
#sub_channel .ulmask{_top:-38px; _margin-left: -1px;}
.sl_selectmask{position:absolute; margin-top: 37px; top:0; left:0;  z-index:10; width:94px; overflow:hidden;}
.sl-selectmask iframe {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	border:none;
	filter: mask();
	height: 0;
	width: 94px;
	height: 100%;
	/*height: 138px;*/
}
.p1_m, .pic_word li, .slide, .elementmask{_wposition: static;}