@charset "utf-8";/* CSS Document */#live {background:#fff;}
.live{width:960px; overflow:hidden;}
.live_left{width:640px; float:left;}
.zhibo_banner{ width:640px; height:252px;margin-top:13px;}
.gonggao{ background:url(images/gonggao.jpg) repeat-x; height:27px; line-height:27px; margin-top:10px; clear:both;}
.gonggao h1{ font-size:12px; color:#F00; padding-left:15px; float:left;}
.gonggao a{ line-height:30px;}
.anchor_paihang_more{width:33px; height:14px; padding-left:15px; padding-top:4px; float:left; margin-top:10px; }
/* 热门主播 */.hotanchor{ width:639px;border:solid 1px #dbdbdb; margin-top:10px; overflow:hidden; clear:both;}
.hotanchor_btt{ height:50px; clear:both; background:url(images/rebo_bj.gif) repeat-x;}
.mutilroom_btt{ height:50px; clear:both; background:url(images/yanbo.jpg) repeat-x;}
.hotanchor_btt_free{width:100px; float:left;}
.hotanchor_btt_wz {width:400px; float:right; margin-top:10px;}
.hotanchor_btt_wz ul li{color:#A3A3A3; margin:0 8px 0 7px; float:right}
.adu{background:url(images/adu.png) left 2px no-repeat; text-indent:20px;}
 .zheg{background:url(images/zhibo.png) left 2px no-repeat; text-indent:20px; }
.voiced{background: url(images/adu.png) left 2px no-repeat; text-indent:20px;}
.red{ font-size:12px; color:#00a8ff; }
.cheng{ color:#ff0060; }
.green{ color:#6BD63B;}
.hotanchor_cont{width:610px;margin-left:15px; float:left; display:inline;}
.hotanchor_pro3{width:290px; float:left; padding-top:14px;padding-bottom:10px; padding-left:15px;}
.hotanchor_pic{width:111px; height:108px; background:url(images/photo_bj.gif) no-repeat; float:left}
.hotanchor_pic a{padding:3px 0 0 3px;display:block; width:96px; height:96px;}
.hotanchor_pic img{width:96px; height:96px;}
.hotanchor_wz{float:left; margin-left:10px; width:165px; color:#666666; line-height:20px;}
.hotanchor_wz p{ clear:both; line-height:20px; }
.hotanchor_wz ul{clear:both; padding:2px 0;}
.hotanchor_wz ul li{ float:left; margin-right:5px; color:#333 }
.hbt{color:#333; font-size:13px; font-weight:bold;}
.hzl{ color:#838383; }
.live_right{width:304px; float:right;}
.anniu{ margin-top:0px;}
.anchor_paihang{ border-left: solid 1px #dbdbdb; width:300px;border-right: solid 1px #dbdbdb; border-bottom: 1px solid #DBDBDB; margin-bottom: 10px;}
.anchor_paihang_btt{width:300px; height:31px; background:url(images/mingxing.gif) repeat-x;}
.anchor_paihang_tab{width:170px; float:left; padding-left:132px;}
.anchor_paihang_tab ul li{float:left;}
.anchor_paihang_out a{display:block; width:39px; height:30px; color:#999; text-decoration:none; text-align:center; line-height:30px; padding-left:1px;}
.anchor_paihang_out a:hover,.anchor_paihang_on a,.anchor_paihang_on a:hover{display:block; background:#ee0c76; width:39px; height:30px; color:#fff; text-decoration:none; text-align:center; line-height:30px;}
.anchor_paihang_text{ padding-bottom:2px; color:#666666; overflow:hidden}
.zhishu_anchor_paihang{ border-left: solid 1px #dbdbdb; width:300px;border-right: solid 1px #dbdbdb; border-bottom: 1px solid #DBDBDB; margin-bottom: 10px;}
.zhishu_anchor_paihang_btt{width:300px; height:31px; background:url(images/meili.gif) repeat-x;}
.fuhao_anchor_paihang{ border-left: solid 1px #dbdbdb; width:300px;border-right: solid 1px #dbdbdb;border-bottom: solid 1px #dbdbdb; margin-bottom: 10px;}
.fuhao_anchor_paihang_btt{width:300px; height:31px; background:url(images/caifu.gif) repeat-x;}
.vote_anchor_paihang{ border-left: solid 1px #dbdbdb; width:300px;border-right: solid 1px #dbdbdb;border-bottom: solid 1px #dbdbdb; margin-bottom: 10px;}
.vote_anchor_paihang_btt{width:300px; height:31px; background:url(images/toupiao.gif) repeat-x;}
.friend_anchor_paihang{ border-left: solid 1px #dbdbdb; width:300px;border-right: solid 1px #dbdbdb;border-bottom: solid 1px #dbdbdb;}
.friend_anchor_paihang_btt{width:300px; height:31px; background:url(images/youyi.gif) repeat-x;}

.friend_anchor_paihang .username{
	display: block;
	width: 110px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap:normal!important;
	overflow:hidden;
}
.friend_anchor_paihang table{
	width:100%;
}

.friend_anchor_paihang table a{
	display:block;
}

.friend_anchor_paihang td{
	border-bottom:1px dashed #cfcfcf;
}

.friend-col1{width:13px;padding:5px 5px 5px 10px;}
.friend-col2{width:110px;text-align:center;}
.friend-col3{width:37px;}
.friend-col4{width:110px;text-align:center;}

.paihang2 ul li{border-bottom:1px dashed #CFCFCF;}
.paihang1text{width:300px; height:82px; background:url(images/ftbtt2.png) left top no-repeat;}
.paihang1{background:#CECECE;border:1px solid #B6B6B6; padding:5px 0 0 0; margin:0 15px 0 15px; height:65px; clear:both; overflow:hidden}
 .gao{ height:6px; overflow:hidden}
.paihang2{border-bottom:1px dashed #CFCFCF; height:24px; padding:5px 5px 0 10px;}
.paihangfriend2{border-bottom:1px dashed #CFCFCF; height:37px; padding:5px 5px 0 10px;}
.paihang3{height:24px; margin:0 15px;margin-top:5px;}

.icon01{white-space:nowrap;width:190px;background:url(images/icon/icon01.gif) left center no-repeat; float:left; padding-left:20px;overflow:hidden;}
.icon02{white-space:nowrap;width:190px;background:url(images/icon/icon02.gif) left center no-repeat; float:left; padding-left:20px;overflow:hidden;}
.icon03{white-space:nowrap;width:190px;background:url(images/icon/icon03.gif) left center no-repeat; float:left; padding-left:20px;overflow:hidden;}
.icon04{white-space:nowrap;width:190px;background:url(images/icon/icon04.gif) left center no-repeat; float:left; padding-left:20px;overflow:hidden;}
.icon05{white-space:nowrap;width:190px;background:url(images/icon/icon05.gif) left center no-repeat; float:left; padding-left:20px;overflow:hidden;}
.icon06{white-space:nowrap;width:190px;background:url(images/icon/icon06.gif) left center no-repeat; float:left; padding-left:20px;overflow:hidden;}
.icon07{white-space:nowrap;width:190px;background:url(images/icon/icon07.gif) left center no-repeat; float:left; padding-left:20px;overflow:hidden;}
.icon08{white-space:nowrap;width:190px;background:url(images/icon/icon08.gif) left center no-repeat; float:left; padding-left:20px;overflow:hidden;}
.icon09{white-space:nowrap;width:190px;background:url(images/icon/icon09.gif) left center no-repeat; float:left; padding-left:20px;overflow:hidden;}
.icon010{white-space:nowrap;width:190px;background:url(images/icon/icon010.gif) left center no-repeat; float:left; padding-left:20px;overflow:hidden;}

 .hongzuan{float:right;}
.hongzuan_friend{float:right; width:100px; }
.hongzuan_friend a {float:right;}
.paihang1_pic{ width:52px; margin-right:15px; border:4px solid #fff; float:left}
.paihang1_wz{font-size:13px; color:#212121; font-weight:bold;}
#showrc{ width:302px; height:361px; background: url(images/BGGGGGG.gif) no-repeat; margin-bottom:5px;}
.showrqi{ height:61px; color:#7d0000; padding:10px 15px 0px 216px; text-align:center;}
.showtext1{ font: bold 28px Arial; padding-top:5px; padding-right:15px;}
.showtext2{ font: 12px/16px "宋体",Arial; color:#000; float:left; padding-top:5px;}
.showrqinrkuang{ height:auto; padding-bottom:15px;}
#showrqinr{ width:287px; height:278px; margin:0 auto; overflow-Y:hidden;}
.showrqinrtext1{ width:260px; height:23px; background:url(images/mingxing_bj.jpg) no-repeat ; padding-left:10px; font: bold 14px/22px Arial; color:#ee0c76;}
.showrqinrtext2{ width:255px; background:url(images/biao.gif) no-repeat; margin:10px 0 0 10px;}
.showrqinrtext2 a{ padding-left:10px;}
.shijian{ color:#00a8ff; padding-left:12px; margin-left:10px;}
.showrqinrtext3{ width:250px; font: 12px/15px "宋体",Arial; }
.show_xian{ background:url(images/mingxing_xian.jpg) no-repeat; width:249px; height:77px;}
.show_xian img{ padding:15px 10px 0 10px; float:left;}
.show_xian p{ padding:15px 10px 0 10px;}
.kais_anniu{ margin-top:-10px;}
.shuzi{float:left;text-align: right; width:50px;}
.gftg{ width:300px; height:auto; background:#fffef6; border: solid 1px #eed8c6; margin-bottom:10px; margin-top:10px; padding-bottom:10px;}
.gftg_zi{ height:21px; border-bottom:solid 1px #eed8c6; padding:5px 0 5px 10px;}
.gftg_title{ float:left;}
.gftg_more{ float:right;padding-right:10px;}
.gftg_news{}
.gftg_news li{ background:url(images/guanfang_dian.gif) no-repeat 0 4px; width:262px; margin:10px 0 0 12px; padding-left:15px; line-height:18px;}
 .loading{padding:1em; text-align:center;}
 .loading span{padding:1em 1em 1em 30px; background:url(images/loading.gif) left center no-repeat;}
 #actor_list, #active_actor_list{padding:0 0 1em 40px;}
 #actor_list li, #active_actor_list li {float:left; width:102px; height:140px; margin-right:45px; background:url('/static2/images/photo_bj.gif') no-repeat; position: relative;}
.hotanchor .pgs{padding:10px;clear:both;}
.hotanchor_btt { height:50px; clear:both; background:url('/static2/images/rebo_bj.gif') no-repeat; }
.hotanchor_matches { height:50px; clear:both; background:url('/static2/images/matches.gif') no-repeat; }
.hotanchor_new_btt_wz { width:430px; float:left; margin-top:10px; }
.hotanchor_new_btt_wz ul li { color:#A3A3A3; margin:0 8px 0 7px; float:right }
.adu { background:url('/static2/images/adu.png') left 2px no-repeat; text-indent:20px; }
.zheg { background:url('/static2/images/zhibo.png') left 2px no-repeat; text-indent:20px; }
.voiced { background: url('/static2/images/adu.png') left 2px no-repeat; text-indent:20px; }
.red { font-size:12px; color:#00a8ff; }
.cheng { color:#ff0060; }
.green { color:#6BD63B; }
.hotanchor_s { width:195px; height:auto; float:right; margin-top:5px;}
.hotanchor_s_01{ height:21px; float:left; margin-right:3px; border: 1px solid #CCC;}
.hotanchor_s_02 {width:92px; height:18px; border:1px solid #CCC; float:left;}
.hotanchor_s_03 { float:right; width:24px; height:20px; padding-right:5px;}
.hotanchor_pk_Race_shenma_pic { float:left; overflow:hidden;}
.pic_wenzi { width:101px; height:auto; float:left; margin-right:10px; }
.pic_list { width:101px; height:114px; text-align:center; line-height:30px; background:url('/static2/images/pk_pic.gif') no-repeat; }
.pk_list_renshu { width:8px; height:10px; position:relative; top:-13px; position:relative; left:15px; }
.hotanchor_cont { width:610px; margin-left:15px; float:left; display:inline; }

#hotanchor_nav {clear:both;}
#hotanchor_nav li {float:left; padding:0 0 10px 25px; width:128px;}
#hotanchor_nav li .pp-box {padding:3px; background:#fff; border:1px solid #ccc; box-shadow:0 0 4px #ccc;}
#hotanchor_nav li .pp-bg {width:120px;height:90px;background:url(/uc_server/images/no_cover_middle.gif)}
#hotanchor_nav li .pp {width:120px;height:90px;display:block; position:relative;}
#hotanchor_nav li .pp:hover {text-decoration:none;}

#hotanchor_nav li .hotanchor_ben { line-height:15px; text-align:center;padding-top:7px;}
#hotanchor_nav li .hotanchor_ben a {line-height:15px; text-align:center; color:#555;}
#hotanchor_nav li .hotanchor_ben a:hover { color:#F09; }

.jinru { font-size:14px; color:#000; vertical-align:middle; position:absolute; margin-top:5px; }
.hotanchor_info {height:16px; position:absolute; overflow:hidden; top:3px; right:3px; left:3px;}
.hotanchor_info_01 { height:16px; position:absolute; overflow:hidden; top:77px; right:3px;}
.hotanchor_D_2{float:right;}
.hotanchor_D_line { width:31px; height:14px; color:#29e7fe; background-color:#483c3c; filter:alpha(opacity=80); opacity:.80; padding:2px; position:relative; top:-3px; color:#74fe29; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin-left:7px; }
.hotanchor_D_line { color:#777777; }
.hotanchor_D_on {background:#483c3c;filter:alpha(opacity=80);opacity:0.8;color:#29e7fe;padding:2px;position:absolute;right:0; bottom:0;}
.hotanchor_sha {float:left;}
.hotanchor_fanye { width:639px; height:28px; border-top: 2px solid #dadada; text-align:center; padding-top:12px; margin-top:10px;}
.hotanchor_fanye a { width:24px; height:28px; border:1px solid #dadada; padding:8px 9px 8px 9px; color:#333333;}
.hotanchor_fanye a:hover { width:24px; height:28px; border:1px solid #676767; padding:8px 9px 8px 9px; color:#333333; }
.hotanchor_fanye_tb { vertical-align:middle; display:inline; }
#top2banner{ position:relative; width:630px; height:250px; background:#333333; padding:5px; float:left;margin:0 0 10px 0;}
.top2banner-nav a:hover, .top2banner-nav .tab-on{ background:#f90;}
.top2banner-nav a{ background:#aaa; padding:0 5px; line-height:18px; display:inline-block; color:#fff;}
.top2banner-nav{ text-align:right; right:10px; top:232px; position:absolute;}
.top2banner-item{ position:absolute; width:630px; height:250px; overflow:hidden; display:none;}
.top2banner-item .thumb{ width:630px; height:250px;}
.top2banner-item-title{ height:24px; line-height:24px; top:-25px; position:relative; bottom:0; padding:0 2px;}
.top2banner-item-title a{ color:#fff; position:absolute; padding-left:1em; z-index:100;}
.top2banner-item-title-bg{ background:#000; opacity:0.5; filter:alpha(opacity=50); display:block;height:22px;}
#top2banner2{ position:relative; width:300px; height:100px; background:#333333; float:left;}
.top2banner2-nav a:hover, .top2banner-nav .tab-on{ background:#f90;}
.top2banner2-nav a{ background:#aaa; padding:0 5px; line-height:18px; display:inline-block; color:#fff;}
.top2banner2-nav{ text-align:right; right:10px; top:75px; position:absolute;}
.sss2{ height:340px; overflow:hidden;}
.top2banner2-item{ position:absolute; width:300px; height:100px; overflow:hidden; display:none;}
.top2banner2-item .thumb{ width:300px; height:100px;}
.top2banner2-item-title{ height:24px; line-height:24px; top:-25px; position:relative; bottom:0; padding:0 2px;}
.top2banner2-item-title a{ color:#fff; position:absolute; padding-left:1em;}
.top2banner2-item-title-bg{ background:#000; opacity:0.5; filter:alpha(opacity=50); display:block;height:22px;}
#show_right_ad1{width:300px;border:solid 1px #dddddd;margin-bottom:10px;margin-top:5px;height:100px;}

.search-room-msg{padding:1em; text-align:center; border-bottom: 1px dashed;}
.search-room-msg strong{color:red;}
.search-room-msg a{color:red;}

.search-button{
	background: url(images/s_07.gif) repeat scroll 0 0 transparent;
	border: medium none;
	cursor: pointer;
	height: 20px;
	text-indent: -9999em;
	width: 24px;
}
.search-result{
	border:1px solid #ccc;
	height: 998px;
}
