<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>中国网站美工网-免费网页模板下载</title>
<link href="css/yilinweb_bbs_qq.css" rel="stylesheet" type="text/css">
</head>

<body>
<div align="center">
  <table width="895"  border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td height="5"></td>
    </tr>
  </table>
  <table width="895"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="images/yilinweb_bbs_3_001.gif" width="895" height="2"></td>
    </tr>
    <tr>
      <td background="images/yilinweb_bbs_3_002.gif"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="240" height="100"><div align="center"><img src="images/logo.gif" width="215" height="77"></div></td>
          <td><div align="center">
            <table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="26"><div align="center"><span class="zhi"><a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>&nbsp;&nbsp; <a href="#" class="lianjie_hei">收藏本站</a>&nbsp;&nbsp; <a href="#" class="lianjie_hei">设为主页</a></span></div></td>
              </tr>
              <tr>
                <td height="78"><div align="center">
                  <SCRIPT language=javascript src="images/468x60.js"></SCRIPT>
                </div></td>
              </tr>
              <tr>
                <td height="5"></td>
              </tr>
            </table>
          </div></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="images/yilinweb_bbs_3_003.gif" width="895" height="1"></td>
    </tr>
  </table>
  <table width="895"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="5"></td>
    </tr>
  </table>
  <table width="895" border="0" cellpadding="0" cellspacing="0" background="images/yilinweb_bbs_1_003.gif">
    <tr>
      <td width="1"><img src="images/yilinweb_bbs_1_001.gif" width="4" height="33"></td>
      <td><div align="center">
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="3"></td>
          </tr>
          <tr>
            <td><div align="center"><a href="/" target="_blank" class="lianjie_bai">首页</a>&nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a>&nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a>&nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a>&nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a>&nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a>&nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a>&nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a>&nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a> &nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a> &nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a> &nbsp;&nbsp; <a href="#" class="lianjie_bai">标题设置</a>  </div></td>
          </tr>
        </table>
      </div></td>
      <td width="1"><img src="images/yilinweb_bbs_1_002.gif" width="4" height="33"></td>
    </tr>
  </table>
  <table width="895"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="5"></td>
    </tr>
  </table>
  <table width="895" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="1"><img src="images/yilinweb_bbs_1_007.gif" width="5" height="32"></td>
      <td background="images/yilinweb_bbs_1_009.gif"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50">&nbsp;帐 号：</td>
          <td width="80"><input name="username" type="text" class="denglu" /></td>
          <td width="50">&nbsp;密 码：</td>
          <td width="80"><input name="password" type="password" class="denglu" /></td>
          <td width="100"><div align="center">
            <INPUT class=login_btn2 type=submit value=登陆论坛 索 name=Submit32>
          </div></td>
          <td width="80"><div align="left">
            <INPUT name=Submit33 type=submit class=login_btn2 value=免费注册 索>
          </div></td>
          <td><div align="center">
            <INPUT name=Submit332 type=submit class=login_btn2 value=忘记密码 索>
          </div></td>
        </tr>
      </table></td>
      <td width="1"><img src="images/yilinweb_bbs_1_008.gif" width="5" height="32"></td>
      <td width="5">&nbsp;</td>
      <td width="1"><img src="images/yilinweb_bbs_1_004.gif" width="5" height="32"></td>
      <td width="340" background="images/yilinweb_bbs_1_006.gif"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="60" valign="middle">&nbsp; 关键字：</td>
          <td><div align="left">
            <input name="username2" type="text" class="sousuo" />
          </div></td>
          <td width="88"><div align="center">
            <INPUT class=login_btn1 type=submit value=搜索 name=Submit3>
          </div></td>
        </tr>
      </table></td>
      <td width="1"><img src="images/yilinweb_bbs_1_005.gif" width="5" height="32"></td>
    </tr>
  </table>
  <table width="895" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="2"></td>
    </tr>
  </table>
  <table width="895" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="212" height="32" background="images/yilinweb_bbs_2_001.gif"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="5"></td>
          </tr>
        <tr>
          <td><div align="left">&nbsp;<span class="style_1">&nbsp;</span><span class="baizi-12">热点话题</span></div></td>
          </tr>
      </table></td>
      <td background="images/yilinweb_bbs_2_002.gif"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="8"></td>
          </tr>
        <tr>
          <td><div align="right"><span class="zhi">此模板是从 <a href="http://www.web600.net" target="_blank">www.web600.net</a> 处下载 </span>位置导航: 首页 &gt;&gt; 标题设置&nbsp;&nbsp;</div></td>
          </tr>
      </table></td>
    </tr>
  </table>
  <table width="895" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="232" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td><img src="images/tu_1.jpg" width="233" height="180"></td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td height="26" bgcolor="#FFD6D4"><div align="center">幻灯文字</div></td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td><table width="100%"  border="0" cellpadding="0" cellspacing="1" bgcolor="FF8585">
            <tr>
              <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="30" background="images/yilinweb_bbs_2_003_1.gif"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td></td>
                        <td height="5"></td>
                      </tr>
                      <tr>
                        <td><div align="left">&nbsp;<span class="style_1"> 标题设置</span></div></td>
                        <td width="55"><a href="#" class="lianjie_2"><img src="images/more2.gif" width="38" height="11" border="0" ></a></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><table width="100%"  border="0" cellpadding="5" cellspacing="1" bgcolor="FF8585">
                      <tr>
                        <td height="232" valign="top" bgcolor="#FFFFFF"><div align="left"><br>
                        </div></td>
                      </tr>
                  </table></td>
                </tr>
              </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="5"></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" background="images/yilinweb_bbs_2_003_1.gif"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td></td>
                          <td height="5"></td>
                        </tr>
                        <tr>
                          <td><div align="left">&nbsp;<span class="style_1"> 标题设置</span></div></td>
                          <td width="55"><a href="#" class="lianjie_2"><img src="images/more2.gif" width="38" height="11" border="0" ></a></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><table width="100%"  border="0" cellpadding="5" cellspacing="1" bgcolor="FF8585">
                        <tr>
                          <td height="232" valign="top" bgcolor="#FFFFFF"><div align="left"><br>
                          </div></td>
                        </tr>
                    </table></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="5"></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" background="images/yilinweb_bbs_2_003_1.gif"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td></td>
                          <td height="5"></td>
                        </tr>
                        <tr>
                          <td><div align="left">&nbsp;<span class="style_1"> 标题设置</span></div></td>
                          <td width="55"><a href="#" class="lianjie_2"><img src="images/more2.gif" width="38" height="11" border="0" ></a></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><table width="100%"  border="0" cellpadding="5" cellspacing="1" bgcolor="FF8585">
                        <tr>
                          <td height="232" valign="top" bgcolor="#FFFFFF"><div align="left"><br>
                          </div></td>
                        </tr>
                    </table></td>
                  </tr>
                </table></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
      <td width="5"></td>
      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="5"></td>
        </tr>
      </table>        <table width="100%"  border="0" cellpadding="0" cellspacing="1" bgcolor="FF8585">
        <tr>
          <td valign="top" bgcolor="#FFFFFF"><div align="left">
              <table width="100%" border="0" cellspacing="1" cellpadding="0">
                <tr>
                  <td height="27" bgcolor="#FFD6D4"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td></td>
                        <td height="5"></td>
                      </tr>
                      <tr>
                        <td><div align="left">&nbsp;<span class="style_1"> 文章列表</span></div></td>
                        <td width="55"><a href="#" class="lianjie_2"><img src="images/more2.gif" width="38" height="11" border="0" ></a></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="1" bgcolor="#FF6A6A"></td>
                </tr>
                <tr>
                  <td height="990">&nbsp;</td>
                </tr>
              </table>
          </div></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="895" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="5"></td>
    </tr>
  </table>
  <table width="895" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><table width="100%"  border="0" cellpadding="5" cellspacing="1" bgcolor="FF8585">
        <tr>
          <td height="90" bgcolor="#FFFFFF"><div align="center"><SCRIPT language=javascript src="images/htmlmoban.js"></SCRIPT></div></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="895" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="5"></td>
    </tr>
  </table>
  <table width="895" border="0" cellpadding="0" cellspacing="0" bgcolor="E7E7E7">
    <tr>
      <td width="40"><div align="center">友<br>
        情<br>
        连<br>
      接</div></td>
      <td><table width="100%"  border="0" cellspacing="5" cellpadding="0">
        <tr>
          <td height="100" bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="895" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="5"></td>
    </tr>
  </table>  
  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="80" bgcolor="#F2F2F2"><div align="center" class="zhi">    <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>　 <a href="#" class="lianjie_hei">标题设置</a>&nbsp;&nbsp; <a href="#" class="lianjie_hei">收藏本站</a>&nbsp;&nbsp; <a href="#" class="lianjie_hei">设为主页</a> <br>
          此模板是从 <a href="http://www.web600.net" target="_blank">www.web600.net</a> 处下载 <br>
          Copyright &copy; 2005 - 2008 www.web600.net Inc. All Rights Reserved 中国网站美工网收集整理 <br>
        建议使用：1024*768以上分辨率 16位以上颜色 IE5.0以上版本浏览器</div></td>
    </tr>
  </table>  
</div>
</body>
</html>
