<script src="static/js/calendar.js" type="text/javascript"></script>
<div class="itemtitle">
	<h3>直播记录-{$username}({$uid})</h3>
	<div>
		<form name="formlivelog" action="admin.php?action=live&op=livelog" method="post">
		<input type="hidden" name="uid" value="{$uid}"/>
		<input class="txt" name="timestart" value="{$timestart}" style="width: 108px; margin-right: 5px;" onclick="showcalendar(event, this)" type="text"> -- 
		<input name="timeend" value="{$timeend}" class="txt" style="width: 108px; margin-left: 5px;" onclick="showcalendar(event, this)" type="text">
		<input class="btn" type="submit" name="submit" value="搜索"/>
		</form>
	</div>
</div>
<div>
	<table class="tb tb2 ">
		<tr class="partition">
			<td class="td27">开始时间</td>
			<td class="td27">结束时间</td>
			<td class="td27">历时</td>
			<td class="td27">最高在线人数</td>
			<td class="td27">主播收益</td>
		</tr>
		<!--{loop $list $key $value}-->
		<tr>
			<td>{$value['start_time_str']}</td>
			<td>{$value['end_time_str']}</td>
			<td>{$value['totaltime_str']}</td>
			<td>{$value['max_members']}</td>
			<td>{$value['income']}</td>
		</tr>
		<!--{/loop}-->
		<tr class="partition"><td colspan="5"><div class="center">总历时：{$totalTime_str}　　总收益：{$totalHuoshow}</div></td></tr>
		<tr><td colspan="5"><div class="cuspages right"><div class="pg">$multi</div></div></td></tr>
	</table>
</div>