/* 由 F12 开发人员工具生成。这可能不是原始源文件的准确表示形式。
   www.qhjsw.net
   qhjsw@qhjsw.net
   QQ:909507090
   敬请注意：本程序为开源程序，你可以使用本程序在任何的商业、非商业项目或者网站中。但请你务必保留代码中相关信息（页面logo和页面上必要的链接可以清除），
	  请为本论坛（www.qhjsw.net）加上网址链接，谢谢支持。作为开发者你可以对相应的后台功能进行扩展（增删改相应代码）,但请保留代码中相关来源信息（例如：本论坛网址，邮箱等）。
          如果你进行了修改请务必把修改过的程序以邮件形式发送给本人（qhjsw#qhjsw.net #号换为@）。谢谢合作！

*/
html {
	font: 12px/1.4em Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	width: 100%;
	color: black;
	font-size-adjust: none;
	font-stretch: normal;
}

body {
	font: 12px/1.4em Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	width: 100%;
	color: black;
	font-size-adjust: none;
	font-stretch: normal;
}

ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

form {
	margin: 0px;
	padding: 0px;
}

img {
	border: 0px currentColor;
}

input[disabled] {
	border: 1px solid rgb(204, 204, 204);
}

a {
	color: rgb(56, 94, 162);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#header {
	margin: 5px auto 0px;
	width: 950px;
	height: 110px;
	overflow: hidden;
}

#content {
	margin: 5px auto 0px;
	width: 610px;
	height: 600px;
	overflow: hidden;
}

#content #cleft {
	width: 160px;
	height: 600px;
	float: left;
}

#content #cmain {
	width: 630px;
	height: 460px;
	float: left;
}

#content #cright {
	width: 160px;
	height: 600px;
	float: left;
}

#content #cmain #uploadform {
	margin: 0px 46px;
	width: 522px;
	overflow: hidden;
	clear: both;
}

#content #cmain #cmainbottom {
	margin: 0px 23px;
	width: 540px;
	height: 126px;
}

#footer {
	margin: 5px auto;
	width: 950px;
	height: 115px;
	overflow: hidden;
}

#footer1 {
	margin: 5px auto;
	width: 950px;
	height: 40px;
	text-align: center;
	overflow: hidden;
}

#imglist {
	width: 520px;
	height: 90px;
	border:1px solid #6CF;
	overflow-y:scroll;
	margin:0px 20px;
}

div.button {
	line-height: 25px;
	margin-top: 5px;
}

span.status {
	line-height: 25px;
	margin-left: 15px;
}

div.textads {
	margin-top: 8px;
	background-color: rgb(204, 204, 204);
}

div.flash {
	border-color: rgb(217, 228, 255);
	margin: 0px;
	width: 500px;
	height: 300px;
	overflow: auto;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

div.fieldset {
	margin: 10px 0px;
	padding: 10px;
	border: 1px solid rgb(175, 225, 76);
}

div.fieldset span.legend {
	font: 700 14px/normal Arial, Helvetica, sans-serif;
	padding: 3px;
	top: 0px;
	color: rgb(115, 179, 4);
	position: relative;
	font-size-adjust: none;
	font-stretch: normal;
	background-color: rgb(255, 255, 255);
}

.progressWrapper {
	width: 480px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: 1px solid rgb(232, 232, 232);
	overflow: hidden;
	background-color: rgb(247, 247, 247);
}

.message {
	margin: 1em 0px;
	padding: 10px 20px;
	border: 1px solid rgb(255, 221, 153);
	overflow: hidden;
	background-color: rgb(255, 255, 204);
}

.red {
	border: 1px solid rgb(181, 0, 0);
	background-color: rgb(255, 235, 235);
}

.green {
	border: 1px solid rgb(221, 240, 221);
	background-color: rgb(235, 255, 235);
}

.blue {
	border: 1px solid rgb(206, 226, 242);
	background-color: rgb(240, 245, 255);
}

.progressName {
	width: 323px;
	height: 14px;
	text-align: left;
	color: rgb(85, 85, 85);
	overflow: hidden;
	font-size: 9pt;
	font-weight: 700;
	white-space: nowrap;
}

.progressBarInProgress {
	width: 0%;
	height: 2px;
	font-size: 0px;
	margin-top: 2px;
	background-color: blue;
}

.progressBarComplete {
	width: 0%;
	height: 2px;
	font-size: 0px;
	margin-top: 2px;
	background-color: blue;
}

.progressBarError {
	width: 0%;
	height: 2px;
	font-size: 0px;
	margin-top: 2px;
	background-color: blue;
}

.progressBarComplete {
	width: 100%;
	visibility: hidden;
	background-color: green;
}

.progressBarError {
	width: 100%;
	visibility: hidden;
	background-color: red;
}

.progressBarStatus {
	width: 337px;
	text-align: left;
	font-family: Arial;
	font-size: 9pt;
	margin-top: 2px;
	white-space: nowrap;
}

a.progressCancel {
	background-position: -14px 0px;
	width: 14px;
	height: 14px;
	font-size: 0px;
	float: right;
	display: block;
	background-image: url("../images/cancelbutton.gif");
	background-repeat: no-repeat;
}

a.progressCancel:hover {
	
}

.swfupload {
	vertical-align: top;
}