<link href="{WWW_URL}img/templates/huoshow02/css/jiemian.css" rel="stylesheet" type="text/css" />
<div class="main_body">
	<div class="jiemian_left">
	
	<div class="jiemian_left_nav">
	<ul class="jiemian_left_nav_texe">
	<li class="jiemian_left_nav_zi_01"><a href="about.shtml">关于火秀<span class="nav_yingwen">About</span></a></li>
    <li class="jiemian_left_nav_zi_02"><a href="advertising.shtml">广告服务<span class="nav_yingwen">Advertising</span></a></li>
    <li class="jiemian_left_nav_zi_02"><a href="contact.shtml">联系我们<span class="nav_yingwen">Contact Us</span></a></li>
    <li class="Click"><a href="partners.shtml">合作伙伴<span class="nav_yingwen">Partners</span></a></li>
    <!--<li class="jiemian_left_nav_zi_02"><a href="suggestion.shtml">意见建议<span class="nav_yingwen">Suggestion</span></a></li -->
    <li class="jiemian_left_nav_zi_02"><a href="joinus.shtml">诚聘英才<span class="nav_yingwen">Join  Us</span></a></li>
	<!--<li class="jiemian_left_nav_zi_03"><a href="help/index.shtml">网站帮助<span class="nav_yingwen">Help</span></a></li> -->
	

	</ul>
	</div>
	</div>
		<div class="jiemian_right">
		<div class="jiemian_banner"><a href="#"><img src="{WWW_URL}img/templates/huoshow02/images/jiemian_banner.jpg" width="752" height="130" /></a></div>

			<div class="jiemian_right_text">
			<div class="jiemian_right_text_bt"><span class="banner_fuw">商业合作</span></div>
<div class="jiemian_right_lianjie"><a href="#"><img src="{WWW_URL}img/templates/huoshow02/images/hezuo/zhifubao.jpg" width="137" height="43" /></a>  <a href="#"><img src="{WWW_URL}img/templates/huoshow02/images/hezuo/caifutong.jpg" width="137" height="43" /></a>  <a href="#"><img src="{WWW_URL}img/templates/huoshow02/images/hezuo/yibao.jpg" width="137" height="43" /></a></div>	
			</div>

			<div class="jiemian_right_text">
			<div class="jiemian_right_text_bt"><span class="banner_fuw">合作伙伴</span></div>
<div class="jiemian_right_lianjie"><a href="http://www.hunantv.com/" target="_blank"><img src="{WWW_URL}img/templates/huoshow02/images/hezuo/hezuo4.jpg" /></a><a href="http://www.qianlong.com/" target="_blank"><img src="{WWW_URL}img/templates/huoshow02/images/hezuo/jiemian_lianjie_logo.jpg" /></a><a href="http://www.playpk.com/" target="_blank"><img src="{WWW_URL}img/templates/huoshow02/images/hezuo/hezuo3.jpg" /></a><a href="http://www.qianxun.me/" target="_blank"><img src="{WWW_URL}img/templates/huoshow02/images/hezuo/hezuo1.jpg"  /></a><a href="http://www.xiaoao.com/" target="_blank"><img src="{WWW_URL}img/templates/huoshow02/images/hezuo/hezuo2.jpg" /></a><a href="http://www.tom.com/" target="_blank"><img src="{WWW_URL}img/templates/huoshow02/images/hezuo/hezuo5.jpg" width="140" height="49" /></a></div>
			</div>

		</div>

</div>