<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="home.php">$_G[setting][navs][4][navname]</a> <em>&rsaquo;</em> 
		<a href="home.php?mod=space&do=withdraw">兑现</a> <em>&rsaquo;</em> 	
	</div>
</div>

<style id="diy_style" type="text/css"></style>
<div class="wp">
	
</div>
<link rel="stylesheet" type="text/css" href="/static2/gifts.css" />

<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		
		<div class="bm bw0">			
			
			<div id="congzhititle" style="background:url('/static2/images/gifts/zhifu_08.gif');">
		       <ul >
		            <li><a  href="/home.php?mod=space&do=withdraw">兑现</a></li>
		            <li><a class="congzhititleliahover2" href="/home.php?mod=space&do=withdraw&act=record">兑现记录</a></li>
		       </ul>
		    </div>
			<div id="congzhikuang">
		        <div class="jju"></div>
		           	<div id="congzhinr3">
		           		<div style="border:solid 1px #999999;background:#eeeeee;width:710px;padding:10px 20px 10px 20px;">
		           		<h1 style="color:#333333;font-size:15px;">我的账户余额：<img src='/static/image/feed/bi.png' /> <span style="color:#a80606">{$userHuoShowCoin}</span> 秀币</h1>
		           		</div>
		           		
		            	<div class="clear"></div>		           
		       		</div>
		       	
		       		<div id="congzhinr3">
		       			<div style="width:752px;">
		       			<table width="100%" border="0" cellspacing="0" cellpadding="0">
		       			<tr style="background:#f3f3f3;height:30px;border-bottom:solid 1px #dddddd;">
		       			<td>&nbsp;&nbsp;<a href="/home.php?mod=space&do=withdraw&act=record&oderby=orderno&sc={$sc}">流水号</a>
		       			</td>
		       			<td><a href="/home.php?mod=space&do=withdraw&act=record&oderby=createtime&sc={$sc}">创建时间</a>
		       			</td>
		       			<td><a href="/home.php?mod=space&do=withdraw&act=record&oderby=huoshowcoin&sc={$sc}">秀币</a>
		       			</td>
		       			<td><a href="/home.php?mod=space&do=withdraw&act=record&oderby=rmb&sc={$sc}">兑换金额</a>
		       			</td>
		       			<td><a href="/home.php?mod=space&do=withdraw&act=record&oderby=status&sc={$sc}">状态</a>
		       			</td>
		       			<td>操作
		       			</td>
		       			</tr>
		       			<!--{loop $order $k $value}-->
		       			<tr style="height:30px;border-bottom:solid 1px #eeeeee;">
		       			<td>&nbsp;&nbsp;{$value['orderno']}
		       			</td>
		       			<td>{$value['createtime']}
		       			</td>
		       			<td>{$value['huoshowcoin']}
		       			</td>
		       			<td>{$value['rmb']}
		       			</td>
		       			<td>{$value['status_name']}
		       			</td>
		       			<td width="120"><!--{if $value['status']==2 }--><a 		       			
		       			href="javascript:;" onclick='oprationOrder("/home.php?mod=space&do=withdraw&act=operation&opt=confirm&id={$value[id]}&times=$timet")'>确认</a>
		       			
		       			<a  
		       			href="/home.php?mod=space&do=withdraw&act=complaint&id={$value[id]}&times=$timet" 
		       			onclick="showWindow('register', this.href)" href="/home.php?mod=space&do=withdraw&act=addbank&times=$timet">投诉</a><!--{/if}-->  
		       			
		       			<a href="/home.php?mod=space&do=withdraw&act=record&opt=info&id={$value['id']}" >详情</a>
		       			
		       			</td>
		       			</tr>
		       			<!--{/loop}-->
		       			<tr><td colspan="6">
		       			<!--{if $multi}--><div class="pgs cl mtm">$multi</div><!--{/if}-->
		       			</td></tr>
		       			</table>
		       			</div>
		       		</div>
		       		<div id="congzhinr3"><br><br>
		       <h1 style="font-size:14px;color:#000000">使用遇到问题？</h1><br>
<strong>提现很多天了，银行的账户上还未收到，查询需要提供哪些信息？</strong><br>
答：请您确认您所查询的银行账户与您提现的银行账户是否一致。<br><br>
<strong>申请提现多久可以到我的银行卡？</strong><br>
答：中国银行提现到账时间为：3天到账（不包括申请当天），节假日顺延； 其他银行提现到账时间为：2天到账（包括申请当天）。 
		
		       		</div>
		       <div class="clear"></div>
		    </div>


		</div>
		
	</div>

	<div class="appl">
		<!--{subtemplate common/userabout}-->


	</div>
</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
<script  type="text/javascript">  
(function($){
	window.deleteBankAcount = function(href)
	{
		if (!confirm("确认删除？"))
		{
		    return false;
		}
		$.get(href,function(data){
			if(data=='1'){
				alert('删除成功');
				window.location.reload();
			}else{
				alert('删除失败');
			}
		})
		return false;
	}
	window.duixian = function(){
		var withdraw = $("#withdraw").val();
		var account  = $('input[name="id"]:[checked]').val();
		if(withdraw==undefined || withdraw==0){
			alert('请选择兑换金额');
			$("#withdraw").focus();
			return false;
		}
		if(account==undefined || account==0){
			alert('请选择银行帐号，如果你还没有银行帐号请添加一个');
			return false;
		}
		if(withdraw>{$userHuoShowCoin}){
			alert('您的余额不足以兑换');
			return false;
		}
		var url = '/home.php?mod=space&do=withdraw&act=duixian';
		$.post(url,{'withdraw':withdraw,'account':account},function(data){
			if(data=='1'){
				alert('提交成功，我们将在3个工作日内将现金打入您的卡号(尾数为{$value['bankno']})内');
				window.location.reload();
				return;
			}
			if(data=='-1'){
				alert('您的余额不足以兑换');
				window.location.reload();
				return;
			}else{
				alert('失败，系统错误');
				window.location.reload();
				return;
			}
			
		});
	}
	window.oprationOrder = function(href){
		if (!confirm("确认您的帐款已经收到了吗？"))
		{
		    return false;
		}
		$.get(href,function(data){
			if(data==1){				
				window.location.reload();
				return;
			}else{
				//alert(data);
				alert('失败，系统错误');
				window.location.reload();
				return;
			}
		});
		
	}
})(jQuery);
</script>