<!--{subtemplate common/header_space_common}-->
<script src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
<link rel="stylesheet" type="text/css" href="{$_G[setting][csspath]}data/cache/style_{STYLEID}_css_space.css?{VERHASH}" />
<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}space/{if $space[theme]}$space[theme]{else}t1{/if}/style.css?{VERHASH}">
<style id="diy_style">$space[spacecss]</style>

</head>

<body id="space" onkeydown="if(event.keyCode==27) return false;">
  <!--{if $space['self']}--><a id="diy-tg" href="{DX_URL}home.php?mod=space&diy=yes" title="装扮空间"><img src="{STATICURL}image/diy/panel-toggle-space.png" alt="DIY" /></a><!--{/if}-->
  <div id="append_parent"></div>
  <div id="ajaxwaitid"></div>

  <!--{if $space['self'] && $_GET['diy'] == 'yes' && $do == 'index' }-->
  <link rel="stylesheet" type="text/css" href="{$_G[setting][csspath]}data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />
  <!--{subtemplate home/space_diy}-->
  <!--{/if}-->
  <div id="virtual_body">
    <div class="topnav cl">
      <p class="y navinf">
      <!--{if $_G['uid']}-->
      <strong><a href="{DX_URL}home.php?mod=space&uid=$_G[uid]" class="vwmy" target="_blank" title="{lang visit_my_space}"><span class="user-bar-nick"><!--{if $_G[member][nickname]}-->{$_G[member][nickname]}<!--{else}-->{$_G[member][username]}<!--{/if}--></span>($_G[uid])</a></strong>
      <!--{if $_G['group']['allowinvisible']}--><span id="loginstatus" class="xg1"><a href="{DX_URL}member.php?mod=switchstatus" title="{lang login_switch_invisible_mode}" onClick="ajaxget(this.href, 'loginstatus');doane(event);"><!--{if $_G['session']['invisible']}-->{lang login_invisible_mode}<!--{else}-->{lang login_normal_mode}<!--{/if}--></a></span><!--{/if}-->
      <span class="pipe">|</span><span id="myspace" class="xg1 showmenu" onMouseOver="showMenu(this.id);"><a target="_blank" href="{DX_URL}home.php?mod=space&do=home">{lang my_center}</a></span>
      <span class="pipe">|</span><span id="usersetup" class="xg1 showmenu" onMouseOver="showMenu(this.id);"><a target="_blank" href="{DX_URL}home.php?mod=spacecp">{lang setup}</a></span>
      <span class="pipe">|</span><a target="_blank" href="{DX_URL}home.php?mod=space&do=notice" id="myprompt"{if $_G[member][newprompt]} class="new"{/if}>{lang remind}<!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}--></a><span id="myprompt_check"></span>
      <span class="pipe">|</span><a target="_blank" href="{DX_URL}home.php?mod=space&do=pm" id="pm_ntc"{if $_G[member][newpm]} class="new"{/if}>{lang pm_center}<!--{if $_G[member][newpm]}-->($_G[member][newpm])<!--{/if}--></a>
      <!--{if $_G['group']['allowmanagearticle'] || $_G['group']['allowdiy'] || in_array($_G['uid'], $_G['setting']['ext_portalmanager'])}--><span class="pipe">|</span><a target="_blank" href="{DX_URL}portal.php?mod=portalcp">{lang portal_manage}</a><!--{/if}-->
      <!--{if $_G['uid'] && $_G['group']['radminid'] > 1}--><span class="pipe">|</span><a href="{DX_URL}forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a><!--{/if}-->
      <!--{if $_G['uid'] && ($_G['group']['radminid'] == 1 || $_G['member']['allowadmincp'])}--><span class="pipe">|</span><a href="{DX_URL}admin.php" target="_blank">{lang admincp}</a><!--{/if}-->
      <span class="pipe">|</span><a href="{DX_URL}member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
      <!--{elseif !empty($_G['cookie']['loginuser'])}-->
      <strong><a id="loginuser">$_G['cookie']['loginuser']</a></strong>
      <span class="pipe">|</span><a href="{DX_URL}member.php?mod=logging&action=login" onClick="showWindow('login', this.href);hideWindow('register');">{lang activation}</a>
      <span class="pipe">|</span><a href="{DX_URL}member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
      <!--{else}-->
      <a href="{DX_URL}member.php?mod={$_G[setting][regname]}" onClick="showWindow('register', this.href);hideWindow('login');">$_G['setting']['reglinkname']</a>
      <span class="pipe">|</span><a href="{DX_URL}member.php?mod=logging&action=login" onClick="showWindow('login', this.href);hideWindow('register');">{lang login}</a>
      <!--{/if}-->
      </p>
      <ul class="cl">
        <li class="navlogo"><a target="_blank" href="http://www.huoshow.com/" title="$_G['setting']['bbname']">$_G['setting']['bbname']</a></li>
        <li><span id="navs" class="xg1 showmenu" onMouseOver="showMenu(this.id);"><a target="_blank" href="{DX_URL}home.php?mod=space&do=home">返回首页</a></span></li>
      </ul>
    </div>

    <div id="space_body">
      <div id="hd" class="wp cl">
        <h2 id="spaceinfoshow">
          <!--{eval space_merge($space, 'field_home'); $space[domainurl] = space_domain($space);}-->
          <strong id="spacename" class="mbn"><em class="owner-nick">
              <!--{if $space[spacename]}-->$space[spacename]<!--{else}--><!--{if $space[nickname]}-->$space[nickname]<!--{else}-->$space[username]<!--{/if}--></em>的直播房间<!--{/if}-->
            <!--{if !$space['self']}--><a class="oshr xs1 xw0" onClick="showWindow(this.id, this.href, 'get', 0);" id="share_space" href="{DX_URL}home.php?mod=spacecp&ac=share&type=space&id=$space[uid]">分享</a><!--{/if}-->
          </strong>
          <a id="domainurl" href={DX_HUOSHOW_SHOW_URL}{$space['uid']} onClick="javascript:setCopy('{DX_HUOSHOW_SHOW_URL}{$space['uid']}', '复制');return false;" class="xs0 xw0">{DX_HUOSHOW_SHOW_URL}{$space['uid']}</a> <!--{if $space['self']}-->&nbsp;&nbsp;<a id="domainurl" href="{DX_HUOSHOW_SHOW_URL}{$space['uid']}" onClick="javascript:setCopy('{DX_HUOSHOW_SHOW_URL}{$space['uid']}', '复制');return false;" class="xs0 xw0">[复制]</a><!--{/if}-->
          <span id="spacedescription" class="xs1 xw0 mtn">$space[spacedescription]</span>
        </h2>
        <div id="nv" style="overflow:visible;">
          <ul >
            <li id="zhibostatus"><img src="/static2/images/live_online.gif" /><a href="{DX_HUOSHOW_SHOW_URL}{$space[uid]}" target="_blank">直播房间</a></li>
            <li><a href="{DX_URL}{$space['uid']}" target="_blank">个人主页</a></li>
            <li><a href="{DX_URL}home.php?mod=space&uid=$space[uid]&do=home&view=me&from=space" target="_blank">动态</a></li>
            <li><a href="{DX_URL}home.php?mod=space&uid=$space[uid]&do=doing&view=me&from=space" target="_blank">心情</a></li>
            <li><a href="{DX_URL}home.php?mod=space&uid=$space[uid]&do=blog&view=me&from=space" target="_blank">日志</a></li>
            <li><a href="{DX_URL}home.php?mod=space&uid=$space[uid]&do=album&view=me&from=space" target="_blank">相册</a></li>
            <!--{if $_G['setting']['allowviewuserthread'] !== false}-->
            <li><a href="{DX_URL}home.php?mod=space&uid=$space[uid]&do=thread&view=me&from=space" target="_blank">主题</a></li>
            <!--{/if}-->
            <li><a href="{DX_URL}home.php?mod=space&uid=$space[uid]&do=share&view=me&from=space" target="_blank">分享</a></li>
            <li><a href="{DX_URL}home.php?mod=space&uid=$space[uid]&do=friend&view=me&from=space" target="_blank">好友</a></li>
            <li><a href="{DX_URL}home.php?mod=space&uid=$space[uid]&do=wall" target="_blank">留言板</a></li>
            <li><a href="{DX_URL}home.php?mod=space&uid=$space[uid]&do=profile" target="_blank">个人资料</a></li>
          </ul>
        </div>
      </div>

      <!--{if !empty($_G['setting']['plugins']['jsmenu'])}-->
      <ul class="p_pop h_pop" id="plugin_menu" style="display: none">
        <!--{loop $_G['setting']['plugins']['jsmenu'] $module}-->
        <!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}-->
        <li>$module[url]</li>
        <!--{/if}-->
        <!--{/loop}-->
      </ul>
      <!--{/if}-->
      $_G[setting][menunavs]

      <!--{eval $mnid = getcurrentnav();}-->
      <ul id="navs_menu" class="p_pop topnav_pop" style="display:none;">
        <!--{loop $_G['setting']['navs'] $nav}-->
        <!--{eval $nav_showmenu = strpos($nav['nav'], 'onmouseover="showMenu(');}-->
        <!--{eval $nav_navshow = strpos($nav['nav'], 'onmouseover="navShow(')}-->
        <!--{if $nav_hidden !== false || $nav_navshow !== false}-->
        <!--{eval $nav['nav'] = preg_replace("/onmouseover\=\"(.*?)\"/i", '',$nav['nav'])}-->
        <!--{/if}-->
        <!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}--><li target="_blank" {$nav[nav]}></li><!--{/if}-->
        <!--{/loop}-->
      </ul>
      <ul id="myspace_menu" class="p_pop" style="display:none;">
        <li><a target="_blank" href="{DX_URL}home.php?mod=space">{lang my_space}</a></li>
      </ul>



