<!--{template 'huoshow_common/common_header.html'}-->
<style>

.Exciting_trailers_Title{ width:960px; height:30px;}
.Exciting_trailers_Title_bg{ width:9px; height:8px; background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) left 159px; display:inline; float:left;  margin:10px 0 0 10px;}
.Exciting_trailers_Title_bg_01{ width:791px; height:8px; background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) left 128px; display:inline; float:left; margin:10px 0 0 10px;}
.Exciting_trailers_nr{ width:960px;}
.Exciting_trailers_left,.Exciting_trailers_left_01{ width:25px; height:121px; background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) left 433px; float:left;}
.Exciting_trailers_right,.Exciting_trailers_right_01{ width:25px; height:121px; background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) left 304px; float:right;}
.Exciting_trailers_video_list { float:left; width:868px;  display:inline; margin-left:6px;}
.Exciting_trailers_video_list li {float:left; width:140px;text-align:center; display:inline; margin-left:33px;}



.reying_tuwen_pic img { width:100px; height:138px;padding:1px; border:1px solid #dedcdd; float:left;}
.reying_tuwen_pic_Arrow{ height:18px;position:relative; top:-15px; display:inline; float:left;}
.reying_tuwen_pic_Arrow_left{background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) 53px 298px; width:20px; height:18px;  float:left; margin-left:30px; display:inline;}
.reying_tuwen_pic_Arrow_right{background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) right 298px; width:20px; height:18px; float:left; margin-left:10px;}
.reying_news{ width:134px; float:left; display:inline; margin-left:20px;}
.reying_news ul{ width:134px; float:left;}
.reying_news ul li a{ color:#666666;}
.reying_news ul li a:hover{ color:#d60921;}



/* top news */
.top_news_left {width:298px; height:325px; border:1px solid #dedcdd; background:#f9f9f9;  display:inline; float:left;}
.top_news_left_inner_bd {width:296px; height:323px; border:1px solid #fff; float:left;}

.top_news_right {width:392px; height:325px; border:1px solid #dedcdd; background:#f9f9f9;  display:inline; float:right;}
.top_news_right_inner_bd {width:390px; height:323px; border:1px solid #fff; float:left;}

.music_toutiao_newslist_01{ width:325px;  padding-top:14px; line-height:22px; border-bottom:1px dashed #CCC; padding-bottom:8px;}
.newslist_01{ display:inline; float:left; line-height:18px; width:272px; margin-top:5px;}
.newslist_03{  overflow:hidden;margin-top:6px!important;margin-top:5px;}
.newslist_04{ margin-top:6px; display:inline; float:left; overflow:hidden;}
.newslist_05{ margin-top:4px; display:inline; float:left; overflow:hidden;}







/* 音乐区域*/
.index_music{ width:960px;}
.index_music_bt { background: url({WWW_URL}img/templates/huoshow02/images/index_nr_bj.jpg) left 233px; width:960px; height:51px;}
.index_music_bt_Title{ background: url({WWW_URL}img/templates/huoshow02/images/index_nr_bj.jpg) left 504px; width:186px; height:31px; float:left; margin:8px 0 0 10px;}

/*MyShow*/
.index_myshow{ width:960px; margin-top:8px;}
.index_myshow_bt { background: url({WWW_URL}img/templates/huoshow02/images/index_nr_bj.jpg) left 233px; width:960px; height:51px;}
.my_Title_bg_01{ width:835px; height:8px; background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) left 128px; display:inline; float:left; margin:10px 0 0 10px;}
.index_myshow_Title{ background: url({WWW_URL}img/templates/huoshow02/images/index_nr_bj.jpg) left 554px; width:267px; height:31px; float:left; margin:8px 0 0 10px;}
.Exciting_trailers_nr_02{ width:958px; border:1px solid #e5e5e5; background:#FFF; float:left; height:205px;position:relative; top:-8px;}
.Exciting_trailers_video_list_02{ float:left; width:925px;  display:inline;  margin-left:20px; margin-top:15px;}
.Exciting_trailers_video_list_02 li {float:left; width:140px;text-align:center; display:inline; margin-left:10px;}
.cishu{ color:#8a8a8a; margin-top:10px; line-height:30px;}
.top_video_text_02{  line-height:22px;}


.news{ margin:12px 0 0 12px;}
.liston_03{}
.liston_03 li a{ line-height:18px;}
.liston_03 li a:hover{ line-height:18px; border-bottom:1px solid #F00;}

.liston li a{}
.liston li a:hover{ text-decoration: underline; }





/*热门群组*/
.Popular_groups{ width:702px; border:1px solid #e5e5e5; float:left; margin-top:8px; padding-bottom:5px;}
.Popular_groups_01{ width:702px; border:1px solid #e5e5e5; float:left; margin-top:8px; padding-bottom:5px;}

.Popular_groups_left{ width:294px; height:238px; background:#515151; margin:5px 20px 0 5px; float:left; display:inline;}
.Popular_groups_left_bt{ background:url({WWW_URL}img/templates/huoshow02/images/index_nr_bj.jpg) right 170px; width:294px; height:68px;}
.Popular_groups_left_pic ul{ margin:0 0px 0px 10px;  float:left; display:inline;}
.Popular_groups_left_pic ul li{ width:48px; height:48px;border:2px solid #fff; float:left; margin:0px 4px 4px 0px; overflow:hidden;}
.Popular_groups_right{ width:372px; float:right; display:inline;}
.Popular_groups_Title{}
.Popular_groups_Title_bg{ width:9px; height:8px; background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) left 159px; display:inline; float:left;  margin:10px 0 0 0;}
.ndi_Center_t_02{ margin:10px 0 0 0; width:359px; float:left;}
.ndi_Center_t_text_05{ background:url({WWW_URL}img/templates/huoshow02/images/music_bt.gif) left 352px; height:26px;font-size:14px; padding-left:12px;line-height:26px; }

/*论坛*/
.Forum_Title{ background:url({WWW_URL}img/templates/huoshow02/images/index_nr_bj.jpg) left 81px; width:702px; height:35px;}
.Forum_left{ width:295px;float:left; background:#d60921; margin:5px 0 0 5px; display:inline; overflow:hidden;}
.Forum_left_pic{ width:295px;}
.Forum_left_tuwen{ width:282px;  float:left; margin:10px 0 0 10px; display:inline;}
.Forum_left_tuwenlist{ width:282px;}
.Forum_left_tuwenlist li{ width:136px; text-align:center; color:#FFF;  float:left; margin-right:3px;}
.Forum_left_tuwenlist li a{ color:#FFF; font-weight:bold; line-height:26px;}
.Forum_left_news_wenzi{}
.Forum_left_bt{ padding-left:10px;}
.text_baise{ color:#FFF; font-size:14px; font-weight:bold; line-height:30px;}
.Forum_left_news{ width:275px; height:130px; background:#930;  background:url({WWW_URL}img/templates/huoshow02/images/index_charts_02.jpg) no-repeat;}
.Forum_left_news_list{}
.Forum_left_news_list ul{}
.Forum_left_news_list ul li{text-indent:30px;}
.Forum_left_news_list ul li a{ line-height:21px;  color: #FFF;}
.Forum_left_news_list ul li a:hover{  color: #FFF;}
.huobao_tu{ background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) right 693px; width:30px; height:26px; display:inline-block;}
.Recommended{ background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) right 623px; width:30px; height:26px; display:inline-block;}
.Top{ background:url({WWW_URL}img/templates/huoshow02/images/index_bj.jpg) right 657px; width:30px; height:26px; display:inline-block;}

/*推荐博文*/
.Notes{ width:250px; height:350px;  border:1px solid #e5e5e5; float:right; margin-top:8px;}
.Notes_news{ width:225px; margin:0 10px 0 10px;}
.Notes_news li { width:225px;  float:left; padding-top:20px;}
.Notes_news li img{ margin-right:5px; border:1px solid #e5e5e5; padding:1px; background:#FFF;}
.Notes_Title{ background:url({WWW_URL}img/templates/huoshow02/images/index_nr_bj.jpg) left 81px; width:250px; height:35px;}




/* 左边内容   */
.Subpage_left{ width:650px; height:auto; float:left; border:1px solid #ebebeb;}
.Subpage_right{ width:300px; height:auto; float:right;}
.Subpage_Search{ width:650px; height:49px; border-bottom:1px solid #ebebeb; border-left: 1px solid #FFF; border-right: 1px solid #FFF;border-top: 1px solid #FFF;}
.Subpage_Search_show{ background:url({WWW_URL}img/templates/huoshow02/images/index_nr_bg_01.jpg) left 267px; width:82px; height:33px; margin:8px 0 0 10px; float:left; display:inline;}
.Subpage_Search_x{ width:73px; margin:8px 0 0 5px; vertical-align:middle; float:left;position:relative;}
.Subpage_Search_k{ width:281px; height:26px; margin:8px 0 0 10px; float:left; border:1px solid #c8c8c8;line-height:26px;}
.Subpage_Search_an{ margin:8px 0 0 10px; float:left;}
.Subpage_Search_gao{margin:8px 0 0 10px; float:left;}
.Search_Results{ width:650px; height:41px; border-bottom:1px dashed #CCC; margin:10px 0 0 0;}
.select_wenzi{ font-size:14px; line-height:24px; padding-left:10px;}
.select_wenzi_hongse{ color:#F00;}
.Search_Results_tu{ background:url({WWW_URL}img/templates/huoshow02/images/index_nr_bg_01.jpg) left 219px; width:33px; height:29px; display:inline-block; vertical-align:middle;}

.index_Subpage_news{ width:595px; height:120px; margin:23px 0 0 17px;}
.index_Subpage_news_bt{ font-size:16px; color:#0a7ce5;padding-bottom:3px;}
.index_Subpage_news_bt em{ color:red;font-style:normal;}
.index_Subpage_news_bt a{ color:#0a7ce5;}
.index_Subpage_news_tu,.index_Subpage_news_tu1{ background:url({WWW_URL}img/templates/huoshow02/images/index_nr_bg_01.jpg) left 151px; width:20px; height:20px; display:inline-block; vertical-align:middle;}
.index_Subpage_news_tu1{ background:url({WWW_URL}img/templates/huoshow02/images/index_nr_bg_01.jpg) left 175px;}
.index_Subpage_news_list{ color:#515151px; line-height:20px;}
.index_Subpage_news_list em{color:red;font-style: normal;}
.index_Subpage_news_bottom_hui{ height:20px; background: #f8f8f8; margin-top:10px;}
.index_Subpage_news_bottom_hui_left{ line-height:20px; padding-left:10px; float:left;}
.index_Subpage_news_bottom_hui_right{ float:right; color:#8a8a8a; line-height:20px; margin-right:10px;}
.tu2,.tu3,.tu4{ background:url({WWW_URL}img/templates/huoshow02/images/index_nr_bg_01.jpg) left 101px; width:20px; height:20px; display:inline-block; vertical-align:middle;}
.tu3{ background:url({WWW_URL}img/templates/huoshow02/images/index_nr_bg_01.jpg) left 128px;}
.tu4{ background:url({WWW_URL}img/templates/huoshow02/images/index_nr_bg_01.jpg) left 77px;}

/* 右边内容  */
.right_news_jiaodian{width:298px;border:1px solid #ebebeb;  float:left; display:inline; margin-top:8px;}
.right_news_jiaodian_bt{ width:297px; height:30px; background: #f9f9f9; border-bottom:1px solid #ebebeb;}
.right_banner{ width:300px; height:250px;}
.right_news_jiaodian_list_01{ width:270px; color:#666666; overflow:hidden; margin:10px 10px 0 10px;padding-bottom:10px;}
.right_news_jiaodian_list_01 li{width:290px; float:left; line-height:22px; display:inline;}
.jiacu{ font-weight:bold; line-height:30px;}
.right_news_jiaodian_list{ width:250px; padding-left:20px; background:url({WWW_URL}img/templates/huoshow02/images/index_charts_03.jpg) no-repeat;color:#666666; overflow:hidden; margin:10px 10px 0 10px;padding-bottom:10px;}
.right_news_jiaodian_list li{width:290px; float:left;display:inline;padding-top:0px;}
.right_news_jiaodian_list li a{  padding-left:10px;}
.right_news_jiaodian_list li{width:290px; float:left;display:inline;padding-top:0px;line-height:18px;padding-bottom:2px;}

.redian_news{ width:280px; margin:10px 0 0 10px;}
.redian_news li{ line-height:22px;}

.Small_games_pic{ margin-top:10px; margin-left:8px; }
.Small_games_pic ul{ width:280px; }
.Small_games_pic ul li{ width:133px; text-align:center; float:left; margin-right:6px; line-height:22px;}

.search_page_search_submit{background:url({WWW_URL}img/templates/huoshow02/images/Subpage_Search_an.jpg);width:94px;height:36px;cursor: pointer;border:0 none;}
.Subpage_Search_x ul{border:solid 1px #dddddd;background:#ffffff;float:left;width:71px;height:80px;z-index: 888;position: absolute;left:0;top:30px;}
.Subpage_Search_x li{width:71px;line-height:20px;float:left;}
.Subpage_Search_x a{padding-left:3px;width:68px;float:left;}
.Subpage_Search_x a:HOVER{background: #eeeeee;}

</style>
<link href="{IMG_URL}templates/{TEMPLATE}/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<script type="text/javascript" src="{IMG_URL}js/cmstop.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.pagination.js"></script>
<script type="text/javascript" src="{IMG_URL}apps/comment/js/comment.table.js"></script>
<script type="text/javascript" src="{IMG_URL}apps/comment/js/comment.js"></script>
<div id="ct" class="wp cl">
		<div class="column">
			<div class="content_nav">
				<span class="content_logo"><img src="{WWW_URL}img/templates/huoshow02/images/link-icon.jpg" /></span>
				<span class="content_cont">
					<!--{loop $pos $cat}-->
						<a href="{$cat[url]}">{$cat[name]}</a> > 
					<!--{/loop}-->评论
				</span>
			</div>
			<div class="col-l-main w-650 bor-9fc">
				<div class="comment-title"><h1>评论：<a href="{$url}" target="_blank">{$title}</a></h1></div>
				<div id="comment_box">
					<div class="mar-tb-10 padd-lr-20 pl-post">
						<a href="" class="italk-pl f-l" id="italk-pl">我要评论</a><span class="f-l mar-t-10 mar-l-10">(评论<cite class="commentTotal">0</cite>条)</span> 
						<div class="pagination f-r" id="paginationTop"><!--上部分页--></div>
						<div class="clear"></div>
						<!-- 顶部评论框 -->
						<div class="post-comment-area italk-area" id="top_replyarea" style="display: none;">
							<form action="?app=comment&controller=comment&action=comment" method="POST" onsubmit="return commentSubmit(this);">
								<input type="hidden" name="contentid" value="{$contentid}"/>
								<textarea name="content" class="textarea textarea-w573" cols="58" rows="10"></textarea>
								<div class="user-writeinfo">
								<span class="f-r"><input type="submit" class="post-btn" value="发表评论" /></span>
								<!--{if $_username}-->
									<span class="f-l">欢迎你，<strong class="cor-06c nickname">{$_username}</strong></span>
									<span class="f-l mar-l-10 padd-3"><label><input type="checkbox" name="anonymous" value="1" title="选中后，你将以匿名方式发布留言，不会显示你的用户名" /> 匿名发表</label></span>
								<!--{/if}-->
							</div>
							</form>
						</div>
					</div>
					<!--{if $hiHot != 1}-->
					<div class="padd-lr-20">
						<h2 class="hot-pl-title">热门评论</h2>
						<div class="hr-h10"></div>
						<dl class="mode-comment" id="hotcomment"><!-- 热门评论加载区 --></dl>
					</div>
					<!--{/if}-->
					<div class="padd-lr-20">
						<h2 class="hot-pl-title">全部评论</h2>
						<div class="hr-h10"></div>
						<div id="commentList"><!-- 全部评论列表区 --></div>
					</div>
					<div class="padd-lr-20">
						<div class="pagination f-r" id="pagination"><!--下部分页--></div>
					</div>
					
					<div class="hr-h10"></div>
					<div class="post-comment-area padd-lr-20">
						<form action="?app=comment&controller=comment&action=comment" method="POST" onsubmit="return commentSubmit(this);" id="commentForm">
							<div class="hr-h10"></div>
							<input type="hidden" name="contentid" value="{$contentid}"/>
							<textarea class="textarea textarea-w593" name="content" id="commentContent" cols="58" rows="10"></textarea>
							<div class="user-writeinfo">
								<span class="f-r"><input type="submit" class="post-btn" value="发表评论" /></span>
								<!--{if $_username}-->
									<span class="f-l">欢迎你，<strong class="cor-06c nickname">{$_username}</strong></span>
									<span class="f-l mar-l-10 padd-3"><label><input type="checkbox" name="anonymous" value="1" title="选中后，你将以匿名方式发布留言，不会显示你的用户名" /> 匿名发表</label></span>
								<!--{/if}-->
							</div>
							<div style="display: none;" class="fast-login" id="fastLoginDiv" value="0">
								<table cellpadding="0" cellspacing="0" border="0">
									<tr>
										<th><label class="cor-ccc">用户名：</label></th>
										<td><input type="text" class="input-text bor-gray"  name="username" id="loginUsername" value="" /></td>
									</tr>
									<tr>
										<th><label>密码：</label></th>
										<td><input type="password" class="input-text bor-gray" name="password" id="loginPassword" /></td>
									</tr>
									<tr>
										<th></th>
										<td><input type="button" class="fast-login-btn" onclick="login(); return false;" value="登录" /></td>
									</tr>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- rightSide -->
            <div class="Subpage_right">
                <div class="right_banner" id="rollImg">
                {db sql="select * from #table_section  where memo ='banner_common_topright_300_250'"}
			{$r[data]}
	    {/db}
                </div>
                <!--div class="right_news_jiaodian">
                    <div class="right_news_jiaodian_01">
                        <div class="right_news_jiaodian_bt"><span class="wenzi">点击榜 </span></div>
                        <div class="right_news_jiaodian_list">
                            <ul>						
                                {db sql="SELECT title,url FROM #table_content  order by pv DESC limit 10 "}			           
                                <li><span class="icon1"></span><a href="{$r['url']}" target="_blank" title="{$r['title']}">{str_cut($r['title'],40,'')}</a></li>
                                {/db}
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right_news_jiaodian">
                    <div class="right_news_jiaodian_01">
                        <div class="right_news_jiaodian_bt"><span class="wenzi">热点推荐</span> </div>
                            <ul class="redian_news">
                                
                                {db sql="SELECT * FROM #table_section s LEFT JOIN #table_section_data d ON d.sectionid=s.sectionid WHERE s.memo = 'huoshow_other_news_hot_recommend' ORDER BY d.sort desc limit 10"}
                                <li>·<a href="{$r[url]}"  target="_blank" title="{$r['title']}">{str_cut($r[title],40,'')}</a></li>
                                {/db}
                                
        
                            </ul>
                            
                        </div>
                </div>
                <div class="right_news_jiaodian">
                    <div class="right_news_jiaodian_01">
                        <div class="right_news_jiaodian_bt"><span class="wenzi">精彩图集</span> </div>
                            <div class="Small_games_pic">
                <ul>
                {db sql="SELECT * FROM #table_section s LEFT JOIN #table_section_data d ON d.sectionid=s.sectionid WHERE s.memo = 'huoshow_other_wonder_pic'  and d.thumb!='' ORDER BY d.sort desc limit 10"}
                <li><a href="{$r[url]}" target="_blank"><img src="{WWW_URL}upload/{$r[thumb]}" width="133" height="90" />{$r[title]}</a></li>
                {/db}		
                </ul>
                </div>
                            
                        </div>
                </div-->
                
            </div>
			<!-- //rightSide -->
		</div>
		</div>
<script type="text/javascript">
(function($){
     window.contentid = {$contentid};
     window.islogin = {$islogin};
     window.ischeck = {$ischeck};
     window.userid =  {intval($_userid)};
     window.username =  '{$_username}';
     window.defaultname = '{$SETTING[defaultname]}';
     window.wordage = '{$SETTING[wordage]}';
     window.total = {$total} + 0;

     window.row_template = '<dl class="mode-comment" id="commentbox_{commentid}">';
     row_template += '<dt><span class="user-info">'+defaultname+'{location}网友 {nickname}</span><span class="post-time">{date}</span></dt>';
     row_template += '<dd class="citation-wrap fs-14">{content}</dd><dd>';
     row_template += '<div class="relay-t f-r"><span class="f-l" onclick="support({commentid},this)">支持<em>[<b id="supportNum_{commentid}">{support}</b>]</em></span><span class="re-btn f-l" onclick="reply({commentid},this);">回复</span><a href="javascript:void(0)" onclick="report({commentid},this)" class="f-l">举报</a></div>';
     row_template += '<div class="clear"></div><div id="replyBox_{commentid}" class="replyBox"></div><div class="hr-dotted hr-h10"></div></dd></dl>';

     window.tableApp = new ct.table('#commentList',  {
rowIdPrefix : 'div_',
pageSize : <?=$pagesize?>,
rowCallback: 'init_row_event',
jsonLoaded : 'json_loaded',
template : row_template,
baseUrl  : '?app=comment&controller=comment&action=page&contentid='+contentid+'&total=' + total
});


$(function() {
        tableApp.load();
        var reply_top = $('#top_replyarea');
        $('#italk-pl').click(function(){
            reply_top.slideToggle('fast');
            return false;
            });
        $('#tab-title-4 >li >a').hover(function(){
            var id = $(this).attr('href');
            $('.tabs-focus').removeClass('tabs-focus');
            $(this).addClass('tabs-focus');
            $('.hot-subject-wrap').hide();
            $(id).show();
            });
        });

})(jQuery);
</script>
<div class="clear"></div>
<!--{template 'huoshow_index/footer.html'}-->
<script type="text/javascript">
/*
(function($){
	$(function(){
		window.getRollImg = function(){
			var url = '{WWW_URL}api/article.php?act=getrollimg&memo=huoshow_other_rool_image_300_250&width=300&height=250&navon=1';
			$.get(url,function(rs){
				$("#rollImg").html(rs);
			})
			
		}
		getRollImg();
	})
})(jQuery);
*/
</script>