<div class="right_news_zixun">
	<div class="right_news_zixun_01">
		<div class="right_news_jiaodian_bt ui_list_box_title">
			<span class="wenzi">相关热点</span>
		</div>
		{pc:content action="hits" catid="$catid" num="7" order="weekviews DESC" cache="3600"}
		<div class="zixun_pic">
			<ul>
				{loop $data $r}
				<li>
					<a href="{$r[url]}" title="{$r[title]}" target="_blank">
					<img src="{thumb($r[thumb],120,90)}" width="120" height="90" />{str_cut($r[title],30,'')}</a>
				</li>
				{php if($n==2) break;}
				{/loop}
			</ul>
			<ol>
				{loop $data $r}
				{if $n!=1 && $n!=2}
				<li><a href='{$r[url]}'>{str_cut($r[title],60,'')}</a></li>
				{/if}
				{/loop}
			</ol>
		</div>
		{/pc}
	</div>
</div>