<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>安卓应用列表 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-game-android.css' rel='stylesheet' />
	<script src='{JS_PATH}cssrefresh.js'></script>
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='game-android game-android-theme'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'game_header_android_dev'}

	<div id='content'>
		<!-- 主内容 -->
		<div id='main'>
			<ul class='ui-img-list ui-img-list-plus'>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
				<li class='ui-img-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
					<a class='title' href='#'>大话西战歌</a>
				</li>
			</ul>

			<div id='pager' class="pager ui-pager"><span>1022条</span><span class="disabled">首页</span><span class="disabled">上一页</span><span class="num current">1</span><a class='num' href="#">2</a><a class='num' href="#">3</a><a class='num' href="#">4</a><span class='ellipsis'>...</span><a class='num' href="#">199</a><a href="#">下一页</a><a href="#">末页</a></div>
		</div>

		<div id='aside'>
			<h2><a href='#'>分类检索</a></h2>
			<dl>
				<dt><a href='#'>安卓游戏(34563)</a></dt>
				<dd class='cur'><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>

				<dt><a href='#'>安卓应用(34563)</a></dt>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>

				<dt><a href='#'>安卓主题(34563)</a></dt>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>

				<dt><a href='#'>安卓壁纸(34563)</a></dt>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
			</dl>
		</div>
	</div>

	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-game-main'></script>
	{template 'content', 'hs_footer'}
</body>
</html>