<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>安卓应用列表 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-game-android.css' rel='stylesheet' />
	<script src='{JS_PATH}cssrefresh.js'></script>
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='game-android game-android-news'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'game_header_android_dev'}

	<div id='content'>
		<!-- 主内容 -->
		<div id='main'>
			<div class='ui-header ui-header-content'>
				<h2 class='title'>安卓游戏资讯</h2>
			</div>
			<div class='ui-content'>
				<ul class='ui-list ui-list-content'>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
				</ul>
				<ul class='ui-list ui-list-content'>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
				</ul>
				<ul class='ui-list ui-list-content'>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
				</ul>
				<ul class='ui-list ui-list-content'>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
				</ul>
				<ul class='ui-list ui-list-content'>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
				</ul>
				<ul class='ui-list ui-list-content'>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
				</ul>
				<ul class='ui-list ui-list-content'>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
				</ul>
				<ul class='ui-list ui-list-content'>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
				</ul>
				<ul class='ui-list ui-list-content'>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
				</ul>
				<ul class='ui-list ui-list-content'>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
					<li class='ui-list-item'><a class='cnt' href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a> <span class='date'>2012-11-23 10:22</span></li>
				</ul>
			</div>

			<div id='pager' class="pager ui-pager"><span>1022条</span><span class="disabled">首页</span><span class="disabled">上一页</span><span class="num current">1</span><a class='num' href="#">2</a><a class='num' href="#">3</a><a class='num' href="#">4</a><span class='ellipsis'>...</span><a class='num' href="#">199</a><a href="#">下一页</a><a href="#">末页</a></div>
		</div>

		<div id='side'>
			<div class='ui-box-side ui-box-side-top'>
				<h2 class='ui-box-side-title'>装机必备</h2>
				<div class='ui-img'>
					<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='256' height='98' /></a>
					<h4 class='title'><a href='#'>测试文字</a></h4>
				</div>
				<ul class='ui-list fn-clear'>
					<li class='ui-list-item'><a href='#'>赫子铭与刘思言这对荧屏情侣似乎更得观众认可。甚至有何洁粉丝在赫子铭微博留言，希望他别当下一个释小龙</a></li>
					<li class='ui-list-item'><a href='#'>赫子铭与刘思言这对荧屏情侣似乎更得观众认可。甚至有何洁粉丝在赫子铭微博留言，希望他别当下一个释小龙</a></li>
					<li class='ui-list-item'><a href='#'>赫子铭与刘思言这对荧屏情侣似乎更得观众认可。甚至有何洁粉丝在赫子铭微博留言，希望他别当下一个释小龙</a></li>
					<li class='ui-list-item'><a href='#'>赫子铭与刘思言这对荧屏情侣似乎更得观众认可。甚至有何洁粉丝在赫子铭微博留言，希望他别当下一个释小龙</a></li>
					<li class='ui-list-item'><a href='#'>赫子铭与刘思言这对荧屏情侣似乎更得观众认可。甚至有何洁粉丝在赫子铭微博留言，希望他别当下一个释小龙</a></li>
					<li class='ui-list-item'><a href='#'>赫子铭与刘思言这对荧屏情侣似乎更得观众认可。甚至有何洁粉丝在赫子铭微博留言，希望他别当下一个释小龙</a></li>
					<li class='ui-list-item'><a href='#'>赫子铭与刘思言这对荧屏情侣似乎更得观众认可。甚至有何洁粉丝在赫子铭微博留言，希望他别当下一个释小龙</a></li>
					<li class='ui-list-item'><a href='#'>赫子铭与刘思言这对荧屏情侣似乎更得观众认可。甚至有何洁粉丝在赫子铭微博留言，希望他别当下一个释小龙</a></li>
					<li class='ui-list-item'><a href='#'>赫子铭与刘思言这对荧屏情侣似乎更得观众认可。甚至有何洁粉丝在赫子铭微博留言，希望他别当下一个释小龙</a></li>
					<li class='ui-list-item'><a href='#'>赫子铭与刘思言这对荧屏情侣似乎更得观众认可。甚至有何洁粉丝在赫子铭微博留言，希望他别当下一个释小龙</a></li>
				</ul>
			</div>

			<div class='ui-tab ui-tab-sd'>
				<ul class='ui-tab-nav fn-clear'>
					<li class='ui-tab-nav-item ui-tab-nav-item-cur'>游戏下载排行</li>
					<li class='ui-tab-nav-item'>软件下载排行</li>
				</ul>
				<div class='ui-tab-cnt'>
					<ul class='ui-tab-cnt-item ui-tab-cnt-item-cur ui-img-list ui-img-list-plus'>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
					</ul>
					<ul class='ui-tab-cnt-item ui-img-list ui-img-list-plus'>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌2</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
					</ul>
				</div>
			</div>

			<div class='ui-box-side'>
				<h2 class='ui-box-side-title'>装机必备</h2>
				<dl class='ui-step'>
					<dt>第一步：了解Android</dt>
					<dd><a href='#'>了解安卓使用方法</a> <a href='#'>怎样选手机</a> <a href='#'>见机必读</a></dd>

					<dt>第二步：使用Android</dt>
					<dd> <a href='#'>见机必读</a> <a href='#'>见机必读</a> <a href='#'>见机必读</a> <a href='#'>见机必读</a> <a href='#'>见机必读</a> <a href='#'>安装应用</a> <a href='#'>USB设置</a><br />
					设置：<a href='#'>桌面</a> <a href='#'>壁纸</a> <a href='#'>铃声</a> <a href='#'>网络</a></dd>

					<dt>第三步：玩转Android</dt>
					<dd> <a href='#'>刷机名词</a> <a href='#'>为什么要刷机</a> <a href='#'>怎样刷机</a> <a href='#'>怎样破解ROOT</a> <a href='#'>刷机风险</a></dd>
				</dl>
			</div>

			<div class='ui-box-side ui-box-gallery'>
				<h2 class='ui-box-side-title'>装机必备</h2>
				<ul class='ui-img-list ui-img-list-plus'>
					<li class='ui-img-list-item'>
						<a class='img img-mgame img-mgame-50' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /><span class='mark-img'></span></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img img-mgame img-mgame-50' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /><span class='mark-img'></span></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img img-mgame img-mgame-50' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /><span class='mark-img'></span></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img img-mgame img-mgame-50' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /><span class='mark-img'></span></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img img-mgame img-mgame-50' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /><span class='mark-img'></span></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img img-mgame img-mgame-50' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /><span class='mark-img'></span></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img img-mgame img-mgame-50' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /><span class='mark-img'></span></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img img-mgame img-mgame-50' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /><span class='mark-img'></span></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
				</ul>
			</div>
		</div>

		<div id='aside'>
			<h2><a href='#'>分类检索</a></h2>
			<dl>
				<dt><a href='#'>安卓游戏(34563)</a></dt>
				<dd class='cur'><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>

				<dt><a href='#'>安卓应用(34563)</a></dt>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>

				<dt><a href='#'>安卓主题(34563)</a></dt>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>

				<dt><a href='#'>安卓壁纸(34563)</a></dt>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
			</dl>
		</div>
	</div>

	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-game-main'></script>
	{template 'content', 'hs_footer'}
</body>
</html>