<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>单机游戏攻略 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-game-global.css' rel='stylesheet' />
	<!-- <script src='{JS_PATH}cssrefresh.js'></script> -->
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='game-yxgl'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'game_header_dev'}

	<div id='content'>
		<!-- 主内容 -->
		<div id='main' class='game-yxgl'>
			<div id='select'>
				<div class='filter fn-clear'>
					<dl class='order'>
						<dt>排序方式：</dt>
						<dd class='default cur'><a href='#'>默认</a></dd>
						<dd><a href='#'>更新时间</a></dd>
						<dd><a href='#'>发售日</a></dd>
						<dd><a href='#'>游戏下载量</a></dd>
					</dl>
					<a class='reset' href='#'>重新筛选</a>
				</div>
				<dl class='select-item fn-clear'>
					<dt>攻略专区：</dt>
					<dd>
						<a class='all cur' href='#'>全部</a>
						<a href='#'>角色扮演</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮演</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮演</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
					</dd>
				</dl>
				<dl class='select-item fn-clear'>
					<dt>攻略秘籍：</dt>
					<dd>
						<a class='cur' href='#'>A</a>
						<a href='#'>B</a>
						<a href='#'>C</a>
						<a href='#'>D</a>
						<a href='#'>E</a>
						<a href='#'>F</a>
						<a href='#'>G</a>
						<a href='#'>H</a>
						<a href='#'>I</a>
						<a href='#'>J</a>
						<a href='#'>K</a>
						<a href='#'>L</a>
						<a href='#'>M</a>
						<a href='#'>N</a>
						<a href='#'>O</a>
						<a href='#'>P</a>
						<a href='#'>Q</a>
						<a href='#'>R</a>
						<a href='#'>S</a>
						<a href='#'>T</a>
						<a href='#'>U</a>
						<a href='#'>V</a>
						<a href='#'>W</a>
						<a href='#'>X</a>
						<a href='#'>Y</a>
						<a href='#'>Z</a>
					</dd>
				</dl>
			</div>

			<div class='ui-content-header'>
				<h2 class='title'>攻略列表</h2>
			</div>

			<div id='games'>
				<div class='ui-content-list'>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'>发表时间： 2012-11-23 12:12:22 <span class='status-view'>浏览：588</span> <span class='status-comment'>评论：899</span></div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'>发表时间： 2012-11-23 12:12:22 <span class='status-view'>浏览：588</span> <span class='status-comment'>评论：899</span></div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'>发表时间： 2012-11-23 12:12:22 <span class='status-view'>浏览：588</span> <span class='status-comment'>评论：899</span></div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'>发表时间： 2012-11-23 12:12:22 <span class='status-view'>浏览：588</span> <span class='status-comment'>评论：899</span></div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'>发表时间： 2012-11-23 12:12:22 <span class='status-view'>浏览：588</span> <span class='status-comment'>评论：899</span></div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'>发表时间： 2012-11-23 12:12:22 <span class='status-view'>浏览：588</span> <span class='status-comment'>评论：899</span></div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'>发表时间： 2012-11-23 12:12:22 <span class='status-view'>浏览：588</span> <span class='status-comment'>评论：899</span></div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'>发表时间： 2012-11-23 12:12:22 <span class='status-view'>浏览：588</span> <span class='status-comment'>评论：899</span></div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'>发表时间： 2012-11-23 12:12:22 <span class='status-view'>浏览：588</span> <span class='status-comment'>评论：899</span></div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'>发表时间： 2012-11-23 12:12:22 <span class='status-view'>浏览：588</span> <span class='status-comment'>评论：899</span></div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
				</div>

				<div id='pager' class="article-related article-pager ui-pager"><span>1022条</span><span class="disabled">首页</span><span class="disabled">上一页</span><span class="num current">1</span><a class='num' href="#">2</a><a class='num' href="#">3</a><a class='num' href="#">4</a><span class='ellipsis'>...</span><a class='num' href="#">199</a><a href="#">下一页</a><a href="#">末页</a></div>
			</div>
		</div>

		<div id='side'>
			<div class='ad'><a href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='280' height='248' /></a></div>

			<div class='ui-box-side'>
				<h2 class='ui-box-side-title'>资讯排行榜</h2>
				<ol class='ui-list-plus'>
					<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预队2预告敢死队2预告敢队2预告敢死队2预告敢队2预告敢死队2预告敢告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
				</ol>
			</div>

			<div class='ui-box-side ui-box-gallery'>
				<h2 class='ui-box-side-title'>网游大观</h2>
				<ul class='ui-img-list ui-img-list-plus'>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
				</ul>
			</div>

			<div class='ui-box-side ui-tab ui-tab-lite'>
				<h2 class='ui-box-side-title'>资讯排行榜</h2>
				<div class='ui-tab-header fn-clear'>
					<ul class='ui-tab-nav fn-clear'>
						<li class='ui-tab-nav-item ui-tab-nav-item-cur'>激活码<span class='icon'></span></li>
						<li class='ui-tab-nav-item'>新手卡<span class='icon'></span></li>
					</ul>
				</div>
				<div class='ui-tab-cnt'>
					<ol class='ui-tab-cnt-item ui-tab-cnt-item-cur ui-list-plus'>
						<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预队2预告敢死队2预告敢队2预告敢死队2预告敢队2预告敢死队2预告敢告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					</ol>
					<ol class='ui-tab-cnt-item ui-list-plus'>
						<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>2敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预队2预告敢死队2预告敢队2预告敢死队2预告敢队2预告敢死队2预告敢告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
						<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					</ol>
				</div>
			</div>

			<div class='ui-box-side ui-box-gallery'>
				<h2 class='ui-box-side-title'>网游大观</h2>
				<ul class='ui-img-list ui-img-list-plus'>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-game-main'></script>
	{template 'content', 'hs_footer'}
</body>
</html>