<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>新游首页 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-game-global.css' rel='stylesheet' />
	<script src='{JS_PATH}cssrefresh.js'></script>
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='game-newgame game-gallery'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'game_header_dev'}

	<div id='content'>
		<div class='ad'>
			<a href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/middle_anner.png' alt='' width='960' height='60' /></a>
		</div>

		<!-- 主内容 -->
		<div id='main'>
			<div id='myfocus-hs-pithy' class='ui-myfocus'>
				<div class="loading"></div>
				<div class="pic">
					<ul>
						<li><a href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='前面我介绍了一款优良的代码编辑器' width='542' height='220' /></a></li>
						<li><a href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='前面我介绍了一款优良的代码编辑器' width='542' height='220' /></a></li>
						<li><a href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='前面我介绍了一款优良的代码编辑器' width='542' height='220' /></a></li>
					</ul>
				</div>
			</div>

			<div class='ui-content-box'>
				<div class='ui-content-list'>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'><em>网络游戏</em> 发表时间： 2012-11-23 12:12:22</div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'><em>网络游戏</em> 发表时间： 2012-11-23 12:12:22</div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'><em>网络游戏</em> 发表时间： 2012-11-23 12:12:22</div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'><em>网络游戏</em> 发表时间： 2012-11-23 12:12:22</div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'><em>网络游戏</em> 发表时间： 2012-11-23 12:12:22</div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'><em>网络游戏</em> 发表时间： 2012-11-23 12:12:22</div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'><em>网络游戏</em> 发表时间： 2012-11-23 12:12:22</div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'><em>网络游戏</em> 发表时间： 2012-11-23 12:12:22</div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'><em>网络游戏</em> 发表时间： 2012-11-23 12:12:22</div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
					<div class='ui-content-item'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='138' height='103' /></a>
						<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
						<div class='info'><em>网络游戏</em> 发表时间： 2012-11-23 12:12:22</div>
						<p class='cnt'>前面我介绍了一款优良的代码编辑器Editplus，并且重点介绍了一下Zen Coding。然则Editplus最新版中包含了Zen Coding的功能，然则无论是帮助文档，还是官方的文档都缺乏帮助文档。还好Zen的所有...... <a class='detail' href='#'>[详细]</a></p>
					</div>
				</div>

				<div id='pager' class="pager ui-pager"><span class="disabled">首页</span><span class="disabled">上一页</span><span class="num current">1</span><a class='num' href="#">2</a><a class='num' href="#">3</a><a class='num' href="#">4</a><span class='ellipsis'>...</span><a class='num' href="#">199</a><a href="#">下一页</a><a href="#">末页</a></div>
			</div>
		</div>

		<div id='side'>
			<div class='ui-box-side ui-box-rdtj'>
				<h2 class='ui-box-side-title'>热点推荐</h2>
				<h3 class='subtitle'><a href='#'>测试文字测试文字测试文字</a></h3>
				<ul class='ui-list'>
					<li class='ui-list-item'><a href='#'>测试文字sdfsadf 测试文字sdfsadf 测测试文字sdfsadf试文字sdfsadf s</a></li>
					<li class='ui-list-item'><a href='#'>测试文字sdfsadf 测试文字sdfsadf 测测试文字sdfsadf试文字sdfsadf s</a></li>
					<li class='ui-list-item'><a href='#'>测试文字sdfsadf 测试文字sdfsadf 测测试文字sdfsadf试文字sdfsadf s</a></li>
					<li class='ui-list-item'><a href='#'>测试文字sdfsadf 测试文字sdfsadf 测测试文字sdfsadf试文字sdfsadf s</a></li>
					<li class='ui-list-item'><a href='#'>测试文字sdfsadf 测试文字sdfsadf 测测试文字sdfsadf试文字sdfsadf s</a></li>
				</ul>
				<h3 class='subtitle'><a href='#'>测试文字测试文字测试文字</a></h3>
				<ul class='ui-list'>
					<li class='ui-list-item'><a href='#'>测试文字sdfsadf 测试文字sdfsadf 测测试文字sdfsadf试文字sdfsadf s</a></li>
					<li class='ui-list-item'><a href='#'>测试文字sdfsadf 测试文字sdfsadf 测测试文字sdfsadf试文字sdfsadf s</a></li>
					<li class='ui-list-item'><a href='#'>测试文字sdfsadf 测试文字sdfsadf 测测试文字sdfsadf试文字sdfsadf s</a></li>
					<li class='ui-list-item'><a href='#'>测试文字sdfsadf 测试文字sdfsadf 测测试文字sdfsadf试文字sdfsadf s</a></li>
					<li class='ui-list-item'><a href='#'>测试文字sdfsadf 测试文字sdfsadf 测测试文字sdfsadf试文字sdfsadf s</a></li>
				</ul>
			</div>

			<div class='ad'><a href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='280' height='248' /></a></div>

			<div class='ui-box-side ui-box-xyx'>
				<h2 class='ui-box-side-title'>新游戏</h2>
				<ul class='ui-img-list ui-img-list-plus'>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='73' height='73' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='73' height='73' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='73' height='73' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
				</ul>
				<ul class='ui-list ui-list-float hr'>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
					<li class='ui-list-item'><a href='#'>测试文字</a></li>
				</ul>
			</div>

			<div class='ui-box-side ui-box-sptj'>
				<h2 class='ui-box-side-title'>视频推荐</h2>
				<ul class='ui-img-list ui-img-list-plus'>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
				</ul>
				<ul class='ui-list ui-list-float'>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
				</ul>
			</div>

			<div class='ui-box-side ui-box-wydg'>
				<h2 class='ui-box-side-title'>网游大观</h2>
				<ul class='ui-img-list ui-img-list-plus'>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
				</ul>
			</div>

			<div class='ui-box-side ui-box-zxphb'>
				<h2 class='ui-box-side-title'>资讯排行榜</h2>
				<ol class='ui-list-plus'>
					<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
				</ol>
			</div>
		</div>
	</div>

	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-game-main'></script>
	{template 'content', 'hs_footer'}
</body>
</html>