<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>游戏列表页 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-game-global.css' rel='stylesheet' />
	<script src='{JS_PATH}cssrefresh.js'></script>
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='game-yxk'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'game_header_dev'}

	<div id='content'>
		<!-- 主内容 -->
		<div id='main' class='game-yxk'>
			<div id='select'>
				<div class='filter fn-clear'>
					<dl class='order'>
						<dt>排序：</dt>
						<dd class='default cur'><a href='#'>默认</a></dd>
						<dd><a href='#'>更新时间</a></dd>
						<dd><a href='#'>发售日</a></dd>
						<dd><a href='#'>游戏下载量</a></dd>
					</dl>
					<a class='reset' href='#'>重新筛选</a>
				</div>
				<dl class='select-item fn-clear'>
					<dt>类型：</dt>
					<dd>
						<a class='all cur' href='#'>全部</a>
						<a href='#'>角色扮演</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮演</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮演</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
					</dd>
				</dl>
				<dl class='select-item fn-clear'>
					<dt>版本：</dt>
					<dd>
						<a class='all cur' href='#'>全部</a>
						<a href='#'>中文版</a>
						<a href='#'>硬盘版</a>
						<a href='#'>英文版</a>
					</dd>
				</dl>
				<dl class='select-item fn-clear'>
					<dt>状态：</dt>
					<dd>
						<a class='all cur' href='#'>全部</a>
						<a href='#'>未发售</a>
						<a href='#'>已发售</a>
						<a href='#'>内测</a>
					</dd>
				</dl>
				<dl class='select-item fn-clear'>
					<dt>平台：</dt>
					<dd>
						<a href='#'>PSP</a>
						<a href='#'>PSV</a>
						<a href='#'>Wii</a>
						<a class='cur' href='#'>GBA</a>
						<a href='#'>NDS</a>
						<a href='#'>PC</a>
					</dd>
				</dl>
			</div>

			<div id='games'>
				<div class='ui-gameshow fn-clear'>
					<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='176' height='254' /></a>
					<h2 class='title'><a href='#'>测试文字 - 中文版</a></h2>
					<ul class='info'>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>Dark Souls</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'>From Softwe</strong></li>
						<li><span class='dt'>发售日期：</span> <strong class='dd'>Ssdfsdf SDFSDF</strong></li>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>2012-12-7</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'>8.23G</strong></li>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>角色扮演</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'><a href='#'>点击查看</a></strong></li>
						<li><span class='dt'>游戏类型：</span> <strong class='dd'>1233篇</strong></li>
						<li><span class='dt'>游戏图片：</span> <strong class='dd'>4646张</strong>&nbsp;&nbsp;&nbsp;<span class='dt'>游戏视频：</span> <strong class='dd'>4646张</strong></li>
						<li><span class='dt'>选择版本：</span> <strong class='dd'><a class='lang lang-zh' href='#'>中文版</a></strong></li>
					</ul>
					<a class='button' href='#'>高速下载</a>
					<div class='grade'>
						<h3>网友评分</h3>
						<div class='num'>8.8</div>
						<ul>
							<li>浏览量：23234次</li>
							<li>下载量：23534次</li>
						</ul>
					</div>
				</div>
				<div class='ui-gameshow fn-clear'>
					<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='176' height='254' /></a>
					<h2 class='title'><a href='#'>测试文字 - 中文版</a></h2>
					<ul class='info'>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>Dark Souls</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'>From Softwe</strong></li>
						<li><span class='dt'>发售日期：</span> <strong class='dd'>Ssdfsdf SDFSDF</strong></li>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>2012-12-7</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'>8.23G</strong></li>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>角色扮演</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'><a href='#'>点击查看</a></strong></li>
						<li><span class='dt'>游戏类型：</span> <strong class='dd'>1233篇</strong></li>
						<li><span class='dt'>游戏图片：</span> <strong class='dd'>4646张</strong>&nbsp;&nbsp;&nbsp;<span class='dt'>游戏视频：</span> <strong class='dd'>4646张</strong></li>
						<li><span class='dt'>选择版本：</span> <strong class='dd'><a class='lang lang-zh' href='#'>中文版</a></strong></li>
					</ul>
					<a class='button' href='#'>高速下载</a>
					<div class='grade'>
						<h3>网友评分</h3>
						<div class='num'>8.8</div>
						<ul>
							<li>浏览量：23234次</li>
							<li>下载量：23534次</li>
						</ul>
					</div>
				</div>
				<div class='ui-gameshow fn-clear'>
					<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='176' height='254' /></a>
					<h2 class='title'><a href='#'>测试文字 - 中文版</a></h2>
					<ul class='info'>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>Dark Souls</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'>From Softwe</strong></li>
						<li><span class='dt'>发售日期：</span> <strong class='dd'>Ssdfsdf SDFSDF</strong></li>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>2012-12-7</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'>8.23G</strong></li>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>角色扮演</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'><a href='#'>点击查看</a></strong></li>
						<li><span class='dt'>游戏类型：</span> <strong class='dd'>1233篇</strong></li>
						<li><span class='dt'>游戏图片：</span> <strong class='dd'>4646张</strong>&nbsp;&nbsp;&nbsp;<span class='dt'>游戏视频：</span> <strong class='dd'>4646张</strong></li>
						<li><span class='dt'>选择版本：</span> <strong class='dd'><a class='lang lang-zh' href='#'>中文版</a></strong></li>
					</ul>
					<a class='button' href='#'>高速下载</a>
					<div class='grade'>
						<h3>网友评分</h3>
						<div class='num'>8.8</div>
						<ul>
							<li>浏览量：23234次</li>
							<li>下载量：23534次</li>
						</ul>
					</div>
				</div>
				<div class='ui-gameshow fn-clear'>
					<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='176' height='254' /></a>
					<h2 class='title'><a href='#'>测试文字 - 中文版</a></h2>
					<ul class='info'>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>Dark Souls</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'>From Softwe</strong></li>
						<li><span class='dt'>发售日期：</span> <strong class='dd'>Ssdfsdf SDFSDF</strong></li>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>2012-12-7</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'>8.23G</strong></li>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>角色扮演</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'><a href='#'>点击查看</a></strong></li>
						<li><span class='dt'>游戏类型：</span> <strong class='dd'>1233篇</strong></li>
						<li><span class='dt'>游戏图片：</span> <strong class='dd'>4646张</strong>&nbsp;&nbsp;&nbsp;<span class='dt'>游戏视频：</span> <strong class='dd'>4646张</strong></li>
						<li><span class='dt'>选择版本：</span> <strong class='dd'><a class='lang lang-zh' href='#'>中文版</a></strong></li>
					</ul>
					<a class='button' href='#'>高速下载</a>
					<div class='grade'>
						<h3>网友评分</h3>
						<div class='num'>8.8</div>
						<ul>
							<li>浏览量：23234次</li>
							<li>下载量：23534次</li>
						</ul>
					</div>
				</div>
				<div class='ui-gameshow fn-clear'>
					<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='176' height='254' /></a>
					<h2 class='title'><a href='#'>测试文字 - 中文版</a></h2>
					<ul class='info'>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>Dark Souls</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'>From Softwe</strong></li>
						<li><span class='dt'>发售日期：</span> <strong class='dd'>Ssdfsdf SDFSDF</strong></li>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>2012-12-7</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'>8.23G</strong></li>
						<li><span class='dt'>英文名称：</span> <strong class='dd'>角色扮演</strong></li>
						<li><span class='dt'>开发厂商：</span> <strong class='dd'><a href='#'>点击查看</a></strong></li>
						<li><span class='dt'>游戏类型：</span> <strong class='dd'>1233篇</strong></li>
						<li><span class='dt'>游戏图片：</span> <strong class='dd'>4646张</strong>&nbsp;&nbsp;&nbsp;<span class='dt'>游戏视频：</span> <strong class='dd'>4646张</strong></li>
						<li><span class='dt'>选择版本：</span> <strong class='dd'><a class='lang lang-zh' href='#'>中文版</a></strong></li>
					</ul>
					<a class='button' href='#'>高速下载</a>
					<div class='grade'>
						<h3>网友评分</h3>
						<div class='num'>8.8</div>
						<ul>
							<li>浏览量：23234次</li>
							<li>下载量：23534次</li>
						</ul>
					</div>
				</div>
				<div id='pager' class="article-related article-pager ui-pager"><span>1022条</span><span class="disabled">首页</span><span class="disabled">上一页</span><span class="num current">1</span><a class='num' href="#">2</a><a class='num' href="#">3</a><a class='num' href="#">4</a><span class='ellipsis'>...</span><a class='num' href="#">199</a><a href="#">下一页</a><a href="#">末页</a></div>
			</div>
		</div>

		<div id='side'>
			<div class='ui-box-side'>
				<h2 class='ui-box-side-title'>资讯排行榜</h2>
				<ol class='ui-list-plus'>
					<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预队2预告敢死队2预告敢队2预告敢死队2预告敢队2预告敢死队2预告敢告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
				</ol>
			</div>

			<div class='ui-box-side'>
				<h2 class='ui-box-side-title'>资讯排行榜</h2>
				<ol class='ui-list-plus'>
					<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预队2预告敢死队2预告敢队2预告敢死队2预告敢队2预告敢死队2预告敢告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
				</ol>
			</div>

			<div class='ui-box-side'>
				<h2 class='ui-box-side-title'>资讯排行榜</h2>
				<ol class='ui-list-plus'>
					<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预队2预告敢死队2预告敢队2预告敢死队2预告敢队2预告敢死队2预告敢告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
				</ol>
			</div>

			<div class='ui-box-side'>
				<h2 class='ui-box-side-title'>资讯排行榜</h2>
				<ol class='ui-list-plus'>
					<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预队2预告敢死队2预告敢队2预告敢死队2预告敢队2预告敢死队2预告敢告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
				</ol>
			</div>

			<div class='ui-box-side ui-box-gallery'>
				<h2 class='ui-box-side-title'>网游大观</h2>
				<ul class='ui-img-list ui-img-list-plus'>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='122' height='91' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-game-main'></script>
	{template 'content', 'hs_footer'}
</body>
</html>