<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>iPhone专区 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-game-apple.css' rel='stylesheet' />
	<script src='{JS_PATH}cssrefresh.js'></script>
	<!-- <script src='{JS_PATH}live.js'></script> -->
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='game-apple'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'game_header_apple_dev'}

	<!-- 主内容 -->
	<div id='content-main' class='ui-layout fn-clear'>
		<div class='ui-layout-item ui-layout-item-left'>
			<div id='myfocus-games' class='ui-myfocus'><!--焦点图盒子-->
				<div class="loading"></div><!--载入画面(可删除)-->
				<div class="pic"><!--图片列表-->
					<ul>
						<li><a href="#"><img src="http://m3.img.libdd.com/farm4/2012/1116/14/8BD5292C4A025178E054CD71276314F2706ECCDAE803B_250_167.jpg" thumb="" alt="版权属于作者，图片2源于网络，版权源于网络，版权源于网络，版权来源于网络" width='308' height='231' /></a></li>
						<li><a href="#"><img src="http://m2.img.libdd.com/farm5/2012/1116/14/9EB3F004A5B9E8DBD85EDDF7C9DBAD3845D94B0540005_250_167.jpg" thumb="" alt="版权属于作者，图片2来源于网络" width='308' height='231' /></a></li>
						<li><a href="#"><img src="http://m1.img.libdd.com/farm4/2012/1116/14/6DE308BACC856F43A3861CA12B94E50131676C5A506FD_250_375.jpg" thumb="" alt="图片3来源于网络，版权属源于网络，版权于作者" width='308' height='231' /></a></li>
						<li><a href="#4"><img src="http://m2.img.libdd.com/farm5/2012/1116/14/9EB3F004A5B9E8DBD85EDDF7C9DBAD3845D94B0540005_250_167.jpg" thumb="" alt="版权属于作者，图片4来源于网络" width='308' height='231' /></a></li>
						<li><a href="#5"><img src="http://m1.img.libdd.com/farm4/2012/1116/14/6DE308BACC856F43A3861CA12B94E50131676C5A506FD_250_375.jpg" thumb="" alt="图片5来源于网络，版权属于作者" width='308' height='231' /></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class='ui-layout-item ui-layout-item-center'>
			<h2 class='ui-newgame-title'><a href='#'>测试文字sdfsadf测试文字sdfsadf测试文字sdfsadf</a></h2>
			<div class='ui-newgame-link'><a href='#'>[车跑跑卡丁车]</a> <a href='#'>[车跑跑卡丁车]</a> <a href='#'>[车丁车]</a> <a href='#'>[车跑跑卡丁车]</a></div>
			<ul class='ui-list ui-list-main hr'>
				<li class='ui-list-item'><a href='#'>行业</a> | <strong><a href='#'>你绝对想不到!国产游戏进军韩雷国的雷囧译名(图)</a></strong></li>
				<li class='ui-list-item'><a href='#'>行业</a> | <a href='#'>你绝对想不到!国产游戏进军韩雷国的雷囧译名(图)</a></li>
				<li class='ui-list-item'><a href='#'>行业</a> | <a href='#'>你绝对想不到!国产游戏进军韩雷国的雷囧译名(图)</a></li>
				<li class='ui-list-item'><a href='#'>行业</a> | <a href='#'>你绝对想不到!国产游戏进军韩雷国的雷囧译名(图)</a></li>
				<li class='ui-list-item'><a href='#'>行业</a> | <a href='#'>你绝对想不到!国产游戏进军韩雷国的雷囧译名(图)</a></li>

				<li class='ui-list-item bk'><a href='#'>行业</a> | <strong><a href='#'>你绝对想不到!国产游戏进军韩雷国的雷囧译名(图)</a></strong></li>
				<li class='ui-list-item'><a href='#'>行业</a> | <a href='#'>你绝对想不到!国产游戏进军韩雷国的雷囧译名(图)</a></li>
				<li class='ui-list-item'><a href='#'>行业</a> | <a href='#'>你绝对想不到!国产游戏进军韩雷国的雷囧译名(图)</a></li>
				<li class='ui-list-item'><a href='#'>行业</a> | <a href='#'>你绝对想不到!国产游戏进军韩雷国的雷囧译名(图)</a></li>
				<li class='ui-list-item'><a href='#'>行业</a> | <a href='#'>你绝对想不到!国产游戏进军韩雷国的雷囧译名(图)</a></li>
			</ul>
		</div>

		<div class='ui-layout-item ui-layout-item-right'>
			<div class='ui-img'>
				<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='238' height='98' /></a>
				<h4 class='title'><a href='#'>测试文字</a></h4>
			</div>
			<div class='ui-img'>
				<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='238' height='98' /></a>
				<h4 class='title'><a href='#'>测试文字</a></h4>
			</div>
			<div class='ui-img'>
				<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='238' height='98' /></a>
				<h4 class='title'><a href='#'>测试文字</a></h4>
			</div>
		</div>
	</div>

	<!-- 焦点内容 -->
	<div id='content-focus' class='ui-box fn-clear'>
		<div class='ui-box-header'>
			<h2 class='title'>焦点内容</h2>
			<div class='link'><a href='#'>游戏</a> | <a href='#'>软件</a> | <a href='#'>专题</a> | <a href='#'>攻略</a> | <a href='#'>视频</a> | <a class='more' href='#'>更多&gt;&gt;</a></div>
		</div>

		<div class='ui-box-item'>
			<div class='ui-art'>
				<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='98' height='98' /></a>
				<h3 class='title'><a href='#'>iPhone5</a></h3>
				<p class="content">专访范冰冰专金宝：功打久妈漂亮夫打久打久妈妈说我长打久打久妈妈说我长得打久打久妈妈说我长得得我不漂亮专 <a class='more' href='#'>了解更多<span class='mark'>&#9658;</span></a></p>
			</div>
			<ul class='ui-list hr'>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活激活激活激活码激活码</a></li>
				<li class='ui-list-item'><a href='#'>激活激活激活激活激活激活激活激活激活</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活码码激活码激活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活激活激活激活激活激活激激活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激激活激活活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激激活激活激活激活激活激活活码</a></li>
			</ul>
		</div>

		<div class='ui-box-item'>
			<div class='ui-art fn-clear'>
				<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='98' height='98' /></a>
				<h3 class='title'><a href='#'>测试文字测文字测文字测文字测文字测文字测文字测文字测文字测文字测试2</a></h3>
				<p class="content">专访范冰冰专金宝：功打久妈漂亮夫打久打久妈妈说久打久打久妈妈说久打久妈妈说我长得我不漂亮专 <a class='more' href='#'>了解更多<span class='mark'>&#9658;</span></a></p>
			</div>
			<ul class='ui-list hr'>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活激活激活激活码激活码</a></li>
				<li class='ui-list-item'><a href='#'>激活激活激活激活激活激活激活激活激活</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活码码激活码激活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活激活激活激活激活激活激激活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激激活激活活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激激活激活激活激活激活激活活码</a></li>
			</ul>
		</div>

		<div class='ui-box-item'>
			<div class='ui-art'>
				<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='98' height='98' /></a>
				<h3 class='title'><a href='#'>测试文字测试2</a></h3>
				<p class="content">专访范冰冰专访《太极5》主创洪金宝：功打久妈妈长得不漂亮夫打久妈妈总说我长得不漂亮专访张元：执著（图） <a class='more' href='#'>了解更多<span class='mark'>&#9658;</span></a></p>
			</div>
			<ul class='ui-list hr'>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活激活激活激活码激活码</a></li>
				<li class='ui-list-item'><a href='#'>激活激活激活激活激活激活激活激活激活</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活码码激活码激活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活激活激活激活激活激活激激活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激激活激活活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激激活激活激活激活激活激活活码</a></li>
			</ul>
		</div>
	</div>

	<!-- 软件推荐 -->
	<div id='content-recomment' class='ui-box fn-clear'>
		<div class='ui-box-header'>
			<h2 class='title'>每周游戏及软件推荐</h2>
			<div class='link'><a href='#'>游戏</a> | <a href='#'>软件</a> | <a href='#'>专题</a> | <a href='#'>攻略</a> | <a href='#'>视频</a> | <a class='more' href='#'>更多&gt;&gt;</a></div>
		</div>
		<ul class='ui-art-list ui-art-list-game fn-clear'>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>免费</em></p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>收费</em> ￥18.0</p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span><span class='icon'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>限时免费</em> <del>￥16.5</del></p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>免费</em></p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>收费</em> ￥18.0</p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span><span class='icon'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>限时免费</em> <del>￥16.5</del></p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>免费</em></p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>收费</em> ￥18.0</p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span><span class='icon'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>限时免费</em> <del>￥16.5</del></p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>免费</em></p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>收费</em> ￥18.0</p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span><span class='icon'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>限时免费</em> <del>￥16.5</del></p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>免费</em></p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>收费</em> ￥18.0</p>
					<p>益智游戏</p>
				</div>
			</li>
			<li class='ui-art-item'>
				<a class='img img-mgame' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0614/20120614103001245.jpg' alt='' width='75' height='75' /><span class='mark-img'></span><span class='icon'></span></a>
				<h3 class='title'><a href='#'>测试文字测试文字测试文字1</a></h3>
				<div class="content">
					<p><em>限时免费</em> <del>￥16.5</del></p>
					<p>益智游戏</p>
				</div>
			</li>
		</ul>
	</div>

	<!-- iPhone 专区 -->
	<div id='content-prefecture' class='ui-box fn-clear'>
		<div class='ui-box-header'>
			<h2 class='title'>iPhone 专区</h2>
			<div class='link'><a href='#'>游戏</a> | <a href='#'>软件</a> | <a href='#'>专题</a> | <a href='#'>攻略</a> | <a href='#'>视频</a> | <a class='more' href='#'>更多&gt;&gt;</a></div>
		</div>

		<div class='ui-box-item ui-box-item-left'>
			<div class='ui-header'>
				<h2 class='title'>WP游戏攻略</h2>
				<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
			</div>
			<ol class='ui-ranking'>
				<li class='ui-ranking-item ui-ranking-item-cur'>
					<a class='img img-mgame img-mgame-72' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='72' height='72' /><span class='mark-img'></span></a>
					<span class='num num-hot'>1</span>
					<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
					<p class="content">专访范冰冰专访《太极5》主创洪金宝：功打久亮夫打久妈妈总说我长得不漂亮专访张元：执著（图） <a class='more' href='#'>[详情]</a></p>
				</li>
				<li class='ui-ranking-item'>
					<a class='img img-mgame img-mgame-72' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='72' height='72' /><span class='mark-img'></span></a>
					<span class='num num-hot'>2</span>
					<h3 class='title'><a href='#'>敢死敢死队死队死队死队死队队死队死队敢死队</a></h3>
					<p class="content">专访范冰冰专访《太极5》主创洪漂亮专访张元：执著（图） <a class='more' href='#'>[详情]</a></p>
				</li>
				<li class='ui-ranking-item'>
					<a class='img img-mgame img-mgame-72' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='72' height='72' /><span class='mark-img'></span></a>
					<span class='num num-hot'>3</span>
					<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
					<p class="content">专访范冰冰专访《太极5》主创洪金宝：功打久亮夫打久妈妈总说我长得不漂亮专访张元：执著（图） <a class='more' href='#'>[详情]</a></p>
				</li>
				<li class='ui-ranking-item'>
					<a class='img img-mgame img-mgame-72' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='72' height='72' /><span class='mark-img'></span></a>
					<span class='num '>4</span>
					<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
					<p class="content">专访范冰冰专访《太极5》主创洪金宝：功打久亮夫打久妈妈总说我长得不漂亮专访张元：执著（图） <a class='more' href='#'>[详情]</a></p>
				</li>
				<li class='ui-ranking-item'>
					<a class='img img-mgame img-mgame-72' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='72' height='72' /><span class='mark-img'></span></a>
					<span class='num '>5</span>
					<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
					<p class="content">专访范冰冰专访《太极5》主创洪金宝：功打久亮夫打久妈妈总说我长得不漂亮专访张元：执著（图） <a class='more' href='#'>[详情]</a></p>
				</li>
				<li class='ui-ranking-item'>
					<a class='img img-mgame img-mgame-72' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='72' height='72' /><span class='mark-img'></span></a>
					<span class='num '>6</span>
					<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
					<p class="content">专访范冰冰专访《太极5》主创洪金宝：功打久亮夫打久妈妈总说我长得不漂亮专访张元：执著（图） <a class='more' href='#'>[详情]</a></p>
				</li>
				<li class='ui-ranking-item'>
					<a class='img img-mgame img-mgame-72' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='72' height='72' /><span class='mark-img'></span></a>
					<span class='num '>7</span>
					<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
					<p class="content">专访范冰冰专访《太极5》主创洪金宝：功打久亮夫打久妈妈总说我长得不漂亮专访张元：执著（图） <a class='more' href='#'>[详情]</a></p>
				</li>
				<li class='ui-ranking-item'>
					<a class='img img-mgame img-mgame-72' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='72' height='72' /><span class='mark-img'></span></a>
					<span class='num '>8</span>
					<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
					<p class="content">专访范冰冰专访《太极5》主创洪金宝：功打久亮夫打久妈妈总说我长得不漂亮专访张元：执著（图） <a class='more' href='#'>[详情]</a></p>
				</li>
				<li class='ui-ranking-item'>
					<a class='img img-mgame img-mgame-72' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='72' height='72' /><span class='mark-img'></span></a>
					<span class='num '>9</span>
					<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
					<p class="content">专访范冰冰专访《太极5》主创洪金宝：功打久亮夫打久妈妈总说我长得不漂亮专访张元：执著（图） <a class='more' href='#'>[详情]</a></p>
				</li>
				<li class='ui-ranking-item'>
					<a class='img img-mgame img-mgame-72' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='72' height='72' /><span class='mark-img'></span></a>
					<span class='num '>10</span>
					<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
					<p class="content">专访范冰冰专访《太极5》主创洪金宝：功打久亮夫打久妈妈总说我长得不漂亮专访张元：执著（图） <a class='more' href='#'>[详情]</a></p>
				</li>
			</ol>
		</div>

		<div class='ui-box-item ui-box-item-center'>
			<div class='ui-header'>
				<h2 class='title'>WP最新游戏</h2>
			</div>
			<div class='ui-art fn-clear'>
				<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='122' height='90' /></a>
				<h3 class='title'><a href='#'>测试文字文字文字文字文字文字文字文字文字文字文字文字文字文测试2</a></h3>
				<p class="content">专访范冰冰专访《太极5》主创洪金宝：功夫打久妈打久妈妈总说我文字长得不漂亮打久妈妈总说我长：执著（图） <a class='more' href='#'>[详情]</a></p>
			</div>
			<ul class='ui-list hr'>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活激活激活激活码激活码</a></li>
				<li class='ui-list-item'><a href='#'>激活激活激活激活激活激活激活激活激活</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活码码激活码激活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活激活激活激活激活激活激激活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激激活激活活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激激活激活激活激活激活激活活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激激活激活激活激活激活激活活码</a></li>
				<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激激活激活激活激活激活激活活码</a></li>
			</ul>
			<div class='link-more'><a href='#'>更多进入iPhone专区&gt;&gt;</a></div>
		</div>

		<div class='ui-box-item ui-box-item-right'>
			<div class='ui-header'>
				<h2 class='title'>WP游戏排行</h2>
			</div>
			<ul class='ui-hotgame-list'>
				<li class='ui-hotgame-list-item'>
					<a class='img img-mgame img-mgame-50' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /><span class='mark-img'></span></a>
					<h3 class='title'><a href='#'>死队</a></h3>
					<span class='num'>8.8</span>
					<div class="content">
						<p>限免 <del>￥18</del></p>
						<p>下载3521次</p>
					</div>
					<a class='button' href='#'></a>
				</li>
				<li class='ui-hotgame-list-item'>
					<a class='img img-mgame img-mgame-50' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /><span class='mark-img'></span></a>
					<h3 class='title'><a href='#'>死队死队死队死队死队死队死队死队死队死队死队</a></h3>
					<span class='num'>7.2</span>
					<div class="content">
						<p>付费 ￥18</p>
						<p>下载3521次</p>
					</div>
					<a class='button' href='#'></a>
				</li>
				<li class='ui-hotgame-list-item'>
					<a class='img img-mgame img-mgame-50' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /><span class='mark-img'></span></a>
					<h3 class='title'><a href='#'>死队死队死队死队死队死队死队死队死队死队死队</a></h3>
					<span class='num'>7.2</span>
					<div class="content">
						<p>限时免费</p>
						<p>下载3521次</p>
					</div>
					<a class='button' href='#'></a>
				</li>
				<li class='ui-hotgame-list-item'>
					<a class='img img-mgame img-mgame-50' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /><span class='mark-img'></span></a>
					<h3 class='title'><a href='#'>死队死队死队死队死队死队死队死队死队死队死队</a></h3>
					<span class='num'>7.2</span>
					<div class="content">
						<p>付费 ￥5</p>
						<p>下载3521次</p>
					</div>
					<a class='button' href='#'></a>
				</li>
				<li class='ui-hotgame-list-item'>
					<a class='img img-mgame img-mgame-50' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /><span class='mark-img'></span></a>
					<h3 class='title'><a href='#'>死队死队死队死队死队死队死队死队死队死队死队</a></h3>
					<span class='num'>7.2</span>
					<div class="content">
						<p>永久免费</p>
						<p>下载3521次</p>
					</div>
					<a class='button' href='#'></a>
				</li>
			</ul>
		</div>
	</div>

	<!-- iPhone 壁纸 -->
	<div id='content-wallpaper' class='ui-box fn-clear'>
		<div class='ui-box-header'>
			<h2 class='title'>iPhone 壁纸</h2>
			<div class='link'><a href='#'>游戏</a> | <a href='#'>软件</a> | <a href='#'>专题</a> | <a href='#'>攻略</a> | <a href='#'>视频</a> | <a class='more' href='#'>更多&gt;&gt;</a></div>
		</div>
		<ul class='ui-img-list ui-img-list-plus'>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
			<li class='ui-img-list-item'>
				<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='126' height='190' /></a>
				<a class='title' href='#'>大话西游战歌</a>
			</li>
		</ul>
	</div>

	<!-- 此脚本最好放底部，不然在 IE6 中可能会有兼容问题 -->
	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-game-main'></script>
	{template 'content', 'hs_footer'}
</body>
</html>