<!-- 火秀相册 -->
<div id='mygallery-classic' class='mygallery mygallery-classic' data-skin='classic'>
	<div class='mygallery-view'>
		<div class='mygallery-view-loading'></div>
		<div class='mygallery-view-img'><img src='http://pnews.huoshow.com/uploadfile/2012/1214/thumb_hs_0_600_20121214112819773.jpg' /><span></span></div>
		<div class='mygallery-view-prev'><a class='disabled' href='#p=1' hidefocus='true'></a></div>
		<div class='mygallery-view-next'><a href='#p=2' hidefocus='true'></a></div>
		<div class='mygallery-view-text fn-clear'>
			<div class='mygallery-view-index'>(<em class='index'>1</em>/<span class='total'>10</span>)</div>
			<h2 class='mygallery-view-title'><a href='#'>在京举办新专辑发布会，而手捧</a></h2>
		</div>
	</div>

	<div class='mygallery-ctrl'>
		<div class='mygallery-ctrl-thumb'>
			<ul class='mygallery-ctrl-thumb-list fn-clear'>
				<li class='mygallery-ctrl-thumb-item cur'>
					<a class='thumb' href='#p=1' data-src='http://pnews.huoshow.com/uploadfile/2012/1214/thumb_hs_0_600_20121214112819773.jpg' data-title='手捧99朵玫瑰花的男'><img src='http://pnews.huoshow.com/uploadfile/2012/1214/thumb_hs_0_600_20121214112819773.jpg' alt='' width='75' height='75' /></a>
				</li>
				<li class='mygallery-ctrl-thumb-item'>
					<a class='thumb' href='#p=2' data-src='http://www.huoshow.com/upload/2011/0917/1316231694143.jpg' data-title='手捧99朵玫瑰花的男'><img src='http://www.huoshow.com/upload/2011/0917/1316231694143.jpg' alt='' width='75' height='75' /></a>
				</li>
				<li class='mygallery-ctrl-thumb-item'>
					<a class='thumb' href='#p=3' data-src='http://www.huoshow.com/upload/2011/0917/1316231703685.jpg' data-title='手捧99朵玫瑰花的男'><img src='http://www.huoshow.com/upload/2011/0917/1316231703685.jpg' alt='' width='75' height='75' /></a>
				</li>
				<li class='mygallery-ctrl-thumb-item'>
					<a class='thumb' href='#p=4' data-src='http://www.huoshow.com/upload/2011/0917/thumb_hs_0_600_1316231692203.jpg' data-title='手捧99朵玫瑰花的男'><img src='http://www.huoshow.com/upload/2011/0917/thumb_hs_0_600_1316231692203.jpg' alt='' width='75' height='75' /></a>
				</li>
				<li class='mygallery-ctrl-thumb-item'>
					<a class='thumb' href='#p=5' data-src='http://www.huoshow.com/upload/2011/0917/thumb_hs_0_600_1316231687572.jpg' data-title='手捧99朵玫瑰花的男'><img src='http://www.huoshow.com/upload/2011/0917/thumb_hs_0_600_1316231687572.jpg' alt='' width='75' height='75' /></a>
				</li>
				<li class='mygallery-ctrl-thumb-item'>
					<a class='thumb' href='#p=6' data-src='http://www.huoshow.com/upload/2011/1207/1323246996172.jpg' data-title='手捧99朵玫瑰花的男'><img src='http://www.huoshow.com/upload/2011/1207/1323246996172.jpg' alt='' width='75' height='75' /></a>
				</li>
				<li class='mygallery-ctrl-thumb-item'>
					<a class='thumb' href='#p=7' data-src='http://www.huoshow.com/upload/2011/1207/1323247033743.jpg' data-title='手捧99朵玫瑰花的男'><img src='http://www.huoshow.com/upload/2011/1207/1323247033743.jpg' alt='' width='75' height='75' /></a>
				</li>
				<li class='mygallery-ctrl-thumb-item'>
					<a class='thumb' href='#p=8' data-src='http://www.huoshow.com/upload/2011/1207/1323250149679.jpg' data-title='手捧99朵玫瑰花的男'><img src='http://www.huoshow.com/upload/2011/1207/1323250149679.jpg' alt='' width='75' height='75' /></a>
				</li>
				<li class='mygallery-ctrl-thumb-item'>
					<a class='thumb' href='#p=9' data-src='http://www.huoshow.com/upload/2011/0917/1316230369491.jpg' data-title='手捧99朵玫瑰花的男'><img src='http://www.huoshow.com/upload/2011/0917/1316230369491.jpg' alt='' width='75' height='75' /></a>
				</li>
				<li class='mygallery-ctrl-thumb-item'>
					<a class='thumb' href='#p=10' data-src='http://www.huoshow.com/upload/2011/0919/1316405597779.jpg' data-title='手捧99朵玫瑰花的男'><img src='http://www.huoshow.com/upload/2011/0919/1316405597779.jpg' alt='' width='75' height='75' /></a>
				</li>
			</ul>
		</div>
		<div class='mygallery-ctrl-bar'>
			<div class='mygallery-ctrl-bar-lt'></div>
			<div class='mygallery-ctrl-bar-rt'></div>
			<div class='mygallery-ctrl-bar-main'>
				<a class='mygallery-ctrl-bar-btn fn-clear' href='javascript:;'>
					<span class='mygallery-ctrl-bar-btn-lt'></span>
					<span class='mygallery-ctrl-bar-btn-rt'></span>
					<span class='mygallery-ctrl-bar-btn-ct'><em></em></span>
				</a>
			</div>
		</div>
		<a class='mygallery-ctrl-prev' href='javascript:;' hidefocus='true'></a>
		<a class='mygallery-ctrl-next' href='javascript:;' hidefocus='true'></a>
	</div>
</div>
<!-- 火秀相册结束 -->