{template "content","events_header"}
<!--Main Body-->
<div class="main_body">
	<!-- 时装模特 -->
	<div class="meitu">
		<div class="bar_box">
			<span class="ti_5">
			</span>
			<a class="more_model" target="_blank" href="http://www.huoshow.com/supermodel/modelpic/shizhuangmote/index.shtml">更多</a>
		</div>
		<dl>
			<dt>
				<a target="_blank" href="http://www.huoshow.com/2012/0228/118755.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751367797.jpg" alt='myalt' /></a>
			</dt>
			<dd>
				<ul>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751880168.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751880168.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751880168.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751880168.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751880168.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751880168.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751880168.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751880168.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751880168.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751880168.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
				</ul>
			</dd>
		</dl>
		<div class="clear">
		</div>
	</div>
	<!-- 时装模特结束 -->

	<!-- 内衣大片 -->
	<div class="meitu">
		<div class="bar_box">
			<span class="ti_6">
			</span>
			<a class="more_model" target="_blank" href="http://www.huoshow.com/supermodel/modelpic/neiyidapian/index.shtml">更多</a>
		</div>
		<dl>
			<dt>
				<a target="_blank" href="http://www.huoshow.com/2011/1118/60085.shtml"><img src="http://www.huoshow.com/upload/2011/1118/1321611738564.jpg" alt='myalt' /></a>
			</dt>
			<dd>
				<ul>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320405163596.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320405163596.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320405163596.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320405163596.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320405163596.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320405163596.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320405163596.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320405163596.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320405163596.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320405163596.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
				</ul>
			</dd>
		</dl>
		<div class="clear">
		</div>
	</div>
	<!-- 内衣大片结束 -->

	<!-- 车模靓影 -->
	<div class="meitu">
		<div class="bar_box">
			<span class="ti_7">
			</span>
			<a class="more_model" target="_blank" href="http://www.huoshow.com/supermodel/modelpic/chemoliangying/index.shtml">更多</a>
		</div>
		<dl>
			<dt>
				<a target="_blank" href="http://www.huoshow.com/2011/1107/51299.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330751473875.jpg" alt='myalt' /></a>
			</dt>
			<dd>
				<ul>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330752469773.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330752469773.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330752469773.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330752469773.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330752469773.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330752469773.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330752469773.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330752469773.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330752469773.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2012/0303/1330752469773.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
				</ul>
			</dd>
		</dl>
		<div class="clear">
		</div>
	</div>
	<!-- 车模靓影结束 -->

	<!-- 男模专区 -->
	<div class="meitu">
		<div class="bar_box">
			<span class="ti_8">
			</span>
			<a class="more_model" target="_blank" href="http://www.huoshow.com/supermodel/modelpic/nanmozhuanqu/index.shtml">更多</a>
		</div>
		<dl>
			<dt>
				<a target="_blank" href="http://www.huoshow.com/2011/1104/47881.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320403204896.jpg" alt='myalt' /></a>
			</dt>
			<dd>
				<ul>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320404035641.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320404035641.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320404035641.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320404035641.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320404035641.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320404035641.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320404035641.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320404035641.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320404035641.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
					<li>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml"><img src="http://www.huoshow.com/upload/2011/1104/1320404035641.jpg" alt='myalt' /></a>
						<a target="_blank" href="http://www.huoshow.com/2012/0222/116401.shtml" class='meitu_title'><span></span>万众瞩目Marni for</a>
					</li>
				</ul>
			</dd>
		</dl>
		<div class="clear">
		</div>
	</div>
	<!-- 男模专区结束 -->
</div>
{template "content","footer"}