{template "content","game_header"}
<!--Main Body-->
<div class="main_body">
	<div class="pic_banner">
		<!--广告960*90-->
		<p class="p_img"><img src="http://news.beta.huoshow.com/upload/2011/0423/1303525336808.jpg" border="0" width="960" height="90" /></p>
	</div>
	<div class="subpage_pic">
		<div class="subpage_pic_01">
			<div class="subpage_pic_list">
				<div class="subpage_pic_bt">
					<h2 class="bt1">{getCatNameFromCatid($catid)}</h2>
					{if $parentid == 177}
					<span class="sub_nav">
					{loop subcat($parentid,0,0,$siteid) $r}
						<a target="_blank" href="{$r[url]}">{$r[catname]}</a> 
						{/loop}
				</span>
				{/if}
				</div>
				{pc:content  action="lists" catid="$catid" order="id DESC" num="20" page="$page"}
				<ul >
				{loop $data $r}
					<li> <a title="{$r[title]}" href="{$r[url]}" target="_blank"><img alt="{$r[title]}" src="{thumb($r[thumb],158,118)}" width="158" height="118"> <span>{str_cut($r[title],40,'')}</span></a> </li>
				{/loop}
				</ul>
				{/pc}
				<div class="clear"></div>
				<div class="fanye fn_clear">
					<div id="fanye_01" class='fn_right'>
						<div id="pages" class="text-c">{$pages}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
{template "content","footer"}
