<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>游戏列表页 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-video-global.css' rel='stylesheet' />
	<!-- <script src='{JS_PATH}cssrefresh.js'></script> -->
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='home mvhome'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'video_header_dev'}

	<div class='ui-layout ui-layout-main fn-clear'>
		<div id='myfocus-video' class='ui-myfocus ui-layout-item'>
			<div class='loading'></div>
			<div class='pic'>
				<ul>
					<li><a href='http://huoshow.com/'><img src='http://p2.qhimg.com/t01c9c716b455ef5545.jpg' thumb='' alt='版权属于作者，图片2源于网络，版权源于网络，版权源于网络，版权来源于网络属于作者属于作者属于作者属于作者' width='680' height='300' /></a><span class='thumb-mark'></span></li>
					<li><a href='http://huoshow.com/'><img src='http://p8.qhimg.com/t01edfac96db5a5a435.jpg' thumb='' alt='敢死队2预告敢' width='680' height='300' /></a><span class='thumb-mark'></span></li>
					<li><a href='http://huoshow.com/'><img src='http://p4.qhimg.com/t015144c1e8656183d7.jpg' thumb='' alt='翻箱倒柜偷手机 监控录像抓' width='680' height='300' /></a><span class='thumb-mark'></span></li>
					<li><a href='http://huoshow.com/'><img src='http://p6.qhimg.com/t0146edc41e7d0ad81c.jpg' thumb='' alt='彭宇演绎搞笑版接生' width='680' height='300' /></a><span class='thumb-mark'></span></li>
					<li><a href='http://huoshow.com/'><img src='http://p6.qhimg.com/t01f9aef30fd614a9eb.jpg' thumb='' alt='刀片贼神出鬼没' width='680' height='300' /></a><span class='thumb-mark'></span></li>
					<li><a href='http://huoshow.com/'><img src='http://p2.qhimg.com/t01ceb6fb133fec07d1.jpg' thumb='' alt='主歌部分的涓涓细流，到副歌部分的' width='680' height='300' /></a><span class='thumb-mark'></span></li>
					<li><a href='http://huoshow.com/'><img src='http://p4.qhimg.com/t0104701ca10013f7d7.jpg' thumb='' alt='中国队备战美洲中国队备战美洲中国队备战美洲中国队备战美洲' width='680' height='300' /></a><span class='thumb-mark'></span></li>
				</ul>
			</div>
		</div>

		<div class='v-news'>
			<div class='v-news-item'>
				<h2><a href='#'>史上最给力的电视剧，屌丝青年的欢乐故事</a></h2>
				<p><a href='#'>史上最给乐故事</a> | <a href='#'>青年的欢电视剧乐</a></p>
			</div>
			<div class='v-news-item'>
				<h2><a href='#'>史上最给力的电视剧，屌丝青年的欢乐故事</a></h2>
				<p><a href='#'>史上最给乐故事</a> | <a href='#'>青年的欢电视剧乐</a></p>
			</div>
			<div class='v-news-item'>
				<h2><a href='#'>史上最给力的电视剧，屌丝青年的欢乐故事</a></h2>
				<p><a href='#'>史上最给乐故事</a> | <a href='#'>青年的欢电视剧乐</a></p>
			</div>
			<div class='v-news-item'>
				<h2><a href='#'>史上最给力的电视剧，屌丝青年的欢乐故事</a></h2>
				<p><a href='#'>史上最给乐故事</a> | <a href='#'>青年的欢电视剧乐</a></p>
			</div>
		</div>
	</div>

	<div id='select' class='ui-layout ui-select'>
		<div class='ui-select-search'>
			<div class='header'>
				<h2 class='title'><span>查询</span></h2>
				<form class='search' name='' method='post' action=''>
					地域
					<select name=''>
						<option value='default'>不限</option>
						<option value=''>先项</option>
						<option value=''>先项</option>
						<option value=''>先项</option>
					</select>
					按类型
					<select name=''>
						<option value='default'>不限</option>
						<option value=''>先项</option>
						<option value=''>先项</option>
						<option value=''>先项</option>
					</select>
					<button type='submit' class='submit'>搜索</button>
					搜索
					<input type='text' name='q' class='search-wd' value='请输入关键字' /><button type='submit' class='search-submit'>搜索</button>
				</form>
			</div>
			<ul class='filter-list'>
				<li class='filter-list-item fn-clear'>
					<span class='lable'>热门电影：</span>
					<p class='filters'>
						<a href='#'>全部</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>射击击</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
					</p>
					<a class='more' href='javascript:;'>[更多]</a>
				</li>
			</ul>
		</div>
	</div>

	<div id='content' class='fn-clear'>
		<div id='main' class='wide'>
			<div id='dyzx' class='ui-box fn-clear'>
				<div class='ui-header ui-header-lite'>
					<h2 class='title'>电影资讯</h2>
				</div>

				<div class='ui-layout-item ui-layout-item-left'>
					<div class='ui-header ui-header-star'>
						<h2 class='title'>华语新闻</h2>
						<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
					</div>
					<div class='ui-art fn-clear'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='124' height='93' /></a>
						<h3 class='title'><a href='#'>测试文字测试2</a></h3>
						<p class='cnt'>专访范冰冰专访《太极5》主创洪金久妈妈总说我长得不漂... <a class='more' href='#'>[详情]</a></p>
					</div>
					<ul class='ui-list'>
						<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
						<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
						<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
						<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
						<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					</ul>
				</div>
				<div class='ui-layout-item ui-layout-item-right'>
					<div class='ui-header ui-header-star'>
						<h2 class='title'>海外新闻</h2>
						<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
					</div>
					<div class='ui-art fn-clear'>
						<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='124' height='93' /></a>
						<h3 class='title'><a href='#'>测试文字测试2</a></h3>
						<p class='cnt'>专访范冰冰专访《太极5》主创洪金久妈妈总说我长得不漂... <a class='more' href='#'>[详情]</a></p>
					</div>
					<ul class='ui-list'>
						<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
						<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
						<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
						<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
						<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					</ul>
				</div>
			</div>

			<div class='ui-gallery'>
				<div class='ui-header ui-header-lite'>
					<h2 class='title'>最新更新</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class='ui-gallery-list ui-gallery-list-poster fn-clear'>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
				</ul>

				<div class='ui-header ui-header-lite'>
					<h2 class='title'>最新更新</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class='ui-gallery-list ui-gallery-list-poster fn-clear'>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
				</ul>

				<div class='ui-header ui-header-lite'>
					<h2 class='title'>最新更新</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class='ui-gallery-list ui-gallery-list-poster fn-clear'>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发小发发</p>
						<a class='btn' href='#'>324,2344</a>
					</li>
				</ul>
			</div>

			<div class='ui-layout ad'><a href='#'><img src='http://pnews.huoshow.com/statics/images/common/middle_anner.png' width='665' height='100' /></a></div>

			<div id='dyyg' class='ui-gallery ui-gallery-zongyi'>
				<div class='ui-header ui-header-lite'>
					<h2 class='title'>热门预告</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>

				<ul class='ui-gallery-list ui-gallery-list-poster fn-clear'>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='136' height='102' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='136' height='102' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='136' height='102' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='136' height='102' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='136' height='102' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='136' height='102' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='136' height='102' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='136' height='102' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
				</ul>
			</div>

			<div id='dyjz' class='ui-gallery'>
				<div class='ui-header ui-header-lite'>
					<h2 class='title'>电影剧照</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>

				<ul class='ui-gallery-list ui-gallery-list-poster fn-clear'>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='238' height='242' /><span class='update'>大话西战歌</span></a>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='120' height='90' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='120' height='90' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='120' height='90' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='120' height='90' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='120' height='90' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='120' height='90' /></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
					</li>
				</ul>
			</div>
		</div>

		<div id='side' class='hasborder'>
			<div class='ui-box-side ui-box-side-ranking ui-box-side-top'>
				<div class='ui-header ui-header-side'>
					<h2 class='title'>热播排行榜</h2>
					<div class='link'><a href='#'>动作</a> | <a href='#'>爱情</a> | <a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<ol class='ui-ranking ui-ranking-video'>
					<li class='ui-ranking-item ui-ranking-item-cur'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>1</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class="cnt">下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>2</span>
						<h3 class='title'><a href='#'>敢死敢死敢队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class="cnt">下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>3</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class="cnt">下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>4</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class="cnt">下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>5</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class="cnt">下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>6</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class="cnt">下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>7</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class="cnt">下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>8</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class="cnt">下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>9</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class="cnt">下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>10</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class="cnt">下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放</a></div>
					</li>
				</ol>
			</div>

			<div class='ui-box-side ui-box-side-pic'>
				<div class='ui-header ui-header-side'>
					<h2 class='title'>网游大观</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class='ui-pic-list fn-clear'>
					<li class='ui-pic-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='124' height='93' /></a>
						<a class='title-mark' href='#'>大话西战歌</a>
					</li>
					<li class='ui-pic-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='124' height='93' /></a>
						<a class='title-mark' href='#'>大话西战歌</a>
					</li>
				</ul>
				<ul class='ui-list ui-list-float'>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
					<li class='ui-list-item'><a href='#'>测试文字测试文字测试</a></li>
				</ul>
			</div>

			<div class='ui-box-side ui-tab ui-tab-min'>
				<div class='ui-header ui-header-side'>
					<h2 class='title'>票房排行榜</h2>
				</div>
				<div class='ui-tab-header fn-clear'>
					<ul class='ui-tab-nav fn-clear'>
						<li class='ui-tab-nav-item ui-tab-nav-item-cur'>北美</li>
						<li class='ui-tab-nav-item'>内地</li>
						<li class='ui-tab-nav-item'>日本</li>
						<li class='ui-tab-nav-item'>韩国</li>
					</ul>
				</div>
				<div class='ui-tab-cnt'>
					<ol class='ui-tab-cnt-item ui-tab-cnt-item-cur ui-ranking ui-ranking-video'>
						<li class='ui-ranking-item ui-ranking-item-cur'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>1</span>
							<h3 class='title'><a href='#'>北美敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>2</span>
							<h3 class='title'><a href='#'>敢死敢死敢队</a></h3>
							<p class='status status-down'>down</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>3</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>4</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>5</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-down'>down</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>6</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>7</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>8</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-down'>down</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>9</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>10</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
					</ol>
					<ol class='ui-tab-cnt-item ui-ranking ui-ranking-video'>
						<li class='ui-ranking-item ui-ranking-item-cur'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>1</span>
							<h3 class='title'><a href='#'>内地敢死队</a></h3>
							<p class='status status-down'>down</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>2</span>
							<h3 class='title'><a href='#'>敢死敢死敢队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>3</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>4</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>5</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>6</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>7</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-down'>down</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>8</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>9</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>10</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
					</ol>
					<ol class='ui-tab-cnt-item ui-ranking ui-ranking-video'>
						<li class='ui-ranking-item ui-ranking-item-cur'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>1</span>
							<h3 class='title'><a href='#'>日本敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>2</span>
							<h3 class='title'><a href='#'>敢死敢死敢队</a></h3>
							<p class='status status-down'>down</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>3</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-down'>down</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>4</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-down'>down</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>5</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>6</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>7</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>8</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>9</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>10</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
					</ol>
					<ol class='ui-tab-cnt-item ui-ranking ui-ranking-video'>
						<li class='ui-ranking-item ui-ranking-item-cur'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>1</span>
							<h3 class='title'><a href='#'>韩国敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>2</span>
							<h3 class='title'><a href='#'>敢死敢死敢队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num num-hot'>3</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>4</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>5</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>6</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>7</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>8</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>9</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
							<span class='num '>10</span>
							<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
							<p class='status status-up'>UP</p>
							<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
						</li>
					</ol>
				</div>
			</div>

			<div class='ui-box-side ui-box-side-art-yr'>
				<div class='ui-header ui-header-side'>
					<h2 class='title'>影人</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<div class='ui-art fn-clear'>
					<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='110' height='120' /></a>
					<h3 class='title'><a href='#'>测试文字测试2</a></h3>
					<p class='cnt'>专访范冰冰专访《太极5》主创洪金久妈妈总说我长得不漂我长得不漂我长得不漂我长得不漂我长得不漂。<a class='more' href='#'>[详情]</a></p>
					<div class='link'><a href='#'>范冰冰专访</a></div>
				</div>
				<div class='ui-art fn-clear'>
					<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='110' height='120' /></a>
					<h3 class='title'><a href='#'>测试文字测试2</a></h3>
					<p class='cnt'>专访范冰冰专访《太极5》主创洪金久妈妈总说我长得不漂我长得不漂我长得不漂我长得不漂我长得不漂。<a class='more' href='#'>[详情]</a></p>
					<div class='link'><a href='#'>范冰冰专访</a></div>
				</div>
			</div>

			<div class='ui-box-side ui-box-side-art'>
				<div class='ui-header ui-header-side'>
					<h2 class='title'>网游大观</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<div class='ui-art fn-clear'>
					<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='124' height='93' /></a>
					<h3 class='title'><a href='#'>测试文字测试2</a></h3>
					<p class='cnt'>专访范冰冰专访《太极5》主创洪金久妈妈总说我长得不漂... <a class='more' href='#'>[详情]</a></p>
				</div>
				<ul class='ui-list'>
					<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活码激活码</a></li>
					<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激活码</a></li>
					<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活活码</a></li>
					<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激活码码激活码激活码</a></li>
					<li class='ui-list-item'><a href='#'>游戏进军韩激激活码激激活码</a></li>
				</ul>
			</div>

			<div class='ui-box-side ui-box-side-art'>
				<div class='ui-header ui-header-side'>
					<h2 class='title'>专访</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<div class='ui-art fn-clear'>
					<a class='img' href='#'><img src='http://i3.17173.itc.cn/2012/newgame/bigeyes/c1110hg04.jpg' alt='' width='124' height='93' /></a>
					<h3 class='title'><a href='#'>测试文字测试2</a></h3>
					<p class='cnt'>专访范冰冰专访《太极5》主创洪金久妈妈总说我长得不漂... <a class='more' href='#'>[详情]</a></p>
				</div>
			</div>
		</div>
	</div>

	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-video'></script>
	{template 'content', 'hs_footer'}
</body>
</html>