<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>游戏列表页 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-video-global.css' rel='stylesheet' />
	<script src='{JS_PATH}cssrefresh.js'></script>
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='library-tags'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'video_header_dev'}

	<div id='content' class='fn-clear'>
		<div class='ui-header ui-header-tab'>
			<div class='tab'>
				<a class='cur' href='#'>全部视频</a>
				<a href='#'>电影</a>
				<a href='#'>电视剧</a>
			</div>
		</div>
		<div class='ui-content'>
			<div class='ui-header ui-header-content'>
				<h2 class='title'>电影 <a class='more' href='#'>查看全部 <em>41</em> 部电影&gt;&gt;</a></h2>
				<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
			</div>
			<ul class='ui-gallery-list fn-clear'>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
			</ul>

			<div class='ui-header ui-header-content'>
				<h2 class='title'>电视剧 <a class='more' href='#'>查看全部 <em>41</em> 部电影&gt;&gt;</a></h2>
				<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
			</div>
			<ul class='ui-gallery-list ui-gallery-list-last fn-clear'>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
				<li class='ui-gallery-list-item'>
					<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /></a>
					<h3 class='title'><a href='#'>大话西战歌</a></h3>
					<ul class='info-list'>
						<li class='info-list-item'>年代:2132 地区:大陆</li>
						<li class='info-list-item'>类型:悬疑 / 剧情</li>
						<li class='info-list-item'>导演:<em>小爱爱 天文强</em></li>
						<li class='info-list-item'>演员:<em>成龙 周迅 梁朝伟</em></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-video'></script>
	{template 'content', 'hs_footer'}
</body>
</html>