{template "content","supermodel_header"}
<!--Main Body-->
<div class="main_body">
	<h2 class="comment_title">尼古拉斯·凯奇驾驭《灵魂战车2》<a href='#' title=''>[我来说两句]</a></h2>
	<!-- 评论正文 -->
	<div class="Subpage_left">
		<!-- 评论列表 -->
		<div class='comment_nav'><a class='selected' href='#' title='mytitle'>最新</a> <a href='#' title='mytitle'>最新</a></div>
		<div class='ui_comment'>
			<h3 class='ui_comment_title'><strong>评论列表</strong> <span>（评论<em>0</em>）以下网友评论只代表网友个人观点，不代表本站观点。</span></h3>
			<dl class='ui_comment_list'>
				<dt class='ui_comment_list_member'>赵轲 <span>昨天 15:11</span></dt>
				<dd class='ui_comment_list_content'>年度催泪贺岁片《倾城之泪》再有新动作，《倾城之泪》的官方媒体在今日上午再曝一段预告片，据悉，该片共由三段故事组成，除周冬雨李治廷的“第一滴泪”、陈乔恩窦骁 的“第三滴泪”</dd>

				<dt class='ui_comment_list_member'>赵轲 <span>昨天 15:11</span></dt>
				<dd class='ui_comment_list_content'>年度催泪贺岁片《倾城之泪》再有新动作，《倾城之泪》的官方媒体在今日上午再曝一段预告片，据悉，该片共由三段故事组成，除周冬雨李治廷的“第一滴泪”、陈乔恩窦骁 的“第三滴泪”</dd>

				<dt class='ui_comment_list_member'>赵轲 <span>昨天 15:11</span></dt>
				<dd class='ui_comment_list_content'>年度催泪贺岁片《倾城之泪》再有新动作，《倾城之泪》的官方媒体在今日上午再曝一段预告片，据悉，该片共由三段故事组成，除周冬雨李治廷的“第一滴泪”、陈乔恩窦骁 的“第三滴泪”</dd>

				<dt class='ui_comment_list_member'>赵轲 <span>昨天 15:11</span></dt>
				<dd class='ui_comment_list_content'>年度催泪贺岁片《倾城之泪》再有新动作，《倾城之泪》的官方媒体在今日上午再曝一段预告片，据悉，该片共由三段故事组成，除周冬雨李治廷的“第一滴泪”、陈乔恩窦骁 的“第三滴泪”</dd>

				<dt class='ui_comment_list_member'>赵轲 <span>昨天 15:11</span></dt>
				<dd class='ui_comment_list_content ui_comment_list_content_last'>年度催泪贺岁片《倾城之泪》再有新动作，《倾城之泪》的官方媒体在今日上午再曝一段预告片，据悉，该片共由三段故事组成，除周冬雨李治廷的“第一滴泪”、陈乔恩窦骁 的“第三滴泪”</dd>
			</dl>
		</div>

		<form class='comment_form' action='' method='post'>
			<h3>我来说两句</h3>
			<div class='comment_standpoint'>我的态度：
				<input type='radio' name='standpoint' value='1' id='standpoint_1' tabindex='11' />
				<label for='standpoint_1' class='standpoint_1'>正</label>

				<input type='radio' name='standpoint' value='3' id='standpoint_3' tabindex='12' />
				<label cla for='standpoint_3' class='standpoint_3'>反</label>

				<input type='radio' name='standpoint' value='2' id='standpoint_2' tabindex='13' />
				<label for='standpoint_2' class='standpoint_2'>中</label>
			</div>

			<textarea name="comment_content" class="comment_content" id="comment_content"></textarea>
			<div class="send_btn">
				<input type="submit" class="ui_send_btn" value="发表评论" />
				<span><a href='#'>登录</a> | <a href='#'>注册</a> <em>需要登录才可以发表评论</em></span>
			</div>

			<br /><!--<p>请注意：<br />自觉遵守：爱国、守法、文明的原则<br />觉遵守：爱国、守法、文明的原则觉遵守：爱国、守法、文明的原则觉遵守：爱国、守法、文明的原则觉遵守：爱国、守法、文明的原则觉遵守：爱国、守法、文明的原则觉遵守：爱国、守法、文明的原则觉遵守：爱国、守法、文明的原则觉遵守：爱国、守法.</p>-->
		</form>
		<!-- 评论列表结束 -->
	</div>
	<!-- 评论正文结束 -->

	<div class="Subpage_right">
		<!--今日推荐-->
		<div class="ui_tab_box">
			<h3 class='ui_tab_box_title'>今日推荐</h3>
			<dl class='kandyTabs'>
				<dt>本频道</dt>
				<dd>
					<ul class='ui_tab_box_content'>
						<li><span class='top_no'>1</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝性感写真111111</a></li>
						<li><span class='top_no'>2</span><a href="#" title="mytitle">日本女星吉木梨纱春光无限性感写真</a></li>
						<li><span class='top_no'>3</span><a href="#" title="mytitle">日本知名AV女优大桥未久雪肌美胸清爽</a></li>
						<li><span>4</span><a href="#" title="mytitle">日本著名AV女优明睡衣拍</a></li>
						<li><span>5</span><a href="#" title="mytitle">丽柜最新模特Model美美搔首弄姿性感</a></li>
						<li><span>6</span><a href="#" title="mytitle">游戏美女穿着各种齐B小短裙丝袜诱惑</a></li>
						<li><span>7</span><a href="#" title="mytitle">丽柜美女模特Modey美腿美足高</a></li>
						<li><span>8</span><a href="#" title="mytitle">丽柜美女模特Model Cherry美腿美足高</a></li>
						<li><span>9</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真</a></li>
						<li><span>10</span><a href="#" title="mytitle">丽柜美女模特Modey美腿美足高</a></li>
					</ul>
				</dd>
				<dt>电影</dt>
				<dd>
					<ul class='ui_tab_box_content'>
						<li><span class='top_no'>1</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝性感写真222222</a></li>
						<li><span class='top_no'>2</span><a href="#" title="mytitle">日本女星吉木梨纱春光无限性感写真</a></li>
						<li><span class='top_no'>3</span><a href="#" title="mytitle">日本知名AV女优大桥未久雪肌美胸清爽</a></li>
						<li><span>4</span><a href="#" title="mytitle">日本著名AV女优明日花身穿性感睡衣拍</a></li>
						<li><span>5</span><a href="#" title="mytitle">丽柜最新模特Model美美搔首弄姿性感</a></li>
						<li><span>6</span><a href="#" title="mytitle">游戏美女穿着各种齐B小短裙丝袜诱惑</a></li>
						<li><span>7</span><a href="#" title="mytitle">丽柜美女模特Modey美腿美足高</a></li>
						<li><span>8</span><a href="#" title="mytitle">丽柜美女模特Model Cherry美腿美足高</a></li>
						<li><span>9</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真</a></li>
					</ul>
				</dd>
				<dt>音乐</dt>
				<dd>
					<ul class='ui_tab_box_content'>
						<li><span class='top_no'>1</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝性感写真33333</a></li>
						<li><span class='top_no'>2</span><a href="#" title="mytitle">日本女星吉木梨纱春光无限性感写真</a></li>
						<li><span class='top_no'>3</span><a href="#" title="mytitle">日本知名AV女优大桥未久雪肌美胸清爽</a></li>
						<li><span>4</span><a href="#" title="mytitle">日本著名AV女优明日花身穿性感睡衣拍</a></li>
						<li><span>5</span><a href="#" title="mytitle">丽柜最新模特Model美美搔首弄姿性感</a></li>
						<li><span>6</span><a href="#" title="mytitle">游戏美女穿着各种齐B小短裙丝袜诱惑</a></li>
						<li><span>7</span><a href="#" title="mytitle">丽柜美女模特Modey美腿美足高</a></li>
						<li><span>8</span><a href="#" title="mytitle">丽柜美女模特Model Cherry美腿美足高</a></li>
						<li><span>9</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真</a></li>
					</ul>
				</dd>
				<dt>游戏</dt>
				<dd>
					<ul class='ui_tab_box_content'>
						<li><span class='top_no'>1</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝性感写真444444</a></li>
						<li><span class='top_no'>2</span><a href="#" title="mytitle">日本女星吉木梨纱春光无限性感写真</a></li>
						<li><span class='top_no'>3</span><a href="#" title="mytitle">日本知名AV女优大桥未久雪肌美胸清爽</a></li>
						<li><span>4</span><a href="#" title="mytitle">日本著名AV女优明日花身穿性感睡衣拍</a></li>
						<li><span>5</span><a href="#" title="mytitle">丽柜最新模特Model美美搔首弄姿性感</a></li>
						<li><span>6</span><a href="#" title="mytitle">游戏美女穿着各种齐B小短裙丝袜诱惑</a></li>
						<li><span>7</span><a href="#" title="mytitle">丽柜美女模特Modey美腿美足高</a></li>
						<li><span>8</span><a href="#" title="mytitle">丽柜美女模特Model Cherry美腿美足高</a></li>
						<li><span>9</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真</a></li>
					</ul>
				</dd>
			</dl>
		</div>
		<!--今日推荐结束-->

		<!-- 评论排行 -->
		<div class="ui_fold_box ui_ranking_box top_comment">
			<h3 class='ui_fold_box_title'><span>评论排行</span></h3>
			<ol class='ui_fold_box_content'>
				<li class='ui_fold_box_content_selected'>
					<span class='top_no'>1</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明日</a></h4>
				</li>
				<li>
					<span class='top_no'>2</span>
					<h4><a href="#" title="mytitle">日睡衣拍</a></h4>
				</li>
				<li>
					<span class='top_no'>3</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明日花身穿性感睡衣拍</a></h4>
				</li>
				<li>
					<span>4</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>5</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>6</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>7</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>8</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>9</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>10</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
			</ol>
		</div>
		<!-- 评论排行结束 -->

		<!-- 最新评论 -->
		<div class="ui_fold_box ui_ranking_box latest_comment">
			<h3 class='ui_fold_box_title'><span>评论排行</span></h3>
			<ol class='ui_fold_box_content'>
				<li class='ui_fold_box_content_selected'>
					<span class='top_no'>1</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明日</a></h4>
				</li>
				<li>
					<span class='top_no'>2</span>
					<h4><a href="#" title="mytitle">日睡衣拍</a></h4>
				</li>
				<li>
					<span class='top_no'>3</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明日花身穿性感睡衣拍</a></h4>
				</li>
				<li>
					<span>4</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>5</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>6</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>7</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>8</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>9</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
				<li>
					<span>10</span>
					<h4><a href="#" title="mytitle">日本著名AV女优明拍</a></h4>
				</li>
			</ol>
		</div>
		<!-- 最新评论结束 -->
	</div>
	<div class="clear"></div>
</div>
{template "content","footer"}