<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>游戏列表页 - 热门综艺</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-video-global.css' rel='stylesheet' />
	<!-- <script src='{JS_PATH}cssrefresh.js'></script> -->
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='tv zongyi jcarousel'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'video_header_dev'}

	<div id='content' class='fn-clear'>
		<!-- 主内容 -->
		<div id='main' class='wide'>
			<div class='jcarousel-skin-video'>
				<ul class='jcarousel-list'>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i2.letvimg.com/cms/201212/30/c2a772a8a6f9095b5d001f9d8a8c7c6d4504.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i3.letvimg.com/cms/201212/30/50eacf774a97c34230c4cf2aec6630a53000.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i2.letvimg.com/cms/201302/16/6ef401b38875dd96309642d05db54cdb2326.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i3.letvimg.com/cms/201302/16/966d10f318ce2586a5b044f0e2dc79ae1773.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i3.letvimg.com/cms/201302/17/60308f72c11d7ce493870f569fb7f6ee6846.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i3.letvimg.com/cms/201302/17/a109c1dd60417b6a7e074758f20753361108.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i2.letvimg.com/cms/201302/18/6cc44292f72f846617145b77a5aa71f09651.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i1.letvimg.com/cms/201301/14/bba31f53390afe7311e04a65db7e19e58532.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i0.letvimg.com/cms/201301/10/eefc9c2455b666853f67341afa053dd44933.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i1.letvimg.com/cms/201301/29/287ed87b1deb53cb019cacd1109149bd2193.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i1.letvimg.com/cms/201202/06/ec7dc1afbc950b28637304887eafddb91342.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i2.letvimg.com/cms/201301/16/c2ce402c63ec84f69c75672f7be68f749961.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i2.letvimg.com/cms/201212/24/a69820fa14846dea357e177163ba1acf3827.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i1.letvimg.com/cms/201301/08/dc39693cd728bff74d34f368ae5c6732716.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i0.letvimg.com/cms/201211/05/1bd942e2d49d367e1af687b69a8898494449.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
					<li>
						<a class='img' href='#'><img width='141' height='188' src='http://i0.letvimg.com/cms/201209/25/93fd230b496080eadcad1c98392f61b12596.jpg' alt='' /></a>
						<div class='infomask'></div>
						<div class='info'>
							<h3 class='title'><a href='#'>说出你的故事</a></h3>
							<p class='cnt'>说出你的故事敢死敢死队敢死队</p>
						</div>
					</li>
				</ul>
				<div class='jcarousel-control'>
					<a href='javascript:;'></a>
					<a href='javascript:;'></a>
					<a href='javascript:;'></a>
					<a href='javascript:;'></a>
				</div>
			</div>

			<div id='select' class='ui-select ui-select-lite'>
				<div class='ui-select-filter'>
					<div class='header'>
						<h2 class='title'><span>综艺分类</span></h2>
					</div>
					<ul class='filter-list fn-clear'>
						<li class='filter-list-item'>
							<h3 class='lable'>类型</h3>
							<p class='filters'>
								<a href='#'>全部</a>
								<a href='#'>角色</a>
								<a href='#'>格斗</a>
								<a href='#'>射击</a>
								<a href='#'>角色</a>
								<a href='#'>格斗</a>
								<a href='#'>射击</a>
								<span class='cur'>天朝</span>
								<a href='#'>格斗</a>
								<a href='#'>测试文</a>
								<a href='#'>角色</a>
								<a href='#'>格斗</a>
								<a href='#'>格斗</a>
								<a href='#'>格斗</a>
								<a href='#'>格斗测试</a>
								<a href='#'>其它</a>
							</p>
						</li>
						<li class='filter-list-item'>
							<h3 class='lable'>地区</h3>
							<p class='filters'>
								<a href='#'>美国</a>
								<a href='#'>中国</a>
								<a href='#'>格斗</a>
								<a href='#'>射击</a>
								<a href='#'>角色</a>
								<a href='#'>格斗</a>
								<a href='#'>射击</a>
								<span class='cur'>格测试</span>
								<a href='#'>格斗</a>
								<a href='#'>测试文</a>
								<a href='#'>角色</a>
								<a href='#'>格斗</a>
								<a href='#'>格斗</a>
								<a href='#'>格斗</a>
								<a href='#'>格斗测试</a>
								<a href='#'>其它</a>
							</p>
						</li>
						<li class='filter-list-item'>
							<h3 class='lable'>人物</h3>
							<p class='filters'>
								<a href='#'>周星驰</a>
								<a href='#'>角色</a>
								<a href='#'>方力测</a>
								<a href='#'>射击</a>
								<a href='#'>角色</a>
								<a href='#'>格斗</a>
								<a href='#'>射击</a>
								<span class='cur'>格斗测试</span>
								<a href='#'>格斗</a>
								<a href='#'>测试文</a>
								<a href='#'>格斗测试</a>
								<a href='#'>更多</a>
							</p>
						</li>
						<li class='filter-list-item filter-list-item-link'>
							<a href='#'>最新综艺</a>
							<a href='#'>最热综艺</a>
							<a href='#'>更多分类</a>
						</li>
					</ul>
				</div>
			</div>

			<div class='ui-gallery'>
				<div class='ui-header ui-header-lite'>
					<h2 class='title'>热播综艺</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>

				<ul class='ui-gallery-list ui-gallery-list-poster fn-clear'>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /><span class='update'>2012-11-12更新</span></a>
						<h3 class='title'><a href='#'>大话西战歌大话西战歌</a></h3>
						<p class='info'>主演周润发发发发发发发发发发</p>
						<p class='info'><a class='icon tudou' href='#'>土豆</a></p>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /><span class='update'>2012-11-12更新</span></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发发发发发发发发发发</p>
						<p class='info'><a class='icon tudou' href='#'>土豆</a></p>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /><span class='update'>2012-11-12更新</span></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发发发发发发发发发发</p>
						<p class='info'><a class='icon tudou' href='#'>土豆</a></p>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /><span class='update'>2012-11-12更新</span></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发发发发发发发发发发</p>
						<p class='info'><a class='icon tudou' href='#'>土豆</a></p>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /><span class='update'>2012-11-12更新</span></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发发发发发发发发发发</p>
						<p class='info'><a class='icon tudou' href='#'>土豆</a></p>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /><span class='update'>2012-11-12更新</span></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发发发发发发发发发发</p>
						<p class='info'><a class='icon tudou' href='#'>土豆</a></p>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /><span class='update'>2012-11-12更新</span></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发发发发发发发发发发</p>
						<p class='info'><a class='icon tudou' href='#'>土豆</a></p>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /><span class='update'>2012-11-12更新</span></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发发发发发发发发发发</p>
						<p class='info'><a class='icon tudou' href='#'>土豆</a></p>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /><span class='update'>2012-11-12更新</span></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发发发发发发发发发发</p>
						<p class='info'><a class='icon tudou' href='#'>土豆</a></p>
					</li>
					<li class='ui-gallery-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='105' height='140' /><span class='update'>2012-11-12更新</span></a>
						<h3 class='title'><a href='#'>大话西战歌</a></h3>
						<p class='info'>主演周润发发发发发发发发发发</p>
						<p class='info'><a class='icon tudou' href='#'>土豆</a></p>
					</li>
				</ul>
			</div>

			<div class='ui-box fn-clear'>
				<div class='ui-header ui-header-lite'>
					<h2 class='title'>热播综艺</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>

				<ul class='ui-list ui-list-news'>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
				</ul>
				<ul class='ui-list ui-list-news'>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
				</ul>
				<ul class='ui-list ui-list-news'>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
				</ul>
				<ul class='ui-list ui-list-news'>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
				</ul>
				<ul class='ui-list ui-list-news'>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
				</ul>
				<ul class='ui-list ui-list-news'>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>你绝对想不到!国产游戏进韩雷国韩雷国韩雷国军韩雷国的雷囧译名(图)</a></li>
				</ul>
			</div>
		</div>

		<div id='side' class='hasborder'>
			<div class='ui-box-side ui-box-side-ranking ui-box-side-top'>
				<div class='ui-header ui-header-side'>
					<h2 class='title'>综艺排行榜</h2>
				</div>
				<ol class='ui-ranking ui-ranking-video'>
					<li class='ui-ranking-item ui-ranking-item-cur'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>1</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>2</span>
						<h3 class='title'><a href='#'>敢死敢死敢队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>3</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>4</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>5</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>6</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>7</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>8</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>9</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>10</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
				</ol>
			</div>

			<div class='ui-box-side ui-box-side-ranking'>
				<div class='ui-header ui-header-side'>
					<h2 class='title'>首播剧场</h2>
				</div>
				<ol class='ui-ranking ui-ranking-video'>
					<li class='ui-ranking-item ui-ranking-item-cur'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>1</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>2</span>
						<h3 class='title'><a href='#'>敢死敢死敢队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>3</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>4</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>5</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>6</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>7</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>8</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>9</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>10</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='status'>下载次敢死/1802P</p>
						<p class='cnt'>下载次敢死数敢死</p>
						<div class='btn btn-play'><a href='#'>播放次数：45658</a></div>
					</li>
				</ol>
			</div>

			<div class='ui-box-side ui-box-side-pic'>
				<div class='ui-header ui-header-side'>
					<h2 class='title'>精彩片花</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<ol class='ui-ranking ui-ranking-video'>
					<li class='ui-ranking-item ui-ranking-item-cur'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>1</span>
						<h3 class='title'><a href='#'>内地敢死队</a></h3>
						<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>2</span>
						<h3 class='title'><a href='#'>敢死敢死敢队</a></h3>
						<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num num-hot'>3</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>4</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
					</li>
					<li class='ui-ranking-item'>
						<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='88' height='66' /></a>
						<span class='num '>5</span>
						<h3 class='title'><a href='#'>敢死敢死队敢死队</a></h3>
						<p class='cnt cnt-2line'>独家评论：载次敢死数敢死队敢死死...<a class='more' href='#'>[详情]</a></p>
					</li>
				</ol>
			</div>

			<div class='ui-box-side ui-box-side-pic'>
				<div class='ui-header ui-header-side'>
					<h2 class='title'>精彩片花</h2>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class='ui-pic-list fn-clear'>
					<li class='ui-pic-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='124' height='93' /></a>
						<a class='title-mark' href='#'>大话西战歌</a>
					</li>
					<li class='ui-pic-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='124' height='93' /></a>
						<a class='title-mark' href='#'>大话西战歌</a>
					</li>
					<li class='ui-pic-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='124' height='93' /></a>
						<a class='title-mark' href='#'>大话西战歌</a>
					</li>
					<li class='ui-pic-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='124' height='93' /></a>
						<a class='title-mark' href='#'>大话西战歌</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script src='{JS_PATH}seajs/sea.js' id='seajsnode' data-main='hs-video'></script>
	{template 'content', 'hs_footer'}
</body>
</html>