<!--{template 'system/header_channel.html'}-->
	<link href="{IMG_URL}templates/{TEMPLATE}/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<link href="{IMG_URL}templates/{TEMPLATE}/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<!--[if IE 6]> 
		<link href="{IMG_URL}templates/{TEMPLATE}/css/ie6.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<![endif]-->
	

<div class="column">
	<div class="member-wrap w-720 bor-ccc">
		<div class="member-title">
			<h2>会员登录</h2>
		</div>
	<div>
		<form action="{url('member/index/login')}" method="POST" name="member_loginForm" id="member_loginForm">
			<ul class="formFormat member-form">
				<li><span class="info f-l"><label for="login_username">用户名：</label></span><input name="username" id="login_username" value="{$rememberusername}" type="text" class="input-text age f-l input-w160"/> <span class="warn" style="display:none;"></span></li>
				<li><span class="info f-l"><label for="login_password">密　码：</label></span><input name="password" id="login_password" type="password" class="input-text age f-l input-w160"/> <span class="warn" style="display:none;"></span></li>
				<!--{if $needseccode }-->
				<li><span class="info f-l"><label for="login_seccode">验证码：</label></span>
				<input name="seccode" id="login_seccode" type="text" value="" maxlength="4" class="input-text age f-l input-w160 member-yzm"  /> 
				<img src="{url('system/seccode/image')}" id="seccodeimg" onclick="this.src='{url('system/seccode/image')}&id='+Math.random()*5;" style="cursor:pointer;" width="48" height="20"  align="absmiddle" class="img_mar"/>
				
				<span class="warn" style="display:none;"></span>
				</li>
				<!--{/if}-->
				<li class="align-member cor-666"><input name="cookietime" type="checkbox" value="1296000" class="bdr_0"/> 下次自动登录 </li>
				<li class="align-member"><input class="member-btn" type="submit" value="登 录" /> <a href="{url('member/index/getpassword')}" class="ch-yzm">忘记密码</a></li>
			</ul>
		</form>
	</div>
	</div>
</div>
<div class="hr-h10"></div>
<!--{template 'system/footer.html'}-->