@charset "utf-8";
/* CSS Document */
.m_interface{ background-image: url(m_interfacebg.gif); height: 155px; width: 236px; float:left; background-repeat: no-repeat; margin-right:20px;}
.m_interface h3{font-family:"microsoft yahei", "微软雅黑", "simsun", "宋体"; font-weight: bold; font-size:14px; padding:0px; margin:0px;}
.m_interface p{font-size:12px;padding:0px; margin:0px; }
.m_interface .lefttext{ padding-left:15px; padding-top:10px; float:left;width:130px; overflow:hidden;}
.m_interface .rightimg{ float:right; padding-right:10px; padding-top:10px;}