<div class="chat" id="chat">
  <table width="100%">
    <tr style="vertical-align: top;">
      <td width="100%">
        <div id="chat_msgbox">
          <div style="position:relative;">
            <a href="{DX_HUOSHOW_SHOW_URL}" target='_blank'
              style="position:absolute;top:5px;right:5px;"><img src='/static2/images/gohome_1.gif' /></a>
          </div>
          <h3 class="tab-a">聊天</h3>

          <div class="room-notice-bar">
            <div class="room-notice-label">【直播间公告】：</div>

            <div class="room-notice-message">
              <marquee scrolldelay="98" scrollamount="1" onmouseover="this.stop();" onmouseout="this.start();">
              <span id="room_notice">
              <!--{if $notice}-->
                <!--{if $notice[roomnotice_link]}-->
                <a href="{$notice[roomnotice_link]}" target="_blank">
                  <!--{/if}-->

                  <!--{if $notice[roomnotice]}--> {$notice[roomnotice]}
                  <!--{else}--> 欢迎来到 <!--{if $space[nickname]}--> $space[nickname] <!--{else}--> $space[username] <!--{/if}--> 的直播间 <!--{/if}-->

                  <!--{if $notice[roomnotice_link]}-->
                </a>
                <!--{/if}-->
              <!--{/if}-->
              </span>
              </marquee>
            </div>

          </div>
          <div id="chat_log_box" class="tab-b">

            <div id="chat_log1_w">
              <div id="message_list"></div>
            </div>

            <div id="chat_log2_w">
              <div id="my_message_list">

                <div class="mt-sys">
                  <p><!--{if !$_G['uid']}-->欢迎来到<!--{if $space[nickname]}-->$space[nickname]<!--{else}-->$space[username]<!--{/if}-->的直播间。 请&nbsp;<a onclick="showWindow('login', this.href);hideWindow('register');" href="{DX_URL}member.php?mod=logging&amp;action=login">登录</a>&nbsp;或&nbsp;<a onclick="showWindow('register', this.href);hideWindow('login');" href="{DX_URL}member.php?mod=register">注册</a>&nbsp;，与<!--{if $space[nickname]}-->$space[nickname]<!--{else}-->$space[username]<!--{/if}-->进行交流和互动。<!--{/if}--></p>
                  <!--{if $notice[s_roomnotice]}-->
                  <p><!--{if $space[nickname]}-->$space[nickname]<!--{else}-->$space[username]<!--{/if}-->:
                  <a href="
                    <!--{if $notice[s_roomnotice_link]}-->{$notice[s_roomnotice_link]}" target="_blank" 
                    <!--{else}-->javascript:;"
                    <!--{/if}--> >
                    {$notice[s_roomnotice]} {$notice[s_roomnotice_link]}
                  </a>
                  <!--{else}-->
                  <!--{if $space[nickname]}-->$space[nickname]<!--{else}-->$space[username]<!--{/if}-->:
                  记得送我礼物哦，火币不足的话可以点这里
                  <a href="{DX_URL}home.php?mod=space&do=pay&view=me" target="_blank">充值</a>
                  或者完成简单
                  <a href="{DX_URL}home.php?mod=task&item=new" target="_blank">任务</a>
                  免费挣火币。谢谢哦！
                  </p>
                  <!--{/if}-->
                </div>

              </div>
            </div>
          </div>

        </div>
      </td>
      <td class="splitter-v">
        <a href="javascript:;" onclick="chat.onlineListShowHide();return false;">&nbsp;</a>
      </td>
      <td id="online_box">
        <div id="online_box_w">
          <div id="online_box_w_b">
            <h3>观众(<span id="onlineNum">0</span>)</h3>
            <div id="onlineUsers"></div>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div id="chat-form-w">
    <div id="chat-form">
      <div class="chat-form-tools">
        <table width="100%">
          <tr>
            <td class="tool-item" id="btn_audience-list">
              <div id="users_label">所有人</div>
              <div class="pop-b" id="audience-list"></div>
            </td>
            <td class="tool-item" style="display:none;">
              <div>
                <label for="isPrivate"><input type="checkbox" value="false" id="isPrivate" />&nbsp;悄悄话</label>
              </div>
            </td>
            <td class="tool-item" id="btn_face">
              <div>
                <a href="javascript:;" onclick="return false;" class="btn-face">&nbsp;</a>
                <div class="pop-b" id="face_box">
                  <div class="loading"><span>&nbsp;</span></div>
                </div>
              </div>
            </td>
            <td width="100%">
              <a href="javascript:;" onclick="chat.clap();return false;">喝彩</a>
            </td>
            <td>
              <div style="white-space:nowrap;">
                <a href="javascript:;" onclick="chat.setAutoScroll(this);return false;">停止滚屏</a>&nbsp;|&nbsp;
                <a href="javascript:;" onclick="chat.clearLog();return false;">清屏</a>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="chat-form-input">
        <table width="100%">
          <tr>
            <td width="100%">
              <div class="input-message">
                <input type="text" id="inputMessage" />
              </div>
            </td>
            <td style="padding-left:5px;">
              <a href="javascript:;" onclick="chat.send();return false;" class="hs-button"><span>发送消息</span></a>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div> 
