{subtemplate show/rank_header}
<script>
  function huoweek(page){
    var url = '/show.php?mod=frank&operation=huoweek&page='+page;
    _$.getJSON(url, function(data){
      if( data['data'] ) {
        var datalist=data['data'];
        var h = '<div class="ripai"><span>WEEK</span><h1>富豪周排行榜</h1>';
          if( data['pai'] ) { h+='<h3> 您的当前排名：'+data['pai']+'</h3>';}
          h+='</div><div class="he"><table width="100%" border="0" class="paixing"> <tr class="wenzi"><td width="10%" >排名</td> <td width="52%">昵称</td> <td width="15%">豪爽度</td></tr>';
            for(var i=0,l=datalist.length; i<l; i++){
              h += [ 
              '<tr class="wenzi_huise"><td><span class="a">',
                    (page-1)*15+i+1,
                    '</span></td><td><a href="/',
                    datalist[i].uid,
                    '"><span style="float:left;">',
                      datalist[i].nickname,
                      '(',datalist[i].uid,')</span>',
                    '</a></td><td>',
                  datalist[i].amount,
                  '</td></tr>'
              ].join("");
            }

            h+= '</table></div><div class="Page"><div class="page_dian"><a href="#" onclick="goTop();return false;"></a></div>'+data['pagehtml']+'</div>';

        _$("#huoweek").html(h);
      }                        
    });
  };
  function huoday(page){
    var url = '/show.php?mod=frank&operation=huoday&page='+page;
    _$.getJSON(url, function(data){
      if( data['data'] ) {
        var datalist=data['data'];
        var h = '<div class="ripai"><span>DAY</span><h1>富豪日排行榜</h1>';
          if( data['pai'] ) { h+='<h3> 您的当前排名：'+data['pai']+'</h3>';}
          h+='</div><div class="he"><table width="100%" border="0" class="paixing"> <tr class="wenzi"><td width="10%" >排名</td> <td width="52%">昵称</td> <td width="15%">豪爽度</td> </tr>';
            for(var i=0,l=datalist.length; i<l; i++){
              h += [ 
              '<tr class="wenzi_huise"><td><span class="a">',
                    (page-1)*15+i+1,
                    '</span></td><td><a href="/',
                    datalist[i].uid,
                    '"><span style="float:left;">',
                      datalist[i].nickname,
                      '(',datalist[i].uid,')</span>',
                    '</a></td><td>',
                  datalist[i].amount,
                  '</td></tr>'
              ].join("");
            }

            h+= '</table></div><div class="Page"><div class="page_dian"><a href="#" onclick="goTop();return false;"></a></div>'+data['pagehtml']+'</div>';

        _$("#huoday").html(h);
      }                        
    });
  };
  var huomonth_date = ''+data['current'];
  
  function huomonth(page){
    var url = '/show.php?mod=frank&operation=huomonth&page='+page+'&date='+huomonth_date;
    _$.getJSON(url, function(data){
      if( data ) {
        var datalist=data['data'];
          var h ='';
          h+='<div class="he"><table width="100%" border="0" class="paixing"> <tr class="wenzi"><td width="10%" >排名</td> <td width="52%">昵称</td> <td width="15%">豪爽度</td> </tr>';
            for(var i=0,l=datalist.length; i<l; i++){
              h += [ 
              '<tr class="wenzi_huise"><td><span class="a">',
                    (page-1)*15+i+1,
                    '</span></td><td><a href="/',
                    datalist[i].uid,
                    '"><span style="float:left;">',
                      datalist[i].nickname,
                      '(',datalist[i].uid,')</span>',
                    '</a></td><td>',
                  datalist[i].amount,
                  '</td></tr>'
              ].join("");
            }

            h+= '</table></div><div class="Page"><div class="page_dian"><a href="#" onclick="goTop();return false;"></a></div>'+data['pagehtml']+'</div>';

        _$("#huomonth").html(h);
      }                        
    });
  };
  function huoall(page){
    var url = '/show.php?mod=frank&operation=huoall&page='+page;
    _$.getJSON(url, function(data){
      if( data['data'] ) {
        var datalist=data['data'];
        var h = '<div class="ripai"><span>TOTAL</span><h1>富豪总排行榜</h1>';
          if( data['pai'] ) { h+='<h3> 您的当前排名：'+data['pai']+'</h3>';}
          h+='</div><div class="he"><table width="100%" border="0" class="paixing"> <tr class="wenzi"><td width="10%" >排名</td> <td width="52%">昵称</td> <td width="15%">豪爽度</td> <td width="18%">等级</td></tr>';
            for(var i=0,l=datalist.length; i<l; i++){
              h += [ 
              '<tr class="wenzi_huise"><td><span class="a">',
                    (page-1)*15+i+1,
                    '</span></td><td><a href="/',
                    datalist[i].uid,
                    '"><span style="float:left;">',
                      datalist[i].nickname,
                      '(',datalist[i].uid,')</span>',
                    '</a></td><td>',
                  datalist[i].amount,
                  '</td><td><img src="static2/images/huoshowlevel/',
                  datalist[i].level,
                  '.png" width="17" height="16" /></td></tr>'
              ].join("");
            }

            h+= '</table></div><div class="Page"><div class="page_dian"><a href="#" onclick="goTop();return false;"></a></div>'+data['pagehtml']+'</div>';

        _$("#huoall").html(h);
      }                        
    });
  };
</script>

<div id="pt" class="bm cl">
  <!--{subtemplate common/simplesearchform}-->
  <div class="z">
    <a name="top"></a>
    <a href="./" class="nvhm" title="{lang home}">$_G[setting][bbname]</a><em>&rsaquo;</em>
    <a href="show.php">直播</a><em>&rsaquo;</em>
    <a href="show.php?mod=frank"> 富豪排行榜</a>
  </div>
</div>
<div class="w961">
  <div class="nr">
    <div class="paixing_left">
      <div class="left"> 
        <div class="left_01" id="huoday">
        </div>
        <div class="left_02"  id="huoweek">
        </div>
        <p>&nbsp;</p>
      </div>
      <div class="left"> 
        <div class="left_01">
	        <div class="ripai">
		        <span>MONTH</span>
		        <h1>富豪月排行榜</h1>
		        <select onchange="huomonth_date=this.value;huomonth(1);" style="float:right; margin:7px 5px 0 0;" name="richmonth">
		        <option value="{$current}">{$current} </option>
		        <option value="{$frontone}">{$frontone}</option>
		        <option value="{$fronttwo}">{$fronttwo}</option>
		        <option value="{$frontthree}">{$frontthree}</option>
		        </select>
	        </div>
        	<div  id="huomonth">&nbsp;</div>
        </div>
        <div class="left_02" id="huoall">
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>

  <div class="right">
    <div class="anniu"><a href="/"><img src="static2/images/an1.gif" width="276" height="34" /></a></div>
    <div class="zhubo_bj"><a href="/show.php?mod=zrank"class="ahover">魅力指数排行榜</a></div>
    <div class="zhubo_bj"><a href="/show.php?mod=rank"class="ahover">魅力排行榜</a></div>
    <div class="zhubo_bj"><a href="/show.php?mod=vrank"class="ahover">魅力之星数量排行榜</a></div>
    <div class="zhubo_bj2"><a href="/show.php?mod=frank">富豪排行榜</a></div>
    <div class="zhubo_bj"><a href="/show.php?mod=yrank">友谊排行榜</a></div>
  </div>
</div>
<div style=" clear:both;">
</div>
</div>
</div>
<script>
  huoday(1);
  huoweek(1);
  huomonth(1);
  huoall(1)
</script>
{subtemplate common/footer}
