{subtemplate show/rank_header}
<script>
  function huoday(page, date){
    var url = '/show.php?mod=yrank&operation=huoday&page='+page+'&duidate='+date;
    _$.getJSON(url, function(data){
     // if( data['data'] ) {
        var datalist=data['data'];
        var h = '<div class="ripai"><span>DAY</span><h1>友谊日排行榜</h1><input type="submit" value="'+data['startTime']+'" id="duidate1id" name="duidate1" onclick="showcalendar(event, this);rankGetter=huoday;duidate1id=\'duidate1id\';" style="float:right; font-weight:bold; margin:1px 15px 0px 0px; background:url(static2/images/rili.jpg) no-repeat; width:30px; height:30px; padding-top:5px; "  />';
          if( data['pai'] ) { h+='<h3> 您的当前排名：'+data['pai']+'</h3>';}
           h+='</div><div class="he"><table width="100%" border="0" class="paixing"> <tr class="wenzi"><td width="35" >排名</td> <td width="115">昵称</td> <td width="37"></td> <td width="115">昵称</td></tr>';
           if(datalist){
            for(var i=0,l=datalist.length; i<l; i++){
              h += [ 
              '<tr class="wenzi_huise"><td><span class="a" style="width:14px; line-height:23px">',
                    (page-1)*7+i+1,
                    '</span></td><td><a href="/',
                    datalist[i].uid_a,
                    '"><span style="float:center;">',
                      datalist[i].uid_a_username,
                      '<br>(',datalist[i].uid_a,')</span>',
                    '</a></td><td><img title="互刷礼物总价值:',datalist[i].value,'" src="static2/images/friend.jpg" width="37" height="33"/></td><td><span style="float:center;"><a href="/',datalist[i].uid_b,'">',
                      datalist[i].uid_b_username,
                      '<br>(',datalist[i].uid_b,')</a></span></td></tr>'
              ].join("");
            }
           }
            h+= '</table></div><div class="Page"><div class="page_dian"><a href="#" onclick="goTop();return false;"></a></div></div>';
        _$("#huoday").html(h);
     // }                        
    });
  };
  function huoweek(page){
    var url = '/show.php?mod=yrank&operation=huoweek&page='+page;
    _$.getJSON(url, function(data){
        var datalist=data['data'];
        var h = '<div class="ripai"><span>WEEK</span><h1>友谊周排行榜</h1>';
          if( data['pai'] ) { h+='<h3> 您的当前排名：'+data['pai']+'</h3>';}
          h+='</div><div class="he"><table width="100%" border="0" class="paixing"> <tr class="wenzi"><td width="35" >排名</td> <td width="115">昵称</td> <td width="37"></td> <td width="115">昵称</td></tr>';
          if(datalist){
            for(var i=0,l=datalist.length; i<l; i++){
              h += [ 
              '<tr class="wenzi_huise"><td><span class="a" style="width:14px; line-height:23px">',
                    (page-1)*7+i+1,
                    '</span></td><td><a href="/',
                    datalist[i].uid_a,
                    '"><span style="float:center;">',
                      datalist[i].uid_a_username,
                      '<br>(',datalist[i].uid_a,')</span>',
                    '</a></td><td><img title="互刷礼物总价值:',datalist[i].value,'" src="static2/images/friend.jpg" width="35" height="33"/></td><td><span style="float:center;"><a href="/',datalist[i].uid_b,'">',
                      datalist[i].uid_b_username,
                      '<br>(',datalist[i].uid_b,')</a></span></td></tr>'
              ].join("");
            }
          }
            h+= '</table></div><div class="Page"><div class="page_dian"><a href="#" onclick="goTop();return false;"></a></div></div>';
        _$("#huoweek").html(h);
    });
  };
  function huomonth(page,date){
    var url = '/show.php?mod=yrank&operation=huomonth&page='+page+'&duidate='+date;
    _$.getJSON(url, function(data){
        var datalist=data['data'];
        var h = '<div class="ripai"><span>MONTH</span><h1>友谊月排行榜</h1><input type="submit" value="'+data['startTime']+'" id="duidate1idw" name="duidate1" onclick="showcalendar(event, this);rankGetter=huomonth;duidate1id=\'duidate1idw\';" style="float:right; font-weight:bold; margin:1px 15px 0px 0px; background:url(static2/images/rili.jpg) no-repeat; width:30px; height:30px; padding-top:5px; "  />';
          if( data['pai'] ) { h+='<h3> 您的当前排名：'+data['pai']+'</h3>';}
           h+='</div><div class="he"><table width="100%" border="0" class="paixing"> <tr class="wenzi"><td width="35" >排名</td> <td width="115">昵称</td> <td width="37"></td> <td width="115">昵称</td></tr>';
           if(datalist){
            for(var i=0,l=datalist.length; i<l; i++){
              h += [ 
              '<tr class="wenzi_huise"><td><span class="a" style="width:14px; line-height:23px">',
                    (page-1)*7+i+1,
                    '</span></td><td><a href="/',
                    datalist[i].uid_a,
                    '"><span style="float:center;">',
                      datalist[i].uid_a_username,
                      '<br>(',datalist[i].uid_a,')</span>',
                    '</a></td><td><img title="互刷礼物总价值:',datalist[i].value,'" src="static2/images/friend.jpg" width="37" height="33"/></td><td><span style="float:center;"><a href="/',datalist[i].uid_b,'">',
                      datalist[i].uid_b_username,
                      '<br>(',datalist[i].uid_b,')</a></span></td></tr>'
              ].join("");
            }
           }

            h+= '</table></div><div class="Page"><div class="page_dian"><a href="#" onclick="goTop();return false;"></a></div></div>';

        _$("#huomonth").html(h);          
    });
  };
</script>

<div id="pt" class="bm cl">
  <!--{subtemplate common/simplesearchform}-->
  <div class="z">
    <a name="top"></a>
    <a href="./" class="nvhm" title="{lang home}">$_G[setting][bbname]</a><em>&rsaquo;</em>
    <a href="show.php">直播</a><em>&rsaquo;</em>
    <a href="show.php?mod=yrank"> 友谊排行榜</a>
  </div>
</div>
<div class="w961">
  <div class="nr">
    <div class="paixing_left">
      <div class="left"> 
        <div class="left_01" id="huoday">
        </div>
        <div class="left_02"  id="huoweek">
        </div>
        <p>&nbsp;</p>
      </div>
      <div class="left"> 
        <div class="left_01" id="huomonth">
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>

  <div class="right">
    <div class="anniu"><a href="/"><img src="static2/images/an1.gif" width="276" height="34" /></a></div>
    <div class="zhubo_bj"> <a href="/show.php?mod=zrank"class="ahover">魅力指数排行榜</a></div>
    <div class="zhubo_bj"> <a href="/show.php?mod=rank"class="ahover">魅力排行榜</a></div>
    <div class="zhubo_bj"> <a href="/show.php?mod=vrank"class="ahover">魅力之星数量排行榜</a></div>
    <div class="zhubo_bj"><a href="/show.php?mod=frank">富豪排行榜</a></div>
    <div class="zhubo_bj2"><a href="/show.php?mod=yrank">友谊排行榜</a></div>
  </div>
</div>
<div style=" clear:both;">
</div>
</div>
</div>
<script>
  huoday(1);
  huoweek(1);
  huomonth(1);
</script>
{subtemplate common/footer}
