<div class="right_news_jiaodian">
			<div class="right_news_zixun">
				<div class="right_news_zixun_01">
					<div class="right_news_jiaodian_bt ui_list_box_title"><span class="wenzi">频道热门图片 </span></div>
					<div class="zixun_pic">
						<ul>
							<li><a href="http://www.huoshow.com/2012/0304/120111.shtml" target="_blank"><img alt="舒淇登上时尚封面 成女人性感模范" src="http://www.huoshow.com/upload/2012/0304/1330861753220.jpg" width="120" height="90" />舒淇登上时尚封面 </a></li>
							<li><a href="http://www.huoshow.com/2012/0303/120078.shtml" target="_blank"><img alt="组图:彩虹乐队纪念20周年香港将开唱" src="http://www.huoshow.com/upload/2012/0303/1330742434210.jpg" width="120" height="90" />组图:彩虹乐队纪念2</a></li>
							<li><a href="http://www.huoshow.com/2012/0303/120055.shtml" target="_blank"><img alt="港星文颂娴昨日大婚 宣布已怀孕三个月（图）" src="http://www.huoshow.com/upload/2012/0303/1330738869831.jpg" width="120" height="90" />港星文颂娴昨日大婚</a></li>
							<li><a href="http://www.huoshow.com/2012/0302/119958.shtml" target="_blank"><img alt="超模未来感时尚大片 与摄影师共谱蓝调魔影" src="http://www.huoshow.com/upload/2012/0302/1330682144597.jpg" width="120" height="90" />超模未来感时尚大片</a></li>
							<li><a href="http://www.huoshow.com/2012/0302/119894.shtml" target="_blank"><img alt="蒋毅曝光最新都市型男写真 低调沉稳尽显魅力" src="http://www.huoshow.com/upload/2012/0302/1330671917605.jpg" width="120" height="90" />蒋毅曝光最新都市型</a></li>
							<li><a href="http://www.huoshow.com/2012/0302/119863.shtml" target="_blank"><img alt="于小磊户外写真曝光 阳光甜美婉约可人" src="http://www.huoshow.com/upload/2012/0302/1330669603162.jpg" width="120" height="90" />于小磊户外写真曝光</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>