<style type="text/css">
.tb a{
	cursor:default;
	outline:none;
}

.tb a:hover{
	text-decoration:none;
	color:#555;
}

#flashRecord object{
	margin: 1em auto;
	display:block;
}

.uct-block2{
	padding:1em 5px;
	margin:1em 5px;
	background:#FFFAC8;
	border-top:1px solid #E4DA69;
	border-bottom:1px solid #E4DA69;
}

.tb-body{
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
}

#record_box,#upload_box{
	padding:1em;
}

.to_audio h3,
.to_video h3,
.to_audio a,
.to_video a{
	color:#33789C;
}


.to_audio p, .to_video p{
	padding-left:80px;
	position:absolute;
	width:150px;
}

.to_audio, .to_video{
	background: #E8EFF7;
	border:1px solid #D9E3EF;
	padding:1em;
	width:222px;
	margin: 10px 0 10px 20px;
	float:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}

</style>
<div id="contain">
	<div class="main-hbox-left">
		<div>
				<h1 class="mt"><img alt="trade" src="{STATICURL}image/feed/favorite.gif" alt="task" class="vm" /> {lang myshow_edit}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="home.php?mod=space&do=myshow&view=me">&laquo; {lang myshow_back}</a></h1>
				<form action="home.php?mod=spacecp&ac=myshow&op=edit" method="post" onsubmit="return checksub()">
					<table class="opt">	
						<input type="hidden" name="myshowid" value="$myshowInfo[myshowid]">
							<div id="check"></div>
							<!--{if $myshowInfo[type]==2}-->
							<tr>
								<th>{lang myshow_video_title}:</th>
							</tr>
							<!--{/if}-->
							<!--{if $myshowInfo[type]==1}-->
							<tr>
								<th>{lang myshow_audio_title}:</th>
							</tr>
							<!--{/if}-->
							<tr>
								<td>
									<input type="text" name="title" id="title" value="$myshowInfo[title]" class="txt" />
								</td>
							</tr>
							
							<tr>
								<th>{lang myshow_classtype}:</th>
								
							</tr>
							<tr>
								<td>
									<select name="classify"  id="classify" class="ps">
									<!--{loop $classify $value}-->
										<!--{if $myshowInfo[classify]==$value[id]}-->
										<option value="$value[id]" selected>$value[name]</option>
										<!--{else}-->
										<option value="$value[id]" >$value[name]</option>
										<!--{/if}-->
									<!--{/if}--> 
									</select>
								</td>
							</tr>
							
							<tr>
								<th>{lang myshow_language}:</th>
							</tr>
							<tr>
								<td>
									<SELECT name="language" id="language" >										
										<OPTION  value="1" <!--{if $myshowInfo[language]==1}-->selected="selected"<!--{/if}-->>{lang myshow_language_cn}</OPTION>
										<OPTION  value="2" <!--{if $myshowInfo[language]==2}-->selected="selected"<!--{/if}-->>{lang myshow_language_yueyu}</OPTION>
										<OPTION  value="3" <!--{if $myshowInfo[language]==3}-->selected="selected"<!--{/if}-->>{lang myshow_language_en}</OPTION>
										<OPTION  value="4" <!--{if $myshowInfo[language]==4}-->selected="selected"<!--{/if}-->>{lang myshow_language_jp}</OPTION>
										<OPTION  value="5" <!--{if $myshowInfo[language]==5}-->selected="selected"<!--{/if}-->>{lang myshow_language_hy}</OPTION>
										<OPTION  value="9" <!--{if $myshowInfo[language]==9}-->selected="selected"<!--{/if}-->>{lang myshow_language_other}</OPTION>
									</SELECT>
								</td>
							</tr>
							
							<tr>
								<th>{lang myshow_copy}: <input type="checkbox" class="checkbox" name="isfanart" value="1" <!--{if $myshowInfo[isfanart]}-->checked="checked"<!--{/if}--> /> {lang myshow_fanart}</th>
							</tr>
							
							<!--{if $myshowInfo[type]==1}-->
							<tr>
								<th>{lang myshow_lyricist}:</th>
							</tr>
							<tr>
								<td>
									<input type="text" name="lyricist" value="$myshowInfo[lyricist]" class="txt" />
								</td>
							</tr>
							
							<tr>
								<th>{lang myshow_compose}:</th>
							</tr>
							<tr>
								<td>
									<input type="text" name="compose" value="$myshowInfo[compose]" class="txt" />
								</td>
							</tr>
							
							<tr>
								<th>{lang myshow_singer}:</th>
							</tr>
							<tr>
								<td>
									<input type="text" name="singer" value="$myshowInfo[singer]" class="txt" />
								</td>
							</tr>
							
							<tr>
								<th>{lang myshow_lyrics}: </th>
							</tr>
							<tr>
								<td>
									<textarea  name="lyrics" cols="70" rows="7">$myshowInfo[lyrics]</textarea>
								</td>
							</tr>
							
							<!--{/if}-->
							
							<tr>
								<th>{lang myshow_introduce}: </th>
							</tr>
							<tr>
								<td>
									<textarea name="content" cols="70" rows="7">$myshowInfo[content]</textarea>
								</td>
							</tr>
					</table>
					<div class="opt"><input type="submit" name="editsubmit" value=" {lang submit} " class="btn" tabindex="3" /></div>
				</form>
		</div>
	</div>
</div>

<script>
(function($){
	fn_upload = function() {
		var filepath = $("#upload").val();
		if (filepath != '') {
			var back = checkFile(filepath);
			if (!back) {alert("不支持该格式的文件，请重新选择！");return false;}
		} else {
			alert("请选择要上传的文件！");return false;
		}
		
		$("#loading").css("display","block");
		$("#upload_form").css("display","none");
		document.myupload.submit();
	}
})(jQuery);
function checkFile(filePath) {
    var okFileExtend = ".mp3,.wma,.mpeg,.avi,.mp4,.3gp,.rm,.rmvb,.mov,.wmv,.flv";
    if(filePath.length>0) {
        var fileExtend=filePath.substring(filePath.lastIndexOf('.')).toLowerCase();
        if(okFileExtend.indexOf(fileExtend)>-1) {
           return true;
        }
    } else {
        return false;
    }
}

var current = document.getElementById("tab_upload_box");
function show_record_box(o){
	if(current) current.className = "";
	o.className = "a";
	current = o;
	if(document.getElementById("record_box").style.display == "none"){
		document.getElementById("record_box").style.display = "block";
		document.getElementById("upload_box").style.display = "none";
	}				
}
function show_upload_box(o){
	if(current) current.className = "";
	o.className = "a";
	current = o;
	if(document.getElementById("upload_box").style.display == "none"){
		document.getElementById("upload_box").style.display = "block";
		document.getElementById("record_box").style.display = "none";
	}
}
function checksub(){
	if(document.getElementById("title").value==''){
		document.getElementById("check").innerHTML="<font color='red'>*标题不能为空</font>";
		document.getElementById("title").focus();
		return false;
	}else if(document.getElementById("classify").value==''){
		document.getElementById("check").innerHTML="<font color='red'>*分类不能为空</font>";
		document.getElementById("classify").focus();
		return false;
	}else if(document.getElementById("language").value==''){
		document.getElementById("check").innerHTML="<font color='red'>*语言不能为空</font>";
		//alert("语言不能为空");
		document.getElementById("language").focus();
		return false;
	}else if(!document.getElementById("clause").checked){
		document.getElementById("check").innerHTML="<font color='red'>*请先勾选火秀条款</font>";
		//alert("请先勾选火秀条款");
		document.getElementById("clause").focus();
		return false;
	}
	else{
		return true;
	}
}
</script>