{template 'special', 'game_header_dev'}

	<!-- Content -->
	<div id="content" class='content-list fn-clear'>

		<!-- Main -->
		<div id="main">
			<div class="ui-box ui-box-download fn-clear">
				<div class="header fn-clear">
					<h2 class="site-nav"><a href='##'>火秀游戏</a> <span class='bk'>＞</span> <a href='##'>火秀游戏2</a> <span class='bk'>＞</span> <a href='##'>火秀游戏3</a></h2>
					<a class='game-news' href='#'>2011-08-11 小游戏公测</a>
				</div>

				<div class="download">
					<div class="download-btn">
						<div class="download-link"><a href='#'>注册游戏账号</a> <span class='bk'>|</span> <a href='#'>进入官网</a></div>
					</div>
					<div class="game-vote">新游戏期待榜 <span class='game-vote-num'>987787票 <a href='javascript:;' class='game-vote-btn'>投票</a></span></div>
				</div>

				<div class="intro">
					<h3 class='intro-title'>游戏下载</h3>
					<ul class='intro-list fn-clear'>
						<li class='intro-list-item'><em>游戏类型：</em>角色扮演</li>
						<li class='intro-list-item'><em>游戏风格：</em>玄幻</li>
						<li class='intro-list-item'><em>游戏分类：</em>网络游戏</li>
						<li class='intro-list-item'><em>测试状态：</em>内测</li>
						<li class='intro-list-item'><em>游戏地区：</em>国内</li>
						<li class='intro-list-item'><em>游戏画面：</em>3D</li>
						<li class='intro-list-item'><em>开 发 商：</em>金山软件</li>
						<li class='intro-list-item'><em>运营商：</em>金山软件</li>
						<li class='intro-list-item'><em>官方网站：</em><a href='#'>点击进入</a></li>
					</ul>
					<div class="game-num"><a class='game-num-btn' href='#'>领号</a> <a class='game-num-btn' href='#'>淘号</a> <a class='game-weibo' href='#'>官方微博</a></div>
				</div>
			</div>

			<div class="ui-box ui-box-news-list">
				<div class="ui-box-header fn-clear">
					<h2 class='title'>资讯列表</h2>
				</div>
				<ul class="ui-news-list fn-clear">
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游此游戏此游戏戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
				</ul>
				<ul class="ui-news-list fn-clear">
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏游此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
				</ul>
				<ul class="ui-news-list fn-clear">
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游此游戏此游戏戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
				</ul>
				<ul class="ui-news-list fn-clear">
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游此游戏此游戏戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
				</ul>
				<ul class="ui-news-list fn-clear">
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游此游戏此游戏戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
				</ul>
				<ul class="ui-news-list fn-clear">
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游戏此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此游此游戏此游戏戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
					<li class="ui-news-list-item"><a href='#'>NEXON今年的重头戏，此此游戏游戏还是NC公</a> <span>2012-09-22 12:12</span></li>
				</ul>
				<div id='pager' class="pager ui-pager"><span class="disabled">1022条</span><span class="disabled">首页</span><span class="disabled">上一页</span><span class="num current">1</span><a class='num' href="#">2</a><a class='num' href="#">3</a><a class='num' href="#">4</a><span class='ellipsis'>...</span><a class='num' href="#">199</a><a href="#">下一页</a><a href="#">末页</a></div>
			</div>
		</div>
		<!-- Main End -->

		<!-- Side -->
		<div id="side">
			<!-- AD 300*250 -->
			<div class="ad ad-300-250">
				<script src='http://misc.huoshow.com/www/delivery/spcjs1.php?id=2'></script>
				<script>
					// <![CDATA[
					OA_show(63);
					// ]]>
				</script>
				<noscript>
					<a target='_blank' href='http://misc.huoshow.com/www/delivery/ck.php?n=a1606dcd'><img alt='' src='http://misc.huoshow.com/www/delivery/avw.php?zoneid=63&n=a1606dcd' /></a>
				</noscript>
			</div>

			<!--今日推荐-->
			<div class="ui_tab_box">
				<h3 class='ui_tab_box_title'>今日推荐</h3>
				<dl id='kandyTabs' class='kandyTabs'>
					<dt>本频道</dt>
					<dd>
						<ul class='ui_tab_box_content'>
							<li><span class='top_no'>1</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝性感写真111111</a></li>
							<li><span class='top_no'>2</span><a href="#" title="mytitle">日本女星吉木梨纱春光无限性感写真</a></li>
							<li><span class='top_no'>3</span><a href="#" title="mytitle">日本知名AV女优大桥未久雪肌美胸清爽</a></li>
							<li><span>4</span><a href="#" title="mytitle">日本著名AV女优明睡衣拍</a></li>
							<li><span>5</span><a href="#" title="mytitle">丽柜最新模特Model美美搔首弄姿性感</a></li>
							<li><span>6</span><a href="#" title="mytitle">游戏美女穿着各种齐B小短裙丝袜诱惑</a></li>
							<li><span>7</span><a href="#" title="mytitle">丽柜美女模特Modey美腿美足高</a></li>
							<li><span>8</span><a href="#" title="mytitle">丽柜美女模特Model Cherry美腿美足高</a></li>
							<li><span>9</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真</a></li>
							<li><span>10</span><a href="#" title="mytitle">丽柜美女模特Modey美腿美足高</a></li>
						</ul>
					</dd>
					<dt>电影</dt>
					<dd>
						<ul class='ui_tab_box_content'>
							<li><span class='top_no'>1</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝性感写真222222</a></li>
							<li><span class='top_no'>2</span><a href="#" title="mytitle">日本女星吉木梨纱春光无限性感写真</a></li>
							<li><span class='top_no'>3</span><a href="#" title="mytitle">日本知名AV女优大桥未久雪肌美胸清爽</a></li>
							<li><span>4</span><a href="#" title="mytitle">日本著名AV女优明日花身穿性感睡衣拍</a></li>
							<li><span>5</span><a href="#" title="mytitle">丽柜最新模特Model美美搔首弄姿性感</a></li>
							<li><span>6</span><a href="#" title="mytitle">游戏美女穿着各种齐B小短裙丝袜诱惑</a></li>
							<li><span>7</span><a href="#" title="mytitle">丽柜美女模特Modey美腿美足高</a></li>
							<li><span>8</span><a href="#" title="mytitle">丽柜美女模特Model Cherry美腿美足高</a></li>
							<li><span>9</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真</a></li>
							<li><span>10</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真xxx</a></li>
						</ul>
					</dd>
					<dt>音乐</dt>
					<dd>
						<ul class='ui_tab_box_content'>
							<li><span class='top_no'>1</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝性感写真33333</a></li>
							<li><span class='top_no'>2</span><a href="#" title="mytitle">日本女星吉木梨纱春光无限性感写真</a></li>
							<li><span class='top_no'>3</span><a href="#" title="mytitle">日本知名AV女优大桥未久雪肌美胸清爽</a></li>
							<li><span>4</span><a href="#" title="mytitle">日本著名AV女优明日花身穿性感睡衣拍</a></li>
							<li><span>5</span><a href="#" title="mytitle">丽柜最新模特Model美美搔首弄姿性感</a></li>
							<li><span>6</span><a href="#" title="mytitle">游戏美女穿着各种齐B小短裙丝袜诱惑</a></li>
							<li><span>7</span><a href="#" title="mytitle">丽柜美女模特Modey美腿美足高</a></li>
							<li><span>8</span><a href="#" title="mytitle">丽柜美女模特Model Cherry美腿美足高</a></li>
							<li><span>9</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真</a></li>
							<li><span>10</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真xxx</a></li>
						</ul>
					</dd>
					<dt>游戏</dt>
					<dd>
						<ul class='ui_tab_box_content'>
							<li><span class='top_no'>1</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝性感写真444444</a></li>
							<li><span class='top_no'>2</span><a href="#" title="mytitle">日本女星吉木梨纱春光无限性感写真</a></li>
							<li><span class='top_no'>3</span><a href="#" title="mytitle">日本知名AV女优大桥未久雪肌美胸清爽</a></li>
							<li><span>4</span><a href="#" title="mytitle">日本著名AV女优明日花身穿性感睡衣拍</a></li>
							<li><span>5</span><a href="#" title="mytitle">丽柜最新模特Model美美搔首弄姿性感</a></li>
							<li><span>6</span><a href="#" title="mytitle">游戏美女穿着各种齐B小短裙丝袜诱惑</a></li>
							<li><span>7</span><a href="#" title="mytitle">丽柜美女模特Modey美腿美足高</a></li>
							<li><span>8</span><a href="#" title="mytitle">丽柜美女模特Model Cherry美腿美足高</a></li>
							<li><span>9</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真</a></li>
							<li><span>10</span><a href="#" title="mytitle">腿模Lina豹纹内衣黑丝真xxx</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!--今日推荐结束-->

			<!-- 热点视频 -->
			<div class="right_news_jiaodian">
				<div class="right_news_jiaodian_01">
					<div class="right_news_jiaodian_bt  ui_list_box_title"><span class="wenzi">热点视频</span><!--<span class="yingshi_dujia_more"></span>--></div>
					<div class="zixun_pic">
						<ul>
							<li>
								<a class='img' title="《擒爱记》曝桃色版预告片 巩新亮首演床戏" target="_blank" href="http://www.huoshow.com/2012/0607/147393.shtml"><img width="120" height="90" "="" src="http://www.huoshow.com//upload/2012/0607/thumb_hs_120_90_1339043066215.jpg" alt="《擒爱记》曝桃色版预告片 巩新亮首演床戏"></a>
								<h3><a title="《擒爱记》曝桃色版预告片 巩新亮首演床戏" target="_blank" href="http://www.huoshow.com/2012/0607/147393.shtml">《擒爱记》曝桃色版预</a></h3>
							</li>
							<li>
								<a class='img' title="《擒爱记》曝桃色版预告片 巩新亮首演床戏" target="_blank" href="http://www.huoshow.com/2012/0607/147393.shtml"><img width="120" height="90" "="" src="http://www.huoshow.com//upload/2012/0607/thumb_hs_120_90_1339043066215.jpg" alt="《擒爱记》曝桃色版预告片 巩新亮首演床戏"></a>
								<h3><a title="《擒爱记》曝桃色版预告片 巩新亮首演床戏" target="_blank" href="http://www.huoshow.com/2012/0607/147393.shtml">《擒爱记》曝桃色版预</a></h3>
							</li>
							<li>
								<a class='img' title="《擒爱记》曝桃色版预告片 巩新亮首演床戏" target="_blank" href="http://www.huoshow.com/2012/0607/147393.shtml"><img width="120" height="90" "="" src="http://www.huoshow.com//upload/2012/0607/thumb_hs_120_90_1339043066215.jpg" alt="《擒爱记》曝桃色版预告片 巩新亮首演床戏"></a>
								<h3><a title="《擒爱记》曝桃色版预告片 巩新亮首演床戏" target="_blank" href="http://www.huoshow.com/2012/0607/147393.shtml">《擒爱记》曝桃色版预</a></h3>
							</li>
							<li>
								<a class='img' title="《擒爱记》曝桃色版预告片 巩新亮首演床戏" target="_blank" href="http://www.huoshow.com/2012/0607/147393.shtml"><img width="120" height="90" "="" src="http://www.huoshow.com//upload/2012/0607/thumb_hs_120_90_1339043066215.jpg" alt="《擒爱记》曝桃色版预告片 巩新亮首演床戏"></a>
								<h3><a title="《擒爱记》曝桃色版预告片 巩新亮首演床戏" target="_blank" href="http://www.huoshow.com/2012/0607/147393.shtml">《擒爱记》曝桃色版预</a></h3>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 热点视频结束 -->

			<!-- 热点排行 -->
			<div class="ui_fold_box ui_fold_box_redian">
				<h3 class="ui_fold_box_title"><span>热点排行</span></h3>
				<ul class="ui_fold_box_content">
					<li class="">
						<span class="top_no">1</span>
						<div>
							<img width="106" height="82" src="http://pnews.huoshow.com/uploadfile/2012/0802/thumb_hs_106_82_20120802104437903.jpg">
							<h4><a target="_blank" title="苍井空写真性感中透着清新自然" href="http://www.huoshow.com/2011/0815/22069.shtml">苍井空写真性感中透着清新自然</a></h4>
							<p></p>
						</div>
					</li>
					<li class="top_no">
						<span class="top_no">2</span>
						<div>
							<img width="106" height="82" src="/upload/2011/0914/thumb_hs_106_82_1315987503466.jpg">
							<h4><a target="_blank" title="无限诱惑 日本美眉cos性感家庭教师" href="http://www.huoshow.com/2011/0914/28441.shtml">无限诱惑 日本美眉cos性感家庭教师</a></h4>
							<p></p>
						</div>
					</li>
					<li class="top_no">
						<span class="top_no">3</span>
						<div>
							<img width="106" height="82" src="/upload/2011/0923/thumb_hs_106_82_1316769816381.jpg">
							<h4><a target="_blank" title="2010年最新花花公子性感内衣秀美女聚集" href="http://www.huoshow.com/2011/0923/32677.shtml">2010年最新花花公子性感内衣秀美女聚集</a></h4>
							<p></p>
						</div>
					</li>
					<li class="top_no ui_fold_box_content_selected">
						<span class="top_no">4</span>
						<div>
							<img width="106" height="82" src="http://pnews.huoshow.com/uploadfile/2012/0724/thumb_hs_106_82_20120724110007318.jpg">
							<h4><a target="_blank" title="童颜萌女杉山舞子写真 大尺度玩性感" href="http://www.huoshow.com/2012/0222/116403.shtml">童颜萌女杉山舞子写真 大尺度玩性感</a></h4>
							<p></p>
						</div>
					</li>
					<li class="top_no">
						<span class="top_no">5</span>
						<div>
							<img width="106" height="82" src="http://pnews.huoshow.com/uploadfile/2012/0802/thumb_hs_106_82_20120802100500200.jpg">
							<h4><a target="_blank" title="性感美少妇愛內梨花风情万种诱人美图" href="http://www.huoshow.com/2011/1024/43215.shtml">性感美少妇愛內梨花风情万种诱人美图</a></h4>
							<p></p>
						</div>
					</li>
					<li class="top_no">
						<span class="top_no">6</span>
						<div>
							<img width="106" height="82" src="/upload/2011/0816/thumb_hs_106_82_1313476795383.jpg">
							<h4><a target="_blank" title="御姐萝莉谁不爱 《娘Type》9月号美图欣赏" href="http://www.huoshow.com/2011/0816/22157.shtml">御姐萝莉谁不爱 《娘Type》9月号美图欣赏</a></h4>
							<p></p>
						</div>
					</li>
					<li class="top_no">
						<span class="top_no">7</span>
						<div>
							<img width="106" height="82" src="/upload/2011/1128/thumb_hs_106_82_1322442279522.jpg">
							<h4><a target="_blank" title="日本小萝莉之成熟写真欣赏   各种极品萝莉" href="http://www.huoshow.com/2011/1128/65215.shtml">日本小萝莉之成熟写真欣赏   各种极品萝莉</a></h4>
							<p></p>
						</div>
					</li>
					<li class="top_no">
						<span class="top_no">8</span>
						<div>
							<img width="106" height="82" src="/upload/2011/0917/thumb_hs_106_82_1316231624360.jpg">
							<h4><a target="_blank" title="下班回家后寂寞妩媚的女白领全裸姿态勾人" href="http://www.huoshow.com/2011/0917/29635.shtml">下班回家后寂寞妩媚的女白领全裸姿态勾人</a></h4>
							<p></p>
						</div>
					</li>
					<li class="top_no">
						<span class="top_no">9</span>
						<div>
							<img width="106" height="82" src="/upload/2011/1118/thumb_hs_106_82_1321605743477.jpg">
							<h4><a target="_blank" title="组图:盘点星姐大胸美女 比比谁是大波妹" href="http://www.huoshow.com/2011/1118/59997.shtml">组图:盘点星姐大胸美女 比比谁是大波妹</a></h4>
							<p></p>
						</div>
					</li>
					<li class="top_no">
						<span class="top_no">10</span>
						<div>
							<img width="106" height="82" src="/upload/2011/1108/thumb_hs_106_82_1320740708719.jpg">
							<h4><a target="_blank" title="丝袜的诱惑   动漫软妹子娇媚诱人的丝袜展" href="http://www.huoshow.com/2011/1108/52235.shtml">丝袜的诱惑   动漫软妹子娇媚诱人的丝袜展</a></h4>
							<p></p>
						</div>
					</li>
				</ul>
			</div>
			<!-- 热点排行结束 -->
		</div>
		<!-- Side End -->
	</div>
	<!-- Content End -->

	{template 'content', 'hs_footer'}
</body>
</html>