{template 'special', 'game_header'}

	<!-- Content -->
	<div id="content" class='fn-clear'>

		<!-- Main -->
		<div id="main">
			<div class="ui-box ui-box-download fn-clear">
				<div class="header fn-clear">
					<h2 class="site-nav"><a href='##'>火秀游戏</a> <span class='bk'>＞</span> <a href='##'>火秀游戏2</a> <span class='bk'>＞</span> <a href='##'>火秀游戏3</a></h2>
					<a class='game-news' href='#'>2011-08-11 小游戏公测</a>
				</div>
				<div class="intro">
					<div class="game-box">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test2.png' width='92' height='69' /></a>
						<h3 class='game-title'><a href='#'>仙尘传传</a></h3>
						<ul class='game-info'>
							<li><em>本月新增 </em>45658</li>
							<li><em>类型：</em>3D/角色扮演</li>
						</ul>
					</div>
					<div class="game-vote">
						<div class="game-vote-stat game-vote-good"><span class='game-vote-progress progress88'>88%</span> <a class='game-vote-btn' href='javascript:;'>还不错</a></div>
						<div class="game-vote-stat game-vote-bad"><span class='game-vote-progress progress88'>58%</span> <a class='game-vote-btn' href='javascript:;'>很一般</a></div>
					</div>
				</div>
				<div class="download">
					<div class="download-btn">
						<div class="download-link"><a href='#'>注册游戏账号</a> <span class='bk'>|</span> <a href='#'>进入官网</a></div>
					</div>
				</div>
				<div class="ad fn-cb"><a href='#'><img src='/statics/images/special/index-game-black/game-num.png' width='630' height='50' /></a></div>
			</div>
			<div class="ui-box ui-box-article fn-clear">
				<div id="my-focus" class='my-focus'><!--焦点图盒子-->
					<div class="loading"></div><!--载入画面(可删除)-->
					<div class="pic"><!--内容列表(li数目可随意增减)-->
						<ul>
							<li><a href="#"><img src="/statics/images/special/index-game-blue/test1.png" thumb="" width='320' height='240' /></a></li>
							<li><a href="#"><img src="/statics/images/special/index-game-blue/test2.png" thumb="" width='320' height='240' /></a></li>
							<li><a href="#"><img src="/statics/images/special/index-game-blue/test1.png" thumb="" width='320' height='240' /></a></li>
							<li><a href="#"><img src="/statics/images/special/index-game-blue/test2.png" thumb="" width='320' height='240' /></a></li>
						</ul>
					</div>
				</div>
				<div class="desc">
					<div class="desc-item desc-item-current">
						<h3 class="desc-item-title">&gt;&gt; <a href='#'>可谓今游戏还公合作开发的111</a></h3>
						<ul class="desc-item-list">
							<li>画面：2D</li>
							<li>类型：角色扮演</li>
							<li>特征：真人游戏</li>
							<li>官网：<a href='#'>点此进入</a></li>
							<li>研发：逍遥工作室</li>
							<li>运营：火秀网</li>
						</ul>
					</div>
					<div class="desc-item">
						<h3 class="desc-item-title">&gt;&gt; <a href='#'>可谓今游戏还公合作开发的222222</a></h3>
						<ul class="desc-item-list">
							<li>画面：2D</li>
							<li>类型：角色扮演</li>
							<li>特征：真人游戏</li>
							<li>官网：<a href='#'>点此进入</a></li>
							<li>研发：逍遥工作室</li>
							<li>运营：火秀网</li>
						</ul>
					</div>
					<div class="desc-item">
						<h3 class="desc-item-title">&gt;&gt; <a href='#'>可谓今游戏还公合作开发的3333333333</a></h3>
						<ul class="desc-item-list">
							<li>画面：2D</li>
							<li>类型：角色扮演</li>
							<li>特征：真人游戏</li>
							<li>官网：<a href='#'>点此进入</a></li>
							<li>研发：逍遥工作室</li>
							<li>运营：火秀网</li>
						</ul>
					</div>
					<div class="desc-item">
						<h3 class="desc-item-title">&gt;&gt; <a href='#'>可谓今游戏还公合作开发的444444</a></h3>
						<ul class="desc-item-list">
							<li>画面：2D</li>
							<li>类型：角色扮演</li>
							<li>特征：真人游戏</li>
							<li>官网：<a href='#'>点此进入</a></li>
							<li>研发：逍遥工作室</li>
							<li>运营：火秀网</li>
						</ul>
					</div>
				</div>
				<h2 class='article-title'>可谓NEXON今年的重头戏，此游戏还公合作开发的</h2>
				<div class='article-link'>
					<p>[<a href='#'>可谓NEXON今年的重头戏，此游戏还公合作开发的</a>]</p>
					<p>[<a href='#'>可谓NEXON今年的重头戏，此游戏还公合作开发的</a>]</p>
				</div>
				<h2 class='article-title'>可谓NEXON今年的重头戏，此游戏还是NC公合作开发的</h2>
				<div class='article-link'>
					<p>[<a href='#'>可谓NEXON今年的重头戏，此游戏还公合作开发的</a>]</p>
					<p>[<a href='#'>可谓NEXON今年的重头戏，此游戏还公合作开发的</a>]</p>
				</div>
				<h2 class='article-title'>可谓NEXON今年的重头戏，此游戏还是合作开发的</h2>
				<div class='article-link'>
					<p>[<a href='#'>可谓NEXON今年的重头戏，此游戏还公合作开发的</a>]</p>
					<p>[<a href='#'>可谓NEXON今年的重头戏，此游戏还公合作开发的</a>]</p>
				</div>
				<h2 class='article-title'>可谓NEXON今年的重头戏，此游戏还作开发的</h2>
				<div class='article-link'>
					<p>[<a href='#'>可谓NEXON今年的重头戏，此游戏还公合作开发的</a>]</p>
					<p>[<a href='#'>可谓NEXON今年的重头戏，此游戏还公合作开发的</a>]</p>
				</div>
			</div>
			<div class="ui-box ui-box-list">
				<div class="ui-box-header">
					<h2 class='title'>最新消息</h2>
					<div class="more"><a href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class="ui-list fn-clear">
					<li class="ui-list-item"><a href='#'>NEXON今年的重头戏，此游戏还是NC公</a> <span>[12-09-22]</span></li>
					<li class="ui-list-item"><a href='#'>NEXON今年的重头戏，此游戏还是NC公</a> <span>[12-09-22]</span></li>
					<li class="ui-list-item"><a href='#'>NEXON今年的重头戏，此游戏还是NC公</a> <span>[12-09-22]</span></li>
					<li class="ui-list-item"><a href='#'>NEXON今年的重头戏，此游戏还是NC公</a> <span>[12-09-22]</span></li>
					<li class="ui-list-item"><a href='#'>NEXON今年的重头戏，此游戏还是NC公</a> <span>[12-09-22]</span></li>
					<li class="ui-list-item"><a href='#'>NEXON今年的重头戏，此游戏还是NC公</a> <span>[12-09-22]</span></li>
					<li class="ui-list-item"><a href='#'>NEXON今年的重头戏，此游戏还是NC公</a> <span>[12-09-22]</span></li>
					<li class="ui-list-item"><a href='#'>NEXON今年的重头戏，此游戏还是NC公</a> <span>[12-09-22]</span></li>
					<li class="ui-list-item"><a href='#'>NEXON今年的重头戏，此游戏还是NC公</a> <span>[12-09-22]</span></li>
					<li class="ui-list-item"><a href='#'>NEXON今年的重头戏，此游戏还是NC公</a> <span>[12-09-22]</span></li>
				</ul>
			</div>
			<div class="ui-box ui-box-img">
				<div class="ui-box-header">
					<h2 class='title'>最新消息 视频</h2>
					<div class="more"><a class='upload' href='#'>我要上传</a> | <a href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class="ui-img-list fn-clear">
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /><span class='icon'></span></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /><span class='icon'></span></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /><span class='icon'></span></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /><span class='icon'></span></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /><span class='icon'></span></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /><span class='icon'></span></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /><span class='icon'></span></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /><span class='icon'></span></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
				</ul>
			</div>
			<div class="ui-box ui-box-img">
				<div class="ui-box-header">
					<h2 class='title'>最新消息 原画</h2>
					<div class="more"><a href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class="ui-img-list fn-clear">
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
				</ul>
			</div>
			<div class="ui-box ui-box-img">
				<div class="ui-box-header">
					<h2 class='title'>最新消息 壁纸</h2>
					<div class="more"><a href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class="ui-img-list fn-clear">
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
				</ul>
			</div>
			<div class="ui-box ui-box-img">
				<div class="ui-box-header">
					<h2 class='title'>最新消息 截图</h2>
					<div class="more"><a href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class="ui-img-list fn-clear">
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
				</ul>
			</div>
			<div class="ui-box ui-box-img">
				<div class="ui-box-header">
					<h2 class='title'>最新入库游戏产品</h2>
					<div class="more"><a href='#'>更多&gt;&gt;</a></div>
				</div>
				<ul class="ui-img-list fn-clear">
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
					<li class="ui-img-list-item">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='152' height='114' /></a>
						<h3 class='title'><a href='#'>游戏壁纸</a></h3>
					</li>
				</ul>
			</div>
		</div>
		<!-- Main End -->

		<!-- Side -->
		<div id="side">
			<div class="ad"><a href='#'><img src='/statics/images/special/index-game-blue/test1.png' width='320' height='300' /></a></div>
			<div class="game-score fn-clear">
				<div class="game-score-box">
					<div class='game-score-title'>网友综合评分</div>
					<div class='game-score-box-num'>81</div>
				</div>
				<div class='game-score-status'><em>评价：</em><span class='star star2'></span> 较差</div>
				<a class='game-score-btn' href='javascript:;'>提交分数</a>
			</div>
			<form id='game-search' class='game-search' method="post" action="/index.php?m=community&c=index&a=search" target="_blank"><input type="text" class="search-wd" name="q" value='输入查询的游戏名称' /><button type="submit" class="search-submit">查找</button></form>
			<div class="ui-side-box game-desc">
				<h2 class='ui-side-box-header'>游戏资料介绍</h2>
				<div class="content">
					<h3 class='title'>基本介绍</h3>
					<div class="link-list"><a href='#'>游戏介绍</a> | <a href='#'>游戏介绍</a> | <a href='#'>游戏介绍</a></div>
				</div>
			</div>
			<div class="ui-side-box game-download">
				<h2 class='ui-side-box-header'>游戏下载</h2>
				<div class="content">
					<ul class="game-info">
						<li><em>客户端版本：</em>ver 1.0.2</li>
						<li><em>客户端大小：</em>500MB</li>
						<li><em>MD5 值：</em>sdfjsdfsdfs9w35859dsj</li>
						<li><strong>解压码：game.huoshow.com</strong></li>
					</ul>
					<h3 class='title'>电信推荐下载点</h3>
					<div class="link-list">
						<a href='#'>游戏介绍</a> | <a href='#'>游戏介绍</a> | <a href='#'>游戏介绍</a><br />
						<a href='#'>游戏介绍</a> | <a href='#'>游戏介绍</a> | <a href='#'>游戏介绍</a>
					</div>
					<h3 class='title'>网通推荐下载点</h3>
					<div class="link-list">
						<a href='#'>游戏介绍</a> | <a href='#'>游戏介绍</a> | <a href='#'>游戏介绍</a><br />
						<a href='#'>游戏介绍</a> | <a href='#'>游戏介绍</a> | <a href='#'>游戏介绍</a>
					</div>
				</div>
			</div>
			<div class="ui-side-box config-info">
				<h2 class='ui-side-box-header'>配置信息</h2>
				<div class="content">
					<h3 class='title'>基本配置</h3>
					<ul class="config-list">
						<li><em>CPU：</em>奔腾双核</li>
						<li><em>内存：</em>2GB</li>
						<li><em>显卡：</em>Geforce 900</li>
						<li><em>硬盘：</em>4GB</li>
					</ul>
					<h3 class='title'>推荐配置</h3>
					<ul class="config-list">
						<li><em>CPU：</em>奔腾双核</li>
						<li><em>内存：</em>2GB</li>
						<li><em>显卡：</em>Geforce 900</li>
						<li><em>硬盘：</em>4GB</li>
					</ul>
				</div>
			</div>
			<div class="ui-side-box game-recommend">
				<h2 class='ui-side-box-header'>同风格游戏推荐</h2>
				<div class="content">
					<div class="game-box fn-clear">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test2.png' width='120' height='80' /></a>
						<h3 class='game-title'><a href='#'>仙尘传 Online</a></h3>
						<ul class='game-info'>
							<li><em>状态：</em>内测</li>
							<li><em>画面：</em>3D</li>
							<li><em>类型：</em>角色扮演</li>
						</ul>
					</div>
					<div class="game-box fn-clear">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test2.png' width='120' height='80' /></a>
						<h3 class='game-title'><a href='#'>仙尘传 Online</a></h3>
						<ul class='game-info'>
							<li><em>状态：</em>内测</li>
							<li><em>画面：</em>3D</li>
							<li><em>类型：</em>角色扮演</li>
						</ul>
					</div>
					<div class="game-box fn-clear">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test2.png' width='120' height='80' /></a>
						<h3 class='game-title'><a href='#'>仙尘传 Online</a></h3>
						<ul class='game-info'>
							<li><em>状态：</em>内测</li>
							<li><em>画面：</em>3D</li>
							<li><em>类型：</em>角色扮演</li>
						</ul>
					</div>
					<div class="game-box game-box-last fn-clear">
						<a class='img' href='#'><img src='/statics/images/special/index-game-blue/test2.png' width='120' height='80' /></a>
						<h3 class='game-title'><a href='#'>仙尘传 Online</a></h3>
						<ul class='game-info'>
							<li><em>状态：</em>内测</li>
							<li><em>画面：</em>3D</li>
							<li><em>类型：</em>角色扮演</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Side End -->
	</div>
	<!-- Content End -->

	{template 'content', 'hs_footer'}
</body>
</html>