<link href="/huoshow/css/zhibo/master.css" rel="stylesheet" type="text/css" />
<div class="mn">
  <!--[diy=diycontenttop]--><div class="area" id="diycontenttop"></div><!--[/diy]-->
  <div class="bm bw0">
    <h1 class="mt"><img class="vm" src="/huoshow/img/zhibo/lv.jpg" alt="blog">直播</h1>
    <ul class="tb cl"> 	    	    
      <li class="a"><a href="home.php?mod=huoshow&do=live">我的直播</a></li> 
      <li><a href="home.php?mod=space&do=home&view=all">随便看看</a></li>
      <li class="o2"><a href="home.php?mod=huoshow&do=apply_room&room_id={$userinfo[0].uid}">申请多功能直播间</a></li>
    </ul>
    <div class="clear"></div>
    <div class="cst">
      <p><a href="home.php?mod=space&uid={$homeowner_uid}"><img src="{$userimages}" height="96" width="96" /></a></p>
      <ul class="lh2">
        <li class="wel">HI！{$userinfo[0].nickname}，欢迎参加火秀直播！</li>
      </ul>
      <div class="clear"></div>
    </div>

    <div id="live_rooms">
      <div class="ba"> 
        <a href="home.php?mod=huoshow&do=live" class="nopick bu">普通直播间</a> 
         {if $ismutillive != 0 || $mutilive != 0}<a href="show.php?mod=huoshow&do=live&dou=1" class="bu pick">多功能直播间</a>{/if}
        <div class="clear"></div>
      </div>
      <div class="cst">
        <table width="38%" border="0" class="live_set">
          <tr>
            <td width="42%" rowspan="4"><a href="{$liveroom}" class="ppic">
                <img src="{$usercover}" height="90" width="120" /></a>
            </td>
            <td width="58%"><a href="{$liveroom}"  class="hongse_c" target="_blank">开始直播</a></td>
          </tr>
          <tr>
            <td><a href="{$liveroom}">更改直播封面</a></td>
          </tr>
          <tr>
            <td>直播总时长:<span class="pink">{$totaltime}</span></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>

      <div class="cst">
	  {if $userinfo[0].room_name != NULL}
        <table width="71%" border="0" class="live_set">
          <tr>
            <td width="27%" rowspan="5"><a href="{$live}show.php?mod=huoshow&op=mutilive&roomid={$homeowner_uid}" class="ppic"><img src="{$livecover}" /></a></td>
            <td width="33%">房间名：<span class="dyset">{$userinfo[0].room_name}</span></td>
            <td width="18%">{if $room_expire == 1}<a href="/home.php?mod=huoshow&do=apply_room&room_id={$userinfo[0].roomid}" style="color:#red;">续费</a>{else}<!--<a href="{$live}show.php?mod=huoshow&op=mutilive&uid={$homeowner_uid}&roomid={$homeowner_uid}&type=1" class="sor_b">进入房间</a>--><a href="{$live}mv{$homeowner_uid}" class="sor_b">进入房间</a>{/if} </td>
            <td width="22%"> <!--升本月活跃天数:<span class="dyset">10天</span>--></td>
          </tr>
          <tr>
            <td>直播间类型： <span class="dyset">{$userinfo[0].room_type_name} </span></td>
            <td><a href="/home.php?mod=huoshow&do=apply_room&room_id={$userinfo[0].roomid}" class="sor_b">升级</a></td>
            <td>总消耗火币: <span class="dyset">{$userinfo[0].huo}</span></td>
          </tr>
          <tr>
            <td>管理员：<span class="dyset">{$userinfo[0].manage} 人</span></td>
            <td><a href="/home.php?mod=huoshow&do=mutilive_room_manager&room_id={$userinfo[0].roomid}" class="sor_b">管理</a></td>
            <td>我的礼物券: <span class="dyset">{$user_huo}</span></td>
          </tr>
          <tr>
            <td>创建于：<span class="dyset">{$start_time} </span></td>
            <td><a href="/home.php?mod=huoshow&do=multilive_room_apply&room_id={$userinfo[0].roomid}" class="sor_b">修改属性</a></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>房间有效期：<span class="dyset">{$expire_times}</span></td>
            <td></td>
            <td>&nbsp;</td>
          </tr>
        </table>
		{/if}
		<div class="ba1">多功能直播间管理：</div>
		{section name=a loop=$mutilive}
           <table width="71%" border="0" class="live_set">
 			 <tr>
    			<td width="27%" rowspan="4"><a href="{$live}show.php?mod=huoshow&op=mutilive&roomid={$mutilive[a].roomid}" class="ppic"><img src="{$livecovers[a]}" /></a></td>
    			<td width="33%">房主：<span class="dyset">{$mutilive[a].username}</span></td>
    			<td width="14%"><!--<a href="{$live}show.php?mod=huoshow&op=mutilive&uid={$homeowner_uid}&roomid={$mutilive[a].roomid}&type=2" class="sor_b">进入房间</a>--><a href="{$live}mv{$mutilive[a].roomid}" class="sor_b">进入房间</a></td>
    			<td width="26%">&nbsp;</td>
  			</tr>
  			<tr>
    			<td>直播间类型： <span class="dyset">{$mutilive[a].room_type_name} </span></td>
    			<td><a href="home.php?mod=huoshow&do=live&roomid={$mutilive[a].roomid}&delete=manager" onclick="return confirm('确定要退出管理？')" class="sor_b">退出管理</a></td>
    			<td>&nbsp;</td>
    			<td>&nbsp;</td>
   			 </tr>
  			<tr>
    			<td>创建于：<span class="dyset">{$start_times[a]}</span></td>
    			<td colspan="2">我领到的礼物券: <span class="dyset">{$pointticket_price[a].price}</span></td>
    			<td>&nbsp;</td>
    			<td>&nbsp;</td>
  			</tr>
		</table>
		{/section}
      </div>
      </div>
    </div>
    <script>
    var sssss={$duo}
      {literal}
      make_pagebox('live_rooms', {
        links_selector: '.ba a',
        pages_selector: '.cst',
        current_class: 'pick',
        current: sssss
        
      });
      {/literal}
    </script>

  </div>	
</div>
<div class="clear"></div>
