.threadadd {
	BACKGROUND-IMAGE: url(/static/image/forum/bg_repeat.png);
	WIDTH: 960px;
	FONT: 100 12px Simsun,Arial;
	OVERFLOW: hidden;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.threadadd H3 {
	BACKGROUND-IMAGE: url(/static/image/forum/bg_threaduseroption.png); PADDING-LEFT: 35px; WIDTH: 0px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 100px; OVERFLOW: hidden
}
/*WIDTH: 908px（调用高度）*/
.threadadd_main {
	Z-INDEX: 0; POSITION: relative; WIDTH: 900px; FLOAT: right; OVERFLOW: hidden; PADDING-RIGHT: 24px; HEIGHT: 132px; 
}
.threadadd_main A {
	COLOR: #666
}
.threadadd_main A:visited {
	COLOR: #666
}
.threadadd_main A:hover {
	COLOR: #0657b2
}
.threadadd_main A:hover SPAN {
	COLOR: #0657b2
}
.threadadd_main A:hover P {
	TEXT-DECORATION: underline
}
.changegroup {
	Z-INDEX: 1; POSITION: absolute; WIDTH: 24px; HEIGHT: 126px; OVERFLOW: hidden; TOP: 2px; RIGHT: 2px
}
.changegroup SPAN {
	PADDING-LEFT: 4px; WIDTH: 20px; MARGIN-BOTTOM: 2px; FLOAT: left; OVERFLOW: hidden
}
.changegroup .threadadd_active {
	BACKGROUND: url(/static/image/forum/bg_threaduseroption.png) no-repeat -134px 0px
}
.changegroup A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; WIDTH: 12px; PADDING-RIGHT: 4px; DISPLAY: block; BACKGROUND: #efefef; HEIGHT: 51px; OVERFLOW: hidden; PADDING-TOP: 11px
}
.changegroup A {
	COLOR: #334f67; TEXT-DECORATION: none
}
.changegroup A:visited {
	COLOR: #334f67; TEXT-DECORATION: none
}
.changegroup A:hover {
	COLOR: #334f67; TEXT-DECORATION: none
}
.threadadd_active A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #8fa624
}
.threadadd_active A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #8fa624
}
.show_am .show_am {
	VISIBILITY: visible
}
.show_pm .show_pm {
	VISIBILITY: visible
}
.gossip_am .gossip_am {
	VISIBILITY: visible
}
.gossip_pm .gossip_pm {
	VISIBILITY: visible
}
.show_am .show_pm {
	VISIBILITY: hidden
}
.show_pm .show_am {
	VISIBILITY: hidden
}
.gossip_am .gossip_pm {
	VISIBILITY: hidden
}
.gossip_pm .gossip_am {
	VISIBILITY: hidden
}
.threadadd_main LI {
	OVERFLOW: hidden
}
.threadadd_main LI IMG {
	DISPLAY: block
}
/* 字体跟图片间高度（LINE-HEIGHT:） */
.threadadd_main LI P {
	TEXT-ALIGN: center; LINE-HEIGHT: 21px; WIDTH: 100%; DISPLAY: block; HEIGHT: 19px; OVERFLOW: hidden; CURSOR: pointer
}
.show {
	MARGIN-BOTTOM: 10px; OVERFLOW: hidden
}
.showvision {
	HEIGHT: 130px
}
.show H3 {
	BACKGROUND-POSITION: -96px 1px
}
.show_tab {
	TEXT-ALIGN: right; LINE-HEIGHT: 19px; PADDING-RIGHT: 12px; HEIGHT: 17px; OVERFLOW: hidden
}
.show_tab SPAN {
	PADDING-LEFT: 15px; BACKGROUND-POSITION: 0px -1536px; CURSOR: pointer
}
/*PADDING-TOP （黑）PADDING-RIGHT: 130px;高度 HEIGHT: 125px; 底间距  */
.show_version {
	Z-INDEX: 0; POSITION: relative; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 130px; HEIGHT: 140px; OVERFLOW: hidden; PADDING-TOP: 1px
}
/*TOP （顶预留间格高度）LEFT （左边距）WIDTH: 960px;（图位宽） HEIGHT: 125px;（图位高）*/
.show_version UL {
	POSITION: absolute; WIDTH: 960px; HEIGHT: 140px; VISIBILITY: hidden; OVERFLOW: hidden; TOP: -6px; LEFT: 1px
}
.show_version LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; WIDTH: 140px; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 125px; PADDING-TOP: 1px
}
.show_piclist {
	Z-INDEX: 0; POSITION: relative; HEIGHT: 125px; OVERFLOW: hidden 
}
.show_piclist DIV {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; TOP: 0px; PADDING-TOP: 0px; LEFT: 0px
}
.show_piclist UL {
	WIDTH: 100%
}
.show_piclist LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; WIDTH: 140px; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 123px; PADDING-TOP: 1px
}
.show_txtlist {
	LINE-HEIGHT: 29px; HEIGHT: 27px; OVERFLOW: hidden; BORDER-TOP: #e3e3e3 3px solid
}
.show_txtlist H4 {
	FLOAT: left
}
.show_txtlist UL {
	FLOAT: left
}
.show_txtlist LI {
	FLOAT: left
}
.show_txtlist H4 {
	TEXT-INDENT: 25px; BACKGROUND-POSITION: 6px -1624px; COLOR: #334f67
}
.show_txtlist LI {
	MARGIN: 0px 10px 0px 5px
}
.show_txtlist A {
	COLOR: #333
}
.show_txtlist A:visited {
	COLOR: #333
}
.show_txtlist A SPAN {
	COLOR: #999999
}
.show_txtlist A:hover {
	COLOR: #0657b2
}
.show_txtlist A:hover SPAN {
	COLOR: #0657b2
}
.gossip {
	MARGIN: 5px 0px 10px; HEIGHT: 130px
}
.gossip H3 {
	BACKGROUND-POSITION: -160px 1px
}
/* 调用区域高宽（WIDTH: 908px）TOP: -2px; 高度间格 LEFT: -2px 左边间格*/
#threadadd_gossip {
	PADDING-RIGHT: 24px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 132px;TOP: 0px;
}
.gossip DD {
	POSITION: absolute; VISIBILITY: hidden
}
/* 图片顶部遇留高宽（PADDING-TOP） */
.gossip_imglist {
	FLOAT: left; PADDING-TOP: 0px; HEIGHT: 119px
}
.gossip_imglist LI {
	PADDING-RIGHT: 1px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 120px; PADDING-TOP: 1px; HEIGHT: 115px
}
/* 标题字体长度 PADDING-RIGHT: -30px; PADDING-LEFT: 10px;图片间格*/
#threadadd_gossip .gossip_imglist LI {
	PADDING-RIGHT: -10px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.gossip_imglist LI SPAN {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 100%; CURSOR: pointer; LINE-HEIGHT: 26px; HEIGHT: 26px; TEXT-ALIGN: center
}
/* 标题字体长度 PADDING-LEFT （位置）PADDING-TOP（高度）WIDTH: 文字显示宽度*/
.gossip_txtlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 175px; PADDING-TOP: 0px
}
/* 标题字体大小（FONT-SIZE） */
.gossip_txtlist LI {
	FONT-SIZE: 14px; OVERFLOW: hidden; TEXT-INDENT: 1px; LINE-HEIGHT: 21px; HEIGHT: 21px
}
#threadadd_show {
	TEXT-ALIGN: left
}
#threadadd_gossip {
	TEXT-ALIGN: left
}
#threadadd_show IMG {
	WIDTH: 125px; HEIGHT: 95px
}
/* 图片宽度长度 */
#threadadd_gossip IMG {
	WIDTH: 120px; HEIGHT: 95px
}
.kmxx {
	PADDING-BOTTOM: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
	border: 1px solid #cacaca;
}