{template "content","game_header"}
<!--/**** Top Nav -->
<!--dl class='ui_top_nav ui_top_nav_home' id='js_top_nav'>
	<dt class='tab_hot_game show'><a href='#' title=''>最热游戏</a></dt>
	<dd class='show'>
		<ul>
			<li><a href='#' title=''>最热游戏</a></li>
			<li><a href='#' title=''>游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游门游门游戏</a></li>
			<li><a href='#' title=''>热门游戏戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li class='hot_game'><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
			<li><a href='#' title=''>热门游戏</a></li>
		</ul>
	</dd>
	<dt class='tab_web_game'><a href='#' title=''>网页游戏</a></dt>
	<dd>
		<ul>
			<li><a href='#' title=''>网页游戏</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li class='hot_game'><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战略</a></li>
			<li><a href='#' title=''>战争略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li class='hot_game'><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li class='hot_game'><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li class='hot_game'><a href='#' title=''>战争策略</a></li>
			<li class='hot_game'><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li class='hot_game'><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li class='hot_game'><a href='#' title=''>战争策略</a></li>
			<li class='hot_game'><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
			<li><a href='#' title=''>战争策略</a></li>
		</ul>
	</dd>
	<dt class='tab_online_game'><a href='#' title=''>网络游戏</a></dt>
	<dd>
		<ul>
			<li><a href='#' title=''>网络游戏</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角扮演</a></li>
			<li><a href='#' title=''>扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li class='hot_game'><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
			<li><a href='#' title=''>角色扮演</a></li>
		</ul>
	</dd>
	<dt class='tab_single_game'><a href='#' title=''>单机游戏</a></dt>
	<dd>
		<ul>
			<li><a href='#' title=''>单机游戏</a></li>
			<li><a href='#' title=''>经养成</a></li>
			<li class='hot_game'><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li class='hot_game'><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li class='hot_game'><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li class='hot_game'><a href='#' title=''>经营养成</a></li>
			<li class='hot_game'><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li class='hot_game'><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li class='hot_game'><a href='#' title=''>经营养成</a></li>
			<li class='hot_game'><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
			<li><a href='#' title=''>经营养成</a></li>
		</ul>
	</dd>
	<dt class='tab_small_game'><a href='#' title=''>小游戏</a></dt>
	<dd>
		<ul>
			<li><a href='#' title=''>小游戏</a></li>
			<li><a href='#' title=''>竞童</a></li>
			<li class='hot_game'><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>儿童</a></li>
			<li><a href='#' title=''>竞儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li class='hot_game'><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li class='hot_game'><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li class='hot_game'><a href='#' title=''>竞技儿童</a></li>
			<li class='hot_game'><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li class='hot_game'><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li class='hot_game'><a href='#' title=''>竞技儿童</a></li>
			<li class='hot_game'><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
			<li><a href='#' title=''>竞技儿童</a></li>
		</ul>
	</dd>
	<dt class='ui_top_nav_intro'>网游目录（收录 <strong>123456</strong>款游戏） 页游目录（收录 <strong>123456</strong>款游戏）</dt>
</dl****/-->
<!-- Top Nav End -->

<!-- Top Content -->
<div class='top_content_home top_content fn_clear'>
	<div class="ui_content_left fn_left">
		<div class="pic_slide_wrapper pic_slide_wrapper_home">
			<!-- slide start -->
			<div class="pic_slide">
				{pc:content  action="position" posid="242" catid="$catid" thumb="1" order="listorder DESC" num="5"}
				<ul>
					{loop $data $r}
					<li>
						<a href="{$r[url]}"><img src="{thumb($r[thumb],290,250)}" alt="{$r[title]}" width='290' height='250' /></a>
						<h3>{str_cut($r[title],60,'')}</h3>
					</li>
					{/loop}
				</ul>
				<ol>
					{loop $data $r}
					<li class='num'><span>{$n}</span></li>
					{/loop}
					<li class='next'><span>Next</span></li>
					<li class='prev'><span>Prev</span></li>
				</ol>
				{/pc}
			</div>
		</div>
		<!-- slide end -->
		<div id='js_slide_box_video' class='ui_box ui_slide_box'>
			<h3 class='ui_box_title'>热门视频</h3>
			{pc:content  action="position" posid="243" catid="$catid" thumb="1" order="listorder DESC" num="20"}
			<div class='ui_img_list_page'>
				<ul class='ui_img_list'>
					{loop $data $r}
					<li>
						<a href='{$r[url]}' title='{$r[title]}'><img class='video_img' src='{thumb($r[thumb],125,94)}' width='125' height='94' /></a>
						<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],30,'')}</a></h4>
					</li>
					{if $n%4==0}</ul><ul class='ui_img_list'>{/if}
					{/loop}
				</ul>
			</div>
			<ol class='ui_slide_box_nav'>
				<li class='prev'><a hidefocus='true' href='javascript:void(0)' title=''>Prev</a></li>
				{loop $data $r}
				{if $n%4==0}
					<li class='num'><a hidefocus='true' href='javascript:void(0)' title=''>{$n}</a></li>
				{/if}
				{/loop}
				<li class='next'><a hidefocus='true' href='javascript:void(0)' title=''>Next</a></li>
			</ol>
			{/pc}
		</div>

		<div class='ad'><script type="text/javascript">
				// <![CDATA[
				OA_show(64);
				// ]]>
			</script>
			<noscript>
				<a target='_blank' href='http://misc.huoshow.com/www/delivery/ck.php?n=a1d11107'><img border='0' alt='' src='http://misc.huoshow.com/www/delivery/avw.php?zoneid=64&n=a1d11107' /></a>
			</noscript></div>

		<div id='js_slide_box_feidian' class='ui_box ui_slide_box ui_artical_slide_box'>
			<h3 class='ui_box_title'>业界沸点</h3>
			{pc:content  action="position" posid="244" catid="$catid" thumb="1" order="listorder DESC" num="10"}
			<ul class='ui_img_list'>
				{loop $data $r}
				<li>
					<a href='{$r[url]}' title='{$r[title]}'><img class='video_img' src='{thumb($r[thumb],125,94)}' width='125' height='94' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],30,'')}</a></h4>
				</li>
				{/loop}
			</ul>
			<ol class='ui_slide_box_nav'>
				<li class='prev'><a hidefocus='true' href='javascript:void(0)' title=''>Prev</a></li>
				{loop $data $r}
				{if $n%2==0}
					<li class='num'><a hidefocus='true' href='javascript:void(0)' title=''>{$n}</a></li>
				{/if}
				{/loop}
				<li class='next'><a hidefocus='true' href='javascript:void(0)' title=''>Next</a></li>
			</ol>
			{/pc}
			{pc:content  action="position" posid="245" catid="$catid" order="listorder DESC" num="4"}
			<ul class='ui_text_list list_style_arrow'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],64,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>
	</div>

	<div class='ui_content_center fn_left'>
		<dl id='js_news_tab' class='ui_news_tab'>
			<dt class='news_toutiao selected'><h2 class='ui_box_title'><a href='javascript:void(0)' title=''>头条</a></h2></dt>
			<dd class='selected'>
				<h2 class='ui_title'>
				{pc:content  action="position" posid="291" catid="$catid" order="listorder DESC" num="1"}
				{loop $data $r}
				<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],60,'')}</a>
				{/loop}
				{/pc}
				</h2>
				{pc:content  action="position" posid="248" catid="$catid" order="listorder DESC" num="4"}
				<div class='ui_title_list'>
					{loop $data $r}
						[<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],40,'')}</a>]
						{if $n%2==0}<br>{/if}
					{/loop}
				</div>
				{/pc}
				<h2 class='ui_title'>
				{pc:content  action="position" posid="291" catid="$catid" order="listorder DESC LIMIT 1,1--"}
				{loop $data $r}
				<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],60,'')}</a>
				{/loop}
				{/pc}
				</h2>
				{pc:content  action="position" posid="248" catid="$catid" order="listorder DESC LIMIT 4,8--"}
				<div class='ui_title_list'>
					{loop $data $r}
						[<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],40,'')}</a>]
						{if $n%2==0}<br>{/if}
					{/loop}
				</div>
				{/pc}
			</dd>
			<dt class='news_zixun'><h2 class='ui_box_title'><a href='javascript:void(0)' title=''>资讯</a></h2></dt>
			<dd>
				<h2 class='ui_title'>
				{pc:content  action="position" posid="292" catid="$catid" order="listorder DESC" num="1"}
				{loop $data $r}
				<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],60,'')}</a>
				{/loop}
				{/pc}
				</h2>
				{pc:content  action="position" posid="293" catid="$catid" order="listorder DESC" num="4"}
				<div class='ui_title_list'>
					{loop $data $r}
						[<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],40,'')}</a>]
						{if $n%2==0}<br>{/if}
					{/loop}
				</div>
				{/pc}
				<h2 class='ui_title'>
				{pc:content  action="position" posid="292" catid="$catid" order="listorder DESC LIMIT 1,1--"}
				{loop $data $r}
				<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],60,'')}</a>
				{/loop}
				{/pc}
				</h2>
				{pc:content  action="position" posid="293" catid="$catid" order="listorder DESC LIMIT 4,8--"}
				<div class='ui_title_list'>
					{loop $data $r}
						[<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],40,'')}</a>]
						{if $n%2==0}<br>{/if}
					{/loop}
				</div>
				{/pc}
			</dd>
		</dl>
		{pc:content  action="position" posid="250" catid="$catid" order="listorder DESC" num="9"}
		<ul class='ui_news_list'>
			{loop $data $r}
			<li>[{$CATEGORYS[$r[catid]][catname]}] <a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],58,'')}</a></li>
			{/loop}
		</ul>
		{/pc}
		{pc:content  action="position" posid="251" catid="$catid" order="listorder DESC" num="1"}
			<h2 class='ui_title ui_news_title news_tuiguang'>
			{loop $data $r}
				<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],60,'')}</a>
			{/loop}
			</h2>
		{/pc}
		{pc:content  action="position" posid="252" catid="$catid" order="listorder DESC" num="8"}
		<ul class='ui_news_list'>
			{loop $data $r}
				<li>[{$CATEGORYS[$r[catid]][catname]}] <a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],58,'')}</a></li>
			{/loop}
		</ul>
		{/pc}
		{pc:content  action="position" posid="254" catid="$catid" order="listorder DESC" num="1"}
			<h2 class='ui_title ui_news_title news_gonglue'>
			{loop $data $r}
				<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],60,'')}</a>
			{/loop}
			</h2>
		{/pc}
		{pc:content  action="position" posid="256" catid="$catid" order="listorder DESC" num="8"}
		<ul class='ui_news_list'>
			{loop $data $r}
			<li>[{$CATEGORYS[$r[catid]][catname]}] <a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],58,'')}</a></li>
			{/loop}
		</ul>
		{/pc}
		{pc:content  action="position" posid="257" catid="$catid" order="listorder DESC" num="1"}
			<h2 class='ui_title ui_news_title news_pingce'>
				{loop $data $r}
				<a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],60,'')}</a>
				{/loop}
			</h2>
		{/pc}
		{pc:content  action="position" posid="258" catid="$catid" order="listorder DESC" num="8"}
		<ul class='ui_news_list'>
			{loop $data $r}
			<li>[{$CATEGORYS[$r[catid]][catname]}] <a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],58,'')}</a></li>
			{/loop}
		</ul>
		{/pc}
	</div>

	<div class='ui_content_right fn_right'>
		<div class='ui_box ui_box_redian'>
			<h3 class='ui_box_title'>热点专题</h3>
			<div class='artical_wrapper'>
				<div class='img_wrapper'>
				{pc:content  action="position" posid="259" catid="$catid" thumb="1" order="listorder DESC" num="1"}
				{loop $data $r}
				<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],222,94)}' width='222' height='94' /></a>
				{/loop}
				{/pc}
				</div>
				{pc:content  action="position" posid="260" catid="$catid" order="listorder DESC" num="3"}
				<ul class='ui_text_list list_style_arrow'>
					{loop $data $r}
					<li><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],52,'')}</a></li>
					{/loop}
				</ul>
				{/pc}
			</div>
			{pc:content  action="position" posid="259" catid="$catid" thumb="1" order="listorder DESC LIMIT 1,3--"}
			{loop $data $r}
			<div class='ad'>
			<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],236,75)}' width='236' height='75' /></a>
			</div>
			{/loop}
			{/pc}
		</div>

		<div class='ui_box'>
			<h3 class='ui_box_title'>图片新闻</h3>
			<ul class='ui_img_list'>
				{pc:content  action="position" posid="261" catid="$catid" thumb="1" order="listorder DESC" num="1"}
				{loop $data $r}
				<li class='first'>
					<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],218,130)}' width='218' height='130' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],60,'')}</a></h4>
				</li>
				{/loop}
				{/pc}
				{pc:content  action="position" posid="262" catid="$catid" thumb="1" order="listorder DESC" num="2"}
				{loop $data $r}
				<li>
					<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],100,64)}' width='100' height='64' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],26,'')}</a></h4>
				</li>
				{/loop}
				{/pc}
			</ul>
		</div>

		<div class='ui_box'>
			<h3 class='ui_box_title'>热点赛事报道</h3>
			{pc:content  action="position" posid="263" catid="$catid" order="listorder DESC" num="5"}
			<ul class='ui_text_list list_style_arrow'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],52,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>

		<div id='js_text_tab' class='ui_box ui_text_tab'>
			<h3 class='ui_text_tab_nav'><a class='news_redian selected' href='javascript:void(0)' title=''>今日热点</a><a class='news_paihang' href='javascript:void(0)' title=''>历史排行榜</a></h3>
			{pc:content  action="hits" catid="$catid" num="6" order="dayviews DESC" cache="3600"}
			<ul class='ui_text_list selected list_style_arrow'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],52,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
			{pc:content  action="hits" catid="$catid" num="6" order="views DESC" cache="3600"}
			<ul class='ui_text_list list_style_arrow'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],52,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>
	</div>
</div>
<!-- Top Content End -->

<!-- 网络游戏 -->
<div class='content_wrapper'>
<div class='ui_content_home ui_content_box ui_content_online_game fn_clear'>
	<h2 class='ui_content_title'>网络游戏</h2>
	<h3 class='ui_content_nav'>
	{loop subcat(83,0,0,$siteid) $r}
		<a href="{$r[url]}">{$r[catname]}</a>
	{/loop}
	</h3>
	<div class="ui_content_left fn_left">
		<div class='ui_box'>
			<h3 class='ui_box_title'>热门网游</h3>
			<ol class='ui_num_list'>
				<li class='ui_num_list_item num1'>
					<span class='num num_top'>1</span>
					{pc:content  action="position" posid="266" catid="$catid" thumb="1" order="listorder DESC" num="2"}
					<ul class='ui_img_list'>
						{loop $data $r}
						<li>
							<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],100,75)}' width='100' height='75' /></a>
							<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],26,'')}</a></h4>
						</li>
						{/loop}
					</ul>
					{/pc}
				</li>
				{pc:content  action="position" posid="268" catid="$catid" order="listorder DESC" num="7"}
				{loop $data $r}
				<li class='ui_num_list_item'>
					<span {if $n<3}class='num num_top'{else}class='num'{/if}>{php echo ($n+1);}</span>
					<a href='{$r[url]}' title='{$r[title]}'><em>[{$CATEGORYS[$r[catid]][catname]}]</em> {str_cut($r[title],40,'')}</a>
				</li>
				{/loop}
				{/pc}
			</ol>
		</div>

		<div class='ui_box'>
			<h3 class='ui_box_title'>新网游</h3>
			{pc:content  action="position" posid="269" catid="$catid" thumb="1" order="listorder DESC" num="2"}
			<ul class='ui_img_list'>
				{loop $data $r}
				<li>
					<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],125,52)}' width='125' height='52' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],30,'')}</a></h4>
				</li>
				{/loop}
			</ul>
			{/pc}
			{pc:content  action="position" posid="271" catid="$catid" order="listorder DESC" num="5"}
			<ul class='ui_text_list'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'><em>[{$CATEGORYS[$r[catid]][catname]}]</em> {str_cut($r[title],52,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>

		<div class='ui_box'>
			<h3 class='ui_box_title'>新网游评测</h3>
			{pc:content  action="position" posid="272" catid="$catid" thumb="1" order="listorder DESC" num="1"}
			{loop $data $r}
			<p class='ui_artical'><a  target="_blank" href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],125,94)}' width='125' height='94' /></a>{str_cut($r[description],174)}</p>
			{/loop}
			{/pc}
		</div>
	</div>

	<div class='ui_content_center fn_left'>
		{pc:content  action="position" posid="274" catid="$catid" order="listorder DESC" num="1"}
		{loop $data $r}
		<h2 class='ui_title'><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],66,'')}</a></h2>
		{/loop}
		{/pc}
		{pc:content  action="position" posid="275" catid="$catid" order="listorder DESC" num="1"}
		{loop $data $r}
		<h4 class='ui_sub_title'><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],70,'')}</a></h4>
		{/loop}
		{/pc}
		{pc:content  action="position" posid="274" catid="$catid" order="listorder DESC LIMIT 1,1--"}
		{loop $data $r}
		<h2 class='ui_title'><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],66,'')}</a></h2>
		{/loop}
		{/pc}
		{pc:content  action="position" posid="275" catid="$catid" order="listorder DESC LIMIT 1,1--"}
		{loop $data $r}
		<h4 class='ui_sub_title'><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],70,'')}</a></h4>
		{/loop}
		{/pc}

		<div class='ui_news_box'>
			<h3 class='ui_news_box_title'>国内网游新闻</h3>
			{pc:content action="lists" catid="229" num="6" order="id DESC"}
			<ul class='ui_news_box_list'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],70,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>
		<div class='ui_news_box'>
			<h3 class='ui_news_box_title'>全球网游资讯</h3>
			{pc:content action="lists" catid="230" num="6" order="id DESC"}
			<ul class='ui_news_box_list'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],70,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>
		<div class='ui_news_box'>
			<h3 class='ui_news_box_title'>产业资讯</h3>
			{pc:content action="lists" catid="231" num="6" order="id DESC"}
			<ul class='ui_news_box_list'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],70,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>
	</div>

	<div class="ui_content_right fn_right">
		<div class='ui_img_box'>
			<h3>热门攻略</h3>
			{pc:content  action="position" posid="276" catid="$catid" thumb="1" order="listorder DESC" num="2"}
			<ul class='ui_img_list'>
				{loop $data $r}
				<li>
					<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],125,94)}' alt='' width='125' height='94' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],26,'')}</a></h4>
				</li>
				{/loop}
			</ul>
			{/pc}
			{pc:content  action="position" posid="277" catid="$catid" order="listorder DESC" num="9"}
			<ul class='ui_text_list'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'><em>[{$CATEGORYS[$r[catid]][catname]}]</em> {str_cut($r[title],42,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>

		<div class='ui_img_box ui_img_tab_box'>
			<h4 class='ui_img_tab_nav'><a hidefocus='true' class='ui_img_tab_selected' href='javascript:void(0)' title=''>网游大观</a> <a hidefocus='true' href='javascript:void(0)' title=''>明星八卦</a> <a hidefocus='true' href='javascript:void(0)' title=''>非主流</a></h4>
			{pc:content  action="position" posid="278" catid="$catid" thumb="1" order="listorder DESC" num="6"}
			<ul class='ui_img_list ui_img_tab_selected'>
				{loop $data $r}
				<li>
					<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],125,94)}' width='125' height='94' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],26,'')}</a></h4>
				</li>
				{/loop}
			</ul>
			{/pc}
			{pc:content  action="position" posid="279" catid="$catid" thumb="1" order="listorder DESC" num="6"}
			<ul class='ui_img_list'>
				{loop $data $r}
				<li>
					<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],125,94)}' width='125' height='94' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],26,'')}</a></h4>
				</li>
				{/loop}
			</ul>
			{/pc}
			{pc:content  action="position" posid="280" catid="$catid" thumb="1" order="listorder DESC" num="6"}
			<ul class='ui_img_list'>
				{loop $data $r}
				<li>
					<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],125,94)}' width='125' height='94' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],26,'')}</a></h4>
				</li>
				{/loop}
			</ul>
			{/pc}
		</div>
	</div>
	<a class='ui_content_enter' href='{$CATEGORYS[83][url]}' title=''>进入频道&gt;&gt;</a>
</div>
</div>
<!-- 网络游戏结束 -->

<!-- 精彩图集 -->
<!--/***>div class='ui_gallery_home ui_content_box content_gallery fn_clear'>
	<h2 class='ui_content_title'>精彩图集</h2>
	<h3 class='ui_content_nav'>
	{loop subcat(177,0,0,$siteid) $r}
		<a href="{$r[url]}">{$r[catname]}</a>
	{/loop}</h3>
	{pc:content  action="position" posid="281" catid="$catid" thumb="1" order="listorder DESC" num="1"}
	<div class='img_poster'>
		{loop $data $r}
		<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],228,308)}' width='228' height='308' /></a>
		<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],30,'')}</a></h4>
		{/loop}
	</div>
	{/pc}
	{pc:content  action="position" posid="282" catid="$catid" thumb="1" order="listorder DESC" num="8"}
	<ul class='ui_img_list'>
		{loop $data $r}
		<li>
			<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],112,150)}' width='112' height='150' /></a>
			<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],20,'')}</a></h4>
		</li>
		{/loop}
	</ul>
	{/pc}
	<div class='ranking_list_box'>
		<h2 class='ranking_list_title'>排行榜</h2>
		<dl class='ranking_list'>
			<dt class='ranking_list_nav ranking_list_selected'><a href='javascript:void(0)' title=''>本周</a></dt>
			<dd class='ranking_list_selected'>
				{pc:content action="hits" catid="222" num="10" order="weekviews DESC" cache="3600"}
				<ol>
					{loop $data $r}
					<li><span class='num'>{$n}</span><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],40,'')}</a></li>
					{/loop}
				</ol>
				{/pc}
			</dd>
			<dt class='ranking_list_nav ranking_list_month'><a href='javascript:void(0)' title=''>本月</a></dt>
			<dd>
				{pc:content action="hits" catid="222" num="10" order="monthviews DESC" cache="3600"}
				<ol>
					{loop $data $r}
					<li><span class='num'>{$n}</span><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],40,'')}</a></li>
					{/loop}
				</ol>
				{/pc}
			</dd>
		</dl>
	</div>
	<a class='ui_content_enter' href='{$CATEGORYS[177][url]}' title=''>进入频道&gt;&gt;</a>
</div ***/-->
<!-- 精彩图集结束 -->

<!-- 网页游戏 -->
<div class='content_wrapper'>
<div class='ui_content_home ui_content_box ui_content_web_game fn_clear'>
	<h2 class='ui_content_title'>网页游戏</h2>
	<h3 class='ui_content_nav'>
	{loop subcat(86,0,0,$siteid) $r}
		<a href="{$r[url]}">{$r[catname]}</a>
	{/loop}
	</h3>
	<div class="ui_content_left fn_left">
		<div class='ui_box'>
			<h3 class='ui_box_title'>热门网页游戏</h3>
			<ol class='ui_num_list'>
				<li class='ui_num_list_item num1'>
					<span class='num num_top'>1</span>
					{pc:content  action="position" posid="283" catid="$catid" thumb="1" order="listorder DESC" num="2"}
					<ul class='ui_img_list'>
						{loop $data $r}
						<li>
							<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],100,75)}' width='100' height='75' /></a>
							<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],26,'')}</a></h4>
						</li>
						{/loop}
					</ul>
					{/pc}
				</li>
				{pc:content  action="position" posid="284" catid="$catid" order="listorder DESC" num="4"}
				{loop $data $r}
				<li class='ui_num_list_item'>
					<span {if $n<3}class='num num_top'{else}class='num'{/if}>{php echo ($n+1)}</span>
					<a href='{$r[url]}' title='{$r[title]}'><em>[{$CATEGORYS[$r[catid]][catname]}]</em> {str_cut($r[title],40,'')}</a>
				</li>
				{/loop}
				{/pc}
			</ol>
		</div>

		<div class='ui_box'>
			<h3 class='ui_box_title'>新页游戏速递</h3>
			<h4 class='ui_box_nav'><a class='nav_selected' href='javascript:void(0)' title=''>评测</a><a href='javascript:void(0)' title=''>攻略</a></h4>
			<div class='list_wrapper list_selected'>
			{pc:content  action="position" posid="285" catid="$catid" order="listorder DESC" thumb="1" num="2"}
			<ul class='ui_img_list'>
				{loop $data $r}
				<li>
					<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],125,52)}' alt='' width='125' height='52' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],30,'')}</a></h4>
				</li>
				{/loop}
			</ul>
			{/pc}
			{pc:content  action="position" posid="286" catid="$catid" order="listorder DESC" num="5"}
			<ul class='ui_text_list'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'><em>[{$CATEGORYS[$r[catid]][catname]}]</em> {str_cut($r[title],50,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
			</div>

			<div class='list_wrapper'>
			{pc:content  action="position" posid="294" catid="$catid" order="listorder DESC" thumb="1" num="2"}
			<ul class='ui_img_list'>
				{loop $data $r}
				<li>
					<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],125,52)}' alt='' width='125' height='52' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],30,'')}</a></h4>
				</li>
				{/loop}
			</ul>
			{/pc}
			{pc:content  action="position" posid="295" catid="$catid" order="listorder DESC" num="5"}
			<ul class='ui_text_list'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'><em>[{$CATEGORYS[$r[catid]][catname]}]</em> {str_cut($r[title],50,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
			</div>
		</div>
	</div>

	<div class='ui_content_center fn_left'>
		{pc:content  action="position" posid="287" catid="$catid" order="listorder DESC" num="1"}
		{loop $data $r}
		<h2 class='ui_title'><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],66,'')}</a></h2>
		{/loop}
		{/pc}
		{pc:content  action="position" posid="288" catid="$catid" order="listorder DESC" num="1"}
		{loop $data $r}
		<h4 class='ui_sub_title'><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],70,'')}</a></h4>
		{/loop}
		{/pc}
		{pc:content  action="position" posid="287" catid="$catid" order="listorder DESC LIMIT 1,1--"}
		{loop $data $r}
		<h2 class='ui_title'><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],66,'')}</a></h2>
		{/loop}
		{/pc}
		{pc:content  action="position" posid="288" catid="$catid" order="listorder DESC LIMIT 1,1--"}
		{loop $data $r}
		<h4 class='ui_sub_title'><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],70,'')}</a></h4>
		{/loop}
		{/pc}

		<div class='ui_news_box'>
			<h3 class='ui_news_box_title'>网页游戏动态</h2>
			{pc:content action="lists" catid="197" num="6" order="id DESC"}
			<ul class='ui_news_box_list'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],70,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>
		<div class='ui_news_box'>
			<h3 class='ui_news_box_title'>网页游戏攻略</h2>
			{pc:content action="lists" catid="195" num="5" order="id DESC"}
			<ul class='ui_news_box_list'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],70,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>
	</div>

	<div class="ui_content_right fn_right">
		<div class='ui_img_box'>
			<h3>业界专访</h3>
			{pc:content  action="position" posid="289" catid="$catid" order="listorder DESC" thumb="1" num="2"}
			<ul class='ui_img_list'>
				{loop $data $r}
				<li>
					<a href='{$r[url]}' title='{$r[title]}'><img src='{thumb($r[thumb],125,94)}' width='125' height='94' /></a>
					<h4><a href='{$r[url]}' title='{$r[title]}'>{str_cut($r[title],26,'')}</a></h4>
				</li>
				{/loop}
			</ul>
			{/pc}
			{pc:content  action="position" posid="290" catid="$catid" order="listorder DESC" num="5"}
			<ul class='ui_text_list'>
				{loop $data $r}
				<li><a href='{$r[url]}' title='{$r[title]}'><em>[{$CATEGORYS[$r[catid]][catname]}]</em> {str_cut($r[title],40,'')}</a></li>
				{/loop}
			</ul>
			{/pc}
		</div>

		<div class='ad'><script type="text/javascript">
				// <![CDATA[
				OA_show(66);
				// ]]>
			</script>
			<noscript>
				<a href='http://misc.huoshow.com/www/delivery/ck.php?n=af00b0d7'><img border='0' alt='' src='http://misc.huoshow.com/www/delivery/avw.php?zoneid=66&n=af00b0d7' /></a>
			</noscript></div>
	</div>
	<a class='ui_content_enter' href='{$CATEGORYS[86][url]}' >进入频道&gt;&gt;</a>
</div>
</div>
<!-- 网页游戏结束 -->

<!-- 手机掌机 -->
<div class='content_wrapper'>
<div class='ui_content_home ui_content_box ui_content_mobile_game fn_clear'>
	<h2 class='ui_content_title'>手机掌机</h2>
	<h3 class='ui_content_nav'><a href="{$CATEGORYS[96][url]}" >资讯</a> <a href="{$CATEGORYS[98][url]}">攻略</a> <a href="{$CATEGORYS[97][url]}">评测</a> <a href="{$CATEGORYS[212][url]}">图集</a></h3>
	<div class="ui_content_left fn_left">
		<div class='ui_box'>
			<h3 class='ui_box_title'>视频攻略</h3>
			<h4 class='ui_box_nav'><a class='nav_selected' href="{$CATEGORYS[97][url]}">评测</a><a href="{$CATEGORYS[98][url]}">攻略</a></h4>
			<div class='list_wrapper list_selected'>
			<ul class='ui_img_list'>
			{pc:content  action="position" posid="246" order="listorder DESC" num="6" }
   			{loop $data $r}
				<li>
					<a href="{$r[url]}" title="{$r[title]}"><img class='video_img' src="{thumb($r[thumb],125,94)}" alt="{$r[title]}" width='125' height='94' /></a>
					<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],30,'')}</a></h4>
				</li>
			{/loop}
			{/pc}
			</ul>
			</div>

			<div class='list_wrapper'>
			<ul class='ui_img_list'>
			{pc:content  action="position" posid="326" order="listorder DESC" num="6" }
   			{loop $data $r}
				<li>
					<a href="{$r[url]}" title="{$r[title]}"><img class='video_img' src="{thumb($r[thumb],125,94)}" alt="{$r[title]}" width='125' height='94' /></a>
					<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],30,'')}</a></h4>
				</li>
			{/loop}
			{/pc}
			</ul>
			</div>

		</div>
	</div>

	<div class='ui_content_center fn_left'>
	{pc:content  action="position" posid="249" order="listorder DESC" num="4" }
   	{loop $data $r}
		{if $n==1}<h2 class='ui_title'><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],66,'')}</a></h2>{/if}
		{if $n==2}<h4 class='ui_sub_title'><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],70,'')}</a></h4>{/if}
		{if $n==3}<h2 class='ui_title'><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],66,'')}</a></h2>{/if}
		{if $n==4}<h4 class='ui_sub_title'><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],70,'')}</a></h4>{/if}
	{/loop}
	{/pc}
		<div class='ui_news_box'>
			<h3 class='ui_news_box_title'>热点资讯</h2>
			<ul class='ui_news_box_list'>
			{pc:content action="lists" catid="85" order="id DESC" num="10"}
			{loop $data $r}
				<li><a href="{$r[url]}" title="{$r[title]}">【{$CATEGORYS[$r[catid]][catname]}】{str_cut($r['title'],58,'')}</a></li>
			{/loop}
			{/pc}
			</ul>
		</div>
	</div>

	<div class="ui_content_right fn_right">
		<div class='ui_img_box'>
			<h3>精美壁纸下载</h3>
			<h4 class='ui_box_nav'><a class='nav_selected' href="{$CATEGORYS[211][url]}">android</a><a href="{$CATEGORYS[210][url]}">iphone</a></h4>
			<div class='list_wrapper list_selected'>
			<ul class='ui_img_list'>
			{pc:content action="lists" catid="211" order="id DESC" num="8"}
			{loop $data $r}
				<li>
					<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],125,94)}" alt="{$r[title]}" width='125' height='94' /></a>
					<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],26,'')}</a></h4>
				</li>
			{/loop}
			{/pc}
			</ul>
			</div>

			<div class='list_wrapper'>
			<ul class='ui_img_list'>
			{pc:content action="lists" catid="210" order="id DESC" num="8"}
			{loop $data $r}
				<li>
					<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],125,94)}" alt="{$r[title]}" width='125' height='94' /></a>
					<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],26,'')}</a></h4>
				</li>
			{/loop}
			{/pc}
			</ul>
			</div>

		</div>
	</div>
	<a class='ui_content_enter' href="{$CATEGORYS[85][url]}">进入频道&gt;&gt;</a>
</div>
</div>
<!-- 手机掌机结束 -->

<!-- 单机游戏 -->
<div class='content_wrapper'>
<div class='ui_content_home ui_content_box ui_content_single_game fn_clear'>
	<h2 class='ui_content_title'>单机游戏</h2>
	<h3 class='ui_content_nav'><a href="{$CATEGORYS[91][url]}" >资讯</a> <a href="{$CATEGORYS[93][url]}" >攻略</a> <a href="{$CATEGORYS[92][url]}" >评测</a> <a href="{$CATEGORYS[95][url]}">图集</a></h3>
	<div class="ui_content_left fn_left">
		<div class='ui_box'>
			<h3 class='ui_box_title'>单机视频</h3>
			<ol class='ui_num_list'>
			<li class='ui_num_list_item num1'>
					<span class='num num_top'>1</span>

					<ul class='ui_img_list'>
					{pc:content  action="position" posid="253" order="listorder DESC" num="2" }
   					{loop $data $r}
						<li>
							<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],100,75)}" alt="{$r[title]}" width='100' height='75' /></a>
							<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],26,'')}</a></h4>
						</li>
					{/loop}
					{/pc}
					</ul></li>
				{pc:content  action="position" posid="327" order="listorder DESC" num="5" }
   					{loop $data $r}
				<li class="ui_num_list_item">{if $n<3}<span class="num num_top">{else}<span class="num">{/if}<?php echo $n+1 ?></span><a href="{$r[url]}" title="{$r[title]}"><em>[{$CATEGORYS[$r[catid]][catname]}]</em> {str_cut($r['title'],40,'')}</a></li>
				{/loop}
				{/pc}
			</ol>
		</div>

		<div class='ui_box'>
			<h3 class='ui_box_title'>评测</h3>
			{pc:content  action="position" posid="255" order="listorder DESC" num="7" }
   			{loop $data $r}
			{if $n>0 && $n<3}
			{if $n==1}<ul class='ui_img_list'>{/if}
				<li>
					<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],125,52)}" alt="{$r[title]}" width='125' height='52' /></a>
					<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],30,'')}</a></h4>
				</li>
			{if $n==2}</ul>{/if}
			{else}
			{if $n==3}<ul class='ui_text_list'>{/if}
				<li><a href="{$r[url]}" title="{$r[title]}"><em>[{$CATEGORYS[$r[catid]][catname]}]</em> {str_cut($r['title'],46,'')}</a></li>
			{if $n==7}</ul>{/if}
			{/if}
			{/loop}
			{/pc}
		</div>
	</div>

	<div class='ui_content_center fn_left'>
		{pc:content  action="position" posid="264" order="listorder DESC" num="4" }
   		{loop $data $r}
		{if $n==1}<h2 class='ui_title'><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],66,'')}</a></h2>{/if}
		{if $n==2}<h4 class='ui_sub_title'><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],70,'')}</a></h4>{/if}
		{if $n==3}<h2 class='ui_title'><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],66,'')}</a></h2>{/if}
		{if $n==4}<h4 class='ui_sub_title'><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],70,'')}</a></h4>{/if}
		{/loop}
		{/pc}

		<div class='ui_news_box'>
			<h3 class='ui_news_box_title'>资讯</h2>
			<ul class='ui_news_box_list'>
			{pc:content action="lists" catid="91" order="id DESC" num="6"}
			{loop $data $r}
				<li><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],70,'')}</a></li>
			{/loop}
			{/pc}
			</ul>
		</div>
		<div class='ui_news_box'>
			<h3 class='ui_news_box_title'>攻略></h2>
			<ul class='ui_news_box_list'>
			{pc:content action="lists" catid="93" order="id DESC" num="6"}
			{loop $data $r}
				<li><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],70,'')}</a></li>
			{/loop}
			{/pc}
			</ul>
		</div>
	</div>

	<div class="ui_content_right fn_right">
	<div class='ui_img_box'>
			<h3>单机热点</h3>
			{pc:content  action="hits_pcgame_hotweeknews" catids="91,92,93,202" newsnum="7"}
			<!--{pc:content action="hits" catid="84" num="7" order="weekviews DESC" cache="3600"}-->
			{loop $data $r}
			{if $n>0 && $n<3}
			{if $n==1}<ul class='ui_img_list'>{/if}
				<li>
					<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],125,94)}" alt="{$r[title]}" width='125' height='94' /></a>
					<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],26,'')}</a></h4>
				</li>
			{if $n==2}</ul>{/if}
			{else}
			{if $n==3}<ul class='ui_text_list'>{/if}
				<li><a href="{$r[url]}" title="{$r[title]}"><em>[{getCatNameFromCatid($catid)}]</em>{str_cut($r['title'],40,'')}</a></li>
			{if $n==7}</ul>{/if}
			{/if}
			{/loop}
			{/pc}
		</div>

		<div class='ui_img_box'>
			<h3>单机图集</h3>
			<ul class='ui_img_list'>
			{pc:content  action="position" posid="265" order="listorder DESC" num="4" }
   			{loop $data $r}
				<li>
					<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],125,94)}" alt="{$r[title]}" width='125' height='94' /></a>
					<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],26,'')}</a></h4>
				</li>
			{/loop}
			{/pc}
			</ul>
		</div>
	</div>
	<a class='ui_content_enter' href="{$CATEGORYS[84][url]}" >进入频道&gt;&gt;</a>
</div>
</div>
<!-- 单机游戏结束 -->

<!-- 小游戏 -->
<div class='content_wrapper'>
<div class='ui_content_home ui_content_box ui_content_small_game fn_clear'>
	<h2 class='ui_content_title'>小游戏</h2>
	<h3 class='ui_content_nav'><a href="{$CATEGORYS[103][url]}">动作</a> <a href="{$CATEGORYS[226][url]}">益智</a> <a href="{$CATEGORYS[105][url]}">射击</a> <a href="{$CATEGORYS[106][url]}">体育</a> <a href="{$CATEGORYS[224][url]}">冒险</a></h3>
	<div class="ui_content_left fn_left">
		<div class='ui_box'>
			<h3 class='ui_box_title'>推荐小游戏&gt;&gt;</h3>
			<ul class='ui_game_box_list'>
			{pc:content  action="position" posid="267" order="listorder DESC" num="3" }
   			{loop $data $r}
				<li>
					<div class='game_img_box'>
						<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],128,86)}" alt="{$r[title]}" width='128' height='86' /></a>
					</div>
					<div class='game_info_box'>
						<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],30,'')}</a></h4>
						<p><span>类别：</span>{$r[classtype]}</p>
						<a class='enter_game' href="/index.php?m=content&c=index&a=show&g=game&catid={$r[catid]}&id={$r[id]}" title="{$r[title]}">进入游戏</a>
					</div>
				</li>
			{/loop}
			{/pc}
			</ul>
		</div>
	</div>

	<div class='ui_content_center fn_left'>
		<h2 class='ui_box_title'>热门小游戏&gt;&gt;</h2>
		<ul class='ui_img_list'>
		{pc:content  action="position" posid="270" order="listorder DESC" num="9" }
   		{loop $data $r}
				<li>
					<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],114,85)}" alt='' width='114' height='85' /></a>
					<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],30,'')}</a></h4>
				</li>
		{/loop}
		{/pc}
			</ul>
	</div>

	<div class="ui_content_right fn_right">
		<div class='ui_img_box'>
			<h2 class='ui_box_title'>小游戏排行榜&gt;&gt;</h2>
			<!--{pc:content  action="hits_all_smallgame" catids="103,104,105,106,224,225,226,227,228" newsnum="12"}-->
			{pc:content action="hits" catid="87" num="11" order="views DESC"}
			{loop $data $r}
			{if $n==1}
			<div class='ui_game_artical_box'>
				<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],108,75)}" alt="{$r[title]}" width='108' height='75' /></a>
				<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],20,'')}</a><h4>
				<p>{str_cut($r['description'],20,'')}</p>
			</div>
			{else}
			{if $n==2}<ul class='ui_text_list'>{/if}
				<li><a href="{$r[url]}" title="{$r[title]}"><em><!--[{str_cut($r[catname],20,'')}]-->[{str_cut($CATEGORYS[$r[catid]][catname],20,'')}]</em> {str_cut($r['title'],30,'')}</a></li>
			{if $n==12}</ul>{/if}
			{/if}
			{/loop}
			{/pc}
		</div>
	</div>
	<a class='ui_content_enter' href="{$CATEGORYS[87][url]}">进入频道&gt;&gt;</a>
</div>
</div>
<!-- 小游戏结束 -->

<!-- 精彩图集 -->
<div class='ui_gallery_home ui_content_box content_gallery fn_clear'>
	<h2 class='ui_content_title'>精彩图集</h2>
	<h3 class='ui_content_nav'><a href="{$CATEGORYS[178][url]}" >游戏美女</a> <a href="{$CATEGORYS[179][url]}" >COSPLAY</a> <a href="{$CATEGORYS[180][url]}" >游戏壁纸</a> <a href="{$CATEGORYS[181][url]}">游戏截图</a></h3>
	{pc:content  action="position" posid="273" order="listorder DESC" num="9" }
    {loop $data $r}
	{if $n==1}
	<div class='img_poster'>
		<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],228,308)}" alt="{$r[title]}" width='228' height='308' /></a>
		<h4><a href="{$r[url]}" title="{$r[title]}"> {str_cut($r['title'],50,'')}</a></h4>
	</div>
	{else}
	{if $n==2}<ul class='ui_img_list'>{/if}
		<li>
			<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],112,150)}" alt="{$r[title]}" width='112' height='150' /></a>
			<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],30,'')}</a></h4>
		</li>
	{if $n==9}</ul>{/if}
	{/if}
	{/loop}
	{/pc}
	<div class='ranking_list_box'>
		<h2 class='ranking_list_title'>排行榜</h2>
		<dl class='ranking_list'>
			<dt class='ranking_list_nav ranking_list_selected'><a href='javascript:void(0)' title=''>本周</a></dt>
			<dd class='ranking_list_selected'>
				<ol>
					<!--{pc:content  action="picgame_hothits" catids="178,179,180,181" newsnum="6" hits="weekviews"}-->
					{pc:content action="hits" catid="177" num="6" order="weekviews DESC" cache="3600"}
					{loop $data $r}
					{if $n==1}
					<li class='num1'>
						<span class='num'>1</span>
						<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],91,123)}" alt='' width='91' height='123' /></a>
						<p>{str_cut($r['title'],100,'')} <a href="{$r[url]}" title="{$r[title]}">[详细]</a></p>
					</li>
					{else}
					<li><span class='num'>{$n}</span><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],50,'')}</a></li>
					{/if}
					{/loop}
					{/pc}
				</ol>
			</dd>
			<dt class='ranking_list_nav ranking_list_month'><a href='javascript:void(0)' title=''>本月</a></dt>
			<dd>
				<ol>
					<!--{pc:content  action="picgame_hothits" catids="178,179,180,181" newsnum="6" hits="monthviews"}-->
					{pc:content action="hits" catid="177" num="6" order="monthviews DESC" cache="3600"}
					{loop $data $r}
					{if $n==1}
					<li class='num1'>
						<span class='num'>1</span>
						<a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],91,123)}" alt='' width='91' height='123' /></a>
						<p>{str_cut($r['title'],100,'')} <a href="{$r[url]}" title="{$r[title]}">[详细]</a></p>
					</li>
					{else}
					<li><span class='num'>{$n}</span><a href="{$r[url]}" title="{$r[title]}">{str_cut($r['title'],50,'')}</a></li>
					{/if}
					{/loop}
					{/pc}
				</ol>
			</dd>
		</dl>
	</div>
	<a class='ui_content_enter' href="{$CATEGORYS[177][url]}">进入频道&gt;&gt;</a>
</div>
<!-- 精彩图集结束 -->
{template "content","footer"}