<!-- Header Start -->
<div id="header" class='fn-clear'>
	<div class='title'>
		<a class='logo' href="http://www.huoshow.com/" title="火秀网"></a>
		<h1>{if $catid==275}<a href='{$CATEGORYS[275][url]}'>新游戏</a>
			{elseif $catid==83}<a href='{$CATEGORYS[83][url]}'>网络游戏</a>
			{elseif $catid==86}<a href='{$CATEGORYS[86][url]}'>网页游戏</a>
			{elseif $catid==84}<a href='{$CATEGORYS[84][url]}'>单机游戏</a>
			{elseif $catid==85}<a href='{$CATEGORYS[85][url]}'>手机游戏</a>
			{elseif $catid==177}<a href='{$CATEGORYS[177][url]}'>游戏图库</a>
			{/if}
		</h1>
		<h2><a href='{$CATEGORYS[14][url]}'>火秀游戏</a>  &gt; {if $catid==275}新游戏{elseif $catid==83}网络游戏{elseif $catid==86}网页游戏{elseif $catid==84}单机游戏{elseif $catid==85}手机游戏
			{elseif $catid==177}游戏图库{/if}</h2>
	</div>

	<form class="search" action=''>
		<fieldset><input type='text' name='q' class='search-wd' value='搜索关键字游戏名' /><button type='submit' class='search-submit'>搜索</button></fieldset>
		<fieldset class='search-hotspot'>热点：<a href='#'>《第九大陆》</a> <a href='#'>《天龙八部》</a></fieldset>
	</form>

	<ul id="nav" class='nav fn-cb fn-clear'>
		<li class='nav-item'>
			<a class='nav-item-link' href='{$CATEGORYS[14][url]}'>首页</a>
			<div class='nav-item-subnav'><a href='#'>最新资讯</a> | <a href='#'>最新评测</a> | <a href='#'>最新游戏</a> | <a href='#'>最新攻略</a></div>
		</li>
		<li class='nav-item {if $catid==275}nav-item-cur{/if}'>
			<a class='nav-item-link' href='{$CATEGORYS[275][url]}'>新游首页</a>
			<div class='nav-item-subnav'><a href='#'>新游资讯</a> | <a href='#'>新游评测</a> | <a href='#'>新游游戏</a> | <a href='#'>新游攻略</a></div>
		</li>
		<li class='nav-item {if $catid==83}nav-item-cur{/if}'>
			<a class='nav-item-link' href='{$CATEGORYS[83][url]}'>网络游戏</a>
			<div class='nav-item-subnav'><a href='#'>网络资讯</a> | <a href='#'>网络评测</a> | <a href='#'>网络游戏</a> | <a href='#'>网络攻略</a></div>
		</li>
		<li class='nav-item {if $catid==86}nav-item-cur{/if}'>
			<a class='nav-item-link' href='{$CATEGORYS[86][url]}'>网页游戏</a>
			<div class='nav-item-subnav'><a href='#'>网页资讯</a> | <a href='#'>网页评测</a> | <a href='#'>网页游戏</a> | <a href='#'>网页攻略</a></div>
		</li>
		<li class='nav-item {if $catid==84}nav-item-cur{/if}'>
			<a class='nav-item-link' href='{$CATEGORYS[84][url]}'>单机游戏</a>
			<div class='nav-item-subnav'><a href='#'>单机资讯</a> | <a href='#'>单机评测</a> | <a href='#'>单机游戏</a> | <a href='#'>单机攻略</a></div>
		</li>
		<li class='nav-item {if $catid==85}nav-item-cur{/if}'>
			<a class='nav-item-link' href='{$CATEGORYS[85][url]}'>手机游戏</a>
			<div class='nav-item-subnav'><a href='#'>手机资讯</a> | <a href='#'>手机评测</a> | <a href='#'>手机游戏</a> | <a href='#'>手机攻略</a></div>
		</li>
		<li class='nav-item {if $catid==177}nav-item-cur{/if}'>
			<a class='nav-item-link' href='{$CATEGORYS[177][url]}'>游戏图库</a>
			<div class='nav-item-subnav'><a href='#'>游库资讯</a> | <a href='#'>游库评测</a> | <a href='#'>游库游戏</a> | <a href='#'>游库攻略</a></div>
		</li>
	</ul>
</div>
<!-- Header End -->