<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>单机游戏攻略 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-game-global.css' rel='stylesheet' />
	<!-- <script src='{JS_PATH}cssrefresh.js'></script> -->
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='game-search-list'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'game_header_dev'}

	<div id='content'>
		<!-- 主内容 -->
		<div id='main' class='game-search-list'>
			<div id='select'>
				<div class='filter fn-clear'>
					<dl class='order'>
						<dt>排序：</dt>
						<dd class='default cur'><a href='#'>默认</a></dd>
						<dd><a href='#'>更新时间</a></dd>
						<dd><a href='#'>发售日</a></dd>
						<dd><a href='#'>游戏下载量</a></dd>
					</dl>
					<a class='reset' href='#'>重新筛选</a>
				</div>
				<dl class='select-item fn-clear'>
					<dt>类型：</dt>
					<dd>
						<a class='all cur' href='#'>全部</a>
						<a href='#'>角色扮演</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮演</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮演</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
						<a href='#'>角色扮</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>格斗</a>
						<a href='#'>射击</a>
					</dd>
				</dl>
				<dl class='select-item fn-clear'>
					<dt>版本：</dt>
					<dd>
						<a class='all cur' href='#'>全部</a>
						<a href='#'>中文版</a>
						<a href='#'>硬盘版</a>
						<a href='#'>英文版</a>
					</dd>
				</dl>
				<dl class='select-item fn-clear'>
					<dt>状态：</dt>
					<dd>
						<a class='all cur' href='#'>全部</a>
						<a href='#'>未发售</a>
						<a href='#'>已发售</a>
						<a href='#'>内测</a>
					</dd>
				</dl>
				<dl class='select-item fn-clear'>
					<dt>平台：</dt>
					<dd>
						<a href='#'>PSP</a>
						<a href='#'>PSV</a>
						<a href='#'>Wii</a>
						<a class='cur' href='#'>GBA</a>
						<a href='#'>NDS</a>
						<a href='#'>PC</a>
					</dd>
				</dl>
			</div>

			<table class='game-table'>
				<thead>
					<tr>
						<th>平台</th>
						<th>游戏名称</th>
						<th>类型</th>
						<th>版本</th>
						<th>发售日期</th>
						<th>发行厂商</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>PC</td>
						<td>轩辕剑</td>
						<td>角色扮演</td>
						<td>中文版</td>
						<td>2012-12-10</td>
						<td>大宗</td>
					</tr>
					<tr>
						<td>PC</td>
						<td>轩辕剑</td>
						<td>角色扮演</td>
						<td>中文版</td>
						<td>2012-12-10</td>
						<td>大宗</td>
					</tr>
					<tr>
						<td>PC</td>
						<td>轩辕剑</td>
						<td>角色扮演</td>
						<td>中文版</td>
						<td>2012-12-10</td>
						<td>大宗</td>
					</tr>
					<tr>
						<td>PC</td>
						<td>轩辕剑</td>
						<td>角色扮演</td>
						<td>中文版</td>
						<td>2012-12-10</td>
						<td>大宗</td>
					</tr>
					<tr>
						<td>PC</td>
						<td>轩辕剑</td>
						<td>角色扮演</td>
						<td>中文版</td>
						<td>2012-12-10</td>
						<td>大宗</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id='side'>
			<div class='ui-box-side ui-box-side-top'>
				<h2 class='ui-box-side-title'>资讯排行榜</h2>
				<ol class='ui-list-plus'>
					<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预队2预告敢死队2预告敢队2预告敢死队2预告敢队2预告敢死队2预告敢告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
				</ol>
			</div>

			<div class='ui-box-side'>
				<h2 class='ui-box-side-title'>资讯排行榜</h2>
				<ol class='ui-list-plus'>
					<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预队2预告敢死队2预告敢队2预告敢死队2预告敢队2预告敢死队2预告敢告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
				</ol>
			</div>

			<div class='ui-box-side'>
				<h2 class='ui-box-side-title'>资讯排行榜</h2>
				<ol class='ui-list-plus'>
					<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预队2预告敢死队2预告敢队2预告敢死队2预告敢队2预告敢死队2预告敢告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>9</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>10</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
				</ol>
			</div>
		</div>
	</div>

	<script src='{JS_PATH}seajs/sea-debug.js' id='seajsnode' data-main='hs-game-main'></script>
	{template 'content', 'hs_footer'}
</body>
</html>