<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>安卓应用列表 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-game-android.css' rel='stylesheet' />
	<script src='{JS_PATH}cssrefresh.js'></script>
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='game-android game-android-app'>
	{template 'content', 'hs_topbar'}
	{template 'content', 'game_header_android_dev'}

	<div id='content'>
		<!-- 主内容 -->
		<div id='main'>
			<div class='ui-header ui-header-content'>
				<h2 class='title'>安卓游戏</h2>
				<div class='link link-order'>排序：<a class='cur' href='#'>最新</a> | <a href='#'>热门</a> | <a href='#'>新品</a></div>
			</div>
			<div class='ui-content-list ui-content-list-app'>
				<div class='ui-content-item'>
					<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='75' height='75' /></a>
					<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
					<p class='status'>2012-11-23 下载：5546次</p>
					<p class='cnt'>然则Editplus最新版中包含了Zen Coding的功能，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
				</div>
				<div class='ui-content-item'>
					<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='75' height='75' /></a>
					<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
					<p class='status'>2012-11-23 下载：5546次</p>
					<p class='cnt'>然则Editplus最新版中包含了Zen Coding的功能，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
				</div>
				<div class='ui-content-item'>
					<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='75' height='75' /></a>
					<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
					<p class='status'>2012-11-23 下载：5546次</p>
					<p class='cnt'>然则Editplus最新版中包含了Zen Coding的功能，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
				</div>
				<div class='ui-content-item'>
					<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='75' height='75' /></a>
					<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
					<p class='status'>2012-11-23 下载：5546次</p>
					<p class='cnt'>然则Editplus最新版中包含了Zen Coding的功能，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
				</div>
				<div class='ui-content-item'>
					<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='75' height='75' /></a>
					<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
					<p class='status'>2012-11-23 下载：5546次</p>
					<p class='cnt'>然则Editplus最新版中包含了Zen Coding的功能，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
				</div>
				<div class='ui-content-item'>
					<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='75' height='75' /></a>
					<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
					<p class='status'>2012-11-23 下载：5546次</p>
					<p class='cnt'>然则Editplus最新版中包含了Zen Coding的功能，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
				</div>
				<div class='ui-content-item'>
					<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='75' height='75' /></a>
					<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
					<p class='status'>2012-11-23 下载：5546次</p>
					<p class='cnt'>然则Editplus最新版中包含了Zen Coding的功能，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
				</div>
				<div class='ui-content-item'>
					<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='75' height='75' /></a>
					<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
					<p class='status'>2012-11-23 下载：5546次</p>
					<p class='cnt'>然则Editplus最新版中包含了Zen Coding的功能，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
				</div>
				<div class='ui-content-item'>
					<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='75' height='75' /></a>
					<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
					<p class='status'>2012-11-23 下载：5546次</p>
					<p class='cnt'>然则Editplus最新版中包含了Zen Coding的功能，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
				</div>
				<div class='ui-content-item'>
					<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='75' height='75' /></a>
					<h2 class='title'><a href='#'>测试文字测试文字测试文字1</a></h2>
					<p class='status'>2012-11-23 下载：5546次</p>
					<p class='cnt'>然则Editplus最新版中包含了Zen Coding的功能，还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚。我收拾并测试了一下，Editplus根蒂根基实现了Zen Coding的所有... <a class='detail' href='#'>[详细]</a></p>
				</div>
			</div>

			<div id='pager' class="pager ui-pager"><span>1022条</span><span class="disabled">首页</span><span class="disabled">上一页</span><span class="num current">1</span><a class='num' href="#">2</a><a class='num' href="#">3</a><a class='num' href="#">4</a><span class='ellipsis'>...</span><a class='num' href="#">199</a><a href="#">下一页</a><a href="#">末页</a></div>
		</div>

		<div id='side'>
			<div class='ui-tab ui-tab-sd'>
				<ul class='ui-tab-nav fn-clear'>
					<li class='ui-tab-nav-item ui-tab-nav-item-cur'>游戏下载排行</li>
					<li class='ui-tab-nav-item'>软件下载排行</li>
				</ul>
				<div class='ui-tab-cnt'>
					<ol class='ui-tab-cnt-item ui-tab-cnt-item-cur ui-ranking ui-ranking-hotgame'>
						<li class='ui-ranking-item ui-ranking-item-cur'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num num-hot'>1</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num num-hot'>2</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.9</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num num-hot'>3</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.7</span>
							<div class="content">
								<p class='fn-hide'>永久免费</p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>4</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>5</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>6.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>6</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>5.8</span>
							<div class="content">
								<p class='fn-hide'>免费</p>
								<p><span class='fn-hide'>下载</span>34421次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>7</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>3.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>8</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>9</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>2.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>10</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥56</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
					</ol>
					<ol class='ui-tab-cnt-item ui-ranking ui-ranking-hotgame'>
						<li class='ui-ranking-item ui-ranking-item-cur'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num num-hot'>1</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>9.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num num-hot'>2</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.9</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num num-hot'>3</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.7</span>
							<div class="content">
								<p class='fn-hide'>永久免费</p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>4</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>5</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>6.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>6</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>5.8</span>
							<div class="content">
								<p class='fn-hide'>免费</p>
								<p><span class='fn-hide'>下载</span>34421次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>7</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>3.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>8</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>9</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>2.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥18</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
						<li class='ui-ranking-item'>
							<a class='img' href='#'><img src='http://pnews.huoshow.com/uploadfile/2012/0613/20120613012154648.jpg' alt='' width='50' height='50' /></a>
							<span class='num'>10</span>
							<h3 class='title'><a href='#'>还是官方的文档都缺乏帮助文档。还好Zen Coding项目标帮助文档很是的雄厚</a></h3>
							<span class='ranking'>8.8</span>
							<div class="content">
								<p class='fn-hide'>限免 <del>￥56</del></p>
								<p><span class='fn-hide'>下载</span>3521次</p>
							</div>
							<a class='button' href='#'></a>
						</li>
					</ol>
				</div>
			</div>

			<div class='ui-tab ui-tab-sd'>
				<ul class='ui-tab-nav fn-clear'>
					<li class='ui-tab-nav-item ui-tab-nav-item-cur'>游戏下载排行</li>
					<li class='ui-tab-nav-item'>软件下载排行</li>
				</ul>
				<div class='ui-tab-cnt'>
					<ul class='ui-tab-cnt-item ui-tab-cnt-item-cur ui-img-list ui-img-list-plus'>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
					</ul>
					<ul class='ui-tab-cnt-item ui-img-list ui-img-list-plus'>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌2</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='108' height='162' /></a>
							<a class='title' href='#'>大话西战歌</a>
						</li>
					</ul>
				</div>
			</div>

			<div class='ui-box-side'>
				<h2 class='ui-box-side-title'>装机必备</h2>
				<dl class='ui-step'>
					<dt>第一步：了解Android</dt>
					<dd><a href='#'>了解安卓使用方法</a> <a href='#'>怎样选手机</a> <a href='#'>见机必读</a></dd>

					<dt>第二步：使用Android</dt>
					<dd> <a href='#'>见机必读</a> <a href='#'>见机必读</a> <a href='#'>见机必读</a> <a href='#'>见机必读</a> <a href='#'>见机必读</a> <a href='#'>安装应用</a> <a href='#'>USB设置</a><br />
					设置：<a href='#'>桌面</a> <a href='#'>壁纸</a> <a href='#'>铃声</a> <a href='#'>网络</a></dd>

					<dt>第三步：玩转Android</dt>
					<dd> <a href='#'>刷机名词</a> <a href='#'>为什么要刷机</a> <a href='#'>怎样刷机</a> <a href='#'>怎样破解ROOT</a> <a href='#'>刷机风险</a></dd>
				</dl>
			</div>

			<div class='ui-box-side ui-box-gallery'>
				<h2 class='ui-box-side-title'>装机必备</h2>
				<ul class='ui-img-list ui-img-list-plus'>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
					<li class='ui-img-list-item'>
						<a class='img' href='#'><img src='http://img14.meitudata.com/5060600dc41128585.jpg!thumb235' width='50' height='50' /></a>
						<a class='title' href='#'>大话西战歌</a>
					</li>
				</ul>
			</div>
		</div>

		<div id='aside'>
			<h2><a href='#'>分类检索</a></h2>
			<dl>
				<dt><a href='#'>安卓游戏(34563)</a></dt>
				<dd class='cur'><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>

				<dt><a href='#'>安卓应用(34563)</a></dt>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>

				<dt><a href='#'>安卓主题(34563)</a></dt>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>

				<dt><a href='#'>安卓壁纸(34563)</a></dt>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>角色扮演(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>棋牌休闲(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
				<dd><a href='#'>动作冒险(320)</a></dd>
				<dd><a href='#'>射击飞行(320)</a></dd>
			</dl>
		</div>
	</div>

	<script src='{JS_PATH}seajs/sea-debug.js' id='seajsnode' data-main='hs-game-main'></script>
	{template 'content', 'hs_footer'}
</body>
</html>