<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>游戏首页 - 火秀网</title>
	<meta name='keywords' content='火秀网络游戏' />
	<meta name='description' content='火秀网络游戏' />
	<meta name='author' content='火秀网' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link href='{CSS_PATH}hs-game-index.css' rel='stylesheet' />
	<script src='{JS_PATH}seajs/sea-debug.js' id='seajsnode' data-main='hs-game-main'></script>
	<!-- <script src='{JS_PATH}cssrefresh.js'></script> -->
	<!-- <script src='{JS_PATH}live.js'></script> -->
	<link href='/favicon.ico' rel='icon' />
</head>

<body class='game-index'>
<div id='myfocus-games' class='ui-myfocus'>
				<div class="loading"></div>
				<div class="pic">
					<ul>
						<li><a href="#1"><img src="http://cosmissy.com/myfocus/content/templates/myfocus/img/1m.jpg" thumb="" alt="版权属于作者，图片2来源于网络" width='440' height='200' /></a></li>
						<li><a href="#2"><img src="http://cosmissy.com/myfocus/content/templates/myfocus/img/4m.jpg" thumb="" alt="版权属于作者，图片2来源于网络" width='440' height='200' /></a></li>
						<li><a href="#3"><img src="http://cosmissy.com/myfocus/content/templates/myfocus/img/5m.jpg" thumb="" alt="图片3来源于网络，版权属于作者" width='440' height='200' /></a></li>
						<li><a href="#4"><img src="http://myshow.huoshow.com/myshowpic/image/1352111171_big.jpg" thumb="" alt="版权属于作者，图片4来源于网络" width='440' height='200' /></a></li>
						<li><a href="#5"><img src="http://myshow.huoshow.com/myshowpic/image/1352111172_big.jpg" thumb="" alt="图片5来源于网络，版权属于作者" width='440' height='200' /></a></li>
					</ul>
				</div>
			</div>
	<!-- 主内容 -->
	<div id='content-main' class='ui-layout fn-clear'>
		<!-- <div class='ui-layout-item ui-layout-item-side'>
			<div class='ui-box ui-box-game'>
				<div class='ui-header'>
					<h3 class='title'>热门网游</h3>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<table class='ui-game-table'>
					<thead>
						<tr>
							<th class='time'>时间</th>
							<th class='name'>游戏名</th>
							<th class='status'>状态</th>
							<th class='btn'>拿号</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class='time'>10-27</td>
							<td class='name'><a href='#'>仙剑奇侠</a></td>
							<td class='status'>公测</td>
							<td class='btn btn-order'><a href='#'>订</a></td>
						</tr>
						<tr>
							<td class='time'>10-26</td>
							<td class='name'><a href='#'>人见人爱</a></td>
							<td class='status'>内测</td>
							<td class='btn btn-get'><a href='#'>领</a></td>
						</tr>
						<tr>
							<td class='time'>10-27</td>
							<td class='name'><a href='#'>仙剑奇侠</a></td>
							<td class='status'>公测</td>
							<td class='btn btn-order'><a href='#'>订</a></td>
						</tr>
						<tr>
							<td class='time'>10-26</td>
							<td class='name'><a href='#'>人见人爱</a></td>
							<td class='status'>内测</td>
							<td class='btn btn-get'><a href='#'>领</a></td>
						</tr>
						<tr>
							<td class='time'>10-27</td>
							<td class='name'><a href='#'>仙剑奇侠</a></td>
							<td class='status'>公测</td>
							<td class='btn btn-order'><a href='#'>订</a></td>
						</tr>
						<tr>
							<td class='time'>10-26</td>
							<td class='name'><a href='#'>人见人爱</a></td>
							<td class='status'>内测</td>
							<td class='btn btn-get'><a href='#'>领</a></td>
						</tr>
						<tr>
							<td class='time'>10-27</td>
							<td class='name'><a href='#'>仙剑奇侠</a></td>
							<td class='status'>公测</td>
							<td class='btn btn-order'><a href='#'>订</a></td>
						</tr>
						<tr>
							<td class='time'>10-26</td>
							<td class='name'><a href='#'>人见人爱</a></td>
							<td class='status'>内测</td>
							<td class='btn btn-get'><a href='#'>领</a></td>
						</tr>
					</tbody>
				</table>
				<ul class='ui-tab-cnt-item ui-tab-cnt-item-cur ui-gamenum-list'>
					<li class='ui-gamenum-list-item'><a class='text' href='#'>游戏进军韩激活码</a> <a class='getnum' href='#'>领</a> <span class='status'>剩余：97</span></li>
					<li class='ui-gamenum-list-item'><a class='text' href='#'>游戏进军韩激活码游戏进军韩激活码游戏进军韩激活码</a> <a class='getnum' href='#'>领</a> <span class='status'>剩余：97</span></li>
					<li class='ui-gamenum-list-item'><a class='text' href='#'>游戏进军韩激活码</a> <a class='getnum' href='#'>领</a> <span class='status'>剩余：97</span></li>
					<li class='ui-gamenum-list-item'><a class='text' href='#'>游戏进军韩激活码</a> <a class='getnum' href='#'>领</a> <span class='status'>剩余：97</span></li>
					<li class='ui-gamenum-list-item'><a class='text' href='#'>游戏进军韩激活码</a> <a class='getnum' href='#'>领</a> <span class='status'>剩余：97</span></li>
					<li class='ui-gamenum-list-item'><a class='text' href='#'>游戏进军韩激活码</a> <a class='getnum' href='#'>领</a> <span class='status'>剩余：97</span></li>
					<li class='ui-gamenum-list-item'><a class='text' href='#'>游戏进军韩激活码</a> <a class='getnum' href='#'>领</a> <span class='status'>剩余：97</span></li>
				</ul>
			</div>
			<div class='ui-box ui-box-game'>
				<div class='ui-header'>
					<h3 class='title'>热门网游</h3>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<table class='ui-game-table'>
					<thead>
						<tr>
							<th class='time'>时间</th>
							<th class='name'>游戏名</th>
							<th class='status'>状态</th>
							<th class='btn'>拿号</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class='time'>10-27</td>
							<td class='name'><a href='#'>仙剑奇侠</a></td>
							<td class='status'>公测</td>
							<td class='btn btn-order'><a href='#'>订</a></td>
						</tr>
						<tr>
							<td class='time'>10-26</td>
							<td class='name'><a href='#'>人见人爱</a></td>
							<td class='status'>内测</td>
							<td class='btn btn-get'><a href='#'>领</a></td>
						</tr>
						<tr>
							<td class='time'>10-27</td>
							<td class='name'><a href='#'>仙剑奇侠</a></td>
							<td class='status'>公测</td>
							<td class='btn btn-order'><a href='#'>订</a></td>
						</tr>
						<tr>
							<td class='time'>10-26</td>
							<td class='name'><a href='#'>人见人爱</a></td>
							<td class='status'>内测</td>
							<td class='btn btn-get'><a href='#'>领</a></td>
						</tr>
						<tr>
							<td class='time'>10-27</td>
							<td class='name'><a href='#'>仙剑奇侠</a></td>
							<td class='status'>公测</td>
							<td class='btn btn-order'><a href='#'>订</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class='ui-box ui-box-game'>
				<div class='ui-header'>
					<h3 class='title'>热门网游</h3>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<ol class='ui-list-plus'>
					<li class='ui-list-plus-item'><span class='num num-hot'>1</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>2</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num num-hot'>3</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>4</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>5</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>6</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>7</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
					<li class='ui-list-plus-item'><span class='num'>8</span><a class='title' href='#'>敢死队2预告敢死队2预告敢死队2预告敢</a></li>
				</ol>
			</div>
		</div> -->

		<div class='ui-layout-item ui-layout-item-main'>
			<div id='myfocus-kiki-top2' class='ui-myfocus'>
				<div class="loading"></div>
				<div class="pic">
					<ul>
						<li><a href="#1"><img src="http://cosmissy.com/myfocus/content/templates/myfocus/img/1m.jpg" thumb="" alt="版权属于作者，图片2来源于网络" width='440' height='200' /></a></li>
						<li><a href="#2"><img src="http://cosmissy.com/myfocus/content/templates/myfocus/img/4m.jpg" thumb="" alt="版权属于作者，图片2来源于网络" width='440' height='200' /></a></li>
						<li><a href="#3"><img src="http://cosmissy.com/myfocus/content/templates/myfocus/img/5m.jpg" thumb="" alt="图片3来源于网络，版权属于作者" width='440' height='200' /></a></li>
						<li><a href="#4"><img src="http://myshow.huoshow.com/myshowpic/image/1352111171_big.jpg" thumb="" alt="版权属于作者，图片4来源于网络" width='440' height='200' /></a></li>
						<li><a href="#5"><img src="http://myshow.huoshow.com/myshowpic/image/1352111172_big.jpg" thumb="" alt="图片5来源于网络，版权属于作者" width='440' height='200' /></a></li>
					</ul>
				</div>
			</div>

			<!-- <div class='ui-tab ui-tab-easy'>
				<div class='ui-tab-header fn-clear'>
					<ul class='ui-tab-nav fn-clear'>
						<li class='ui-tab-nav-item ui-tab-nav-item-cur'>今日要闻</li>
						<li class='ui-tab-nav-item'>图片推荐</li>
					</ul>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<div class='ui-tab-cnt'>
					<div class='ui-tab-cnt-item ui-tab-cnt-item-cur'>
						<h2 class='ui-newgame-title'><a href='#'>1测试文字sdfsadf测试文字sdfsadf测试文字sdfsadf</a></h2>
						<div class='ui-newgame-link'><a href='#'>[车跑跑卡丁车]</a> <a href='#'>[车跑跑卡丁车]</a> <a href='#'>[车丁车]</a> <a href='#'>[车跑跑卡丁车]</a></div>
						<h2 class='ui-newgame-title'><a href='#'>测试文字sdfsadf测试文字sdfsadf测试文字sdfsadf</a></h2>
						<div class='ui-newgame-link'><a href='#'>[车跑跑卡丁车]</a> <a href='#'>[车跑跑卡丁车]</a> <a href='#'>[车丁车]</a> <a href='#'>[车跑跑卡丁车]</a></div>
					</div>
					<div class='ui-tab-cnt-item'>
						<h2 class='ui-newgame-title'><a href='#'>测试文字sdfsadf测试文字sdfsadf测试文字sdfsadf</a></h2>
						<div class='ui-newgame-link'><a href='#'>[车跑跑卡丁车]</a> <a href='#'>[车跑跑卡丁车]</a> <a href='#'>[车丁车]</a> <a href='#'>[车跑跑卡丁车]</a></div>
						<h2 class='ui-newgame-title'><a href='#'>测试文字sdfsadf测试文字sdfsadf测试文字sdfsadf</a></h2>
						<div class='ui-newgame-link'><a href='#'>[车跑跑卡丁车]</a> <a href='#'>[车跑跑卡丁车]</a> <a href='#'>[车丁车]</a> <a href='#'>[车跑跑卡丁车]</a></div>
					</div>
				</div>
			</div> -->

			<!-- <div class='ui-art ui-art-hr fn-clear'>
				<div class='img'>
					<a href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='106' height='90' /></a>
					<h4><a href='#'>测试文字</a></h4>
				</div>
				<ul class='ui-list ui-list-main'>
					<li class='ui-list-item'><a href='#'>[新游] 你绝对想不到!国产游戏进军韩雷国游戏进军韩雷的雷囧游戏进军韩雷译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>[新游] 你绝对想不到!国产游戏进军韩雷国游戏进军韩雷的雷囧游戏进军韩雷译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>[新游] 你绝对想不到!国产游戏进军韩雷国游戏进军韩雷的雷囧游戏进军韩雷译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>[新游] 你绝对想不到!国产游戏进军韩雷国游戏进军韩雷的雷囧游戏进军韩雷译名(图)</a></li>
				</ul>
			</div> -->

			<!-- <h2 class='ui-newgame-title ui-newgame-title-recommend'><a href='#'>测试文字:f测试文试文字字试文字试试文字文字测试文字</a></h2> -->

			<div class='ui-art fn-clear'>
				<div class='img'>
					<a href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' alt='' width='106' height='90' /></a>
					<h4><a href='#'>测试文字</a></h4>
				</div>
				<ul class='ui-list ui-list-main'>
					<li class='ui-list-item'><a href='#'>[新游] 你绝对想不到!国产游戏进军韩雷国游戏进军韩雷的雷囧游戏进军韩雷译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>[新游] 你绝对想不到!国产游戏进军韩雷国游戏进军韩雷的雷囧游戏进军韩雷译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>[新游] 你绝对想不到!国产游戏进军韩雷国游戏进军韩雷的雷囧游戏进军韩雷译名(图)</a></li>
					<li class='ui-list-item'><a href='#'>[新游] 你绝对想不到!国产游戏进军韩雷国游戏进军韩雷的雷囧游戏进军韩雷译名(图)</a></li>
				</ul>
			</div>

			<div class='ui-tab ui-tab-easy'>
				<div class='ui-tab-header fn-clear'>
					<ul class='ui-tab-nav fn-clear'>
						<li class='ui-tab-nav-item ui-tab-nav-item-cur'>热门视频</li>
					</ul>
					<div class='link'><a class='more' href='#'>更多&gt;&gt;</a></div>
				</div>
				<div class='ui-tab-cnt'>
					<ul class='ui-tab-cnt-item ui-tab-cnt-item-cur ui-img-list ui-img-list-plus'>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' width='102' height='76' /><span class='icon-play'></span></a>
							<a class='title' href='#'>大话西游战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' width='102' height='76' /><span class='icon-play'></span></a>
							<a class='title' href='#'>大话西游战歌</a>
						</li>
						<li class='ui-img-list-item'>
							<a class='img' href='#'><img src='http://pnews.wwen.huoshow.com/statics/images/common/ad7.jpg' width='102' height='76' /><span class='icon-play'></span></a>
							<a class='title' href='#'>大话西游战歌</a>
						</li>
					</ul>
				</div>
			</div>
		</div>


	</div>
</body>
</html>