<div class="itemtitle" style="padding-left:15px;">
<ul class="tab1">
	<li class="current"><a href="?action=huoshow&operation=addmatchrules&match_id={$matchid}"><span>添加赛事规则</span></a></li>
</ul>
</div>
<div style="clear:both; background:#DEEFFB; padding-left:5px; height:28px; line-height:28px; font-size:14px; font-weight:bold;">
	<a href="?action=huoshow&operation=eventsadmin">赛事管理</a> >> 赛事规则管理
</div>
<table border="0" class="tb tb2">
	<tr class="header">
		<th>ID</th>
		<th>赛事ID</th>
		<th>规则ID</th>
		<th>所占百分比</th>
		<th>操作</th>
	</tr>
	{section name=m loop=$matchrules_arr}
	<tr class="hover">
		<td>{$matchrules_arr[m].id}</td>
		<td>{$matchrules_arr[m].match_id}</td>
		<td>{$matchrules_arr[m].regular_id} （{$matchrules_arr[m].name}）</td>
		<td>{$matchrules_arr[m].precent}</td>
		<td><a href="?action=huoshow&operation=editmatchrules&id={$matchrules_arr[m].id}&matchid={$matchrules_arr[m].match_id}">修改</a> | <a id="del" onclick="delError('?action=huoshow&operation=editmatchrules&tab=delmatchrules&id={$matchrules_arr[m].id}&matchid={$matchrules_arr[m].match_id}');"  href="javascript:;">删除</a></td>
	</tr>
	{/section}
	<tr>
    	<td colspan="5">{$page_str}</td>
  	</tr>
</table>
{literal}
<script type="text/javascript">
function delError(href)
{
	if (!confirm("确定删除？注意：此操作不可恢复，请谨慎操作！")) {
		return false;
	}else{
		window.location.href= href;
	}
}
</script>
{/literal}