@CHARSET "UTF-8";
#congzhititle{ width:788px; height:30px; background-image:url(images/gifts/zhibo_4.gif); background-repeat:no-repeat;}
#congzhititle li{ width:120px; height:30px; padding-right:1px; float:left;  text-align:center;}
#congzhititle li a{ width:120px; height:22px; font-size:14px; font-weight:bold; padding-top:8px; display:block;}
#congzhititle li a:hover{ width:120px; height:22px; font-size:14px; text-align:center; font-weight:bold;  padding-top:8px; color:#F00; background-image:url(images/gifts/zhifu_43.gif);background-repeat:no-repeat;}

#congzhititle-t{ width:788px; height:30px; background-image:url(images/gifts/zhibo_5.gif); background-repeat:no-repeat;}
#congzhititle-t li{ width:120px; height:30px; padding-right:1px; float:left;  text-align:center;}
#congzhititle-t li a{ width:120px; height:22px; font-size:14px; font-weight:bold; padding-top:8px; display:block;}
#congzhititle-t li a:hover{ width:120px; height:22px; font-size:14px; text-align:center; font-weight:bold;  padding-top:8px; color:#F00; background-image:url(images/gifts/zhifu_43.gif);background-repeat:no-repeat;}

.congzhititleliahover2{ width:120px; height:22px; font-size:14px; text-align:center; font-weight:bold;  padding-top:8px; color:#F00; background-image:url(images/gifts/zhifu_43.gif);background-repeat:no-repeat;}
#congzhikuang{width:786px;height:auto;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-right-color: #d2d2d2;border-bottom-color: #d2d2d2;border-left-color: #d2d2d2; padding-bottom:30px}
.congzhitext2{ width:auto; height:30px; padding:20px 15px 0px 30px;}
.congzhitext3{ color:#333333;font-weight:bold;text-decoration: underline;}
.congzhitext4{color:#3366cc;}
.congzhitext5{ font-weight:bold; color:#ff0000;}
.congzhitext6{ font-weight:bold; color:#333333;}

.wodetyue{ width:705px; height:18px; border:1px solid #fbdb9a; background-color:#fff7e5; margin-left:15px; padding:10px 30px 10px 20px; font-size:14px; font-weight:bold; color:#333333;}

#congzhinr{ width:760px; margin:15px 0px 0px 15px;}
#congzhinr2{ width:760px; margin:15px 0px 0px 15px;}


#congzhinrmenu{ width:120px; height:200px; float:left;}
#congzhinrmenu li{ width:120px; height:30px; padding-bottom:8px; text-align:center; background-image:url(images/gifts/zhifu_22.gif); background-repeat:no-repeat;}
#congzhinrmenu li a{ width:120px; height:22px; font-size:14px; font-weight:bold; padding-top:8px; display:block;}
#congzhinrmenu li a:hover{ width:120px; height:22px; font-size:14px; text-align:center; font-weight:bold;  padding-top:8px; color:#fff; background-image:url(images/gifts/zhifu_18.gif);background-repeat:no-repeat;}
.congzhinrmenuliahover5{ width:120px; height:22px; font-size:14px; text-align:center; font-weight:bold;  padding-top:8px; color:#fff; background-image:url(images/gifts/zhifu_18.gif);background-repeat:no-repeat;}

#congzhiwenzi{ width:615px;float:right;}
#congzhihh{width:610px;height:30px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color: #cccccc; margin-bottom:10px;}
.congzhihhwenzi{ padding-top:10px; font-size:14px; float:left;}
.congzhihhmoer{ float:right;}
.congzhixian{ font-weight:bold; color:#333333; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #CCCCCC;}


/* 谈窗口 */
#tangchuang{ width:300px; height:210px; font-size:14px; line-height:26px; color:#666666; border:1px solid #fbdb9a; background-color:#fff7e5; padding:5px 30px 15px 50px; margin:200px auto 200px auto;}

.tangchuangwenzi1{ text-align:center; font-weight:bold; color:#333333; line-height:50px;}
.tangchuang2{ padding-top:50px;}


/* 谈窗口2 */
#tangchuang2{ width:390px; height:190px; font-size:14px; line-height:26px; color:#666666; border:5px solid #616161; background-color:#fff7e5; background-image:url(images/gifts/liwu05.jpg); text-align:center; background-repeat:repeat-x; margin:200px auto 200px auto;}
.quedmc{ width:275px; height:50px; margin:0 auto; padding-top:25px; padding-bottom:15px;}
.quedwz{ height:49px;font-size:14px;}
.qiedingbg{ text-align:center;height:27px; background-color:#aaaaaa; padding:12px;}
#tangchuang3 {width:335px; height:150px; font-size:12px; color:#666666; border:5px solid #616161; background-color:#fff7e5; background-image:url(images/gifts/liwu05.jpg); text-align:center; background-repeat:repeat-x; margin:200px auto 200px auto; padding:30px 30px 10px 25px;}
.liwubjing{ width:50px; height:60px;padding:10px 10px 0px 10px; background-image:url(images/gifts/liwu7.png); margin:0 auto;}
.shuzikuangzi{ width:32px; height:18px; border:1px solid #999999; padding-left:3px; padding-top:3px; text-align:center;}
.liwudamingz{ font-family:"微软雅黑"; font-size:18px; color:#000000;}


.genzi{ padding-left:42px; border-left-width: 1px;border-left-style: solid;border-left-color: #CCCCCC;}
.xiantiao{border-left-width: 1px;border-left-style: solid;border-left-color: #CCCCCC;}


#congzhinr table td{border-right-width: 1px;border-bottom-width: 1px;border-right-style: solid;border-bottom-style: solid;
	border-right-color: #e3e3e3;border-bottom-color: #e3e3e3; padding:3px; height:26px;}
#congzhinr table{border-top-width: 1px;border-left-width: 1px;border-top-style: solid;border-left-style: solid;border-top-color: #e3e3e3;border-left-color: #e3e3e3; height:1px;}


/* 礼物页面 */
.wodetyue2{ width:705px; height:26px; border:1px solid #ff9292; background-color:#ffeaea; margin:0px 0px 20px 15px; padding:10px 30px 0px 20px; font-size:12px; color:#cc0000;}
#congzhinr3{ width:770px; margin:10px 0px 0px 15px;}
#liwudankuang{ width:92px; height:130px; float:left; padding-right:17px;}
#congzhinr3 dl{ width:92px; height:92px; display:block;}
#congzhinr3 dl a{text-decoration:none; width:92px; height:92px; float:left; display:block; background-image:url(images/gifts/liwu03.jpg); background-repeat:no-repeat; display:block;}
#congzhinr3 dl a:hover{ width:92px; color:#333333; float:left; display:block; background-image:url(images/gifts/liwu04.jpg);}
#congzhinr3 dt{ width:48px; height:48px; padding:10px 23px 0px 21px; display:block;}

#congzhinr3 dd{ width:92px; height:14px; line-height:14px; text-align:center; display:block; padding-top:8px; display:block;}
.shuliang{ width:92px; height:16px;text-align:center; line-height:16px; color:#FF0000; font-size:14px; font-weight:bold;display:block;}

.liwuzongjz{width:705px; height:60px; line-height:24px; padding-top:20px;text-align:center;font-size:20px;color:#cc0000;}
.text9{ font-family:"微软雅黑"; font-size:22px; color:#333333;}
.text10{ font-family:"微软雅黑"; font-size:22px; color:#cc0000;}

#congzhinr4{ width:760px; margin:15px 0px 0px 15px;}
#congzhinr4 table td{border-right-width: 1px;border-bottom-width: 1px;border-right-style: solid;border-bottom-style: solid;
	border-right-color: #e3e3e3;border-bottom-color: #e3e3e3; padding:3px; height:40px;}
#congzhinr4 table{border-top-width: 1px;border-left-width: 1px;border-top-style: solid;border-left-style: solid;border-top-color: #e3e3e3;border-left-color: #e3e3e3; height:1px;}

.clear{height:0px;line-height:0px;font-size:0px;overflow:hidden;clear:both;}
.kongge{ height:10px; width:auto;}
.jju{ height:10px; width:auto; padding-left:20px;}
#jjjj { height:20px; line-height:20px; margin-top:5px;}
#jjjj a {width:87px; height:20px; padding-left:20px; background:url(images/gifts/anniu_02.gif) no-repeat; float:left;}
#jj_left {float:left; background:#FFE5E5; border:1px solid #EBB3AF; height:25px; line-height:30px; padding-left:5px; margin-right:5px; width:165px;}
#jj_right {float:right; background:#FFF6E5; border:1px solid #FCDA9A; height:25px; line-height:30px; padding-left:5px; width:165px;}

#zhibo {height:25px; line-height:20px; margin-top:10px;}
#zhibo a{ width:67px; height:20px; padding-left:20px; background:url(images/gifts/anniu_02.gif) no-repeat; float:left; margin-right:10px;}

/* 谈窗口 */
#tangchuang{ width:300px; height:210px; font-size:14px; line-height:26px; color:#666666; border:1px solid #fbdb9a; background-color:#fff7e5; padding:5px 30px 15px 50px; margin:200px auto 200px auto;}

.tangchuangwenzi1{ text-align:center; font-weight:bold; color:#333333; line-height:50px;}
.tangchuang2{ padding-top:50px;}


/* 谈窗口2 */
.tangchuang2s{background:url(images/gifts/liwu05.jpg);}
.quedmc{ width:275px; height:50px; margin:0 auto; padding-top:25px; padding-bottom:15px;}
.quedwz{width:100%;text-align:center; height:49px;}
.text8{color: #CC0000;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;}
.qiedingbg{ height:27px; background-color:#aaaaaa; padding:12px;}
#tangchuang3 {width:335px; height:150px; font-size:12px; color:#666666; border:5px solid #616161; background-color:#fff7e5; background-image:url(images/gifts/liwu05.jpg); text-align:center; background-repeat:repeat-x; margin:200px auto 200px auto; padding:30px 30px 10px 25px;}
.liwubjing{ width:50px; height:60px;padding:10px 10px 0px 10px; background-image:url(images/gifts/liwu7.png); margin:0 auto;}
.shuzikuangzi{ width:32px; height:18px; border:1px solid #999999; padding-left:3px; padding-top:3px; text-align:center;}
.liwudamingz{ font-family:"微软雅黑"; font-size:18px; color:#000000;}


