<div class="rank_one">
<ul>
	<li class="fbnum">one</li>
	<li>
	<p>用户名：</p>
	<p>积分：</p>
	<p>性别：</p>
	</li>
	<li>
	<p><a href="http://dz.huoshow.com/home.php?mod=space&uid=126"
		target="_blank">军军2</a></p>
	<p>5000227</p>
	<p>保密</p>
	</li>
	<li class="rank_ts"><a
		href="http://dz.huoshow.com/home.php?mod=space&uid=126"
		target="_blank"><img
		src="http://res1.netwaymedia.com/avatar/156654/small.jpg"
		onerror="this.onerror=null;this.src='http://dz.huoshow.com/uc_server/images/noavatar_small.gif'" /></a></li>
</ul>
</div>
<div class="rank_num">
<ul>
	保密
	</p>
	</li>
	<li>
	<p class="num01">2</p>
	<p class="num02"><a
		href="http://dz.huoshow.com/home.php?mod=space&uid=163"
		target="_blank">156820</a></p>
	<p class="num03">50115</p>
	<p class="num04"></p>
	</li>
	<li class="rank_bgray">
	<p class="num01">3</p>
	<p class="num02"><a
		href="http://dz.huoshow.com/home.php?mod=space&uid=225"
		target="_blank">group3</a></p>
	<p class="num03">29873</p>
	<p class="num04"></p>
	</li>
	<li>
	<p class="num01">4</p>
	<p class="num02"><a
		href="http://dz.huoshow.com/home.php?mod=space&uid=1" target="_blank">admin</a></p>
	<p class="num03">25968</p>
	<p class="num04">男</p>
	</li>
	<li class="rank_bgray">
	<p class="num01">5</p>
	<p class="num02"><a
		href="http://dz.huoshow.com/home.php?mod=space&uid=236"
		target="_blank">220904s</a></p>
	<p class="num03">23930</p>
	<p class="num04"></p>
	</li>
	<li>
	<p class="num01">6</p>
	<p class="num02"><a
		href="http://dz.huoshow.com/home.php?mod=space&uid=239"
		target="_blank">group6</a></p>
	<p class="num03">13394</p>
	<p class="num04"></p>
	</li>
	<li class="rank_bgray">
	<p class="num01">7</p>
	<p class="num02"><a
		href="http://dz.huoshow.com/home.php?mod=space&uid=142"
		target="_blank">gzzl</a></p>
	<p class="num03">12015</p>
	<p class="num04">男</p>
	</li>
	<li>
	<p class="num01">8</p>
	<p class="num02"><a
		href="http://dz.huoshow.com/home.php?mod=space&uid=125"
		target="_blank">156648</a></p>
	<p class="num03">10065</p>
	<p class="num04"></p>
	</li>
	<li class="rank_bgray">
	<p class="num01">9</p>
	<p class="num02"><a
		href="http://dz.huoshow.com/home.php?mod=space&uid=179"
		target="_blank">gines</a></p>
	<p class="num03">10055</p>
	<p class="num04"></p>
	</li>
	<li>
	<p class="num01">10</p>
	<p class="num02"><a
		href="http://dz.huoshow.com/home.php?mod=space&uid=191"
		target="_blank">zhangcj</a></p>
	<p class="num03">8700</p>
	<p class="num04"></p>
	</li>
</ul>
</div>
