<div class="blr" style="width:400px; background:url(/static2/images/gifts/liwu05.jpg)">
	<h3 id="layer_reginfo_t" class="flb">
		<em id="returnmessage4">微博转发</em>
		<span><a href="javascript:;" class="flbc" onclick="hideWindow('register')" title="关闭">关闭</a></span>
	</h3>
	<div>
		<div style="background:#f3f3f3;color:#000;padding:10px 20px 10px 20px;float:left;width:360px"></div>
		<textarea class="input_text headtextarea" style="width:370px;margin-left:10px;" name="content" id="text_content"></textarea>
		<p class="qiedingbg">
    	<a href="javascript:;" id="submitcom" onclick="return !!add();" ><img width="86" height="24" alt="确定"  src="/static2/images/gifts/liwu4.png"></a>
    	<a href="javascript:;" onclick="hideWindow('register')"><img width="86" height="24" alt="取消" src="/static2/images/gifts/liwu5.png"></a>
    	</p>
	</div>
</div>
<script>
(function($){
	window.add = function(){
		$("#submitcom").attr({"onclick":""});
		var textContent = $('#text_content').val();
		var url = '/huoshow/module/weibo/ajax/weibo_user_dynamic_ajax.php?tab=ajax_user_add_forwarding&reply_msg_id=<?php echo $reply_msg_id?>&retransmit_msg_id=<?php echo $retransmit_msg_id?>';
		$.post(url,{name: textContent},function(data) {
			if(data=='1'){
				alert('转发成功。');
				hideWindow('register');
				return;
			}else{
				alert('转发失败');
				hideWindow('register');
			}
		});
		doane();
	}
})(jQuery);
</script>