<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{if $title !=''}
		<meta name="keywords" content="{$tags}" />
	{else}
		<meta name="keywords" content="{$keywords}" />
	{/if}
	<meta name="description" content="{$description}" />
    <title>{if $title!=''}{$title}_<?php echo $pos[1]['name'].'_';?>
	<?php echo $pos[0]['name']; ?>频道_{else}<?php
    $seoname='';
    foreach($pos as $k=>$v){
		$seoname = $v['name'].'_'.$seoname;
	}
	echo $seoname;
    ?>{/if}{$SYSTEM[sitename]}</title>
<link href="{WWW_URL}img/templates/huoshow02/css/global.css" rel="stylesheet" type="text/css" />
<link href="{WWW_URL}img/templates/huoshow02/css/picset.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.cookie.js"></script>
<script type="text/javascript" src="{IMG_URL}templates/huoshow_01/js/basic.js"></script>
<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
<script type="text/javascript" src="{DX_URL}static2/js/huoshow_common.js"></script>
<script type='text/javascript' src='http://misc.huoshow.com/www/delivery/spcjs1.php?id=1'></script>
<!--[if gte IE 6]>
<link href="css/star_style_Below_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>

<body  class="body_bg" id="star_pic">
<!--Site Header-->
	<!--{template 'system/login_bar.html'}-->

<!--Site Header End-->
<div class="nav_body">
	<div class="nav_bg">
		<h1 class="channel_logo"><a href="{WWW_URL}pic/" title="火秀美图首页">火秀美图频道</a></h1>
		<div id="sub_channel">
			<ul>
				<li><a href="{WWW_URL}pic/moviebeauty/">影视美图</a></li>
                <li><a href="{WWW_URL}pic/musicbeauty/">音乐美图</a></li>
                <li><a href="{WWW_URL}pic/photo/">明星写真</a></li>	  	        
				<li><a href="{WWW_URL}pic/atlas/">赛事图集</a></li>
				<li><a href="{WWW_URL}pic/beauty/">游戏图集</a></li>
				<li><a href="{WWW_URL}pic/scenic/">风景名胜</a></li>
			</ul>
		</div>
	</div>
</div>
