

<div class="itemtitle" style="padding-left:15px;">
<ul class="tab1">
	<li class="current"><a href="?action=huoshow&operation=weibo"><span>微博推荐用户列表</span></a></li>
</ul>
<ul class="tab1">
	<li class="current"><a href="?action=huoshow&operation=addrecommenduid"><span>添加微博推荐用户</span></a></li>
</ul>
<ul class="tab1">
	<li class="current"><a href="?action=huoshow&operation=weibo&tab=realtimedymic"><span>实时动态</span></a></li>
</ul>
<ul class="tab1">
	<li class="current"><a href="?action=huoshow&operation=weibo&tab=userlist"><span>用户列表</span></a></li>
</ul>
</div>