<!--{template 'system/header_channel.html'}-->
<link href="{IMG_URL}templates/{TEMPLATE}/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />

<script type="text/javascript">

var contentid = {$contentid};	
</script>

<!-- *******************  start box   *********************** -->

<div id="ct" class="wp cl">
    <div class="article_left" style="line-height:25px;border-right:solid 0px;">
		
			<div class="h">
				<h1 class="ph">{$title}</h1>
				<p class="xg1">
					{date('Y-m-d H:i',$published)}<span class="pipe">|</span>
					发布者: <a href="home.php?mod=space&uid=$article[uid]">{$editor}</a><span class="pipe">|</span>
					查看数: {$pv}<span class="pipe">|</span>
					评论数: <em class="comments">{$comments}</em>
					<!--{if $source_name}-->
	  				<span>来源：<!--{if $source_url}--><a href="{$source_url}" target="_blank"><!--{/if}--><!--{if $source_logo}--><img src="{$source_logo}" title="{$source_name}"/><!--{/if}--><!--{if $source_url}--></a><!--{/if}--><!--{if $source_url}--><a href="{$source_url}" target="_blank"><!--{/if}-->{$source_name}<!--{if $source_url}--></a><!--{/if}--></span>
	                <!--{/if}-->
				</p>
			</div>
			
			

			<div class="d">
			<table cellpadding="0" cellspacing="0" width="100%">
			<tr>
			<td align="center">
			<div class="cont-detail fs-small" id="ctrlfscont">
				<p style="text-align:center"><!--{template 'video/player/flv.html'}--></p>				
			</div>
			<!--{if $description}--><div style="text-align:left;"><strong>摘要</strong>: {strip_tags($description)}</div><!--{/if}-->
			
			</td>
			</tr>
			</table>
			</div>
			<!--{if $aimgs}-->
				<script type="text/javascript" reload="1">aimgcount[{$content[pid]}] = [{echo implode(',', $aimgs[$content[pid]]);}];attachimgshow($content[pid]);</script>
			<!--{/if}-->

		
		
		
		<!--{if $keywords}--><div class="bm">
        <p class="txt-l f-l fs-12 art-tags">Tags：<!--{loop $keywords $r}--><a href="{$r[url]}">{$r[tag]}</a> <!--{/loop}--></p></div>
		<!--{/if}-->		
		<div class="hr-h10"></div>
		<!--- start related --->
		<!--{if $keywords || $related}-->
        <!--<?php $related_count = 0; ?>-->
        
		<div class="arti-rel" style="display:none;">
			<div class="bm">
			<div  style="background: #fcfcfc; width: 100%; border: 1px solid rgb(238, 238, 238);line-height:25px;">
				<span style="font-weight:bold;font-size:15px;padding-left:5px;">相关阅读</span>			
					<ul class="xl cl" style="padding-left:10px;">
					<!--{if $related}-->
						<!--{loop $relateds $k $r}-->
                        <!--<?php $related_count++; ?>-->
						<li><a href="{$r[url]}">{$r[title]}</a><span class="date">{$r[time]}</span></li>
                        <!--{/loop}-->
					<!--{else}-->
						 <!--{content_related contentid="$contentid" tags="$tags" size="10"}-->
                         <!--<?php $related_count++; ?>-->
                         <li><a href="{$r[url]}">{$r[title]}</a><span class="date">{date('Y-m-d', $r['published'])}</span></li>
						 <!--{/content_related}-->
					<!--{/if}-->
					</ul>
					</div>
				
			</div>
		</div>
        <!--<?php echo $related_count; ?>-->
        <!--{if $related_count}-->
        <style type="text/css">.arti-rel {display:block !important;}</style>
        <!--{/if}-->
		<!--{/if}-->
		<!--- end related --->
        
		<!--- start mood --->
		<!--{template 'article/mood.html'}-->
		<!--- end mood --->
		
		<!--- start dig --->
		
		<div class="digg-share">
			<div class="digg f-l">
				<a id="supports" href="javascript:digg.set({$contentid},1)"><span>0</span><span>0%</span></a>
				<a id="againsts" href="javascript:digg.set({$contentid},0)" class="againsts"><span>0</span><span>0%</span></a>
			</div>
			<div class="share-tool f-r">
				<a href="javascript:;" onclick="copyToClipboard(window.location.href);return false">【复制网址】</a>
				<a href="{WWW_URL}print.php?contentid={$contentid}">【打印】</a>
				<span>分享到
					<a href="javascript:(function(){window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent('{strip_tags($title)}'+'  {strip_tags($description)}')+'&url='+encodeURIComponent(location.href)+'&appkey='+SINA_APPKEY,'_blank','width=450,height=400');})()"><img src="{IMG_URL}templates/{TEMPLATE}/images/sina.gif" title="新浪微博"/></a>
					<a href="javascript:(function(){window.open('http://v.t.qq.com/share/share.php?title='+encodeURIComponent('{strip_tags($title)}'+'  {strip_tags($description)}')+'&url='+encodeURIComponent(location.href)+'&source='+QQ_SOURCEID+'&pic=','转播到腾讯微博', 'width=700, height=580, top=320, left=180, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no'); })()"><img src="{IMG_URL}templates/{TEMPLATE}/images/qq.png" title="腾讯微博"/></a>
					
					<a href="javascript:u=location.href;t='{strip_tags($title)}';c = %22%22 + (window.getSelection ? window.getSelection() : document.getSelection ? document.getSelection() : document.selection.createRange().text);var url=%22http://cang.baidu.com/do/add?it=%22+encodeURIComponent(t)+%22&iu=%22+encodeURIComponent(u)+%22&dc=%22+encodeURIComponent('{strip_tags($description)}')+%22&fr=ien#nw=1%22;window.open(url,%22_blank%22,%22scrollbars=no,width=600,height=450,left=75,top=20,status=no,resizable=yes%22); void 0"><img src="{IMG_URL}templates/{TEMPLATE}/images/baidu.gif" title="百度搜藏"/></a>
					<a href="javascript:u='http://share.xiaonei.com/share/buttonshare.do?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{strip_tags($title)}'.substring(0,76));window.open(u,'xiaonei','toolbar=0,resizable=1,scrollbars=yes,status=1,width=626,height=436');void(0)" title="人人网"/></a>
					<a href="javascript:window.open('http://shuqian.qq.com/post?from=3&title='+encodeURIComponent('{strip_tags($title)}'.substring(0,76))+'&uri='+encodeURIComponent(location.href)+'&jumpback=2&noui=1','favit','width=930,height=470,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes');void(0)"><img src="{IMG_URL}templates/{TEMPLATE}/images/qzone.gif" title="Qzone" /></a>
					<a href="javascript:d=document;t=d.selection?(d.selection.type!='None'?d.selection.createRange().text:''):(d.getSelection?d.getSelection():'');void(kaixin=window.open('http://www.kaixin001.com/~repaste/repaste.php?&rurl='+escape(d.location.href)+'&rtitle='+escape('{strip_tags($title)}')+'&rcontent='+escape('{strip_tags($description)}'),'kaixin'));kaixin.focus();"><img src="{IMG_URL}templates/{TEMPLATE}/images/kaixin.gif" title="开心网"/></a>
					<a href="javascript:var%20u='http://www.douban.com/recommend/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{strip_tags($title)}'.substring(0,76));window.open(u,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330');void(0)"><img src="{IMG_URL}templates/{TEMPLATE}/images/douban.gif" title="豆瓣网"/></a>
				</span>
				
			</div>
		</div>
		
		<!--- end dig --->
		<div class="hr-h10"></div>
		<!--{if $allowcomment}-->
		<!-- *******************  start 评论   *********************** -->
		<div id="comment">
				<!--{template 'article/comment.html'}-->
		</div>
		
		<!-- *******************  end 评论   *********************** -->
		<!--{/if}-->
	</div>
	<!-- *******************  end 内容区   *********************** -->

	<div class="article_right">
				<!-- start 热门评论 -->
				<div style="border:solid 1px #eeeeee;">
					<div class="mode-tabs padd-r-0" style="background-position: left -0px;width:315px;">
						<h2 class="cor-c00">新闻排行</h2>
						<ul id="tab-title-4" class="fs-12 f-r">
							<li><a class="tabs-focus" href="#rank_day">日</a></li>
							<li><a href="#rank_week">周</a></li>
							<li><a href="#rank_month">月</a></li>
						</ul>
					</div>
					<div id="tab-cont-4" class="padd-tb-8">
						<div class="hot-subject-wrap" id="rank_day">
							<ul>
							<!--{content published="1" orderby="comments desc" size="10"}-->
								<li>
									<span>{$r['comments']}</span>
									<p><a href="{$r['url']}">{$r['title']}</a></p>
									<div class="hr-dotted hr-h6 hot-subject-hr"></div>
								</li>
							<!--{/content}-->
							</ul>
						</div>
						<div class="hot-subject-wrap" style="display: none;" id="rank_week">
							<ul>
								<!--{content published="7" orderby="comments desc" size="10"}-->
								<li>
									<span>{$r['comments']}</span>
									<p><a href="{$r['url']}">{$r['title']}</a></p>
									<div class="hr-dotted hr-h6 hot-subject-hr"></div>
								</li>
								<!--{/content}-->
							</ul>
						</div>
						<div class="hot-subject-wrap" style="display: none;" id="rank_month">
							<ul>
								<!--{content published="30" orderby="comments desc" size="10"}-->
								<li>
									<span>{$r['comments']}</span>
									<p><a href="{$r['url']}">{$r['title']}</a></p>
									<div class="hr-dotted hr-h6 hot-subject-hr"></div>
								</li>
								<!--{/content}-->
							</ul>
						</div>
					</div>
				</div>
				<!-- end 热门评论 -->
				<div class="hr-h10"></div>
			</div>
	

</div>




<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/tabs.js"></script>
<script type="text/javascript" src="{IMG_URL}apps/digg/js/digg.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="{IMG_URL}templates/{TEMPLATE}/css/imagesbox.css" media="screen" />
<script type="text/javascript">
var content = '';//第一页内容缓存
var context = '';//全文内容缓存
var isfulltext = false;
(function($){
$(function(){
	digg.get(contentid);
	content = $('#ctrlfscont').html();
	var font = $.cookie('font');//根据cookie设置字体大小并初始化按钮
	if(font){
		$('#ctrlfssummary,#ctrlfscont').addClass(font);
		if(font == 'fs-big'){
		 	$('#bfont').addClass('cor-current');
			$('#sfont').removeClass('cor-current');
		}
	}
	$.getJSON(APP_URL+'?app=system&controller=content&action=stat&jsoncallback=?&contentid='+contentid, function(data){
		$('#pv').html(data.pv);
	});
	
	$('form[id^="vote"]').each(function(){
		var contentid = $(this).find('>input[name="contentid"]:hidden').val();
		var maxoptions = $(this).find('>input[name="maxoptions"]:hidden').val();
		$(this).submit(function(){
			var checkeds = $(this).find('input:checked').length;
			if(checkeds == 0){
				alert('请选择投票选项');
				return false;
			}
			if(maxoptions){
				if(checkeds > parseInt(maxoptions)){
					alert('最多允许选'+maxoptions+'项');
					return false;
				}
			}
		})
	})
})
})(jQuery);
(function($){
window.fulltext=function (){  //单页阅读
		if(context =='')
		$.getJSON(APP_URL+'?app=article&controller=article&action=fulltext&jsoncallback=?&contentid='+contentid,function(data){
			context = data.content;
			$('#ctrlfscont').html(data.content);
			$('#show-all-cont').html('分页阅读').parent().siblings().hide();
			$('.bor-ccc').hide();
			isfulltext = true;
			holdpic();
		});
		else{
			$('#ctrlfscont').html(isfulltext?content:context);
			$('#show-all-cont').html(isfulltext?'单页阅读':'分页阅读').parent().siblings().toggle(isfulltext === true);
			isfulltext = (isfulltext === false);
			$('.bor-ccc').show();
			holdpic();
		}
}
window.holdpic = function (){//控制内容区域的的图片大小并为过大的图片添加查看原图
	var options = {
		imageLoading:IMG_URL+'js/lib/lightBox/lightbox-ico-loading.gif',
		imageBtnPrev:IMG_URL+'js/lib/lightBox/lightbox-btn-prev.gif',
		imageBtnNext:IMG_URL+'js/lib/lightBox/lightbox-btn-next.gif',
		imageBtnClose:IMG_URL+'js/lib/lightBox/lightbox-btn-close.gif',
		imageBlank:IMG_URL+'js/lib/lightBox/lightbox-blank.gif'
	};
	$('#ctrlfscont').find('img').each(function(){
		var img = this;
		if (img.width>608) {
			img.style.width = '600px';
			$(img).removeAttr('height');
			var aTag = document.createElement('a');
			aTag.href = img.src;
			$(aTag).addClass('bPic')
			.insertAfter(img).append(img)
			.lightBox(options);
		}
	});
}
$(window).load(function(){
	holdpic();
});
window.copyToClipboard = function (txt) {  //复制网址
	if(window.clipboardData) {
		window.clipboardData.clearData();
		window.clipboardData.setData("Text", txt);
		alert("复制链接成功！");
	} else if(navigator.userAgent.indexOf("Opera") != -1) {
		window.location = txt;
	} else if (window.netscape) {
		try {
			netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
		} catch (e) {
			alert(" 被浏览器拒绝！\n请在浏览器地址栏输入'about:config'并回车\n然后将 'signed.applets.codebase_principal_support'设置为'true'");
		}
		var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);
		if (!clip)
		return;
		var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);
		if (!trans)
		return;
		trans.addDataFlavor('text/unicode');
		var str = new Object();
		var len = new Object();
		var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);
		var copytext = txt;
		str.data = copytext;
		trans.setTransferData("text/unicode",str,copytext.length*2);
		var clipid = Components.interfaces.nsIClipboard;
		if (!clip)
		return false;
		clip.setData(trans,null,clipid.kGlobalClipboard);
		alert("复制链接成功！");
	}
}

window.changeFont = function (t){ //改变字号
	var tosmall = (t.innerHTML=='小')?true:false;
	if(tosmall&&$(t).hasClass('cor-current')) return;
	$('.cor-current').removeClass('cor-current');
	$(t).addClass('cor-current');
	$.cookie('font',tosmall?'fs-small':'fs-big',{expires:300,domain:WWW_URL});
	$('#ctrlfssummary,#ctrlfscont').removeClass(tosmall?'fs-big':'fs-small').addClass(tosmall?'fs-small':'fs-big');
}
})(jQuery);
</script>

<!--{template 'system/footer.html'}-->

