<div class="hr-h10"></div>
<div id="foot" class="column col-960">
		<div id="foot_link"> 
		   <a href="{WWW_URL}about/">关于我们</a> | <a href="{WWW_URL}about/contact.shtml">联系我们</a> | <a href="{WWW_URL}about/join.shtml">加入我们</a> | <a href="{WWW_URL}about/copyright.shtml">版权声明</a> | <a href="{WWW_URL}about/wap.shtml">手机访问</a> | <a href="{WWW_URL}map.php">网站地图</a> | <a href="{APP_URL}?app=guestbook">留言反馈</a>
		</div>
		<p>客服电话：010-62961030  Email：service#cmstop.com (#→@)<br />
           Copyright @ cmstop.com All Rights Reserved.  北京思拓合众科技有限公司 版权所有<br />
		   <a href="http://www.cmstop.com" target="_blank">Powered by CmsTop Public 2010</a> 京ICP备09082107号
		</p>
</div>