		<!-- *************************** start 顶部小条 ************************ -->
		<div class="image-top">
			<div class="column">
				<div class="header-top">
			<div class="login f-l">
				<?php if($_userid) {?>
					<div id="login_status">
						<em><?php echo $_username;?></em>
						<span>，<a href="{APP_URL}{url('member/panel/index')}">会员中心</a>|<a href="{APP_URL}{url('member/index/logout')}">退出</a> <a href="{WWW_URL}rss.php"><img src="{IMG_URL}images/rss.gif" class="top-rss" /></a></span>
					</div>
				<?php } else { ?>
					<div id="logout_status">
						<em></em>
						<span><a href="{APP_URL}{url('member/index/login')}">登录</a>|<a href="{APP_URL}{url('member/index/register')}">注册</a><a href="{WWW_URL}rss.php"><img src="{IMG_URL}images/rss.gif" class="top-rss" /></a></span>
					</div>
				<?php } ?>
			</div>

			<div class="f-r sear-top">
				 <form name="search" id="search" method="GET" action="{APP_URL}{url('search/index/search')}">
			    <input type="hidden" name="app" value="search"/>
			    <input type="hidden" name="controller" value="index"/>
			    <input type="hidden" name="action" value="search"/>
				<input type="hidden" name="type" value="all"/>
			   	<p class="mode-sear"><input type="input" onfocus="this.value=(this.value=='全文检索')?'':this.value" onblur="this.value=(this.value=='')?'全文检索':this.value" name="wd" value="全文检索" class="sear-box" /> <input type="submit" value="检索" class="sear-btn f-r" title="去搜索" /> </p>
		    </form>
			</div>
			</div>
			</div>
		</div>
		<!-- *************************** end 顶部小条 ************************ -->
		<!-- *************************** start LOGO + 导航 ************************ -->
		<div class="column logo-menu">
			<div class="hr-h10"></div>
			<div class="logo-box f-l">
				<h1><a href="{WWW_URL}" title="回首页">CmsTop</a></h1>
				<p>顶级新媒体技术提供商</p>
			</div>
			<div class="ad-area-3 f-r">
				<span><?php include ROOT_PATH.'section/23.html';?><!--广告：顶部banner1 --></span>
				<span><?php include ROOT_PATH.'section/24.html';?><!--广告：顶部banner1 --></a></span>
			</div>