<div class="col-r-extra w-300">
				<div class="bor-9fc">
					<div class="mode-head">
						<h2 class="cor-c00">每日推荐</h2>
					</div>
					<div class="mode-txtlink line-h22 cor-4545">
						<?php include ROOT_PATH."section/16.html";?><!-- 文章页：每日推荐 -->
					</div>
				</div>
				<div class="hr-h6"></div>
				<div class="ad-area-2">
					<?php include ROOT_PATH."section/28.html";?><!--内容页右侧banner -->
				</div>
				<div class="hr-h6"></div>
				<div class="bor-9fc ie6">
					<div class="mode-head">
						<h2 class="cor-c00">焦点图片</h2>
					</div>
					<div class="mode-imgtxt">
					<?php include ROOT_PATH."section/17.html";?><!-- 文章页：焦点图片 -->
				</div>
				</div>
				<div class="hr-h6"></div>
				<div class="bor-9fc">
					<div class="mode-tabs padd-r-0">
						<h2 class="cor-c00">排行榜</h2>
						<ul id="tab-title-1" class="fs-12 f-r">
							<li><a class="tabs-focus" href="{WWW_URL}rank.php">点击</a></li>
							<li><a href="{WWW_URL}rank.php">评论</a></li>
							<li><a href="{WWW_URL}digg.php">Digg</a></li>
						</ul>
					</div>
					<div id="tab-cont-1" class="padd-tb-8">
						<div class="mode-rank">
					<?php include ROOT_PATH."section/19.html";?><!-- 点击排行 -->
						</div>
					<div style="display: none;" class="mode-rank">
					<?php include ROOT_PATH."section/20.html";?><!-- 评论排行 -->
		
					</div>
					<div style="display: none;" class="mode-rank">
					<?php include ROOT_PATH."section/21.html";?><!-- Digg排行 -->

					</div>
					</div>
				</div>
			</div>