<!--{template 'system/header_channel.html'}-->
<link href="{IMG_URL}templates/{TEMPLATE}/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />




<div id="ct" class="wp cl">
    <div class="article_left" style="line-height:25px;border-right:solid 0px;">
		
			<!-- *******************  start 列表   *********************** -->
			<div class="list_list">			
			   <ul >
			       <!--{content catid="$catid" orderby="published desc" size="$pagesize" page="$page"}-->
		           <li><a href="{$r[url]}" target="_blank" style="color:{$r[color]};font-size:14px;">{$r[title]}</a><span class="date">{date('n月j日 G:i', $r['published'])}</span></li>  {if $i>0 && $i%5==0} <li class="hr-h10" style="list-style: none;"></li>{/if}
				   <!--{/content}-->
				</ul>
			</div>
			<!-- *******************  end 列表   *********************** -->
			<!-- *******************  start 分页   *********************** -->
			<div class="page">
					<ul >
	  				  <!--{pages($total, $page, $pagesize, 2, $urlrule)}--> 
					</ul>				
			</div>
			<!-- *******************  end 列表   *********************** -->
			
	</div>
	<div class="article_right">
				<!-- start 热门评论 -->
				<div style="border:solid 1px #eeeeee;">
					<div class="mode-tabs padd-r-0" style="background-position: left -0px;width:315px;">
						<h2 class="cor-c00">新闻排行</h2>
						<ul id="tab-title-4" class="fs-12 f-r">
							<li><a class="tabs-focus" href="#rank_day">日</a></li>
							<li><a href="#rank_week">周</a></li>
							<li><a href="#rank_month">月</a></li>
						</ul>
					</div>
					<div id="tab-cont-4" class="padd-tb-8">
						<div class="hot-subject-wrap" id="rank_day">
							<ul>
							<!--{content published="1" orderby="comments desc" size="10"}-->
								<li>
									<span>{$r['comments']}</span>
									<p><a href="{$r['url']}">{$r['title']}</a></p>
									<div class="hr-dotted hr-h6 hot-subject-hr"></div>
								</li>
							<!--{/content}-->
							</ul>
						</div>
						<div class="hot-subject-wrap" style="display: none;" id="rank_week">
							<ul>
								<!--{content published="7" orderby="comments desc" size="10"}-->
								<li>
									<span>{$r['comments']}</span>
									<p><a href="{$r['url']}">{$r['title']}</a></p>
									<div class="hr-dotted hr-h6 hot-subject-hr"></div>
								</li>
								<!--{/content}-->
							</ul>
						</div>
						<div class="hot-subject-wrap" style="display: none;" id="rank_month">
							<ul>
								<!--{content published="30" orderby="comments desc" size="10"}-->
								<li>
									<span>{$r['comments']}</span>
									<p><a href="{$r['url']}">{$r['title']}</a></p>
									<div class="hr-dotted hr-h6 hot-subject-hr"></div>
								</li>
								<!--{/content}-->
							</ul>
						</div>
					</div>
				</div>
				<!-- end 热门评论 -->
				<div class="hr-h10"></div>
			</div>
	
</div>


<!-- *************  end content************* -->
<!-- 版权部份 -->
<!--{template 'system/footer.html'}-->
<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/tabs.js"></script>