<div class="room-mod" id="fans_rank">
  <div class="room-mod-head">
    <ul class="fans-rank-tabs">
      <li onclick="getFansRankDay();">本场粉丝榜</li>
      <li onclick="getFansRankMonth();" class="curr">最近30天粉丝榜</li>
      <li onclick="getFansRankAll();">总粉丝榜</li>
    </ul>
  </div>
  <div class="room-mod-body">
    <div id="fans_list_day" class="fans-rank-list">&nbsp;</div>
    <div id="fans_list_month" class="fans-rank-list"><div class="loading"><span></span></div></div>
    <div id="fans_list_total" class="fans-rank-list"><div class="loading"><span></span></div></div>
  </div>
</div>
