<div id="notice_box">
  <iframe src="javascript:'';" frameborder="0" scrolling="no" style="width:100%;height:100%;position:absolute;"></iframe>
  <div class="notice-box-body">
    <div id="notices_t">
      <div id="notices_ex">
        <iframe id="notices_ex_if" src="javascript:'';" frameborder="0" scrolling="no" style="width:100%;position:absolute;"></iframe>
        <ul id="notices"></ul>
      </div>
      <div class="notices-ex-button">
        <iframe src="javascript:'';" frameborder="0" scrolling="no" style="width:100%;height:100%;position:absolute;"></iframe>
        <em>&nbsp;</em>
      </div>
    </div>
    <label>公告</label>
    <p id="notice_first">暂无公告</p>
  </div>
</div>
