<!--{if $_G[uid] == $space[uid] || $usertype == 1}-->
<div style="margin-top:10px;">
  <span style="color:#FF1063;margin-left:7px;">活跃天数：</span>
 <!--{if $active['active'] == ''}-->0天
 <!--{else}-->{$active['active']}&nbsp;天&nbsp;
  <!--{/if}-->
  <span style="color:#FF1063;padding-left:10px;">比赛时长：</span>
  <!--{if $month_time == ''}-->00:00:00
  <!--{else}-->{$month_time}
  <!--{/if}-->
</div>
<!--{/if}-->

<div style="clear:both;"></div>

<div id="owner_info">
  <div id="grxingxkuang">
		<div class='xunzhang'>
			<span>勋章：</span>
			<!--{if $hoormedal}-->
			<!--{loop $hoormedal $key $value}-->
			<!--{if $value[medalid] > 10}-->
			<img title="{$value[description]}" src="static/image/common/{$value[image]}" width="38px" height="52px"/>
			<!--{/if}-->
			<!--{/loop}-->
			<!--{else}-->
			您没有获得勋章
			<!--{/if}-->
		</div>
    <div class="jiangbt">个人简介</a>
	</div>
    <div class="mykuang">
      <div class="mykuang-l">
        <a target="_blank" href={DX_URL}{$space['uid']} class="avatar"><img src="{$avatar}" class="avatar"/></a>
        <p>
        <img src="static/image/common/pt_icn.png"/>
        <a href="{DX_URL}{$space['uid']}" target="_blank">访问Ta的空间</a>
        </p>
      </div>
      <ul>
        <li style="width:350px;">
        <span class="text5 owner-nick"><!--{if $space[nickname]}-->$space[nickname]<!--{else}-->$space[username]<!--{/if}--></span>
		<!--{if $space['uid'] != $_G['uid']}-->
		<!--{if $is_att !=1}-->
		<span id='live_follow' style="padding-left:35px;"><a href="/huoshow/module/weibo/ajax/weibo_user_dynamic_ajax.php?tab=ajax_user_follow&dst_uid={$space['uid']}&type=live"
				onclick="{if $_G['uid']}showWindow('register', this.href)
						{else}showWindow('login', 'member.php?mod=logging&action=login');{/if}">
				<img src="/static2/images/att.gif"></a></span>
		<!--{/if}-->
		<!--{/if}-->
        </li>
        <li>
        <span class="textm">明星等级：</span>
          <!--{if $charl[$chartmLevel['level']]['valuelower'] < $anchorInfo['charm']}-->
          	<span onmouseout="this.className=''" onmouseover="this.className='hover'" style="position:relative;">
          	<strong> <span style="width:100%;" class="column" id="col1">100%</span> </strong>
          	<span class="col_tips">魅力值:{$anchorInfo['charm']}</span>
          	</span>
          	<img src="static2/images/charmlevel/{echo $chartmLevel[level]}.png" />
          <!--{else}-->
          	<img src="static2/images/charmlevel/{$chartmLevel[level]}.png"/>
        	<span onmouseout="this.className=''" onmouseover="this.className='hover'" style="position:relative;">
          	<strong> <span style="width:{$charzhi}%;" class="column" id="col1">{$charzhi}%</span> </strong>
          	<span class="col_tips">魅力值:{$anchorInfo[charm]} 距离升级还需 {$char} 魅力值</span>
          	</span>
          	<img src="static2/images/charmlevel/{echo $chartmLevel[level]+1}.png" style="opacity:{echo 0.2+(1-0.2)*($charzhi/100)};filter:alpha(opacity={echo 20+(1-0.2)*$charzhi});" />
          <!--{/if}-->
        </li>
        <li>
        <span class="textm"> 富豪等级：</span>
          <!--{if $huol[$huoshowlevel['level']]['valuelower'] < $anchorInfo['huoshow']}-->
          	<span onmouseout="this.className=''" onmouseover="this.className='hover'" style="position:relative;">
          	<strong> <span style="width: 100%;" class="column" id="col1">100%</span> </strong>
          	<span class="col_tips">豪爽度:{$anchorInfo['huoshow']}</span>
          	</span>
        	<img src="static2/images/huoshowlevel/{echo $huoshowlevel[level]}.png" />
          <!--{else}-->
          	<img src="static2/images/huoshowlevel/{$huoshowlevel[level]}.png"/>
        	<span onmouseout="this.className=''" onmouseover="this.className='hover'" style="position:relative;">
          	<strong> <span style="width: {$huozhi}%;" class="column" id="col1">{$huozhi}%</span> </strong>
          	<span class="col_tips">豪爽度:{$anchorInfo['huoshow']} 距离升级还需消费  {$huoshow} 火币</span>
          	</span>
        	<img src="static2/images/huoshowlevel/{echo $huoshowlevel[level]+1}.png" style="opacity:{echo 0.2+(1-0.2)*($huozhi/100)};filter:alpha(opacity={echo 20+(1-0.2)*$huozhi});" />
          <!--{/if}-->
        </li>

        <li style="float:left; width:80px;">
        性别：<!--{if $space[gender]==0}-->保密<!--{/if}--><!--{if $space[gender]==1}-->男<!--{/if}--><!--{if $space[gender]==2}-->女<!--{/if}-->
        <!--{if !empty($space[resideprovince])}-->
        </li>
        <li style="float:left;">
        居住城市：{$space[resideprovince]}<!--{if !empty($space[residecity])}-->--{$space[residecity]}<!--{/if}--><!--{/if}-->
        </li>
      </ul>
    </div>

  </div>

  <!--{if !empty($space[spacenote])}-->
  <div>
    <div class="jiangbt">个性签名</div>
    <div class="text6">{$space[spacenote]}&nbsp;</div>
  </div>
  <!--{/if}-->
</div>


<div class="gift">
  <!--{if $isGiftBag > 0}-->
  <div class="jiangbt">神秘礼物排名</div>
  <div>
  	<ul>
	  <!--{loop $openmysticalgift $k $value}-->
	  <li>
	  <img src="/static2/images/gift/{echo $value[img]}" title="价格：{$value[giftprice]}火币/个"/>
  		<span class="tming">
		{$value[party_gift_name]}</span><br>
  		<span class="dming">{$value[gift_num]}(第{$value[top]}名)</span>
	  </li>
	  <!--{/loop}-->
	</ul>
  </div>
  <!--{/if}-->
  <div style="clear:both;"></div>
  <div class="jiangbt">普通礼物排名</div>
  <div id="mod_gift_body">
    <div class="loading"><span>&nbsp;</span></div>
  </div>
  <div style="clear:both;">&nbsp;</div>
</div>

<div style="display:none">
  <p class="jiangbt">我的动态</p>
  <!--{loop $list $day $values}-->
  <!--{if $_GET['view']!='hot'}-->
  <h4 class="et">
    <!--{if $day=='yesterday'}-->{lang yesterday}
    <!--{elseif $day=='today'}-->{lang today}
    <!--{else}-->$day
    <!--{/if}-->
  </h4>
  <!--{/if}-->
  <ul class="el">
    <!--{loop $values $value}-->
    <!--{template home/space_feed_li}-->
    <!--{/loop}-->
  </ul>
  <!--{/loop}-->
</div>
<!--动态信息-->
{template show/show_user_dynamic}