<!-- 转藏/采集/上传成功弹窗 -->
<div id='repin-success-dialog' class="dialog">
	<div class="header">
		{if $transfer_type == 3}
		<h2 class='title'>转藏成功</h2>
		{elseif $transfer_type == 2}
		<h2 class='title'>采集成功</h2>
		{elseif $transfer_type == 1}
		<h2 class='title'>上传成功</h2>
		{/if}
		<a id='close-dialog' class="close" href='javascript:;'><strong>Close</strong></a>
	</div>
	<div class="repin-success">
		<h3><span>恭喜，你已经{if $transfer_type == 3}成功转藏{elseif $transfer_type == 2}成功采集{elseif $transfer_type == 1}成功上传{/if}到 <a href="/index.php?m=community&c=index&a=myshow_show_album&album_id={$albumid}" target="_blank">{$albumname[0][album_name]}</a></span></h3>
		<p class="close-tips">2 秒后窗口自动关闭！</p>
		{if $transfer_type==3}
		<div class="pin-operations"><a class="view-pin" href="/index.php?m=community&c=index&a=show&share_id={$share_id}">查看该分享</a></div>
		{/if}
	</div>
	<script>
		(function($){
			var $upload_dialog_closer = $('#upload-dialog-closer');
			setInterval(function(){
				// 如果是批量上传页面，则返回上一页
				if($upload_dialog_closer.length){
					$upload_dialog_closer.click();
					//location = document.referrer;
				}else{
					$('#close-dialog').click();
				}
			}, 2000);
		})(jQuery);
	</script>
</div>