.body_bg { background:#f4e7f9;}
#mian{ width:auto; margin:0 auto;}
#mian .box{ width:auto;background:url(../images/gqmusic/ha7_bj.jpg) no-repeat;;margin:0 auto;background-position:center 0;height: auto;}
.meili_nr{ width:960px;padding-top:320px; margin: 0 auto;}


.gq_music_left{ width:340px; background:#FFF;  border:1px solid #f9d0fd; float:left;}
.gq_music_left_bt{ background:url(../images/gqmusic/gq_music_bj.jpg) left 145px; display:inline-block; width:340px; height:35px;}
.gq_music_left_bt h1{ line-height:35px; font-size:16px; color:#FFF; text-indent:20px; font-family: Arial, Helvetica, sans-serif;}

.gq_music_daoyu{ background:#FFF; width:950px; margin-bottom:10px; line-height:24px; padding-left:10px; border:1px solid #ebc2fb; color:#8310af; padding:10px 0 10px 10px;}
.gq_music_right{ width:610px;float:right;}
.gq_music_right_bt{ background:url(../images/gqmusic/gq_music_bj.jpg) left 196px; display:inline-block; width:610px; height:35px;}
.gq_music_right_bt h1{ line-height:35px; font-size:16px; color:#FFF; text-indent:20px; font-family: Arial, Helvetica, sans-serif;}
.gq_music_nh{ width:610px; height:251px; margin-bottom:10px; background:#FFF; border:1px solid #f9d0fd;}

.mtv_zt_video_nr{ margin-top:10px;}
.mtv_zt_video_list { float:left; width:320px;  display:inline; margin-bottom:15px; }
.mtv_zt_video_list li {float:left; width:145px;text-align:center; display:inline; margin-left:15px; height:140px;}
.gq_music_bg {width:145px; height:107px; background:url(../images/gqmusic/public_bj.jpg) right 455px;display:inline-block; padding-top:3px; margin-top:5px;}
.gq_music_tw{ width:580px; margin:10px;}
.gq_music_pic{ float:left;}
.gq_music_wenzi{ width:350px; float:right; line-height:24px; color:#b5a2bd;}
.zise{ color:#8310af; font-weight:bold;}
.gq_music_wenzi_list{ width:300px;}
.gq_music_wenzi_list li{ width:350px;  float:left; font-size:14px; height: 25px;}
.gq_music_wenzi_list li img { margin-top:5px;}
.shuzi{ color:#9200ca;float:left; width:30px;}
.name{  float:left; width:100px;}
.geming{ width:160px;  float:left;}

body { font-family:"宋体", arial; margin:0; padding:0; font-size:12px; color:#414141; }
div, form, img, ul, ol, li, dl, dt, dd, p { margin: 0; padding: 0; border: 0; }
li, dl { list-style-type:none; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-size:12px; font-weight:normal; }
a { color:#414141; text-decoration:none; }
a:hover { color: #d60921; }

/* 评论 */
.Comments{ width:960px;background:#FFF; border:1px solid #dfdddd; margin-top:8px; float:left;}
.Comments_bt{border-bottom:1px solid #dfdddd; height:25px; background:#f6f6f6; background:url(../images/gqmusic/game_bj.jpg) left 715px;}
.Comments_bt_bold{ line-height:25px; font-weight:bold; text-indent:10px;float:left; font-size:14px;}
.tiaoshu{ float:left; line-height:25px; margin-left:665px;}
.See_all{ float:right; line-height:25px; margin-right:10px;}
.er_hong{ color:#F00;}
.Comments_text{ width:933px; margin:10px 0 0 17px;}
.Comments_text li{ border-bottom:1px dashed #dedcdd; line-height:22px; font-size:14px; padding-bottom:10px; margin-top:10px;}
.Comments_text li span{  color:#b6b6b6; font-size:12px; float:right;  line-height:30px;}
.Comments_text_lan{ color:#30b6f8; font-size:12px;}
.Published{ width:960px; background:#f9f9f9; float:left; border-top: 1px solid #dedcdd; margin-top:10px; }
.Published_liuyan{ width:608px; height:160px; margin:10px 0 0 20px; display:inline; float:left; }
.Published_liuyan_k{ width:608px; height:114px; border:1px solid #dedcdd; margin-bottom:10px;}
.Published_liuyan img{ float:right; display:inline;}
.Published_liuyan_text{ margin-top:10px; width:275px; float:left; line-height:20px; color:#808080; margin-left:32px;}