#mian { width:auto; margin:0 auto; height:auto; }
#mian .box {}
.main_body { width:960px; height: auto; margin: 0 auto; padding-top:10px; }
.body_bg_m{ background:#990000;}
.Color_red{font-size:16px;font-family:"微软雅黑","黑体"; color:#b3000b;  line-height:20px;}

.White_box_250{width:248px; border:1px solid #dedcdd; background:#fafafa; display:inline; float:right; height:360px;}
.box_250{width:248px; border:1px solid #dedcdd; background:#fafafa; display:inline; float:right; height:249px;}
.box_250_01{ width:246px; border:1px solid #fff; float:right; height:245px;}
.music_zt_250_bt{ background:url(../images/nufang/music_zt_bj.jpg) left 458px; width:247px; height:28px; display:inline-block; float:left; }
.right_250_wz{ font-size:14px;font-family:"微软雅黑","黑体"; color:#000; line-height:30px; padding-left:30px; margin-left:20px;}


.White_box_300{width:298px; border:1px solid #dedcdd; background:#fafafa; display:inline; float:left; height:254px;}
.music_zt_300_bt{ background:url(../images/nufang/music_zt_bj.jpg) left 407px; width:298px; height:28px; display:inline-block; float:left; }


.White_box_960{width:958px; border:1px solid #dedcdd; background:#fafafa; display:inline; float:left;}
.music_zt_960_bt{ background:url(../images/nufang/music_zt_bj.jpg) left 361px; width:959px; height:41px; display:inline-block;}
.yul_960_wz{font-size:18px;font-family:"微软雅黑","黑体"; color:#000; margin-left:30px; line-height:41px; padding-left:40px;}
.yul_more{ float:right; line-height:39px; margin-right:10px; color:#FFF;}

.White_box{width:392px; border:1px solid #dedcdd; background:#fafafa; display:inline; float:right; height:620px;}
