body,ul,li,div,a,p,span,h1,h2,h3,h4,h5,h6,caption{padding:0; margin:0;}
body{ background:#0066cc url(images/bg-cmstop-setup.jpg) no-repeat 0 0; font-family:Arial, Helvetica, sans-serif,"宋体"; font-size:12px;}
.bg-1{background:#0066cc url(images/bg-cmstop.jpg) no-repeat 0 0;}
h1,h2,h3,h4,h5,h6{ font-size:12px;}
p{ margin:8px 0; line-height:18px;}
li{ list-style:none;}
a{color:#1C88E6;}
a:hover{color:#f30;}
#main{margin-top:80px; margin-left:50px; width:880px; height:460px; margin-bottom:30px;}
#main-1{margin-top:100px; margin-left:70px; width:860px; height:460px;}
#left{float:left; width:176px;}
.guide ul{margin-top:60px;}
 .guide li{line-height:50px; font-weight:bold; color:#99E1F7; padding-left:40px;}
#right{float:right; width:684px; height:460px; padding-top:10px;}
#foot{background:#012D54; border-top:4px solid #2F9EF8;  height:46px; line-height:46px; text-align:center; color:#fff;}
.clear{clear:both; height:0;}
.dis-b{display:block;}
.f-l{float:left;}
.f-r{float:right;}
.f-14,a.f-14{ font-size:14px;}
a.orange,.orange{color:#f30;}
a.yellow,.yellow{color:#fc0;}
a.blue,.blue{color:#1C88E6;}
a.btn:hover,a.btn-1:hover{color:#fe0;}
#left li.white,.white{color:#fff;}
.gray{color:#666;}
#btn-area{position:absolute; bottom:0; left:0; height:42px; line-height:42px; width:673px;}
.p-b{position:relative;}
.btn-back{background:url(images/bg-back.gif) no-repeat 0 0; color:#0086C6; padding-left:20px; width:80px;}
.btn,.btn-1{background:url(images/bg-btn.jpg) no-repeat 0 0; height:27px; line-height:27px; width:75px; font-size:12px; font-weight:bold; color:#fff; display:block; text-align:center; text-decoration:none;}
.btn-1{ background-image:url(images/bg-btn-1.jpg); width:110px;}
.w-80{width:80px;}
.w-120{width:120px;}
.mar-t-12{margin-top:12px;}
.mar-t-10{margin-top:10px;}
.mar-t-5{margin-top:5px;}
.mar-r-20{margin-right:20px;}
.h-410,.h-380,.h-260{height:414px; overflow:auto;}
.h-380{height:380px;}
.h-260{height:260px;}
.box-1{padding:8px; border:1px solid #eee;}
.box-2{background:url(images/bg-line.jpg) no-repeat 0 bottom; padding-bottom:9px;}
h1{font-size:14px; font-weight:normal; color:#1C88E6;}
th.t-l,td.t-l{text-align:left;}
th.t-r,td.t-r{text-align:right;}
th.t-c,td.t-c{text-align:center;}
.f-b,caption{font-weight:bold;}
.f-n{font-weight:normal;}
caption{height:32px; line-height:32px; text-align:left; padding-left:20px;}
.table-list{margin:20px 0; border:1px solid #666;/* border-top:1px solid #ddd; border-left:1px solid #ddd;*/}
 .table-list th,.table-list td,.table-form th,.table-form td{padding:6px;}
.table-list th{background:#666; border-right:1px solid #fff; color:#f4f4f4; font-weight:normal;}
.table-list td{border-bottom:1px solid #ddd; border-right:1px solid #ddd; color:#454545;}
.table-form{margin:5px 0;}
td.bdr-0,th.bdr-0{border:none;}
.suc{padding-left:150px; padding-top:40px;}
 .suc h1{color:#f30; font-weight:bold; height:36px; line-height:36px; margin:20px 0; padding-left:48px; background:url(images/bg-suc.jpg) no-repeat 0 0;}
 .suc p{margin:20px 0; line-height:20px;}
#g-1,#g-2,#g-3,#g-4,#g-5{background:url(images/bg-left.jpg) no-repeat 7px -57px;color:#f30; height:50px; color:#f30;}
#g-2{background-position:7px -107px;}
#g-3{background-position:7px -157px;}
#g-4{background-position:7px -207px;}
#g-5{background-position:7px -257px;}
.pad-tl-20{padding-top:20px; padding-left:20px;}
.btn-area-1{width:230px; margin:10px auto; }

a.help {
	cursor: pointer; 
	display: inline; 
	float: right; 
	margin-left: 3px;
	padding: 2px 5px 2px 5px; 
	border: 1px solid #ccc;
	background: #cde;
}

button.submit {
	border: none;
	background: url(images/bg-btn.jpg) no-repeat transparent;
	width: 75px;
	height: 27px;
}

a.selected, a.cancel {
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}

#tableDiv {
	overflow: auto;
	height: 380px;
}

form {
	height: 330px;
	overflow: auto;
}
table.table-form input {
	float: left;
}
table.table-form input.radio_style {
	float: none;
}
