<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="home.php">$_G[setting][navs][4][navname]</a> <em>&rsaquo;</em> 
		<a href="home.php?mod=space&do=gifts">礼物</a> <em>&rsaquo;</em> 	
	</div>
</div>
<style id="diy_style" type="text/css"></style>
<div class="wp"></div>
<link rel="stylesheet" type="text/css" href="/static2/gifts.css" />
<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">			
			<h1 class="mt"><img alt="gift" src="{STATICURL}image/task/gift.gif" class="vm" style="width:16px;height:16px;"/> 礼物</h1>
			<div id="congzhititle">
		    	<ul>
		            <li><a href="/home.php?mod=space&do=gifts">我的礼物</a></li>
		            <li><a href="/home.php?mod=space&do=giftcoupons">我的礼券</a></li>
		            <li><a href="/home.php?mod=space&do=gifts&show=2">收到的礼物</a></li>
		            <li><a href="/home.php?mod=space&do=gifts&show=1">送出的礼物</a></li>
		            <li><a class="congzhititleliahover2" href="/home.php?mod=space&do=mystical">收到神秘礼包</a></li>
		       </ul>
		    </div>
			<div id="congzhikuang"><p style="height:1px;"> </p>
				<div id="congzhinr4">
				<table width="100%" height="274" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td width="16%" valign="middle" bgcolor="#ebebeb" align="center" class="congzhitext6">赠送人</td>
						    <td width="25%" valign="middle" bgcolor="#ebebeb" align="center" class="congzhitext6">神秘礼包</td>
						    <td width="16%" valign="middle" bgcolor="#ebebeb" align="center" class="congzhitext6">赠送数量</td>
						    <td width="28%" valign="middle" bgcolor="#ebebeb" align="center" class="congzhitext6">时间</td>
						    <td width="20%" valign="middle" bgcolor="#ebebeb" align="center" class="congzhitext6">操作</td>
						</tr>
				  <!--{loop $mystical $k $v}-->
				  		<tr>
				  			<td valign="middle" align="center" bgcolor="#f5f5f5">$v['src_username']</td>
						    <td valign="middle" align="center" bgcolor="#f5f5f5"><img width="21" height="26" alt="神秘礼包" src="/static2/images/gift/gift_184.png">　神秘礼包</td>
						    <td valign="middle" align="center" bgcolor="#f5f5f5">$v['box_num']</td>
						    <td valign="middle" align="center" bgcolor="#f5f5f5">$v['receive_time']</td>
						    <td valign="middle" align="center" bgcolor="#f5f5f5"><!--{if $v['state'] == 0}--><a href="/home.php?mod=space&do=mystical&open=opengift&id=$v['id']&box_num=$v['box_num']&src_uid=$v['src_uid']&page=$page"><span class="congzhitext4">开礼包</span></a><!--{else}--><span style="color:#CCC;">已打开</span><!--{/if}--></td>
						</tr>
				  <!--{/loop}-->
				  	
				  		<tr>
				  			<td valign="middle" align="right" colspan="5">{if $m_count != 0}<div class="pgs cl mtm">$page_str</div>{/if}</td>
				  		</tr>
					</tbody>
				</table>
				</div>
				<div class="clear"></div>
				<div id="congzhinr4">
					<table width="100%" height="274" cellspacing="0" cellpadding="0" border="0">
						<tr>
						    <td width="25%" valign="middle" bgcolor="#ebebeb" align="center" class="congzhitext6">神秘礼物</td>
						    <td width="16%" valign="middle" bgcolor="#ebebeb" align="center" class="congzhitext6">数量</td>
						</tr>
						<!--{loop $openmysticalgift $k $v}-->
						<tr>
							<td valign="middle" align="center" bgcolor="#f5f5f5">
							<!--{if $v['party_gift_id'] == 1}-->
								<img width="21" height="26" alt="康乃馨" src="/static2/images/gift/kangnaixi.jpg">
							<!--{/if}-->&nbsp;&nbsp;&nbsp;
							$v['party_gift_name']
							</td>
							<td valign="middle" align="center" bgcolor="#f5f5f5">$v['num']</td>
						</tr>
						<!--{/loop}-->
						<!--{loop $numgift $k $v}-->
						
						<tr>
						<td valign="middle" align="center" bgcolor="#f5f5f5">
						<!--{if $v['gift_id'] == 1}-->
						<img width="21" height="26" alt="公仔" src="/static2/images/gifts/jiemaogao.jpg">
						<!--{elseif $v['gift_id'] == 2}-->
						<img width="21" height="26" alt="公仔" src="/static2/images/gifts/mianmo.jpg">
						<!--{elseif $v['gift_id'] == 3}-->
						<img width="21" height="26" alt="公仔" src="/static2/images/gifts/yanxuang.jpg">
						<!--{elseif $v['gift_id'] == 4}-->
						<img width="21" height="26" alt="公仔" src="/static2/images/gifts/bb.jpg">
						<!--{elseif $v['gift_id'] == 5}-->
						<img width="21" height="26" alt="公仔" src="/static2/images/gifts/fenbin.jpg">
						<!--{elseif $v['gift_id'] == 6}-->
						<img width="21" height="26" alt="公仔" src="/static2/images/gifts/bb2.jpg">
						<!--{/if}-->
						&nbsp;&nbsp;&nbsp;$v['gift_name']
						</td>
						<td valign="middle" align="center" bgcolor="#f5f5f5">1</td>
						</tr>
						
						<!--{/loop}-->
						<tr>
							<td colspan="2"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="appl">
		<!--{subtemplate common/userabout}-->
	</div>
</div>
<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<!--{template common/footer}-->