<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="home.php">$_G[setting][navs][4][navname]</a> <em>&rsaquo;</em> 
		<a href="home.php?mod=space&do=live">直播管理</a> <em>&rsaquo;</em> 	
	</div>
</div>
<style type="text/css">
img {border:0}
#box1 {
    width:260px;
    height:15px;
    background:#e00;
    position:absolute;
    margin-left:8px;
    margin-top:30px;
    border:1px solid #ccc;
}

#box1_item {
    width:14px; height:39px; 
    background:url(/static2/images/gifts/tb.gif) no-repeat;
    position:absolute;
    margin-top:-12px;
    cursor:e-resize;
}

#box1_value{
    background:#f90;
    width:0;
    height:100%;
}
</style>

<script src="static/js/calendar.js" type="text/javascript"></script>
<script language="javascript">
function  isfull(){
	if (document.formbi.input1.value==""){
		alert("请拉动数值条,进行币种兑现");
		document.formbi.input1.focus();
		return  false;
	}
}
</script>

<link rel="stylesheet" type="text/css" href="/static2/gifts.css" />
<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">			
		    <div id="congzhititle" style="background:url('/static2/images/gifts/zhibo_1.gif');">
		       <ul >
		       	<li><a class="congzhititleliahover2" href="/home.php?mod=space&do=live">直播管理</a></li>
		       </ul>
		    </div>
		  <div id="congzhikuang" style="height:230px">
		  	    <div class="jju"></div>
		  	    <div style="height:30px; line-height:30px; margin:05px 10px 5px 10px;">
		  	    	<span style="float:left;">火秀经纪人 - 我的薪水</span>
		    		<span style="float:right;"><a style="color:red;" href="/home.php?mod=space&do=live">&lt;&lt;返回直播管理</a></span>
		    	</div>				
				<form name="formbi" action="/home.php?mod=space&do=live&act=salary&opt=lingqu" method="post" onSubmit="return isfull();">
				<div style="margin-top:15px;">
					<div style="float:left; margin-left:10px; padding-left:10px; width:210px; height:100px; border:#FBDB9A 1px solid; background:#FFF7E5;">
						<br><img src="/static2/images/gifts/jinzi.png" /><span style="font-size:16px; font-weight:bold;">火币</span>
						<input style="border:#FBDB9A 1px solid;" type="text" name="input1" id="input1" size="18" value="{$xiubi}"/><br><br>
						最大可领取火币数：{$xiubi}<br>
						已选择领取火币数：<input type="text" id="input4" size="10" style="border:0px;background:#FFF7E5;" value="{$xiubi}" readonly="readonly"/>
					</div>
					<div style="float:left; margin-left:10px; padding-left:10px; width:290px; height:100px;">
						<div><span style="color:#cccccc;">请输入要领取币种的数额，或用鼠标拖动滑块以决定您需要领取的数额。</span></div>
                        <div id="box1">
                        	<div id="box1_item"></div>
                            <div id="box1_value"></div>
                        </div>
					</div>
					<div style="float:right; margin-right:10px; padding-left:10px; width:210px; height:100px; border:#ECB8B4 1px solid; background:#FCEBEB;">
						<br><img src="/static2/images/gifts/huobi_pic.png" /><span style="font-size:16px; font-weight:bold;">秀币</span>
						<input style="border:#FBDB9A 1px solid;" type="text" name="input2" id="input2" size="18" value="0" /><br><br>
						最大可领取最大秀币：{$houbi}<br>
						已选择领取秀币数：<input type="text" id="input3" size="10" style="border:0px; background:#FCEBEB;" value="0" readonly="readonly"/>
					</div>
				</div>
				<div style="clear:both;"></div>
				<div style="font-size:14px; font-weight:bold; color:red; text-align:center;">注: 2火币=1秀币</div>
				<div style="margin-top:10px; text-align:center;">
					<!--{if !$xiubi == 0}-->
					<a href="javascript:void(0);" onclick="submitformbi();return false;"><img src="/static2/images/gifts/gongzi.gif"></a>
					<!--{/if}-->
				</div>
				</form>
				<script>
				(function($){
					submitformbi = function() {
						document.formbi.submit();
					}
				})(jQuery);
				</script>
				<script type="text/javascript">
				function MoveableControBar(id, onChange) {
					this._parent = document.getElementById(id);
					this._self   = document.getElementById(id+'_item');
					this._bg = document.getElementById(id+"_value");
					this.max =  this._parent.clientWidth - this._self.clientWidth;
					this.onChange = onChange||null;
					this.running = false;
					this.pos;
					this.init();
				}

				MoveableControBar.prototype = {
					init:function(){
						var _this = this;
						this._parent.onclick = function(e){
							var eX = (e||event).clientX;
							_this.pos =  eX - _this._parent.offsetLeft - _this._self.clientWidth/2;
							_this.go();
							if(_this.onChange){
								_this.onChange.call(_this, {
									currPos:_this.pos,
									max:_this.max,
									percent: _this.percent
								});
							}
						};

						this._self.onmousedown = function(e){
							_this.running = true;
							moveInit = _this._self.offsetLeft;
							var oldX = (e||event).clientX;
							document.onmousemove = function(e){
								var x = (e||event).clientX;
								_this.pos =  moveInit + x - oldX;
								_this.go();
								if(_this.onChange){
									_this.onChange.call(_this, {
										currPos:_this.pos,
										max:_this.max,
										percent: _this.percent
									});
								}
							}
							document.onmouseup = function(){
								_this.running = false;
								document.onmousemove = null;
								document.onmouseup = null;
							}
						};
					},

					setValue: function(value){
						this._bg.style.width = value + "%";
						this.pos =  this._bg.offsetLeft + this._bg.clientWidth - this._self.clientWidth/2;
						this.go();
					},
					go: function (){
						if(this.pos>this.max){
							this.pos = this.max;
						}else if(this.pos>this.max||this.pos<0){
							this.pos = 0;
						}

						var percent = this.pos/this.max*100;
						this._bg.style.width = percent + "%";
						this._self.style.left = this.pos +'px';

					}

				};

				var xb = {$xiubi};
				var hb = {$houbi};

				var i1 = document.getElementById("input1");
				var i2 = document.getElementById("input2");
				//把i1,i2值赋给i3,i4在另外一个地方显示
				var i3 = document.getElementById("input3");
				var i4 = document.getElementById("input4");

				i1.onkeydown = i2.onkeydown = function(e){
					var c = (e || event).keyCode;
					if((c<48 || c>57) && c!=8 && c!=46){
						return false;
					}
				};

				i1.onchange = function(e){
					if(i1.value<=0)
					i1.value = 0;
					if(i1.value>=xb)
					i1.value = xb;
					i1.value = i1.value*1;
					i4.value = i1.value*1;
					//计算火币值
					i2.value = Math.floor((xb-i1.value)/2);
					i3.value = Math.floor((xb-i1.value)/2);

					//调整数值条
					bar.setValue(i1.value/xb*100);
				};

				i2.onchange = function(e){
					if(i2.value<=0)
					i2.value = 0;
					if(i2.value>=hb)
					i2.value = hb;
					i2.value = i2.value*1;
					i3.value = i2.value*1;
					//计算秀币值
					i1.value = (hb-i2.value)*2;
					i4.value = (hb-i2.value)*2;

					//调整数值条
					bar.setValue(i1.value/xb*100);
				};

				var bar = new MoveableControBar('box1', function(o){
					var v1 = parseInt(o.currPos/o.max*xb);
					i1.value = v1;

					var v2 = Math.floor((xb-v1)/2);
					i2.value = v2;

					i3.value = v2;
					i4.value = v1;

				});
				bar.setValue(100);
				</script>
		    </div>
		    
		    <div style="width:786px; border:1px #cccccc solid; margin-top:10px; ">
		    	<span style="font-size:16px; color:#000000; margin-left:10px; font-weight:bold;">领取记录</span>
		    	<table style="margin-left:10px;" width="765px" border="0" cellspacing="0" cellpadding="0">
		        	<tr style="background:#F0F0F0; color:#000000; height:30px; line-height:28px;">
		        		<td style="padding-left:15px;" width="130">领取时间</td>
		        		<td width="100">领取秀币</td>
		        		<td width="100">领取火币</td>
		        	</tr>
		        	<!--{loop $mysalary $k $v}-->
		        	<tr style="height:28px; line-height:25px; border-bottom: 1px #C2D5E3 solid;">
		        		<td style="padding-left:15px;">{$v['starttime']}</td>
		        		<td>{$v['houmony']}</td>
		        		<td>{$v['xiumony']}</td>
		        	</tr>
		        	<!--{/loop}-->
		        </table>
		    </div>
		    <div style="margin:5px 0px 5px 15px; width:725px; padding-left:15px; padding-right:15px;">
			    <!--{if $multi}-->$multi<!--{/if}-->		
			</div>
		</div>
		
	</div>
	
	<div class="appl">
		<!--{subtemplate common/userabout}-->
	</div>
</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
