<!--{if $bankInfo}-->
		       		
		       		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		       		<!--{loop $bankInfo $k $value}-->
		       		<tr height="30">
		       		<td width="30"><input type="radio" name="id" <!--{if $value['isdefault']==1}-->checked="checked"<!--{/if}--> value="{$value['id']}"></td>
		       		<td>
		       		{$value['bankname']}({$value['bankno']}) 
		       		</td>
		       		
		       		<td width="300">{$value['areaname']['level1']['name']} {$value['areaname']['level2']['name']}</td>
		       		<td width="100">{$value['account_name']}</td>
		       		<td width="100"><a href="/home.php?mod=space&do=withdraw&act=addbank&times={$timet}&id={$value['id']}" onclick="showWindow('register', this.href)">编辑</a> 
		       		<a onclick="deleteBankAcount('/home.php?mod=space&do=withdraw&act=deletebankacount&id={$value['id']}'); " href="javascript:;" >删除</a>
		       		
		       		</td>
		       		</tr>
		       		<!--{/loop}-->
		       		<tr><td colspan="5"><br>
		       		 <a href="javascript:;" onclick="duixian();" ><img src="/static2/images/gifts/liwu4.png" width="86" height="24" /></a>
		       		</td></tr>
		       		</table>
		       		
		       		<!--{else}-->
		       		您还没有银行账户，请<a onclick="showWindow('register', this.href)" href="/home.php?mod=space&do=withdraw&act=addbank&times=$timet" style="color:#a80606">添加</a>一个
		       		<!--{/if}-->