<div class="listPri">
	<li class="orderGroup">排序方式：
		{if $msg_type==1}
		<a href="/home.php?mod=huoshow&do=weibo&list=3&msg=1" class="selected">提到我的</a> <span class="ddd">|</span>
		<a href="/home.php?mod=huoshow&do=weibo&list=3&msg=2">私信</a><span class="ddd">|</span>
		<a href="/home.php?mod=huoshow&do=weibo&list=3&msg=3">我的通知</a><span class="ddd">|</span>
		{elseif $msg_type==2}
		<a href="/home.php?mod=huoshow&do=weibo&list=3&msg=1" >提到我的</a> <span class="ddd">|</span>
		<a href="/home.php?mod=huoshow&do=weibo&list=3&msg=2" class="selected">私信</a><span class="ddd">|</span>
		<a href="/home.php?mod=huoshow&do=weibo&list=3&msg=3">我的通知</a><span class="ddd">|</span>
		{else}
		<a href="/home.php?mod=huoshow&do=weibo&list=3&msg=1">提到我的</a> <span class="ddd">|</span>
		<a href="/home.php?mod=huoshow&do=weibo&list=3&msg=2">私信</a><span class="ddd">|</span>
		<a href="/home.php?mod=huoshow&do=weibo&list=3&msg=3" class="selected">我的通知</a><span class="ddd">|</span>
		{/if}
	</li>
</div>
<article>
	<div class="wb_info">
		<ul class="font12">
		{if $msg_type==1}
		{section name=m loop=$usermsg}
			<li class="wbItem">
				<div class="user_avata">
					<a href="{$space_url}{$usermsg[m].uid}"><img src="{$usermsg[m].head_img_url}" width="50" height="52"
						border="0" alt="{$usermsg[m].nicename}"></a>
				</div>
				<div class="t_body" style="border-bottom:none;">
					{if $usermsg[m].msg_type == 2}
					<p class="t_cont">
						<strong><a href="{$space_url}{$usermsg[m].uid}">{$usermsg[m].nicename}</a></strong> 回复
						<strong><a href="{$space_url}{$usermsg[m].be_reply_uid}">{$usermsg[m].be_reply_nicename}</a></strong>
						<span class="t_msg">{$usermsg[m].msg}
							<a href="#" class="font12">（{$usermsg[m].append_time}）</a><br>
							 回复我的评论:&quot;{$usermsg[m].be_reply_msg}&quot;
						</span>
					</p>
					{else}
					<p class="t_cont">
						<strong><a href="{$space_url}{$usermsg[m].uid}">{$usermsg[m].nicename}</a>:</strong>
						<span class="t_msg">{$usermsg[m].msg}</span>
					</p>
					{/if}
				</div>
				<div class="clear"></div>
			</li>
		{/section}
		{elseif $msg_type==2}
		{section name=m loop=$user_mail}
			<li class="wbItem">
				<div class="user_avata">
					<a href="{$space_url}{$user_mail[m].src_uid}"><img src="{$user_mail[m].head_img_url}" width="50" height="52"
						border="0" alt="{$user_mail[m].src_nickname}"></a>
				</div>
				<div class="t_body" style="border-bottom:none;">
					<p class="t_cont">
						<strong><a href="{$space_url}{$user_mail[m].src_uid}">{$user_mail[m].src_nickname}:</a></strong>
						<span class="t_msg">{$user_mail[m].msg}</span>
					</p>
					<div class="t_from">
						<span class="wbInfoDate font12">
						<strong class="fr">
							<a
								onClick="delError('/huoshow/module/weibo/ajax/weibo_user_dynamic_ajax.php?tab=ajax_user_del_message&msg_id={$user_mail[m].id}');return false;"
								href="javascript:void(0);" class="jsadd">删除</a>
							<a class="jsadd" href="/huoshow/module/weibo/ajax/weibo_user_dynamic_ajax.php?tab=ajax_user_message&reply_uid={$home_uid}&msg_id={$user_mail[m].id}&msg={$user_mail[m].msg}&src_name={$user_mail[m].src_nickname}"
							onclick="{if $home_uid}showWindow('register', this.href)
							{else}showWindow('login', 'member.php?mod=logging&action=login');{/if}">
							回复</a>
						</strong>
						</span>
					</div>
				</div>
				<div class="clear"></div>
			</li>
		{/section}
		{else}
		{section name=n loop=$user_noti}
			<li class="wbItem">
				<div class="t_body" style="border-bottom:none;">
					<p class="t_cont">
						<strong>系统管理员:给您发送</strong>
						<span class="t_msg">{$user_noti[n].note}</span>
					</p>
				</div>
				<div class="clear"></div>
			</li>
		{/section}
		{/if}
		</ul>
	</div>
</article>
{literal}
<script type="text/javascript">
function delError(href)
{
	if (!confirm("确定删除私信？")) {
		return false;
	}else{
		window.location.href= href;
	}
}
</script>
{/literal}