@charset "utf-8";
/* CSS Document */
.body_bg { background-color: #fff; background-image: url(../images/star_body_bg.jpg); background-repeat: repeat-x;}
/* nav */
.nav_body {margin:0 auto; width:960px; height:76px;}
.nav_bg {background:url(../images/star_logo.jpg) no-repeat; margin: 0 auto; height:75px; position:relative; left:-192px; top:4px;}
.channel_logo a {width: 200px; height: 72px; display: block; text-indent: -999em; margin: 2px; float: left; position:relative; left:192px;}

#sub_channel { width:740px; height:35px; float:right; display:inline; position:relative; left:220px;}
#sub_channel ul { width:598px;height:35px; display:inline;  overflow:hidden; margin-top:40px; float:right;}
#sub_channel ul li { float:left;}
#sub_channel ul li a {width:94px; height:37px;  color:#FFF; font-size:16px;  background:url(../images/b1.jpg) right top;text-align:center;display:inline-block; line-height:35px; margin-left:1px;}
#sub_channel ul li a:hover{width:94px; height:37px;color:#ffd524;   font-size:16px; background:url(../images/b1.jpg) left top; text-align:center; display:inline-block;line-height:35px;}

/* footer */
#footer_bg {background-color:#1e1e1e; margin-top:20px;}
#footer {width:960px; height:100px; margin:0 auto; background-color:#1e1e1e;}
.footer_txt {width:700px; color:#b6b6b6; line-height:16px; padding-top:26px;}
.footer_txt a {color:#b6b6b6; }
.footer_logo {background:url(../images/hover_bj.jpg) left 130px; width:90px; height:60px; float:left; margin-right:15px;}

/* search */
.search {width:960px; height:35px; margin:0 auto; line-height:30px; vertical-align:middle; margin-bottom:12px}
.search_text {float:left; margin-left:10px;width:510px; height:35px; line-height:40px;}
.search_text a {color:#1e1e1e;}
.search_input {float:left; margin:8px 0 0 130px; }
.search_dropdown {float:left; margin:8px 0 0 5px; height:20px; }
.search_button {float:left; margin:9px 0 0 5px; background:url(../images/bg.jpg) left 666px; width:58px; height:18px;}
.search_button a{width:58px; margin-left:15px; line-height:18px;}
.input, .select{color:#000}

.star_flash { float: left;     margin: 0 8px 8px 0; *margin-top:8px}
#star_pic .pic_word{height:100px; border:0}
#star_pic .sb dd {
    font-size: 14px;
    width: 110px;
	color:#8a8a8a;
	_width:100px
}

.ad{width:960px; margin:0 auto}
.p1{ color: #414141;
    font: 14px/24px "宋体";
    margin:8px auto 0 auto;
	
    width: 960px;}
	
	
#star_pic .p1_r {
    width: 250px; border: 1px solid #D2D2D2; height:322px;  float: left; overflow:hidden; *margin-top:8px}

.meitu{ border:1px solid #e2e2e2; margin-top:8px; height:406px;  border: 1px solid #E2E2E2;
    height: 406px;
    margin-top: 8px; width:960px; margin:0 auto}
.meitu .bar_text h2{width:100px;  border-bottom: 2px solid #ED0B5B; _position:relative}
.meitu .bar_text{border-bottom: 2px solid #D4D4D4; margin:0}
.meitu dt, .meitu dd, .meitu li{float:left;}
.meitu dl{margin-top:8px}
.meitu dt{width:310px}
.meitu dt img{margin:12px}
.meitu ul{width:650px; margin:12px 0}
.meitu li{width:140px; height:170px; margin:0 9px; text-align:center; font-size:14px}
.meitu li img{width:140px; height:140px; margin-bottom:8px}
.meitu span { width:140px;  float:right;}

#star_pic .bar_text2 {height:31px; background:#e8e8e8; margin-bottom:8px; _margin:0; _padding:0; position:relative}
#star_pic .bar_text2  span a{float:right; line-height:31px; margin-right:5px; color:#bb0222; font-size:14px}
#star_pic .bar_in0, #star_pic .bar_in1, #star_pic .bar_in2, #star_pic .bar_in3, #star_pic .bar_in4{height:43px; position:relative; left:10px; text-align:left; line-height:44px; font:30px "微软雅黑"; color:#FFF; width:372px; padding-left:40px;   _position:absolute;  top:-6px;}
#star_pic div[class ^= "bar_in"] a{ text-align:left; color:#FFF}
#star_pic .bar_in0{ background:url(../images/picset_01.jpg) no-repeat left top;  _position:absolute;  } 
#star_pic .bar_in1{ background:url(../images/picset_01.jpg) no-repeat left -86px;  _position:absolute;  }
#star_pic .bar_in2{ background:url(../images/picset_01.jpg) no-repeat left -129px;  _position:absolute;  }
#star_pic .bar_in3{ background:url(../images/picset_01.jpg) no-repeat left -172px;  _position:absolute; }
#star_pic .bar_in4{ background:url(../images/picset_01.jpg) no-repeat left -43px;  _position:absolute;}
#star_pic .bar_in0 a, #star_pic .bar_in1 a, #star_pic .bar_in2 a, #star_pic .bar_in3 a, #star_pic .bar_in4 a{color:#FFF}
#star_pic .sb dd a{color:#bb0222; display:block; float:right; margin-right:5px}
#star_pic .meitu{border-top:0; margin-top:16px}
.sb dl{margin-top:5px}
.sb dd, .sb dt {
    float: left;
    line-height: 18px;
    margin: 0 8px;
}

#star_pic .bar_text {margin:0;}
#star_pic .bar_text ul{border-bottom:1px solid #CCC; width:251px; height:26px}
#star_pic .bar_text li{background:url(../images/bar02.jpg) no-repeat right top; color:#bb0222; width:125px;float:left; text-align: center; line-height:26px; font-weight:bold; cursor:pointer;}
.hover_sta{ background:url(../images/bar02.jpg) no-repeat left top!important; color:#fff!important; width:125px; cursor:default!important;}

 h2{ font: bold 16px "微软雅黑";
    height: 26px;
    padding-left: 30px;
    padding-top: 4px;
}
#star_pic .sb dd a{color:#bb0222; display:block; float:right; margin-right:5px}
#star_pic .meitu{border-top:0; margin-top:16px}

.meitu_rec{background:url(../images/co_bg.jpg) no-repeat left top; margin:0 auto; width:962px; height:215px; margin-bottom:8px}
.meitu_rec h2{background:none; font:16px "微软雅黑"; color:#bb0222; padding-left:16px;}
.meitu_rec ul{margin:14px 42px}
.meitu_rec li{float:left; width:130px; margin-left:18px; font:14px "宋体"; color:#8a8a8a;  _margin:0 8px}
.meitu_rec ul li:first-child{margin-left:0}
.mtli_1{_margin-left:0}
.meitu_rec li a img{width:130px; height:130px; margin-bottom:8px}
.meitu_des{margin:0 auto; width:960px;     border: 1px solid #D2D2D2; margin-top:8px}
.meitu_des li{ float:left; width:140px; margin:12px 10px; _margin:12px 9px; font-size:14px; }
.meitu_des li img{margin-bottom:8px} 
.meitu_des h2{background:url(../images/ass.jpg) no-repeat left center; color:#414141; line-height:26px}

a[class ^= "click_skip"]{display:block; width:22px; height:42px;   position:relative; top:64px}
* html .click_skip_left, * html .click_skip_right{ display:block; width:22px; height:42px;   position:relative; top:64px} 
.click_skip_left{left:8px; float:left}
.click_skip_right{ right:8px; float:right}


.guide{ width:60px; border:1px solid #e8e8e8; height:188px;  position:fixed; top:200px; right:120px; background:#FFF; z-index:99999;}
.guide ul li a{display:block; height:26px; line-height:26px; text-align:center; border-bottom:1px solid #e8e8e8;}

* html .guide{position:absolute; left:expression(eval(document.documentElement.scrollLeft+10));  top:expression(eval(document.documentElement.scrollTop+10));}


.slide {position:relative; width:700px; height:324px; overflow:hidden;}
#pbox3 .pagebox_pages_wrap{width:700px; height:324px; overflow:hidden;}
#pbox3 .pagebox_pages_wrap_body{width:9999em; height:324px;}
#pbox3 .pagebox_page{float:left; width:700px; height:324px; overflow:hidden;}
.slide .slide-page{height:324px; position:relative; overflow:hidden;}
.slide .slide-page-info{ position:absolute; color:#fff; width:100%; overflow:hidden; bottom:0; left:0; background-color:rgba(0, 0, 0, 0.5); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80000000, endcolorstr=#80000000, gradientType=1); }
.slide .slide-page-info-text{position:relative; padding:10px 10px 45px;}
.slide .slide-page-info-text h3{font-size:26px; font-family:"黑体"; width:315px; float:left;}
.slide .slide-page-info-text p{ width:315px; line-height:28px; float:right; margin-right:10px;}
.slide .slide-page-info-text a { color:#fff;}
.slide .slide-page-info-text a:hover{ color:#fff; text-decoration:underline;}
.slide .slide-links-wrap{width:100%;height:30px; position:absolute; bottom:8px; text-align:center; color:#fff;}
.slide .slide-links-wrap a{ background-image:url(../images/movie_slide_nav.png); vertical-align:middle; display:inline-block; overflow:hidden; margin-right:5px;}
.slide .slide-links a{ background-position:left -186px; width:15px; height:15px; }
.slide .slide-links .slide-current{ background-position:left -81px; }
.slide .slide-prev{ background-position:left top; width:20px; height:30px; }
.slide .prev-disabled{ background-position:left -105px;}
.slide .slide-next{ background-position:left -40px; width:20px; height:30px; }
.slide .next-disabled{ background-position:left -145px;}
.slide_shadow {background:url(../images/bg.jpg) left 324px; width:0; height:17px;}

/* 影视图片 */
.Subpage_pic{float: left; height: auto; width: 960px;}
.Subpage_pic_01 { background: none repeat scroll 0 0 #F9F9F9; border: 1px solid #DEDCDD; display: inline; float: left; width: 958px;}
.Subpage_pic_list{ border: 1px solid #FFFFFF; float: left; width: 956px;}
.Subpage_pic_bt{ width:956px; height:37px; background:url(../images/ass.jpg) no-repeat left center;}
.Subpage_pic ul { list-style: none outside none; overflow: hidden; padding: 10px 0 0 0; width: 930px; margin: 0 auto; }
.Subpage_pic ul li { background: url(../images/bg_border.png) repeat-x scroll 0 100% transparent; display: inline; float: left; height: 150px; margin: 0 0 5px; overflow: hidden; padding: 5px 12px 10px; width: 160px; }
.Subpage_pic ul li a { overflow: hidden; text-align: center;}
.Subpage_pic ul li img { border: 1px solid #D1D1D1; display: block; height: 118px; padding: 2px; width: 158px; }
.Subpage_pic ul li span { display: block; line-height:25px; height:20px;}

#scrollbox2 .scrollbox-items-wrap{ width: 840px; overflow:hidden; float:left; margin-left:35px;}
#scrollbox2 .scrollbox-items-wrap-body{ width: 99999em;}
