@charset "utf-8";

#top_ad {
    width: 970px;
    margin: 10px auto;
    text-align: center;
}

#news_hot {
 
    padding-bottom:9px;
}

#contain .contain01 {
    float: left;
    width: 620px;
    overflow: hidden;
}

#contain .contain_right {
    float: right;
    width: 300px;
    overflow: hidden;
}

.contain01_left {
    float: left;
    width: 300px;
    overflow:hidden;
}

.contain01_right {
    float: right;
    width: 300px;
    overflow:hidden;
}

#news_top{
    height:290px;
}

#news_top h3 {
    line-height: 24px;
    font-weight: bold;
    color: #bf8800;
    font-size:14px;
}

#news_topspan {
    float: right;
    font-size:12px;
    font-weight:normal;
}

#news_topspan a {
    background: url(../images/tb.gif) right -6px no-repeat;
    padding: 0 10px;
}

#news_top02 .news_top02_l{
    float:left;
    width:305px;
}

#news_top02 .news_top02_r{
    float:right;
    width:305px;
}
#news_top03{
	border-bottom:1px dashed #ccc;border-top:1px dashed #ccc;padding-top:10px;padding-bottom:10px;height:71px;
}
#news_hot #news_top03 {
    clear: both;
}

#news_hot #news_top03 li {

}

#news_top03 li p {
    float: left;
    height: 72px;
    overflow: hidden;
}

#news_top03 .text {
    width: 90px;
    padding-left: 6px;
}

#news_top03 .line {
    width: 2px;
    border-left: 1px solid #c8cacc;
    
    padding-right:2px;
}

.comment_race ol {
    height: 25px;
    background: url(../images/part_bg01.gif) left -25px repeat-x;
    border-right: 1px solid #eaeaea;
    line-height: 26px;
    font-weight: bold;
}

.comment_race ol p {
    padding-left: 25px;
    height: 25px;
    background: url(../images/part_bg01.gif) left top no-repeat;
}

.comment_race ul li {
    overflow: hidden;
}

.comment_race li p {
    float: left;
    width: 289px;
}

.comment_race li p img {
    margin-right: 10px;
    border: 1px solid #dddddd;
}

.comment_race01 {
    padding:8px 0;
}

.comment_race01 ul {
    clear:both;
}

.research input{
    vertical-align:middle;
    margin-right:5px;
}

.research ol {
    height: 25px;
    background: url(../images/part_bg01.gif) left -25px repeat-x;
    border-right: 1px solid #eaeaea;
    line-height: 26px;
    font-weight: bold;
}

.research ol p {
    padding-left: 25px;
    height: 25px;
    background: url(../images/part_bg01.gif) left top no-repeat;
}

.vihotgif {
    padding-top: 15px;
}

.vihotgif ol {
    height: 25px;
    background: url(../images/part_bg01.gif) left -25px repeat-x;
    border-right: 1px solid #eaeaea;
    line-height: 26px;
    font-weight: bold;
}

.vihotgif ol p {
    height: 25px;
    padding-left: 25px;
    background: url(../images/part_bg01.gif) left top no-repeat;
}

.vihotgif-item {
    border-bottom: 1px dashed #ccc;
    padding: 5px 0;
    margin-top:5px;
}

.vihotgif-item-l{
    float: left;
    line-height: 18px;
}

.vihotgif-item-r{
    float: left;
    line-height: 18px;
    padding-left:5px;
    width:240px;
    height:55px;
    overflow:hidden;
}


.GroupActiv {
    clear: both;
    padding-top: 15px;
}

.GroupActiv ol {
    height: 25px;
    background: url(../images/part_bg01.gif) left -25px repeat-x;
    border-right: 1px solid #eaeaea;
    line-height: 26px;
    font-weight: bold;
}

.GroupActiv ol p {
    padding-left: 25px;
    height: 25px;
    background: url(../images/part_bg01.gif) left top no-repeat;
}

.GroupActiv li {
    text-indent: 25px;
    line-height: 28px;
    background: url(../images/tb.gif) left -125px no-repeat;
}

.ShowSpace {
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding-top: 10px;
    
}

.ShowTalent ol {
    font-weight: bold;
    font-size: 12px;
    padding: 5px 0px;
}

.ShowTalent li {
    float: left;
}



.ShowTalent .ShowTalent01 {
    background:none repeat scroll 0 0 #F1F1F1;
    height:130px;
    margin-right:9px;
    text-align:center;
    width:141px;
}

.ShowTalent .ShowTalent01_pic img{
    width:135px;
    height:90px;
}

.ShowTalent .ShowTalent01_pic {
    background:url("../images/video_bg.gif") repeat-x scroll left top;
    width:135px;
    height:102px;
    padding:2px;
    border:1px solid #C6C6C6;
}



.ShowTalent .ShowTalent02 {
    width: 170px;
    overflow: hidden;
}

.ShowTalent .ShowTalent02 p {
    height: 50px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    line-height: 18px;
}

.ShowTalent .ShowTalent02 p img {
    padding-right: 30px;
    background: url(../images/tb.gif) right -238px no-repeat;
}

.ShowTalent .ShowTalent02 .ShowTalent03 {
    border: none;
    padding-bottom: 0;
    padding-top: 10px;
}

.ShowTalent04 {
    clear: both;
    overflow:hidden;
    padding: 10px 0;
}

.ShowTalent04 li {
    float: left;
    width: 140px;
    padding-right: 10px;
    text-indent: 20px;
    line-height: 20px;
}

.ShowTalent04 li p {
    display: block;
    height: 20px;
    width:140px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.ShowTalent04 li p a {
    display: block;
    background: url(../images/tb.gif) left -40px no-repeat;
}

.ShowTalent04 li p a:hover {
    display: block;
    background: url(../images/tb.gif) left -22px no-repeat;
}

.ShowTalent04 li dt {
    display: block;
    height: 20px;
    width:140px;
    overflow:hidden;
}

.ShowTalent04 li dt a {
    display: block;
    background: url(../images/tb.gif) left -80px no-repeat;
}

.ShowTalent04 li dt a:hover {
    display: block;
    background: url(../images/tb.gif) left -60px no-repeat;
}

.daily{
    clear:both;
    padding-bottom:1em;
}

.daily ol {
    width: 300px;
    font-weight: bold;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
}

.daily ul li {
    width: 300px;
    overflow: hidden;
}

.daily li p {
    float: left;
    width: 300px;
}

.daily li p img {
    margin-right: 10px;
    border: 1px solid #dddddd;
}

.ShowPer ol {
    width: 300px;
    font-weight: bold;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
}

.ShowForum {
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding-top: 15px;
}

.NewPost{
    padding: 5px 0;
}

.NewPost ul{
    clear:both;
    overflow: hidden;
}

.UserActiv {
    clear: both;
}

.UserActiv ol {
    height: 25px;
    background: #c8cacc url(../images/part_bg03.gif) right -25px no-repeat;
    line-height: 26px;
}

.UserActiv ol dt {
    height: 25px;
    background: url(../images/part_bg03.gif) left top no-repeat;
    text-indent: 10px;
    font-weight: bold;
}

.UserActiv ul {
    padding-bottom: 6px;
    background: #e4e4e4 url(../images/part_bg04.gif) left bottom no-repeat;
    height:225px;
    overflow:hidden;
}

.UserActiv ul li {
    padding: 15px 10px;
    border-bottom: 1px solid #ffffff;
}

.UserActiv ul li img {
    padding-right: 10px;
}

.Video {
    background:url("../images/part_bg04.gif") no-repeat scroll left bottom #E2E3E4;
    margin-top:15px;
    padding-bottom:6px;
}

.Video ol {
    clear: both;
    height: 20px;
    padding: 0 10px;
}

.Video ol dt {
    float: left;
}

.Video ol dd {
    float: right;
    padding-right: 10px;
    background: url(../images/tb.gif) right -2px no-repeat;
}

.Video .pageup {
    display: block;
    width: 10px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
}

.Video .pageup a {
    display: block;
    background: url(../images/arraw.gif) left top no-repeat;
}

.Video .pageup .disabled{
    background: url(../images/arraw.gif) left -24px no-repeat!important;
}


.Video .pagenext {
    display: block;
    width: 10px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
}

.Video .pagenext a {
    display: block;
    background: url(../images/arraw.gif) right top no-repeat;
}

.Video .pagenext .disabled{
    background: url(../images/arraw.gif) right -24px no-repeat!important;
}

.Video01 li {
    height:90px;
    line-height:18px;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px dashed #ccc;
}

.Video01-pic{
    float:left;
}

.Video01-pic img{
    width:120px;
    height:90px;
}

.Video01-info{
    float:right;
    width:168px;
}

.help {
    clear: both;
    padding-bottom: 6px;
}

.help ul {
    overflow: hidden;
}

.help li {
    clear: both;
    padding: 0 10px;
}

.help li p {
    float: left;
    width: 5.5em;
}

.ad01 {
    margin-top: 15px;
    overflow: hidden;
}

.ad02 {
    margin-top: 15px;
}

.StarShow01 li {
    float:left;
    height:72px;
    text-align:center;
    width:71px;
}

.rborder-top {
    background: url(../images/radius.png) left top no-repeat;
    padding-top: 5px;
}

.rborder-bottom {
    background: url(../images/radius.png) right bottom no-repeat;
    padding-bottom: 5px;
}

.pic-cloud {
    height: 144px;
    overflow: hidden;
    background: #F3F3F3;
}

.pic-cloud img {
    border: 1px solid #fff;
    vertical-align: middle;
}

#rank {
    background: #E2E3E4;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    padding: 10px;
    -moz-border-radius: 0;
    font-size: 12px;
}

#rank .ui-tabs-nav {
    padding: 0;
}

#rank .ui-tabs-nav li {
    border: none;
    padding-right: 5px;
}

#rank .ui-tabs-nav li a {
    padding: 3px 5px 5px 10px;
    font-size: 12px;
    outline: none;
}

#rank .ui-state-default {
    background: none;
}

#rank .ui-tabs-selected,#rank .ui-state-hover {
    background: #fff url(../images/tab1.png) right -35px no-repeat;
}

#rank .ui-tabs-selected a {
    color: #fff;
    background: #BA001A url(../images/tab1.png) left top no-repeat;
}

#rank .ui-state-hover a {
    background: #BA001A url(../images/tab1.png) left top no-repeat;
    color: #fff;
}

#rank .ui-tabs-panel {
    background: #fff;
    padding: 0;
    height: 440px;
}

#rank .ui-corner-bottom {
    -moz-border-radius: 0;
}

#rank .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 0;
}

.rank-list-first {
    background: #BA001A;
    color: #fff;
}

.ls-hover-b {
    background: #999;
    color: #fff;
}

.ls-hover .ls-hover-b {
    display: block !important;
}

.ls-hover .ls-hover-a {
    display: none;
}

.ls-hover-b {
    display: none;
}

#rank li {
    display: block;
    background: #eee;
}

#rank table {
    width: 100%;
}

.ls-num1 {
    color: #000000;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    line-height: 54px;
    text-align: center;
}

.ls-num2 {
    color: #666;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    line-height: 54px;
    text-align: center;
}

.ls-num3 {
    background: url("../images/rank_bg.gif") no-repeat scroll 5px 6px
    transparent;
    color: #FFFFFF;
    text-indent: 8px;
    width: 40px;
}

#hot_video{
    height:225px;
    overflow:hidden;
    position:relative;
}

.pages{
    position:relative;
}

.page{
    position:relative;
    overflow:hidden;
}

.act_subject,.act_album,.act_title,.act_audio,.act_video,.act_group{
    display:block;
    width:150px;
    white-space:nowrap;
    overflow:hidden;
    float:left;
    -o-text-overflow:ellipsis;    /* for Opera */
    text-overflow:ellipsis;        /* for IE */
}
.act_subject:after,.act_album:after,.act_title:after,.act_audio:after,.act_video:after,.act_group:after{
    content:"...";
    padding-left:3px;
    font-size:12px;
}/* for Firefox */
.act_time{
    text-align:right;
    display:block;
}

.video_info{
    background:#000;
    filter: alpha(opacity = 60);
    opacity: .6;
    bottom:0;
    position:absolute;
    width:100%;
}

.video_icon{
    top:0;
    position:absolute;
    margin:85px 0 0 115px;
    display:block;
    width:74px;
    height:48px;
}

.video_info p{
    margin:0;	
    color:#fff;
    padding:10px;
}

.thumb{
    width:120px;
    height:90px;
    margin-right:10px;
}

.block1{
    background:#F3F3F3;
    border:1px solid #ECECEC;
    padding:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
}

.block1-body{
    background:#FFF;
    height:190px;
}

.block1 h3{
    color:#BA2636;
    height:22px;
    line-height:22px;
    padding:0 1em;
}

.star_show dl{
    float:left;
    height:75px;
    margin:0 0 10px;
    overflow:hidden;
    text-align:center;
    width:70px;
}

#news_top02{
    padding:5px 0;
    margin:5px 0;
    
}


#hot_news{
	position:relative;
	height:265px;
	margin-bottom:1em;
}

#hot_news .items{
	position:absolute;
	right:0;
	width:440px;
	height:265px;
	overflow:hidden;
	background-color:#eee;
}

#hot_news .item{
	height:265px;
	position:relative;
	overflow:hidden;
}

#hot_news .item h3{
	padding:5px 5px 0 25px;
	z-index:1000;
	position:relative;
	font-size:14px;
}

#hot_news .item p{
	padding:5px 5px 5px 25px;
	z-index:1000;
	position:relative;
}

#hot_news .item .text a{
	color:#fff;
}

#hot_news .item .text{
	bottom:0;
	position:absolute;
	color:#fff;
	width:100%;
	overflow:hidden;
}

#hot_news .item .text-bg{
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
	width:100%;
	height:400px;
	position:absolute;
}

#hot_news .nav{
	position:absolute;
	width:180px;
	border-top:1px solid #ccc;
}

#hot_news .nav a{
	height:65px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	display:block;
	outline:none;
	position:relative;
}

#hot_news .nav a:hover{
	background:#E7EEF7;
}

#hot_news .nav a img{
	height:100%;
	position:absolute;
	display:none;
	z-index:1001;
	top:0;
	right:-20px;
}

#hot_news .nav em{
	padding:1em 1em 0;
	display:block;
}

#hot_news .nav .curr{
	background:#C4D6F0;
}

#hot_news .nav .curr img{
	display:block!important;
}
