@charset "utf-8";
.clear{height:0px;line-height:0px;font-size:0px;overflow:hidden;clear:both;}
.kongge{ height:10px; width:auto;}
.jju{ height:10px; width:auto;}

#mian2{ width:950px; margin:0 auto; padding:10px 10px 0px 10px; background-color:#FFFFFF;}
#mian2top{ width:950px;}
#topnews{ width:390px; height:260px; float:left;}
.text1{
    line-height:20px;padding-bottom: 10px; margin-top:5px;border-bottom-width: 1px;border-bottom-style: dotted; border-bottom-color: #cccccc;}
.text2{ font-size:16px; line-height:30px; color:#cc0000; font-weight:bold;}

.moer2 a{
    background:url(../huoshow_01/image/diandian.jpg) left top no-repeat;
    width:8px;

    overflow:hidden;
    display:inline-block;
}
.moer2 a:hover, .moer2 .tab-on{
    background:url(../huoshow_01/image/diandian2.jpg) left top no-repeat!important;
}

#top2banner{
    position:relative;
    width:540px;
    height:250px;
    background:#333333;
    padding:5px;
    float:right;
}

.top2banner-nav a:hover, .top2banner-nav .tab-on{
    background:#f90;
}

.top2banner-nav a{
    background:#aaa;
    padding:0 5px;
    line-height:18px;
    display:inline-block;
    color:#fff;
}

.top2banner-nav{
    text-align:right;
    right:10px;
    top:232px;
    position:absolute;
}

.sss{
    height:340px;
    overflow:hidden;
}


.top2banner-item{
    position:absolute;
    width:540px;
    height:250px;
    overflow:hidden;
    display:none;
}

.top2banner-item .thumb{
    width:540px;
    height:250px;
}

.top2banner-item-title{
    height:24px;
    line-height:24px;
    top:-25px;
    position:relative;
    bottom:0;
    padding:0 2px;

}

.top2banner-item-title a{
    z-index:1000;
    color:#fff;
    position:absolute;
    padding-left:1em;
}

.top2banner-item-title-bg{
    background:#000;
    opacity:0.5; 
    filter:alpha(opacity=50);
    display:block;
}


#mianleft{ width:390px; float:left;}
#kuangzi{ padding-bottom:10px;}

.bgse{ background-color:#f7f7f7;}
.bgse2{ background-color:#f0f0f0;}
.spin{ width:350px; height:290px; margin:20px 20px 0px 20px;}
.spinsm{ text-align:center; color:#333333; height:30px; padding-top:12px; font-weight:bold; font-size:14px;}

.title{
    width:390px; 
    height:28px;
    background:url(../image/hbg_31.gif) left top no-repeat;
}
.title2{ width:240px; height:28px; background-image:url(../image/hbg_07.gif);}
.title3{ width:300px; height:28px; background-image:url(../image/hbg_18.gif);}
.title4{ width:545px; height:28px; background-image:url(../image/BGGGGGG.jpg);}
.titlehh{ font-weight:bold; color:#000000; font-size:14px; padding:0px 0px 0px 15px; float:left;}
.titlehh2{ font-weight:bold; color:#000000; font-size:14px; padding:4px 0px 0px 25px; float:left;}
.moer{padding:5px 10px 0px 0px;float:right;height:15px;}
.moer4{padding:0px 20px 0px 0px;float:right;height:15px;}
.moer2{	position:relative;left:160px;top:7px;width: 50px;}
#sptj{ width:390px; }
#sptj dl{ width:104px; height:120px; margin:10px 9px 10px 10px; float:left; display:block;}
#sptj dt{ width:100px; height:80px; border:1px solid #aeaeae; background-color:#dedede; padding:1px;}
#sptj dd{ width:104px; height:24px; padding-top:10px; text-align:center;}

.tuwen{ width:360px; height:90px; padding:15px 15px 0px 15px; line-height:18px;}
.tuwentu{ border:1px solid #aeaeae; background-color:#dedede; padding:1px; margin-right:10px;}
.text3{ color:#cc0000; font-weight:bold; line-height:30px; font-size:12px;}
.text4{
    font-size:14px;
    height:18px;
    padding:10px 0px 0px 30px; background-image:url(../image/lidian.jpg); background-repeat:no-repeat; background-position: 15px 15px; display:block;}

#miancontent{ width:240px; padding-left:10px; float:left;}
.datup{width:230px; height:170px; border: 1px solid #aeaeae; padding:4px; background-color:#e6e6e6; margin-top:10px;}
.datusm{ text-align:center; height:14px; padding-top:6px;}
.guanggao{ width:220px; height:320px; padding: 0px 10px 0px 10px;}
.newsli{  font-size:14px; line-height:20px;height:45px;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #e0e0e0; margin:10px 8px 0px 8px; display:block;}
.text5{ font-family:Arial; color:#999999; padding-left:10px; font-size:10px;}
#diaoc{ width:204px; height:200px; background-image:url(../image/diaocbg.jpg); background-repeat:no-repeat; margin:20px 10px 20px 10px; padding:44px 8px 10px 8px;}
.text6{ font-size:12px; font-weight:bold; line-height:20px; color:#333333; margin-bottom:10px;}
.text7{ font-size:12px; font-weight:bold; line-height:18px; color:#666666; margin-bottom:10px;}

.rmtpiao{ width:220px; height:138px; line-height:20px; margin:18px 10px 0px 10px; border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #999999; display:block;}
.text8{ font-family:Arial; font-size:14px; font-weight:bold; color:#cc0000;}
.anan2{ padding-top:10px;}

#mianright{ width:300px; float:right;}
.tuwen2{ width:270px; height:85px; margin:15px 15px 0px 15px; line-height:18px;border-bottom-width: 1px;border-bottom-style: dotted; border-bottom-color: #999999;}
.pailie{height:18px; line-height:12px; display:block; padding:10px 0px 0px 34px;}
.pailie2{height:18px; line-height:12px; display:block; padding:10px 0px 0px 30px; background-image:url(../image/lidian.jpg); background-repeat:no-repeat; background-position: 15px 15px;}
.pailiebg{ background-image:url(../image/paihangshu.jpg); background-repeat:no-repeat; background-position:8px 6px;}
.nrrwu{ width:300px; height:168px;}
.nrrwu dl{ width:48px; height:75px; padding:15px 0px 0px 22px; float:left;}
.nrrwu dd{ width:48px; padding-top:5px; text-align:center;}

.footbaner{ width:390px; height:185px; float:left;}
.foottu{width:545px;float:right;}
.foottu dl{ width:160px; height:145px; float:left; padding:0px 10px 0px 10px; display:block;}
.foottu dt{ width:150px; height:110px; padding:4px; background-color:#ededed; border:1px solid #aeaeae;}
.foottu dd{ text-align:center; padding-top:6px;}


/* 播放页 */	

#mian{ width:940px; margin:0 auto; padding:15px; background-color:#FFFFFF;}
#leftbf{ width:510px; float:left;}
#dakuang{ width:480px; background-color:#f6f6f6; border:1px solid #e0e0e0; padding:0px 14px 15px 14px;}
#bofangsp{ width:480px; height:388px; margin-top:14px;}
#sm{ width:458px; height:24px; background-color:#e4e4e4; border:1px solid #d8d8d8; padding:10px; }
#smleft{ width:130px; float:left;}
#smwenzi{ width:320px; float:right; text-align:right; margin-top:8px;}
#sm2{ width:458px; height:24px; background-color:#e4e4e4; border:1px solid #d8d8d8; padding:18px 10px 8px 10px; margin-top:12px;  }
.jianju{ height:12px;}
.shurkuang { border:1px solid #cdcdcd; width:30px; color:#666666;}
.shurkuang2 { border:1px solid #cdcdcd; width:100px;  color:#666666;}
#grxingxkuang{ width:auto; line-height:24px; }
.jiangbt{ width:auto; height:30px; font-weight:bold; font-size:14px; display:block; padding-top:40px;}
.mykuang{ width:460; height:105px; font-family:Arial;}
.mylogo{ width:96px; height:96px; padding:3px; border:1px solid #c2c2c2; margin-right:10px; }
.bofangtext5{ font-size:16px; font-weight:bold; font-family:Arial;}

#dakuang2{width:508px;background-color:#f6f6f6;border-top-width: 2px;border-right-width: 1px;border-bottom-width: 1px;
    border-left-width: 1px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;
    border-top-color: #cc3300;border-right-color: #e0e0e0;border-bottom-color: #e0e0e0;
    border-left-color: #e0e0e0;padding-top: 0px;padding-bottom: 15px;}
.bofangtitle{ font-size:14px; width:auto; height:20px; margin:10px 10px 0px 10px;}
.bofangtitle2{ font-size:14px; width:auto; height:22px; padding:10px 10px 0px 10px; background-image:url(../image/hbg.jpg); background-repeat:repeat-x;}
.bofangtitle3{ font-size:14px; font-weight:bold; color:#333333; width:auto; height:32px; background-image:url(../image/hbg.jpg); background-repeat:repeat-x;}
.bofangbiaot{ height:24px; width:125px;background-image:url(../image/hbg2.jpg); background-repeat:no-repeat; float:left; text-align:center; padding-top:8px; }
.bofangbiaot2{ height:24px; width:125px;background-image:url(../image/hbg3.jpg); background-repeat:no-repeat; float:left; text-align:center; padding-top:8px; }
#liaotian{ font-family:Arial; padding:18px; line-height:24px;}
.xiaoxiant{border-top-width: 1px;border-top-style: solid;border-top-color: #CCCCCC;border-right-color: #CCCCCC;border-bottom-color: #CCCCCC;border-left-color: #CCCCCC;}

#dazi{width:385px; height:53px; background-color:#e4e4e4; border:1px solid #d8d8d8; padding:8px 5px 5px 5px; margin:12px 0px 0px 5px;}
.dazibiaoq{ height:24px; margin-bottom:5px;}
.dazikuang{ border:1px solid #cdcdcd; height:18px; width:300px; color:#666666;}
.bofangtext3{ color:#cc3300;}
.bofangtext4{color:#0066cc;text-decoration: underline;}	
.bofangweizi{float:left;font-size: 14px;font-weight: bolder;color: #333333;}
.bofangmoer{float:right;font-size: 12px;font-weight: bolder;color: #ff6600;}

#dakuang2 dl{ width:54px; height:75px; padding:15px 0px 0px 16px; display:block; float:left;}
#dakuang2 dt{ width:48px; height:48px; padding:2px; border:1px solid #c2c2c2;}
#dakuang2 dd{ text-align:center; padding-top:5px; height:12px;}
.fanye{ text-align:right; height:30px; width:490px; margin:25px 0px 10px 0px; float:left;}
.bofangtext1{ font-weight:bold; color:#cc3300;}

#dakuang2 li{ height:16px; padding:10px 10px 0px 10px;}
.bofangtext2{ color:#999999;}
.bofangtext6{ color:#666666;}


#rightlt{ width:410px; float:right;}
#dakuang3{width:408px;border-top-width: 2px;border-right-width: 1px;border-bottom-width: 1px;
    border-left-width: 1px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;
    border-top-color: #cc3300;border-right-color: #e0e0e0;border-bottom-color: #e0e0e0;
    border-left-color: #e0e0e0;padding-top: 0px;padding-bottom: 5px;}

.biaozu{ width:380px; height:15px; font-weight:bold; padding:10px;}

#dakuang3 li a{ height: 54px;width: 385px;border: 1px solid #d5d5d5; background-color:#ececec; padding:5px; margin:0px 0px 3px 5px; display:block;}
#dakuang3 li a:hover{ border: 1px solid #eca8a8; color:#666666; }
.xiliehao{ width:26px; height:26px; padding:15px 40px 15px 15px; float:left;}
.mingzi{ width:150px;  float:left; line-height:22px;}
.touxiang{ width:48px; height:48px; padding:2px; border:1px solid #c2c2c2; margin-right:10px; }
.jinbi{ width:110px; height:24px;margin:15px; float:left; font-family:Arial; font-size:24px; color:#f34704;}



/* 播放列表页 */	

#leftbf2{ width:620px; float:left;}
#myhome{ width:588px; height:58px; border:1px solid #dadada; padding:15px; background-color:#f7f7f7;}
.mylogo2{width:188px;height:48px;border-right-width: 1px;border-right-style: dashed;border-right-color: #cccccc; line-height:26px; padding: 5px 15px 5px 0px; float:left; margin-right:20px;}

.myshuju{ width:200px; height:48px;  float:left; padding: 5px 15px 5px 0px; line-height:26px;}
.mylogojianju{ margin-right:15px;}
.zhibobg{ width:88px; height:37px; background-image:url(../image/zhibobg.jpg); background-repeat:no-repeat; float:right; padding:10px 24px 10px 24px; text-align:center; line-height:26px;}
.zhibobg2{ width:136px; height:57px; float:right; }
.bifanglttext1{ color:#cb1000;}
.bifanglttext2{color:#0066cc;text-decoration: underline;}
.bifanglttext3{ color:#cc0000; font-size:20px; font-family:Arial;}
.kuangbg{ background-color:#ffefeb;}
#dakuang4{width:618px;border-top-width: 2px;border-right-width: 1px;border-bottom-width: 1px;
    border-left-width: 1px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;
    border-top-color: #cc3300;border-right-color: #e0e0e0;border-bottom-color: #e0e0e0;
    border-left-color: #e0e0e0;padding-bottom: 15px;}
.bifanglttitle{ font-size:14px; font-weight:bold; color:#990000; height:19px; padding:8px 10px 0px 10px; background-image:url(../image/hhbg.jpg); background-repeat:repeat-x; margin-bottom:5px;}
.bifangltweizi{float:left;font-size: 14px;font-weight: bolder;color: #cb1000;}
.bifangltmoer{float:right;font-size: 12px; height:14px;color: #666666;}

#dakuang4 dl{ width:104px; height:150px; padding:5px 0px 0px 15px; display:block; float:left;}
#dakuang4 dt{ width:96px; height:96px; padding:3px; border:1px solid #c2c2c2; }
#dakuang4 dd{ text-align:center; padding-top:5px; height:12px;}


#rightlt2{ width:300px; float:right;}
#dakuang5{ width:298px;border-right-width: 1px;border-bottom-width: 1px;
    border-left-width: 1px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;
    border-top-color: #cc3300;border-right-color: #e0e0e0;border-bottom-color: #e0e0e0;
    border-left-color: #e0e0e0;}

.bifanglttitle2{ font-size:14px; font-weight:bold; color:#990000; height:19px; padding:8px 10px 0px 10px; background-image:url(../image/hhhbg.jpg); background-repeat:repeat-x; margin-bottom:5px;}

.bifanglttitle3{ color:#990000; height:28px; background-image:url(../image/hhhhbg.jpg); background-repeat:repeat-x; margin-bottom:5px;}
.bifangltweizi2{float:left;font-size: 14px;font-weight: bolder;color: #cb1000; width:65px; padding:8px 0px 0px 10px;}

.bifangltmoer2 a{width:50px; height:21px; text-align:center; float:right; color: #666666; display:block;padding-top:7px;}
.bifangltmoer2 a:hover {
    width:50px;height:21px;float:right;padding-top:7px;font-size: 12px;font-weight: bolder;color: #cc0000;text-align:center;
    background-color:#FFFFFF; background-image:url(../image/sbhg.jpg); background-repeat:no-repeat;}
.bifangltmoer2ahover {width:50px;height:21px;float:right;padding-top:7px;font-size: 12px;font-weight: bolder;color: #cc0000;text-align:center;background-color:#FFFFFF; background-image:url(../image/sbhg.jpg); background-repeat:no-repeat;}

#dakuang5 ul{background-image:url(../image/12345.jpg);background-repeat:no-repeat;margin:10px;background-position: 0px 10px;}
#dakuang5 li{ padding-left:30px;height:22px;padding-top:10px;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #CCCCCC;}
.xiaozhuan{ float:right;}
.myliwu{ width:300px; height:50px;}

