body {
	background-color: transparent;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}



#hd {
	position: relative;
	height: 140px;
}

#hd h2 {
	padding: 25px 0 0 15px;
	font-size: 14px;
	font-family: sans-serif;
}

#hd h2 strong {
	display: block;
}

#nv {
	position: absolute;
	left: 10px;
	bottom: 0;
}

#nv li,#home {
	margin-right: 1px;
	padding: 0 20px;
	border: none;
	height: 30px;
	background: #FFF;
	line-height: 30px;
	font-size: 12px;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

#ct,.n,.w {
	padding-top: 15px;
	border: none;
	background: transparent none !important;
}

.area {
	padding: 0 5px;
}

.frame {
	background: transparent none;
}

.block {
	padding: 0;
}

.block .content {
	padding: 5px 10px 10px;
}

.block .title {
	padding: 0 10px;
	font-size: 12px;
	color: #333;
}

#pcd .avt {
	text-align: center;
}

#pcd h2 {
	margin: 10px auto 0;
}
/*
.mls li {
	width: 69px;
}
*/

.move-span {
	margin: 1px;
}

.column {
	overflow: hidden;
}

.musicbj {
	width: 60px;
	height: 60px;
}

#spaceinfoshow {
	position: relative;
}

#hd h2 span {
	display: block;
}

#hd ul.savebar {
	width: 450px;
	height: 20px;
	border: 1px solid #ccc;
}

#hd ul.savebar li {
	float: right;
	margin: 0 3px;
}

.ipx {
	background: none;
	height: 17px;
}

#infoedit {
	display: none;
	margin-left: 5px;
	padding: 0 5px;
	background: #369;
	color: #FFF;
	cursor: pointer;
}

#diy-tg {
	top: 30px;
}

.topnav {
	height: 30px;
	background: url({IMGDIR}/topnav.png) repeat-x;
	color: #333;
	text-shadow: 1px 1px 1px #FFF;
}

.topnav li {
	float: left;
	margin-top: 5px;
}

.topnav li a {
	padding: 0 10px;
}

.topnav li a span {
	display: none;
}

.navlogo {
	border-right: 1px solid #FFF;
	background: url({IMGDIR}/pt_icn.png) no-repeat 5px 50%;
}

.topnav li.navlogo a {
	padding-left: 25px;
	border-right: 1px solid #D5D5D5;
}

.navinf {
	display: inline;
	margin: 5px 10px 0 0;
}


.videolist {
	margin-left: auto;
	margin-right: auto;
}

.videolist img {
	padding: 3px;
	border: 1px solid #ccc;
	width: 82px;
	height: 62px;
	margin-bottom: 5px;
}

.videolist ul {
	float: left;
}

.videolist li {
	float: left;
	height: 165px;
	line-height: 18px;
	overflow: hidden;
	width: 90px;
}

#frame1_center .videolist li {
	margin: 10px; *
	margin: 8px;
}

#frame1_left .videolist li,#frame1_right .videolist li {
	margin: 6px; *
	margin: 4px;
}

.videolist li a:link {
	color: #3366cc;
	text-decoration: underline;
}

.videolist li a:visited {
	color: #3366cc;
	text-decoration: underline;
}

.videolist li a:hover {
	color: #3366cc;
	text-decoration: none;
}

.videolist li span.shipin {
	width: 74px;
	background-image: url(static/image/diy/myshowshipin.gif);
	background-position: left top;
	padding-left: 16px;
	background-repeat: no-repeat;
	text-align: left;
	overflow: hidden;
}

.videolist li span.videouploader {
	width: 90px;
	text-align: left;
	height: 18px;
}

.musiclist {
	overflow: hidden;
	clear: both;
}

#frame1_center .musiclist li {
	float: left;
	margin-right: 8px;
	width: 192px;
}

.musiclist li {
	background: url("static/image/diy/cover_46.gif") no-repeat scroll 0 8px
		transparent;
	border-bottom: 1px solid #DEDEDE;
	height: 18px;
	padding: 4px 0 4px 20px;
}

.musiclist li span.musicname {
	width: 130px;
	float: left;
	text-align: left;
	overflow: hidden;
}

.musiclist li span.singer {
	width: 50px;
	float: left;
	text-align: left;
	overflow: hidden;
}

/* ͼƬ��ǩ */
.imgtag .pv div {
	position: relative
}

.imgtag .label {
	position: absolute;
	top: 67px;
	left: 4px;
	height: 15px;
	color: #FFF;
	line-height: 14px;
	text-align: right;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 0px;
}

.imgtag .sc {
	text-align: left;
	color: #FFF;
	font-size: 12px;
	padding-right: 0px;
	float: left;
}

.imgtag .label i {
	position: absolute;
	height: 18px;
	width: 82px;
	left: 0;
	top: 0;
	background: #000;
	filter: alpha(opacity = 60);
	opacity: 0.60;
}

.imgtag .label em {
	position: relative;
	z-index: 2;
	color: #FFF;
	font-size: 12px;
	font-style: normal;
}

.footer {
	height: 76px;
	margin: 0 auto;
	padding: 0;
	width: 970px;
	clear: both;
}

.footer_middle {
	height: 76px;
}

.footer_logo {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	padding: 20px 0 0 15px;
}

.footer_copy {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	padding-right: 1em;
	padding-top: 15px;
	text-align: right;
}

/*民意榜*/
.button{
	display:inline-block;
	height:22px;
	line-height:22px;
	background:url(images/button.gif) left top no-repeat;
	padding-left:5px;
	color:#fff;
	font-size:12px;
}

.button span{
	display:block;
	height:22px;
	line-height:22px;
	cursor:pointer;
	padding-right:5px;
	background:url(images/button.gif) right top no-repeat;
	color:#fff;
	font-size:12px;
	width:70px;
}

.button:hover{
	background:url(images/button.gif) left -22px no-repeat;
}

.button:hover span{
	background:url(images/button.gif) right -22px no-repeat;
}

.button img{
	margin-right:5px;
	vertical-align:middle;
}

.vote_item{
	float:left;
	margin-left:12px;
	padding-bottom:10px;
	text-align:left;
	width:180px;
}

.vote_item ul{
	background:#F7F7F7;
	border:1px solid #ccc;
	margin:10px 0;
	padding:0 4px;
}

.vote_item li{
	border-top:1px dashed #ccc;
	padding:10px 0 10px 10px;
}

.vote_item li.first{
	border:none;
}

.vote_item div{
	text-align:center;
}
